<%= form_for team, remote: true do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
        <h2>エラーが発生しました：</h2>

        <ul>
        <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
        </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= form.label :team_name, "チーム名", class: "colibri-form-label" %>
      <%= form.text_field :team_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :member_ids, "メンバー", class: "colibri-form-label" %>
      <%= form.collection_select :member_ids, @corporation.nurses.displayable, :id, :name, {selected: team.nurses.ids}, {multiple: true} %>
    </div>

    <div class="actions">
      <%= form.submit "セーブする", class: 'btn btn-info' %>
    </div>

<% end %>