<%= javascript_tag do %>
  window.teamId = "<%= j @team.id.to_s %>"
<% end %>

<%= render partial: 'plannings/planning_left_menu', locals: {view: 'payable', resource_path: current_user.schedule_default_url_option || planning_nurse_path(@planning, @nurse), resource_master_path: planning_nurse_master_path(@planning, @nurse), nurse: @nurse} %>
<%= render partial: 'plannings/resources_submenu', locals: {individual_resource: 'false', resource_type: 'nurse', view: 'payable'} %>

<div id="payable-container">
  <div id='extended-daily-summary-title-container'>
    <div class='colibri-xs-title'>業務日報 - <%= @team.team_name %></div>
    <div class='small-side-margins'><%= text_field_tag 'query_date', "#{Date.today.strftime("%Y-%m-%d")}", {data: {url: dashboard_extended_daily_summary_path}} %></div>
    <div class='btn btn-sm btn-success text-white small-side-margins no-print' id='print-button'>印刷</div>
  </div>

  <div id='extended-daily-summary-container'>
    <%= render partial: 'plannings/extended_daily_summary', locals: {daily_appointments: @daily_appointments, weekly_appointments: @weekly_appointments, monthly_appointments: @monthly_appointments, daily_provided_services: @daily_provided_services, female_patients_ids: @female_patients_ids, male_patients_ids: @male_patients_ids} %>
  </div>

</div>