<%= javascript_tag do %>
  window.teamId = "<%= j @team.id.to_s %>"
  window.currentResourceType = 'team'
  window.currentResourceId = '<%= @team.id %>'
<% end %>

<%= render partial: 'plannings/planning_left_menu', locals: {view: 'payable', resource_payable_path: planning_team_payable_path(@planning, @team, params: {m: @selected_month, y: @selected_year})} %>
<%= render partial: 'plannings/resources_submenu', locals: {individual_resource: 'false', resource_type: 'nurse', view: 'payable'} %>

<div id="payable-container">
	<div id="payable-title-wrapper">
		<div id="payable-menu">
			<%= image_tag 'hamburger_icon.svg', size: '35', class: 'hamburger_menu'  %>
		</div>
		<div class='colibri-xs-title no-print' style='margin-left:5px'>
			データ - <%= @team.team_name %>
		</div>
	</div>
	<div class='no-print' style='margin-left:5px'>
		<%= select_tag '年', options_for_select([['2018年', 2018],['2019年', 2019], ['2020年', 2020], ['2021年', 2021]], params[:y]), id: 'query_year' %>
		<%= select_tag '月', options_for_select([['1月', 1],['2月', 2], ['3月', 3], ['4月', 4], ['5月',5], ['6月',6], ['7月', 7], ['8月', 8], ['9月', 9], ['10月', 10], ['11月', 11], ['12月', 12]], params[:m]), id: 'query_month' %>
		<button id='payable-query-trigger' class='btn-colibri-light-gray btn btn-sm'><span class="glyphicon glyphicon-refresh" style="color:white;font-size:0.85em"></span></button>
	</div>

	<% if current_user.corporation_admin? %>
		<div class='colibri-dashboard-container-row no-print'>
			<div class='colibri-dashboard-subcontainer'>
				<div class='colibri-subcontainer-header'>
					<span class='colibri-subcontainer-title'>従業員別売上</span>
				</div>
				<div class="colibri-subcontainer-body" style="padding-top:8px" id="revenue-per-team-and-employee" data-url="<%= team_revenue_per_nurse_report_path(@team, params: {m: params[:m], y: params[:y]}) %>">
				</div>
			</div>
		</div>
	<% end %>

  <% if @corporation.elderly_care_and_nursing? %>
	<div id='extended-daily-summary-title-container'>
		<div class='colibri-xs-title'>業務日報 - <%= @team.team_name %></div>
		<div class='small-side-margins'><%= text_field_tag 'query_date', "#{Date.today.strftime("%Y-%m-%d")}", {data: {url: dashboard_extended_daily_summary_path}} %></div>
		<div class='btn btn-sm btn-success text-white small-side-margins no-print' id='print-button'>印刷</div>
	</div>

	<div id='extended-daily-summary-container'>
		<%= render partial: 'plannings/extended_daily_summary', locals: {daily_appointments: @daily_appointments, weekly_appointments: @weekly_appointments, monthly_appointments: @monthly_appointments, female_patients_ids: @female_patients_ids, male_patients_ids: @male_patients_ids} %>
	</div>
  <% end %>

</div>