<%= javascript_tag do %>
  window.teamId = "<%= j @team.id.to_s %>"
<% end %>

<%= render partial: 'plannings/planning_left_menu', locals: {view: 'payable', resource_path: planning_nurse_path(@planning, @nurse), resource_master_path: planning_nurse_master_path(@planning, @nurse), nurse: @nurse} %>

<div id="resource-list-container" class="no-print">
  <div id="resource-container" class="scrollbar-custom">
	<div id="nurses-resource" class="no-print">
      <% today = Date.today %>
			<div class="nurses-resource-subsection-title resource-title-selectable colibri-clickable-link"  data-url="<%= planning_payable_path(@planning, params: {m: today.month, y: today.year}) %>">全員</div>
			<% @grouped_nurses.each do |group, nurses| %>
				<div class="nurses-resource-subsection-title <%= 'resource-title-selectable colibri-clickable-link' if @teams_id_by_name.present? %>" data-url='<%= "/plannings/#{@planning.id}/teams/#{@teams_id_by_name[group]}/payable?m=#{today.month}&y=#{today.year}" if @teams_id_by_name.present? %>'><%= group %></div>
				<% nurses.each do |nurse| %>
					<p class="resource-list-element colibri-clickable-link" data-url="<%= planning_nurse_payable_path(@planning, nurse, params: {m: today.month, y: today.year}) %>"><%= nurse.try(:name) %></p>
				<% end %>
			<% end %>
	</div>
  </div>
</div>

<div id="payable-container">
  <div id='extended-daily-summary-title-container'>
    <div class='colibri-xs-title'>業務日報 - <%= @team.team_name %></div>
    <div class='small-side-margins'><%= text_field_tag 'query_date', "#{Date.today.strftime("%Y-%m-%d")}", {data: {url: dashboard_extended_daily_summary_path}} %></div>
    <div class='btn btn-sm btn-success text-white small-side-margins no-print' id='print-button'>印刷</div>
  </div>

  <div id='extended-daily-summary-container'>
    <%= render partial: 'plannings/extended_daily_summary', locals: {daily_appointments: @daily_appointments, weekly_appointments: @weekly_appointments, monthly_appointments: @monthly_appointments, daily_provided_services: @daily_provided_services, female_patients_ids: @female_patients_ids, male_patients_ids: @male_patients_ids} %>
  </div>

</div>