<%= form_for [@nurse, service], remote: true do |form| %>
  <% if service.errors.any? %>
  <div id="error_explanation">
    <h2>エラーが発生しました：</h2>

    <ul>
      <% service.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, "サービスタイプ", class: "colibri-form-label" %>
    <%= form.text_field :title, id: :service_title, required: true, readonly: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :unit_wage, "時給.単価", class: "colibri-form-label" %>
    <%= form.number_field :unit_wage, id: :service_unit_wage, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.label :weekend_unit_wage, "土日.祝日の時給.単価", class: "colibri-form-label" %>
    <%= form.number_field :weekend_unit_wage, id: :service_weekend_unit_wage, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :recalculate_previous_wages, "過去の実績に反映する", class:"colibri-form-label" %>
    <%= form.check_box :recalculate_previous_wages, id: :service_recalculate_previous_wages, data: {toggle: 'toggle'} %>
  </div>

  <%= form.hidden_field  :planning_id, value: params[:planning_id] %>

  <div class="actions">
    <%= form.submit "セーブする", class: 'btn btn-info' %>
    <%= link_to '削除する', nurse_service_path(@nurse, service), method: :delete, class: 'btn btn-danger text-white', data: {confirm: "#{service.title}のサービスタイプと給与設定が削除されます。"}, remote: true unless service.new_record? %>
  </div>


<% end %>