<div id="services_index" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title"><%= "#{@nurse.name}の給与テーブル" %></h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

            <div class="modal-body">
                <%= link_to '事業所のサービスタイプ管理へ', planning_services_path(@corporation.planning), class: 'btn btn-colibri-light', style: 'margin-bottom:10px', data: {ripple: ""} %>
                <table class="table table-hover">
                    <thead>
                        <tr >
                            <th>サービスタイプ</th>
                            <th>時給.単価</th>
                            <th>土日.祝日</th>
                            <th>計算方法</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @services.each do |service| %>
                            <tr class="clickable-row service-clickable" data-service-link="<%= edit_nurse_service_path(@nurse, service, params: {planning_id: params[:planning_id]}, format: :js) %>">
                                <td><%= service.try(:title) %></td>
                                <td><%= @corporation.elderly_care_and_nursing? ? service.try(:unit_wage) : service.try(:unit_cost) %></td>
                                <td><%= service.weekend_unit_wage.to_i if service.weekend_unit_wage.present? %></td>
                                <td><%= hour_based_wage_text(service.hour_based_wage) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
		</div>
	</div>

</div>