<%= form_with model: service, local: true do |form| %>
  <% if service.errors.any? %>
  <div id="error_explanation">
    <h2>エラーが発生しました：</h2>

    <ul>
      <% service.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="modal-body">

    <div class="form-group">
      <%= form.label :title, "サービスタイプ", class: "colibri-form-label-dark" %>
      <%= form.text_field :title, id: :service_title, required: true, readonly: true, class: "form-control" %>
    </div>

    <% if @corporation.elderly_care_and_nursing? %>

      <div class="form-group">
        <%= form.label :inside_insurance_scope, "保険内.自費", class: "colibri-form-label-dark" %>
        <%= form.check_box :inside_insurance_scope, id: :service_inside_insurance_scope %>
      </div>

      <div class="form-group" id="insurance_category_2_group">
        <%= form.label :insurance_service_category, "サービス種類", class: "colibri-form-label-dark" %>
        <%= form.select :insurance_service_category, options_for_select(ServicesHelper::SERVICE_CATEGORIES, @service.insurance_service_category), {}, id: :service_insurance_service_category %>
      </div>

    <% end %>

  </div>

  <div id="service_invoice_fields" class="blue-background-form">
    <div class="modal-subsection-title">請求情報</div>

    <div id="fields_for_kaigo_invoicing" style="<%= 'display:none' if @service.insurance_category_1 == 1 %>">
      <div class="form-group">
        <%= form.label :official_title, "サービス正式名称", class: "colibri-form-label-dark" %>
        <%= form.text_field :official_title, id: :service_official_title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :service_code, "サービスコード", class: "colibri-form-label-dark" %>
        <%= form.text_field :service_code, id: :service_service_code, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :unit_credits, "単位数", class: "colibri-form-label-dark" %>
        <%= form.number_field :unit_credits, step: 1, id: :service_unit_credits, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :credit_calculation_method, "単位計算方法", class:"colibri-form-label-dark" %>
        <%= form.select :credit_calculation_method, options_for_select([['稼動回数 x 単位数', 0], ['単位数 x 1 /月', 1], ['日数 x 単位数（日割り）', 2]], service.credit_calculation_method), id: :service_credit_calculation_method %>
      </div>
    </div>

    <div id="fields_for_invoicing_without_insurance" style="<%= 'display:none' if @service.insurance_category_1 == 0 %>">
      <div class="form-group">
        <%= form.label :invoiced_amount, '請求額', class: "colibri-form-label-dark" %>
        <%= form.number_field :invoiced_amount, step: 1, class: 'form-control', id: :service_invoiced_amount %>
      </div>
    </div>
  </div>

  <div id="service_payroll_fields" class="modal-body">
    <div class="modal-subsection-title">給与情報</div>

    <div class="form-group">
      <%= form.label :hour_based_wage, "給与計算方法", class: "colibri-form-label-dark" %>
      <%= form.check_box :hour_based_wage, checked: @service.corporation.hour_based_payroll, id: :service_hour_based_wage %>
    </div>

    <div class="form-group">
      <%= form.label :unit_wage, "デフォルト平日給与", class: "colibri-form-label-dark" %>
      <%= form.number_field :unit_wage, step: 1, id: :service_unit_wage, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :weekend_unit_wage, "デフォルト週末.祝日給与", class: "colibri-form-label-dark" %>
      <%= form.number_field :weekend_unit_wage, step: 1, id: :service_weekend_unit_wage, class: 'form-control' %>
    </div>

  </div>

  <div id="service_reporting_fields"  class="blue-background-form">
    <div class="form-group">
      <%= form.label :category_1, "サービス種類1", class: "colibri-form-label-dark" %>
      <%= form.select :category_1, options_for_select(service_categories_by_vertical(@corporation.business_vertical), @service.category_1), {prompt: '選択する'}, id: :service_category_1 %>
    </div>

    <div class="btn btn-colibri-light btn-sm" id="add-second-service-type" style="margin-bottom:15px<%= ';display:none' if service.category_2.present? %>">+サービス種類追加</div>

    <div id="second-service-type" style="<%= 'display:none' unless service.category_2.present? %>">
      <div class="form-group">
        <%= form.label :category_2, "サービス種類2", class: "colibri-form-label-dark" %>
        <%= form.select :category_2, options_for_select(service_categories_by_vertical(@corporation.business_vertical), @service.category_2), {include_blank: '選択する'}, {id: :service_category_2} %>
      </div>
      <div class="form-group">
        <%= form.label :category_ratio, "サービス種類1割合", class: "colibri-form-label-dark" %>
        <%= form.number_field :category_ratio, step: 0.01, id: :service_category_ratio %>
      </div>
      <div class="btn btn-sm btn-colibri-light" id="drop-second-service-category" style="margin-bottom:15px"><i class="glyphicon glyphicon-trash" style="color:#5f6368;font-size:12px"></i> サービス種類2の取り消し</div>
    </div>
    
  </div>

  <div class="modal-footer">
    <div class="actions">
      <%= link_to '統合.削除へ', service_new_merge_and_destroy_path(service), class: 'btn btn-secondary', remote: true %>
      <%= form.submit "セーブする", class: 'btn btn-info' %>
    </div>
  </div>


<% end %>