<%= form_with model: service, local: true do |form| %>
  <% if service.errors.any? %>
  <div id="error_explanation">
    <h2>エラーが発生しました：</h2>

    <ul>
      <% service.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="modal-body">

    <div class="form-group">
      <%= form.label :title, "サービスタイプ", class: "colibri-form-label-dark" %>
      <%= form.text_field :title, id: :service_title, required: true, readonly: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :category_1, "サービス種類1", class: "colibri-form-label" %>
      <%= form.select :category_1, options_for_select([['身体', 0], ['生活', 1], ['自費', 2], ['障害', 3], ['リハ', 4], ['看護', 5], ['医療', 6], ['その他', 7]], @service.category_1), {prompt: '選択する'}, id: :service_category_1 %>
    </div>

    <div class="btn btn-colibri-light btn-sm" id="add-second-service-type" style="margin-bottom:15px<%= ';display:none' if service.category_2.present? %>">+サービス種類追加</div>

    <div id="second-service-type" style="<%= 'display:none' unless service.category_2.present? %>">
      <div class="form-group">
        <%= form.label :category_2, "サービス種類2", class: "colibri-form-label" %>
        <%= form.select :category_2, options_for_select([['身体', 0], ['生活', 1], ['自費', 2], ['障害', 3], ['リハ', 4], ['看護', 5], ['医療', 6], ['その他', 7]], @service.category_2), {prompt: '選択する', include_blank: true}, {id: :service_category_2} %>
      </div>
      <div class="form-group">
        <%= form.label :category_ratio, "サービス種類1割合", class: "colibri-form-label" %>
        <%= form.number_field :category_ratio, step: 0.01, id: :service_category_ratio %>
      </div>
      <div class="btn btn-sm btn-colibri-light" id="drop-second-service-category" style="margin-bottom:15px"><i class="glyphicon glyphicon-trash" style="color:#5f6368;font-size:12px"></i> サービス種類2の取り消し</div>
    </div>
    
  </div>

  <div class="modal-footer">
    <div class="actions">
      <%= link_to '統合.削除へ', service_new_merge_and_destroy_path(service), class: 'btn btn-secondary', remote: true %>
      <%= form.submit "セーブする", class: 'btn btn-info' %>
    </div>
  </div>


<% end %>