<div id="new_service" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">サービスタイプを登録する</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class='modal-body'>
              <%= form_for @service do |form| %>
                <% if @service.errors.any? %>
                  <div id="error_explanation">
                    <h2>エラーが発生しました：</h2>
                    <ul>
                      <% @service.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="form-group">
                  <%= form.label :title, "サービスタイプ", class: "colibri-form-label" %>
                  <%= form.text_field :title, id: :service_title, required: true, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= form.label :hour_based_wage, "給与計算方法", class: "colibri-form-label" %>
                  <%= form.check_box :hour_based_wage, id: :service_hour_based_wage %>
                </div>

                <div class="form-group">
                  <%= form.label :equal_salary, "給与ヘルパー別", class: "colibri-form-label" %>
                  <%= form.check_box :equal_salary, id: :service_equal_salary %>
                </div>

                <div class="actions">
                  <%= form.submit "セーブする", class: "btn btn-info" %>
                </div>

              <% end %>
			</div>
		</div>
	</div>

</div>
