<%= render partial: 'plannings/planning_left_menu', locals: {view: 'settings', resource_payable_path: planning_nurse_payable_path(@planning, @main_nurse, params: {m: Date.today.in_time_zone('Tokyo').month, y: Date.today.in_time_zone('Tokyo').year})} %>

<%= render 'plannings/settings_submenu', view: "services" %>

<div id="menu-backdrop">
</div>

<div id="settings-container">
  <div id="detail-planning-title">
		<div id="settings-menu">
			<%= image_tag 'hamburger_icon.svg', size: '35', class: 'hamburger_menu'  %>
      <p class="planning-activity-module-title setting-title">
        サービスタイプ一覧
      </p>
		</div>
	</div>
  <%= link_to '+新規サービスタイプ', new_service_path, remote: true, class: 'btn btn-info text-white btn-margin-top' %>
  
  <div id="index-table-container" class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="table-important-fields" style="min-width:140px">サービスタイプ</th>
          <th class="table-important-fields" style="min-width:80px"><%= invoicing_field_by_vertical(@corporation.business_vertical) %></th>
          <th class="table-important-fields" style="min-width:100px">時給.単価</th>
          <th class="table-important-fields" style="min-width:120px">計算方法</th>
        </tr>
      </thead>

      <tbody>
        <% @services.each do |service| %>
          <tr class="service-clickable-row" data-link="<%= edit_service_path(service, format: :js) %>">
            <td><%= service.title %></td>
            <td><%= @corporation.elderly_care_and_nursing? ? service.try(:unit_credits) : service.try(:invoiced_amount) %></td>
            <td><%= service.unit_wage %></td>
            <td><%= hour_based_wage_text(service.hour_based_wage) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


</div>




  