<%= render 'plannings/planning_settings_submenu' %>

<div id="settings-menu-container" class="no-print">

	<div id="settings-menu-list">
        <ul id="settings-list">
            <li id="settings-options" class="settings-list-element"><%= link_to 'スケジュールオプション', planning_settings_path(@planning), class: 'settings-list-url' %></li>
            <li id="settings-services" class="settings-list-element settings-list-element-selected">サービスタイプ一覧</li>
        </ul>
	</div>

    <div id="delete-planning-action">
        <%= link_to "スケジュールを削除", planning_archive_path(@planning), method: :patch, class: 'btn btn-danger text-white', data: {confirm: 'このスケジュールが削除されます'} %>
    </div>

</div>

<div id="settings-container">
  <%= link_to '+新規サービスタイプ', new_service_path, remote: true, class: 'btn btn-info text-white btn-margin-top' %>
  
  <div id="index-table-container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="table-important-fields">サービスタイプ</th>
          <th class="table-important-fields">給与計算方法</th>
          <th class="table-important-fields">ヘルパー別給与</th>
          <th class="table-important-fields">削除</th>
        </tr>
      </thead>

      <tbody>
        <% @services.each do |service| %>
          <tr class="service-clickable-row" data-link="<%= edit_service_path(service, format: :js) %>">
            <td><%= service.title %></td>
            <td><%= humanize_hour_based_wage(service) %></td>
            <td><%= humanize_equal_salary(service) %></td>
            <td><%= link_to '削除', service_path(service), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'サービスタイプが削除されます。既存のサービスは変更されません。'} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


</div>




  