<%= render partial: 'plannings/planning_left_menu', locals: {view: 'settings', resource_path: current_user.schedule_default_url_option || planning_nurse_path(@planning, @main_nurse), resource_master_path: planning_nurse_master_path(@planning, @main_nurse), resource_payable_path: planning_nurse_payable_path(@planning, @main_nurse, params: {m: Date.today.in_time_zone('Tokyo').month, y: Date.today.in_time_zone('Tokyo').year})} %>

<%= render 'plannings/settings_submenu', view: "services" %>

<div id="settings-container">
  <%= link_to '+新規サービスタイプ', new_service_path, remote: true, class: 'btn btn-info text-white btn-margin-top' %>
  
  <div id="index-table-container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="table-important-fields">サービスタイプ</th>
          <th class="table-important-fields">単位数</th>
          <th class="table-important-fields">デフォルト時給.単価</th>
          <th class="table-important-fields">給与計算方法</th>
        </tr>
      </thead>

      <tbody>
        <% @services.each do |service| %>
          <tr class="service-clickable-row" data-link="<%= edit_service_path(service, format: :js) %>">
            <td><%= service.title %></td>
            <td><%= service.unit_credits %></td>
            <td><%= service.unit_wage %></td>
            <td><%= humanize_hour_based_wage(service) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


</div>




  