<% if false %>
<div id='extended-daily-summary-title-container' class='no-print'>
    <div class='colibri-xs-title'>業務日報</div>
    <div class='small-side-margins'><%= text_field_tag 'query_date', "#{Date.today.strftime("%Y-%m-%d")}" %></div>
    <div class='btn btn-sm btn-success text-white small-side-margins' id='print-button'>印刷</div>
</div>
<% end %>



<div class='colibri-dashboard-container-row'>
    <div class='colibri-dashboard-subcontainer'>
        <div class='colibri-subcontainer-header'>
          <span class='colibri-subcontainer-title'>利用状況(本日)</span>
        </div>
          <div class='colibri-subcontainer-body  scrollbar-custom colibri-scrollbar-light'>
            <table class='table'>
              <thead>
                <tr>
                  <th class="table-important-fields">サービス</th>
                  <th class="table-important-fields">女</th>
                  <th class="table-important-fields">男</th>
                  <th class="table-important-fields">計</th>
                </tr>
              </thead>
              <tbody>
                <%  appointments_grouped_by_title.each do |service_name, appointments| %>
                  <tr>
                    <td><%= service_name %></td>
                    <td><%= appointments.select{|appointment| @female_patients_ids.include?(appointment.patient_id)}.count %></td>
                    <td><%= appointments.select{|appointment| @male_patients_ids.include?(appointment.patient_id)}.count %></td>
                    <td><%= appointments.count %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
    </div>

    <div class='colibri-dashboard-subcontainer'>
      <div class='colibri-subcontainer-header'>
        <span>利用状況（今週）</span>
      </div>
      <div class="colibri-subcontainer-body scrollbar-custom colibri-scrollbar-light">
        <table class="table">
          <thead>
            <tr>
              <th class="table-important-fields">サービス</th>
              <th class="table-important-fields">女</th>
              <th class="table-important-fields">男</th>
              <th class="table-important-fields">計</th>
            </tr>
          </thead>
          <tbody>
            <%  @weekly_appointments_grouped_by_title.each do |service_name, appointments| %>
              <tr>
                <td><%= service_name %></td>
                <td><%= appointments.select{|appointment| @female_patients_ids.include?(appointment.patient_id)}.count %></td>
                <td><%= appointments.select{|appointment| @male_patients_ids.include?(appointment.patient_id)}.count %></td>
                <td><%= appointments.count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class='colibri-dashboard-container-row-large'>
    <div class='colibri-dashboard-subcontainer'>
      <div class='colibri-subcontainer-header'>
        <span class='colibri-subcontainer-title'>本日のサービス</span>
      </div>
        <div class='colibri-subcontainer-body scrollbar-custom colibri-scrollbar-light'>
          <table class='table'>
            <thead>
              <tr>
                <th class="table-important-fields">利用者名</th>
                <th class="table-important-fields">性別</th>
                <th class="table-important-fields">訪問時間</th>
                <th class="table-important-fields">従業員</th>
                <th class="table-important-fields">サービスタイプ</th>
                <th class="table-important-fields">確認する</th>
              </tr>
            </thead>
            <tbody>
              <% @daily_provided_services.each do |nurse_id, provided_service_array| %>
                <% provided_service_array.each do |provided_service| %>
                  <tr>
                    <td><%= provided_service.patient.try(:name) %></td>
                    <td><%= patient_gender(provided_service.patient) %></td>
                    <td><%= "#{provided_service.appointment_start.strftime('%H:%M')} ~ #{provided_service.appointment_end.strftime('%H:%M')}" if provided_service.appointment_end.present? && provided_service.appointment_start.present? %></td>
                    <td><%= provided_service.nurse.try(:name) %></td>
                    <td><%= provided_service.title %></td>
                    <td class='verify-provided-service' id='provided-service-<%= provided_service.id %>'>
                      <% if provided_service.verified? %>
                        <div><span class='glyphicon glyphicon-ok'  style="color: #42B97C"></span></div>
                      <% else %>
                        <%= link_to '確認', verify_provided_service_path(provided_service), method: :patch, remote: :true, class: 'btn btn-success btn-sm' if !provided_service.verified? %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
</div>