<div class='colibri-dashboard-container-row' style="display:flex">
    <div class='colibri-dashboard-subcontainer' >
        <div class='colibri-subcontainer-header'>
          <span class='colibri-subcontainer-title'>利用状況(本日<%= @query_day.try(:strftime, "%y年%m月%d日") %>)</span>
        </div>
          <div class='colibri-subcontainer-body  scrollbar-custom colibri-scrollbar-light'>
            <table class='table'>
              <thead>
                <tr>
                  <th class="table-important-fields" style="min-width:100px">サービス</th>
                  <th class="table-important-fields" style="min-width:40px">女</th>
                  <th class="table-important-fields" style="min-width:40px">男</th>
                  <th class="table-important-fields" style="min-width:40px">計</th>
                </tr>
              </thead>
              <tbody>
                <%  @daily_appointments.group_by(&:title).each do |service_name, appointments| %>
                  <tr>
                    <td><%= service_name %></td>
                    <td><%= appointments.select{|appointment| @female_patients_ids.include?(appointment.patient_id)}.count %></td>
                    <td><%= appointments.select{|appointment| @male_patients_ids.include?(appointment.patient_id)}.count %></td>
                    <td><%= appointments.count %></td>
                  </tr>
                <% end %>
                <tr>
                  <td class='table-important-fields'>合計</td>
                  <td class='table-important-fields'><%= @daily_appointments.select{|a| @female_patients_ids.include?(a.patient_id)}.count %></td>
                  <td class='table-important-fields'><%= @daily_appointments.select{|a| @male_patients_ids.include?(a.patient_id)}.count %></td>
                  <td class='table-important-fields'><%= @daily_appointments.count %></td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>

    <div class='colibri-dashboard-subcontainer'>
      <div class='colibri-subcontainer-header'>
        <span class='colibri-subcontainer-title'>利用状況（今週）</span>
      </div>
      <div class="colibri-subcontainer-body scrollbar-custom colibri-scrollbar-light">
        <table class="table">
          <thead>
            <tr>
              <th class="table-important-fields" style="min-width:100px">サービス</th>
              <th class="table-important-fields" style="min-width:40px">女</th>
              <th class="table-important-fields" style="min-width:40px">男</th>
              <th class="table-important-fields" style="min-width:40px">計</th>
            </tr>
          </thead>
          <tbody>
            <%  @weekly_appointments.group_by(&:title).each do |service_name, appointments| %>
              <tr>
                <td><%= service_name %></td>
                <td><%= appointments.select{|appointment| @female_patients_ids.include?(appointment.patient_id)}.count %></td>
                <td><%= appointments.select{|appointment| @male_patients_ids.include?(appointment.patient_id)}.count %></td>
                <td><%= appointments.count %></td>
              </tr>
            <% end %>
              <tr>
                <td class='table-important-fields'>合計</td>
                <td class='table-important-fields'><%= @weekly_appointments.select{|a| @female_patients_ids.include?(a.patient_id)}.count %></td>
                <td class='table-important-fields'><%= @weekly_appointments.select{|a| @male_patients_ids.include?(a.patient_id)}.count %></td>
                <td class='table-important-fields'><%= @weekly_appointments.count %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class='colibri-dashboard-subcontainer'>
      <div class='colibri-subcontainer-header'>
        <span class='colibri-subcontainer-title'>利用状況(今月)</span>
      </div>
      <div class='colibri-subcontainer-body scrollbar-custom colibri-scrollbar-light'>
        <table class='table'>
          <thead>
            <tr>
              <th class="table-important-fields" style="min-width:100px">サービス</th>
              <th class="table-important-fields" style="min-width:40px">女</th>
              <th class="table-important-fields" style="min-width:40px">男</th>
              <th class="table-important-fields" style="min-width:40px">計</th>
            </tr>
          </thead>
          <tbody>
            <%  @monthly_appointments.group_by(&:title).each do |service_name, appointments| %>
              <tr>
                <td><%= service_name %></td>
                <td><%= appointments.select{|appointment| @female_patients_ids.include?(appointment.patient_id)}.count %></td>
                <td><%= appointments.select{|appointment| @male_patients_ids.include?(appointment.patient_id)}.count %></td>
                <td><%= appointments.count %></td>
              </tr>
            <% end %>
              <tr>
                <td class='table-important-fields'>合計</td>
                <td class='table-important-fields'><%= @monthly_appointments.select{|a| @female_patients_ids.include?(a.patient_id)}.count %></td>
                <td class='table-important-fields'><%= @monthly_appointments.select{|a| @male_patients_ids.include?(a.patient_id)}.count %></td>
                <td class='table-important-fields'><%= @monthly_appointments.count %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class='colibri-dashboard-container-row-large'>
    <div class='colibri-dashboard-subcontainer'>
      <div class='colibri-subcontainer-header'>
        <span class='colibri-subcontainer-title'>本日のサービス</span>
      </div>
        <div class='colibri-subcontainer-body scrollbar-custom colibri-scrollbar-light table-responsive'>
          <table class='table'>
            <thead>
              <tr>
                <th class="table-important-fields" style="min-width:90px">利用者名</th>
                <th class="table-important-fields" style="min-width:60px">性別</th>
                <th class="table-important-fields" style="min-width:90px">訪問時間</th>
                <th class="table-important-fields" style="min-width:90px">従業員</th>
                <th class="table-important-fields" style="min-width:140px">サービスタイプ</th>
                <th class="table-important-fields" style="min-width:70px">確認</th>
              </tr>
            </thead>
            <tbody>
              <% @daily_appointments.each do |appointment| %>
                <tr>
                  <td><%= appointment.patient.try(:name) %></td>
                  <td><%= gender_text(appointment.patient.try(:gender)) %></td>
                  <td><%= "#{appointment.starts_at.strftime('%H:%M')} ~ #{appointment.ends_at.strftime('%H:%M')}" %></td>
                  <td><%= appointment.nurse.try(:name) %></td>
                  <td><%= appointment.title %></td>
                  <td class='verify-provided-service' id='appointment-<%= appointment.id %>'>
                    <% if appointment.verified? %>
                        <div><span class='glyphicon glyphicon-check'  style="color: #42B97C"></span></div>
                        <%= link_to "#{appointment.verifier.try(:name)} #{appointment.try(:verified_at).strftime('%-m月%-d日')}", toggle_verified_appointment_path(appointment), remote: true, method: :patch, class: 'verified-at-and-by', data: {confirm: '実績の確認が解除されます'} %>
                    <% else %>
                      <%= link_to '確認', toggle_verified_appointment_path(appointment), method: :patch, remote: :true, class: 'btn btn-success btn-sm' if !appointment.verified? %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
</div>