<div id='dashboard-plannings-container' class='no-print'>
  <div id='new-planning-container'>
    <%= link_to '+新規スケジュール', new_planning_path, class: 'btn btn-info btn-sm text-white btn-margin-top' %>
  </div>
  <div id='dashboard-plannings-list' class="scrollbar-custom  colibri-scrollbar-dark">
    <% @plannings.each do |planning| %>
      <div>
        <%= link_to "#{planning.title}", planning_nurse_path(planning, @main_nurse), class: 'planning-list-element colorize' %>
      </div>
    <% end %>
  </div>
</div>

<div id='colibri-dashboard-container'>

  <div class='colibri-dashboard-big-container no-print'>
    <div class='colibri-dashboard-container-column'>

      <div class='colibri-dashboard-subcontainer subcontainer-column-half-height'>
        <div class='colibri-subcontainer-header'>
          <span class='colibri-subcontainer-title'>最新履歴</span><span class="unseen-activity-count"><%= "   ログアウト以降：#{@unseen_activity_count}" %></span>
        </div>
        <div class='colibri-subcontainer-body scrollbar-custom colibri-scrollbar-light' >
          <% @activities.each do |activity| %>
            <%= render partial: 'activities/activity', locals: {activity: activity} %>
          <% end %>
        </div>
      </div>


      <div class='colibri-dashboard-subcontainer subcontainer-column-half-height'>
        <div class='colibri-subcontainer-header'>
          <span class='colibri-subcontainer-title'>調整中リスト（先２週間）</span>
        </div>
        <div class='colibri-subcontainer-body scrollbar-custom colibri-scrollbar-light'>
          <table class='table'>
            <thead>
              <tr>
                <th>サービス</th>
                <th>利用者名</th>
                <th>提供日</th>
                <th>稼働時間</th>
              </tr>
            </thead>
            <tbody>
              <% @edit_requested_appointments.each do |appointment| %>
              <tr>
                <td><%= appointment.title %></td>
                <td><%= appointment.patient.name %></td>
                <td><%= appointment.starts_at.strftime("%-m月%-d日") %></td>
                <td><%= from_seconds_to_hours_minutes(appointment.ends_at - appointment.starts_at) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>


    </div>

    <div class='colibri-dashboard-container-column'>
      <div class='colibri-dashboard-subcontainer subcontainer-column-full-height'>
        <div class='colibri-subcontainer-header'>
          <span class='colibri-subcontainer-title'>掲示板</span>
        </div>
        <div class='colibri-subcontainer-body-with-footer scrollbar-custom colibri-scrollbar-light' id='posts-container'>
          <% @posts.each do |post| %>
            <%= render partial: 'posts/post', locals: {post: post} %>
          <% end %>
        </div>
        <div class='colibri-subcontainer-footer'>
          <%= link_to '新規メッセージ', new_post_path, remote: true, class: 'btn btn-info text-white form-control btn-block' %>
        </div>
      </div>
    </div>

  </div>


  <div class='colibri-dashboard-container-row no-print'>
    <div class='colibri-dashboard-subcontainer'>
      <div class='colibri-subcontainer-header'>
        <span class='colibri-subcontainer-title'>コメント付きサービス（先２週間）</span>
      </div>
      <div class='colibri-subcontainer-body  scrollbar-custom colibri-scrollbar-light'>
        <table class='table'>
          <thead>
            <tr>
              <th style="width:20%">利用者</th>
              <th style="width:20%">従業員</th>
              <th style="width:20%">開始時間</th>
              <th style="width:40%">コメント</th>
            </tr>
          </thead>
          <tbody>
            <% @commented_appointments.each do |appointment| %>
            <tr>
              <td style="width:15%"><%= "#{appointment.patient.name }様"%></td>
              <td style="width:15%"><%= "#{appointment.nurse.name }"%></td>
              <td style="width:15%"><%= appointment.starts_at.strftime("%-m月%-d日") %></td>
              <td style="width:55%"><%= appointment.description %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>

  <div id='extended-daily-summary-title-container'>
    <div class='colibri-xs-title'>業務日報</div>
    <div class='small-side-margins'><%= text_field_tag 'query_date', "#{Date.today.strftime("%Y-%m-%d")}", {data: {url: dashboard_extended_daily_summary_path}} %></div>
    <div class='btn btn-sm btn-success text-white small-side-margins no-print' id='print-button'>印刷</div>
  </div>

  <div id='extended-daily-summary-container'>
    <%= render partial: 'extended_daily_summary', locals: {appointments_grouped_by_title: @appointments_grouped_by_title, weekly_appointments_grouped_by_title: @weekly_appointments_grouped_by_title, daily_provided_services: @daily_provided_services, female_patients_ids: @female_patients_ids, male_patients_ids: @male_patients_ids} %>
  </div>
 

</div>
