<div id="planning-menu-container" class="no-print">
	<div id="planning-menu-list">
		<ul class="nav nav-tabs">
      <li class="planning-menu-items planning-menu-selected" title="ホーム.ダッシュボード">ホ</li>
			<li class="planning-menu-items colibri-clickable-link" data-url="<%= planning_path(@planning) %>" title="全体">全</li>
			<li class="planning-menu-items colibri-clickable-link" data-url="<%= planning_nurse_path(@planning, @main_nurse) %>" title="個別">個</li>
			<% if current_user.has_admin_access? %>
				<li class="planning-menu-items colibri-clickable-link" data-url="<%= planning_nurse_payable_path(@planning, @main_nurse, params: {m: Date.today.month, y: Date.today.year}) %>" title="給与管理">給</li>
			<% end %>
			<li class="planning-menu-items" data-url="<%= planning_activities_path(@planning) %>" title="編集履歴">歴</li>
			<li class="planning-menu-items colibri-clickable-link" data-url="<%=  planning_nurse_master_path(@planning, @main_nurse) %>" title="マスター">マ</li>
			<% if current_user.has_admin_access? %>
				<li class="planning-menu-items colibri-clickable-link"  data-url="<%=  planning_settings_path(@planning) %>" title="設定"><span class='glyphicon glyphicon-cog' style='color:#94979A'></span></li>
			<% end %>
		</ul>
	</div>
</div>

<div id='colibri-dashboard-container'>

  <div class='colibri-dashboard-big-container no-print'>
    <div class='colibri-dashboard-container-column'>

      <div class='colibri-dashboard-subcontainer subcontainer-column-half-height'>
        <div class='colibri-subcontainer-header'>
          <span class='colibri-subcontainer-title'>最新履歴</span><span class="unseen-activity-count"><%= "   ログアウト以降：#{@unseen_activity_count}" %></span>
        </div>
        <div class='colibri-subcontainer-body scrollbar-custom colibri-scrollbar-light' >
          <% @activities.each do |activity| %>
            <%= render partial: 'activities/activity', locals: {activity: activity} %>
          <% end %>
        </div>
      </div>


      <div class='colibri-dashboard-subcontainer subcontainer-column-half-height'>
        <div class='colibri-subcontainer-header'>
          <span class='colibri-subcontainer-title'>調整中リスト（先２週間）</span>
        </div>
        <div class='colibri-subcontainer-body scrollbar-custom colibri-scrollbar-light'>
          <table class='table'>
            <thead>
              <tr>
                <th>サービス</th>
                <th>利用者名</th>
                <th>提供日</th>
                <th>稼働時間</th>
              </tr>
            </thead>
            <tbody>
              <% @edit_requested_appointments.each do |appointment| %>
              <tr>
                <td><%= appointment.title %></td>
                <td><%= appointment.patient.name %></td>
                <td><%= appointment.starts_at.strftime("%-m月%-d日") %></td>
                <td><%= from_seconds_to_hours_minutes(appointment.ends_at - appointment.starts_at) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>


    </div>

    <div class='colibri-dashboard-container-column'>
      <div class='colibri-dashboard-subcontainer subcontainer-column-full-height'>
        <div class='colibri-subcontainer-header'>
          <span class='colibri-subcontainer-title'>掲示板</span>
        </div>
        <div class='colibri-subcontainer-body-with-footer scrollbar-custom colibri-scrollbar-light' id='posts-container'>
          <% @posts.each do |post| %>
            <%= render partial: 'posts/post', locals: {post: post} %>
          <% end %>
        </div>
        <div class='colibri-subcontainer-footer'>
          <%= link_to '新規メッセージ', new_post_path, remote: true, class: 'btn btn-info text-white form-control btn-block' %>
        </div>
      </div>
    </div>

  </div>


  <div class='colibri-dashboard-container-row no-print'>
    <div class='colibri-dashboard-subcontainer'>
      <div class='colibri-subcontainer-header'>
        <span class='colibri-subcontainer-title'>コメント付きサービス（先２週間）</span>
      </div>
      <div class='colibri-subcontainer-body  scrollbar-custom colibri-scrollbar-light'>
        <table class='table'>
          <thead>
            <tr>
              <th style="width:20%">利用者</th>
              <th style="width:20%">従業員</th>
              <th style="width:20%">開始時間</th>
              <th style="width:40%">コメント</th>
            </tr>
          </thead>
          <tbody>
            <% @commented_appointments.each do |appointment| %>
            <tr>
              <td style="width:15%"><%= "#{appointment.patient.name }様"%></td>
              <td style="width:15%"><%= "#{appointment.nurse.name }"%></td>
              <td style="width:15%"><%= appointment.starts_at.strftime("%-m月%-d日") %></td>
              <td style="width:55%"><%= appointment.description %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
 

</div>
