<% if request.variant.phone? %>
    <%= render partial: 'plannings/phone_bottom_menu', locals: {view: 'settings', resource_payable_path: planning_nurse_payable_path(@planning, @main_nurse, params: {m: Date.today.in_time_zone('Tokyo').month, y: Date.today.in_time_zone('Tokyo').year})} %>
<% else %>
    <%= render partial: 'plannings/planning_left_menu', locals: {view: 'settings', resource_payable_path: planning_nurse_payable_path(@planning, @main_nurse, params: {m: Date.today.in_time_zone('Tokyo').month, y: Date.today.in_time_zone('Tokyo').year})} %>
<% end %>

<%= render 'plannings/settings_submenu', view: "schedule_settings" %>

<div id="menu-backdrop">
</div>

<div id="settings-container">
    <div id="planning-options" >
        <div id="planning-header">
            <div id="detail-planning-title">
                <div id="settings-menu">
                    <div id="payable-menu">
                    <%= image_tag 'hamburger_icon_white.svg', size: '35', class: 'hamburger_menu'  %>
                    </div>
                    <p class="planning-activity-module-title setting-title">
                        法人設定
                    </p>
                </div>
            </div>
        </div>

        <div class="settings-body">
            <%= form_for @corporation do |form| %>
            <div class="colibri-form-subsection" style="margin-top:25px">
                <div class='colibri-form-subsection-title'>基本情報</div>

                <div class="form-group" style="margin-top:15px">
                    <%= form.label :name, "#{corporation_resource_name(@corporation.business_vertical)}名", class:"colibri-form-label-dark" %>
                    <%= form.text_field :name, class: "form-control" %>
                </div>

                <% if @corporation.elderly_care_and_nursing? %>
                    <div class="form-group" style="margin-top:15px">
                        <%= form.label :identifier, "登録番号", class:"colibri-form-label-dark" %>
                        <%= form.text_field :identifier, class: "form-control" %>
                    </div>
                <% end %>

                <div class="form-group">
                    <%= form.label :address, "住所", class: "colibri-form-label-dark" %>
                    <%= form.text_area :address, class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= form.label :phone_number, "電話番号", class: "colibri-form-label-dark" %>
                    <%= form.text_field :phone_number, class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= form.label :fax_number, "FAX番号", class: "colibri-form-label-dark" %>
                    <%= form.text_field :fax_number, class: "form-control" %>
                </div>
                
            </div>

            <div class="colibri-form-subsection" style="margin-top:25px">
                <div class='colibri-form-subsection-title'>カレンダー設定</div>

                <div class="form-group" style="margin-top:15px">
                    <%= form.label :business_start_hour, "日開始時間", class: "colibri-form-label-dark" %>
                    <%= form.select :business_start_hour, options_for_select([['05:00', '05:00:00'], ['06:00', '06:00:00'], ['07:00', '07:00:00'], ['08:00', '08:00:00'], ['09:00', '09:00:00'], ['10:00', '10:00:00'], ['11:00', '11:00:00']], @corporation.business_start_hour), class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= form.label :business_end_hour, "日終了時間", class: "colibri-form-label-dark" %>
                    <%= form.select :business_end_hour, options_for_select([['16:00', '16:00:00'], ['17:00', '17:00:00'], ['18:00', '18:00:00'], ['19:00', '19:00:00'], ['20:00', '20:00:00'], ['21:00', '21:00:00'], ['22:00', '22:00:00'], ['23:00', '23:00:00'], ['24:00','24:00:00']], @corporation.business_end_hour), class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= form.label :default_individual_view, "個別レイアウト", class: "colibri-form-label-dark" %>
                    <%= form.select :default_individual_view, options_for_select([['日', 'timeGridDay'], ['週','timeGridWeek'], ['月','dayGridMonth']], @corporation.default_individual_view), class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= form.label :default_view, "従業員.#{client_resource_name(@corporation.business_vertical)}全員.チーム分けレイアウト", class: "colibri-form-label-dark" %>
                    <%= form.select :default_view, options_for_select([['日', 'resourceTimeGridDay'], ['週','resourceTimelineWeek']], @corporation.default_view), class: "form-control" %>
                </div>
                
                <div class="form-group">
                    <%= form.label :default_master_view, "個別マスターレイアウト", class: "colibri-form-label-dark" %>
                    <%= form.select :default_master_view, options_for_select([['日','timeGridDay'], ['週', 'timeGridWeek'], ['月','dayGridMonth']], @corporation.default_master_view), class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= form.label :default_first_day, "カレンダー開始曜日", class: "colibri-form-label-dark" %>
                    <%= form.select :default_first_day, options_for_select([['月曜', 1], ['日曜', 0]], @corporation.default_first_day), class: "form-control" %>
                </div>

                <div class="form-group icheck-material-cyan">
                    <%= form.check_box :edit_confirm_requested, include_hidden: false, id: :corporation_edit_confirm_requested, onclick: '' %>
                    <%= form.label :edit_confirm_requested, "ドラッグで編集確認画面を表示する", class: "colibri-form-label-dark" %>
                </div>
            </div>

            <div class="colibri-form-subsection">
                <div class='colibri-form-subsection-title'>空き情報設定</div>

                <div class="form-group" style='margin-top:25px'>
                    <%= form.label :availabilities_default_text, "デフォルト文章", class: "colibri-form-label-dark" %>
                    <%= form.text_area :availabilities_default_text, class: "form-control" %>
                </div>
            </div>

            <div class="colibri-form-subsection" style='margin-top:25px'>
                <div class='colibri-form-subsection-title'>リマインダー設定</div>
                <div class="form-group" style="margin-top:15px">
                    <%= form.label :reminder_email_hour, "リマインダーメール送信時間", class: "colibri-form-label-dark" %>
                    <%= form.select :reminder_email_hour, options_for_select([['06:00', '06:00'], ['07:00', '07:00'], ['08:00', '08:00'], ['09:00', '09:00'], ['10:00', '10:00'], ['11:00', '11:00'], ['12:00', '12:00'], ['13:00', '13:00'], ['14:00', '14:00'], ['15:00', '15:00'], ['16:00', '16:00'], ['17:00', '17:00'], ['18:00', '18:00'], ['19:00', '19:00'], ['20:00', '20:00'], ['21:00', '21:00']], @corporation.reminder_email_hour), class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= form.label :weekend_reminder_option, "リマインダーメール週末送信オプション", class: "colibri-form-label-dark" %>
                    <%= form.select :weekend_reminder_option, options_for_select([['土.日.月の予定をまとめて金曜日に送る', 0], ['日.月の予定をまとめて土曜日に送る', 1], ['週末も毎日送る', 2]], @corporation.weekend_reminder_option), class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= form.label :email, "リマインダーメール送信元.返信先", class: "colibri-form-label-dark" %><span class='required-field'>*</span>
                    <%= form.text_field :email, required: true, class: "form-control" %>
                </div>

                <div class="form-group icheck-material-cyan" onclick="void(0)">
                    <%= form.check_box :include_description_in_nurse_mailer, include_hidden: false, id: :corporation_include_description_in_nurse_mailer %>
                    <%= form.label :include_description_in_nurse_mailer, "リマインダーメールシフトのコメント", class: "colibri-form-label-dark" %>
                </div>

                <div class="form-group">
                    <%= form.label :custom_email_intro_text, "リマインダーメール定型文1", class: "colibri-form-label-dark" %>
                    <%= form.text_area :custom_email_intro_text, class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= form.label :custom_email_outro_text, "リマインダーメール定型文2", class: "colibri-form-label-dark" %>
                    <%= form.text_area :custom_email_outro_text, class: "form-control" %>
                </div>
            　</div>

            <div class="colibri-form-subsection">
                <div class="colibri-form-subsection-title">サービス設定のデフォルト</div>

                <div class="form-group icheck-material-cyan" onclick="void(0)">
                    <%= form.check_box :detailed_cancellation_options, checked: @corporation.detailed_cancellation_options, include_hidden: false, id: :corporation_detailed_cancellation_options %>
                    <%= form.label :detailed_cancellation_options, "キャンセル後の手当.請求オプション", class: 'colibri-form-label-dark' %>
                </div>

                <div class="form-group">
                <%= form.label :hour_based_payroll, "計算方法", class: "colibri-form-label-dark" %>
                <%= form.radio_button :hour_based_payroll, true, checked: @corporation.hour_based_payroll %>
                <%= form.label :hour_based_payroll_true, "時給" %>
                <%= form.radio_button :hour_based_payroll, false, checked: !@corporation.hour_based_payroll %>
                <%= form.label :hour_based_payroll_false, "単価" %>
                </div>

            </div>

            <div class="colibri-form-subsection">
                <div class="colibri-form-subsection-title">計画書の設定</div>

                <div class="form-group icheck-material-cyan" onclick="void(0)">
                    <%= form.check_box :hide_care_plan_long_term_goals, checked: @corporation.hide_care_plan_long_term_goals, include_hidden: false, id: :corporation_hide_care_plan_long_term_goals %>
                    <%= form.label :hide_care_plan_long_term_goals, "長期目標を外す", class: 'colibri-form-label-dark' %>
                </div>
            </div>

            <div class="colibri-form-subsection">
                <div class="colibri-form-subsection-title">チーム設定</div>

                <div class="form-group icheck-material-cyan">
                    <%= form.check_box :separate_posts_by_team, checked: @corporation.separate_posts_by_team, include_hidden: false, id: :corporation_separate_posts_by_team  %>
                    <%= form.label :separate_posts_by_team, "掲示板の書き込みをチーム別にする", class: 'colibri-form-label-dark' %>
                </div>

                <div class="form-group icheck-material-cyan">
                    <%= form.check_box :separate_patients_by_team, checked: @corporation.separate_patients_by_team, include_hidden: false, id: :corporation_separate_patients_by_team %>
                    <%= form.label :separate_patients_by_team, "利用者の表示をチーム別にする", class: 'colibri-form-label-dark' %>
                </div>
            </div>

            <div class="colibri-form-subsection">
                <div class="colibri-form-subsection-title">提供表の設定</div>
                <div class="form-group icheck-material-cyan">
                    <%= form.check_box :teikyohyo_with_services_outside_insurance_scope, checked: @corporation.teikyohyo_with_services_outside_insurance_scope, include_hidden: false, id: :corporation_teikyohyo_with_services_outside_insurance_scope %>
                    <%= form.label :teikyohyo_with_services_outside_insurance_scope, "保険外サービスを提供表に追加する", class: 'colibri-form-label-dark' %>
                </div>

                <div class="form-group">
                    <%= form.label :invoicing_bonus_ratio, "処遇改善加算", class: "colibri-form-label-dark" %>
                    <%= form.select :invoicing_bonus_ratio, options_for_select([['加算I - 13.7%', 1.137], ['加算Ⅱ - 10%', 1.1], ['加算Ⅲ - 5.5%', 1.055]], @corporation.invoicing_bonus_ratio),  {include_blank: "選択する"} %>
                </div>

                <div class="form-group">
                    <%= form.label :second_invoicing_bonus_ratio, "特定処遇改善加算", class: "colibri-form-label-dark" %>
                    <%= form.select :second_invoicing_bonus_ratio, options_for_select([['加算I - 6.3%', 1.063], ['加算Ⅱ - 4.2%', 1.042]], @corporation.second_invoicing_bonus_ratio),  {include_blank: "選択する"} %>
                </div>

                <div class="form-group">
                    <%= form.label :credits_to_jpy_ratio, "単位数.単価", class: "colibri-form-label-dark" %>
                    <%= form.number_field :credits_to_jpy_ratio, step: 0.01, class: "form-control" %>
                </div>
            </div>

            <div class="actions">
                <%= form.submit "確定する", class: "btn btn-info btn-block form-control" %>
            </div>

            <% end %>
        </div>
    </div>

</div>

