<%= render partial: 'plannings/planning_left_menu', locals: {view: "settings", resource_payable_path: planning_nurse_payable_path(@planning, @main_nurse, params: {m: Date.today.in_time_zone('Tokyo').month, y: Date.today.in_time_zone('Tokyo').year})} %>

<%= render 'plannings/settings_submenu', view: 'user_options' %>

<div id="menu-backdrop">
</div>

<div id="settings-container">
  <div id="planning-options">
    <div id="account-edit-body" class="account-body">

      <div id="detail-planning-title">
        <div id="settings-menu">
            <%= image_tag 'hamburger_icon.svg', size: '35', class: 'hamburger_menu'  %>
            <p class="planning-activity-module-title setting-title">
              アカウント情報
            </p>
        </div>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <div class="form-group">
          <%= f.label :name, 'ご自身のユーザー名', class: "colibri-form-label-dark" %><span class='required-field'>*</span>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control"   %>
        </div>

        <div class="form-group">
          <%= f.label :kana, 'ユーザー名(フリガナ)', class: "colibri-form-label-dark" %><span class='required-field'>*</span>
          <%= f.text_field :kana, autocomplete: "name", class: "form-control"   %>
        </div>

        <div class="form-group">
          <%= f.label :nurse_id, '従業員に紐づける', class: "colibri-form-label-dark" %>
          <%= f.collection_select :nurse_id, current_user.corporation.nurses.displayable.order_by_kana, :id, :name, {prompt: '従業員を選択する'} %>
        </div>

        <div class="form-group">
          <%= f.label :nurse_id, 'シフトのデフォルトページ', class: "colibri-form-label-dark" %><br />
          <%= f.select :default_calendar_option, options_for_select(user_default_calendar_options(resource), resource.calendar_option)  %>
        </div>

        <div class="form-group">
          <%= f.label :email, class: "colibri-form-label-dark" %><br />
          <%= f.email_field :email, readonly: true, autocomplete: "email", class: "form-control"   %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>ただいまメールアドレスの確認済み: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password, '変更後パスワード(6桁以上)', class: "colibri-form-label-dark" %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control"   %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, '変更後パスワードの確認', class: "colibri-form-label-dark" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"   %>
        </div>

        <div class="form-group">
          <%= f.label :current_password, class: "colibri-form-label-dark" %><span class='required-field'>*</span><br />
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control"   %>
        </div>

        <div class="actions">
          <%= f.submit "アップデートする" , class: 'btn btn-info btn-block form-control' %>
        </div>
      <% end %>
    </div>
  </div>
  
</div>

