<div class="colibri-devise-form">
  <p class="colibri-devise-title">新規登録</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :name, "ご自身のユーザー名", class: "colibri-form-label" %><span class="required-true">*</span>
      <%= f.text_field :name, autofocus: true, required: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email, "ご自身のメールアドレス", class: "colibri-form-label" %><span class="required-true">*</span>
      <%= f.email_field :email, required: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password, "パスワード(6桁以上)", class: "colibri-form-label" %><span class="required-true">*</span>
      <%= f.password_field :password, autocomplete: "off", required: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "パスワードの確認", class: "colibri-form-label" %><span class="required-true">*</span>
      <%= f.password_field :password_confirmation, required: true, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録", class: 'btn btn-info btn-block form-control' %>
    </div>
  <% end %>

  <div id="colibri-devise-links">
    <%= render "devise/shared/links" %>
  </div>
</div>


