<div>
	お疲れ様です。
</div>
<br/>

<div>
	<%= @nurse.name %>様、<%= @corporation.name %>シフト確認になります。ご確認お願い致します。
</div>
<br/>


<% if @custom_message.present? %>
	<div>
		<%= simple_format(@custom_message) %>
	</div>
	<br/>
<% end %>

<% if @corporation.custom_email_intro_text.present? %>
	<div>
		<%= @corporation.custom_email_intro_text %>
	</div>
	<br/>
<% end %>

<% @appointments.each do |appointment| %>
	<div>
		<%= appointment.patient.try(:name) %>様: <%= appointment.starts_at.strftime("%-d日") %><%= weekday(appointment.starts_at) %>  <%= appointment.starts_at.strftime("%-H:%M") %>~<%= appointment.ends_at.strftime("%-H:%M") %>
	</div>
<% end %>
<br/>

以上になります。
<br/>

<% if @corporation.custom_email_outro_text.present? %>
	<div>
		<%= simple_format(@corporation.custom_email_outro_text) %>
	</div>
	<br/>
<% end %>

<div>
	<%= @corporation.name %>
</div>


