<div>
	<%= @nurse.name %>様、<%= @corporation.name %>のサービスのスケジュールです。
</div>
<br/>


<% if @custom_message.present? %>
	<div>
		<%= @custom_message %>
	</div>
	<br/>
<% end %>

<% @appointments.each do |appointment| %>
	<div>
		<%= appointment.patient.try(:name) %>様: <%= appointment.start.strftime("%-d日") %><%= weekday(appointment.start) %>  <%= appointment.start.strftime("%-H:%M") %>~<%= appointment.end.strftime("%-H:%M") %>
		<% if appointment.description.present? %>
			コメント：<%= appointment.description %>
		<% end %>
	</div>
<% end %>

<br/>
以上、宜しくお願い致します。

