<%= render partial: 'plannings/planning_left_menu', locals: {view: 'settings', resource_payable_path: planning_nurse_payable_path(@planning, @main_nurse, params: {m: Date.today.in_time_zone('Tokyo').month, y: Date.today.in_time_zone('Tokyo').year})} %>

<%= render 'plannings/settings_submenu', view: "printing_options" %>

<div id="settings-container">
    <div id="printing-options" >
        <div id="detail-planning-title">
            <div id="payable-menu">
                <%= image_tag 'hamburger_icon.svg', size: '28', class: 'hamburger_menu'  %>
            </div>
            <p class="planning-activity-module-title setting-title">
                印刷オプション
            </p>
        </div>

        <%= form_for [@corporation, @printing_option] do |form| %>

            <div class='colibri-form-subsection'>
                <div class='colibri-form-subsection-title '>コメント</div>
                <div class="form-group row">
                    <%= form.label :print_nurse_comments, "個別従業員のコメント", class: "colibri-form-label-dark col-sm-9" %>
                    <%= form.check_box :print_nurse_comments,  class: "col-sm-3 print-option-checkbox" %>
                </div>

                <div class="form-group row">
                    <%= form.label :print_patient_comments, "個別利用者のコメント", class: "colibri-form-label-dark col-sm-9" %>
                    <%= form.check_box :print_patient_comments, class: "col-sm-3 print-option-checkbox" %>
                </div>

                <div class="form-group row">
                    <%= form.label :print_nurse_comments_in_master, "マスター従業員のコメント", class: "colibri-form-label-dark col-sm-9" %>
                    <%= form.check_box :print_nurse_comments_in_master, class: "col-sm-3 print-option-checkbox" %>
                </div>

                <div class="form-group row">
                    <%= form.label :print_patient_comments_in_master, "マスター利用者のコメント", class: "colibri-form-label-dark col-sm-9" %>
                    <%= form.check_box :print_patient_comments_in_master, class: "col-sm-3 print-option-checkbox" %>
                </div>
            </div>

            <div class='colibri-form-subsection'>
                <div class='colibri-form-subsection-title'>備考</div>
                <div class="form-group row">
                    <%= form.label :print_nurse_description, "個別従業員の備考", class: "colibri-form-label-dark col-sm-9" %>
                    <%= form.check_box :print_nurse_description, class: "col-sm-3 print-option-checkbox" %>
                </div>

                <div class="form-group row">
                    <%= form.label :print_patient_description, "個別利用者の備考", class: "colibri-form-label-dark col-sm-9" %>
                    <%= form.check_box :print_patient_description, class: "col-sm-3 print-option-checkbox" %>
                </div>

                <div class="form-group row">
                    <%= form.label :print_nurse_description_in_master, "マスター従業員の備考", class: "colibri-form-label-dark col-sm-9" %>
                    <%= form.check_box :print_nurse_description_in_master, class: "col-sm-3 print-option-checkbox" %>
                </div>

                <div class="form-group row">
                    <%= form.label :print_patient_description_in_master, "マスター利用者の備考", class: "colibri-form-label-dark col-sm-9" %>
                    <%= form.check_box :print_patient_description_in_master, class: "col-sm-3 print-option-checkbox" %>
                </div>

            </div>

            <div class='colibri-form-subsection'>
                <div class='colibri-form-subsection-title'>日付</div>
                <div class="form-group row">
                    <%= form.label :print_nurse_dates_in_master, "マスター従業員の日付", class: "colibri-form-label-dark col-sm-9" %>
                    <%= form.check_box :print_nurse_dates_in_master, class: "col-sm-3 print-option-checkbox" %>
                </div>

                <div class="form-group row">
                    <%= form.label :print_patient_dates_in_master, "マスター利用者の日付", class: "colibri-form-label-dark col-sm-9" %>
                    <%= form.check_box :print_patient_dates_in_master, class: "col-sm-3 print-option-checkbox" %>
                </div>         
            </div>

            <div class='colibri-form-subsection'>
                <div class='colibri-form-subsection-title'>空き情報</div>
                <div class="form-group row">
                    <%= form.label :print_saturday_availabilities, "土曜日の空き情報", class: "colibri-form-label-dark col-sm-9" %>
                    <%= form.check_box :print_saturday_availabilities, class: "col-sm-3 print-option-checkbox" %>
                </div>

                <div class="form-group row">
                    <%= form.label :print_sunday_availabilities, "日曜日の空き情報", class: "colibri-form-label-dark col-sm-9" %>
                    <%= form.check_box :print_sunday_availabilities, class: "col-sm-3 print-option-checkbox" %>
                </div>         
            </div>

            <div class="actions">
                <%= form.submit "セーブする", class: "btn btn-info btn-block" %>
            </div>
        <% end %>
    </div>

</div>

