<div class="modal-body">

    <%= link_to '＋新規ケアプラン', new_patient_care_plan_path(patient), class: 'btn btn-info', remote: true %>

    <table class="table table-hover" style="margin-top:10px">
        <thead>
            <tr>
                <th>ケアマネ</th>
                <th>介護度</th>
                <th>短期目標</th>
            </tr>
        </thead>
        <tbody>
            <% care_plans.each do |care_plan| %>
                <tr class="clickable-row" data-url="<%= edit_patient_care_plan_path(@patient, care_plan) %>">
                    <td><%= care_plan.care_manager.try(:name) %></td>
                    <td><%= kaigo_level_text(care_plan.try(:kaigo_level)) %></td>
                    <td><%= simple_format(care_plan.short_term_goals) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

</div>

<div class="modal-footer">
    <div class="btn btn-colibri-light" data-dismiss="modal">閉じる</div>
</div>
