<%= form_with model: salary_line_item, url: [@nurse, salary_line_item] do |form| %>
  <% if salary_line_item.errors.any? %>
  <div id="error_explanation">
    <h2>エラーが発生しました：</h2>

    <ul>
      <% salary_line_item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <div class="modal-body">

      <div class="form-group">
        <%= form.label :title, "タイトル", class: "colibri-form-label-dark" %>
        <%= form.text_field :title, id: :salary_line_item_title, required: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :service_date, "日付", class: "colibri-form-label-dark" %>
        <%= form.date_select :service_date, id: :salary_line_item_service_date, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :total_wage, "合計額", class: "colibri-form-label-dark" %>
        <%= form.number_field :total_wage, {step: 1, id: :salary_line_item_total_wage, class: "form-control"} %>
      </div>

  </div>

  <div class="modal-footer">
    <div class="actions">
      <% if salary_line_item.new_record? %>
        <div class="btn btn-colibri-light" data-dismiss="modal">閉じる</div>
      <% end %>
      <%= link_to '削除', salary_line_item, method: :delete, data: {confirm: 'この手当が削除されます。'}, class: 'btn btn-danger' unless salary_line_item.new_record? %>
      <%= form.submit 'セーブする', class: 'btn btn-info' %>
    </div>
  </div>


<% end %>
