<div id="edit_user_role" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title"><%= "#{@user.name}の権限を変更する" %></h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

            <div class="modal-body">
                <%= form_for @user, remote: true do |form| %>
                    <% if @user.errors.any? %>
                        <div id="error_explanation">
                            <h2>エラーが発生しました：</h2>

                            <ul>
                                <% @user.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>

                    <div class="form-group">
                        <%= form.label :role, "権限", class: "colibri-form-label" %>
                        <%= form.select :role, options_for_select([['現場従業員（個人シフトのみ）', :nurse_restricted], ['シフト閲覧のみ', :schedule_readonly], ['全体.個別スケジュール', :schedule_restricted], ['全体.個別スケジュール + 給与一部', :schedule_restricted_with_salary_line_items], ['全体.個別.マスタースケジュール + 給与一部', :schedule_admin], ['全体.個別.マスタースケジュール + 給与', :corporation_admin]], @user.role), class: "form-control" %>
                    </div>

                    <div class="actions">
                        <div class='btn btn-info text-white btn-block' id='save-user-role' data-update-role-url="<%= update_user_role_path(@user) %>">確定する</div>
                    </div>
                <% end %>
            </div>
		</div>
	</div>

</div>