<% if request.variant.phone? %>
  <%= render partial: 'plannings/phone_bottom_menu', locals: {view: 'settings', resource_payable_path: planning_nurse_payable_path(@planning, @main_nurse, params: {m: Date.today.in_time_zone('Tokyo').month, y: Date.today.in_time_zone('Tokyo').year})} %>
<% else %>
  <%= render partial: 'plannings/planning_left_menu', locals: {view: 'settings', resource_payable_path: planning_nurse_payable_path(@planning, @main_nurse, params: {m: Date.today.in_time_zone('Tokyo').month, y: Date.today.in_time_zone('Tokyo').year})} %>
<% end %>

<%= render 'plannings/settings_submenu', view: 'users' %>

<div id="menu-backdrop">
</div>

<div id="settings-container">
  <div id="planning-header">
    <div id="detail-planning-title">
      <div id="settings-menu">
        <div id="payable-menu">
          <%= image_tag 'hamburger_icon_white.svg', size: '35', class: 'hamburger_menu'  %>
        </div>
        <p class="planning-activity-module-title setting-title">
          ユーザー管理
        </p>
      </div>
    </div>
  </div>

  <div class="settings-body">
    <%= link_to '+事業所内のメンバーを招待する', new_user_invitation_path, class: 'btn btn-info text-white btn-margin-top', data: {ripple: ""} %>

    <div id="index-table-container" class="table-responsive">
      <table class="table <%= 'table-hover' if current_user.corporation_admin? %>">
        <thead>
          <tr>
            <th style="min-width:100px">名前</th>
            <th style="min-width:120px">メール</th>
            <th style="min-width:300px">権限</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr class="<%= 'user-clickable-row' if current_user.corporation_admin? %>" data-url="<%= edit_user_role_path(user) %>">
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user_role(user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>




  