<div class="colibri-devise-form">
  <p class="colibri-devise-title">パスワードを変換する</p>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "新規パスワード", class: "colibri-form-label" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>桁以上)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control"  %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "新規パスワードの確認", class: "colibri-form-label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"  %>
    </div>

    <div class="actions">
      <%= f.submit "新規パスワードを確定する", class: 'btn btn-info text-white btn-block form-control' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>



