<div class="colibri-devise-form">
	<p class="colibri-devise-title">パスワードの再設定</p>
	
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.label :email, class: "colibri-form-label" %><br />
	    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
	  </div>

	  <div class="actions">
	    <%= f.submit "パスワードの再設定用のメールを送る", class: 'btn btn-info text-white btn-block form-control' %>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>

</div>

