がサービスを削除しました<br/>
<span class="activity-important-fields"><%= "#{activity.parameters[:previous_patient_name]}様" if activity.parameters[:previous_patient_name].present? %></span>
<span class="activity-important-fields"><%= activity.parameters[:previous_nurse_name] if activity.parameters[:previous_nurse_name].present? %></span>
<%= weekday(activity.parameters[:starts_at]) if activity.parameters[:starts_at].present? %><%= activity.parameters[:starts_at].try(:strftime, "%-m月%-d日 %-H:%M") %> ~ <%= activity.parameters[:ends_at].try(:strftime, "%-H:%M") %>
