がサービスを削除しました<br/>
<% if activity.trackable.present? %>
<span class="activity-important-fields"><%= activity.trackable.patient.try(:name) if activity.trackable.patient.present? %><%= '様' if activity.trackable.patient.present? && activity.trackable.patient.name.present?  %></span>
<span class="activity-important-fields"><%= activity.trackable.nurse.try(:name) if activity.trackable.nurse.present? %></span>
<%= activity.trackable.starts_at.strftime("%-m月%-d日#{weekday(activity.trackable.try(:starts_at))} %-H:%M") %> ~ <%= activity.trackable.ends_at.strftime("%-H:%M") %>

<% end %>