<% if activity.trackable.present? %>
	が<span class="activity-important-fields"><%= activity.try(:new_patient) %>様</span>のサービスをアップデートしました。<br/>
	<span class="activity-before-update-state">
		<%= "#{activity.try(:previous_nurse)}" if activity.previous_nurse.present? %>
		<%= weekday(activity.try(:previous_start)) %><%= "#{activity.previous_start.strftime("%d日 %H:%M")} ~ #{activity.previous_end.strftime("%H:%M")}"  if activity.previous_start.present? && activity.previous_end.present? %>
		<%= activity.previous_title if activity.previous_title.present? && activity.previous_title != activity.try(:new_title) %>
	</span><br/>
	<span class="activity-important-fields"><%= "#{activity.try(:new_nurse)}" %></span>
	<%= weekday(activity.try(:new_start)) %><%= activity.try(:new_start).strftime("%d日 %H:%M") %> ~ <%= activity.try(:new_end).strftime("%H:%M") %>
	<%= activity.new_title if activity.new_title.present? && activity.new_title != activity.previous_title %>
	<% if !activity.previous_edit_requested.nil? && !activitiy.new_edit_requested.nil? && activity.previous_edit_requested != activity.new_edit_requested %>
		<%= activity.previous_edit_requested == true ? ">> 調整中リストから出す" :  ">> 調整中リストへ追加"  %> 
	<% end %>
<% else %>
	がその後削除されたサービスをアップデートしました。
<% end %>