がサービスを削除しました。
<% if activity.trackable.present? %>
<span class="activity-important-fields"><%= "#{activity.previous_patient}様" if activity.previous_patient.present? %></span>
<span class="activity-important-fields"><%= activity.try(:previous_nurse) %></span>
<%= weekday(activity.try(:previous_anchor) ) %><%= activity.try(:previous_start).strftime("%H:%M") %> ~ <%= activity.try(:previous_end).strftime("%H:%M") %>

<% end %>