<% if activity.trackable.present? %>
	が<span class="activity-important-fields"><%= activity.try(:patient_name) %>様</span>のサービスを追加しました(繰り返し)<br/>
	<span class="activity-important-fields"><%= activity.try(:nurse_name) %></span>
	<%= activity.try(:new_anchor).strftime("%-m月%-d日#{weekday(activity.try(:new_anchor))}") %><%= activity.try(:new_start).strftime("開始 %-H:%M") %> ~ <%= activity.try(:new_end).strftime("%H:%M") %>
<% else %>
	がその後削除されたサービスを追加しました（繰り返し）
<% end %>