<% if activity.trackable %>
	が<span class="activity-important-fields"><%= activity.try(:new_patient) %>様</span>のサービスを追加しました。<br/>
	<span class="activity-important-fields"><%= activity.try(:new_nurse) %></span>
	<%= weekday(activity.try(:new_anchor)) %><%= activity.try(:new_start).strftime("%H:%M") %> ~ <%= activity.try(:new_end).strftime("%H:%M") %>
<% else %>
	がその後削除されたサービスを追加しました。
<% end %>