<% if activity.trackable %>
	が<span class="activity-important-fields"><%= activity.trackable.patient.name %>様</span>のサービスを追加しました。<br/>
	<span class="activity-important-fields"><%= activity.trackable.nurse.name %></span><br/>
	<%= weekday(activity.trackable.anchor) %><%= activity.trackable.start.strftime("%H:%M") %> ~ <%= activity.trackable.end.strftime("%H:%M") %>
<% else %>
	がその後削除されたサービスを追加しました。
<% end %>