がサービスを削除しました（繰り返し）<br/>
<span class="activity-important-fields"><%= "#{activity.parameters[:patient_name]}様" if activity.parameters[:patient_name].present? %></span>
<span class="activity-important-fields"><%= activity.parameters[:nurse_name] %></span>
<%= weekday(activity.parameters[:anchor]) if activity.parameters[:anchor] %><%= activity.parameters[:starts_at].try(:strftime, "%-H:%M") %> ~ <%= activity.parameters[:ends_at].try(:strftime, "%-H:%M") %>
<%= activity.parameters[:termination_date].try(:strftime, "%-m月%-d日") %>以降