<% if activity.trackable.present? %>
    <% if activity.previous_cancelled == false %>
        が<span class="activity-important-fields"><%= activity.trackable.patient.try(:name) %>様</span>のサービスをキャンセルしました<br/>
        <span class="activity-important-fields"><%= "#{activity.trackable.nurse.try(:name)   }"  %></span>
        <%= weekday(activity.trackable.anchor) %><%= activity.trackable.starts_at.strftime("%-H:%M") %> ~ <%= activity.trackable.ends_at.strftime("%-H:%M") %>
    <% else %>
        が<span class="activity-important-fields"><%= activity.trackable.patient.try(:name) %>様</span>のサービスのキャンセルを解除しました<br/>
        <span class="activity-important-fields"><%= "#{activity.trackable.nurse.try(:name)   }"  %></span>
        <%= weekday(activity.trackable.anchor) %><%= activity.trackable.starts_at.strftime("%-H:%M") %> ~ <%= activity.trackable.ends_at.strftime("%-H:%M") %>
    <% end %>
<% else %>
	がその後削除されたサービスをキャンセルしました
<% end %>