<% if activity.trackable %>
	が<span class="activity-important-fields"><%= activity.trackable.patient.try(:name) %>様</span>のサービスをアップデートしました。<br/>
	<span class="activity-before-update-state">
		<%= "#{activity.try(:previous_nurse)   }" %>
		<%= weekday(activity.try(:previous_anchor)) %><%= activity.previous_start.strftime("%H:%M") if activity.previous_start.present? %><%= "~" if activity.previous_start.present? && activity.previous_end.present? %> <%= activity.previous_end.strftime("%H:%M") if activity.previous_end.present? %> 
		<%= ">>" if activity.previous_nurse.present? %>
			
	</span><br/>
	<span class="activity-important-fields"><%= "#{activity.trackable.nurse.try(:name)   }"  %></span>
	<%= weekday(activity.trackable.anchor) %><%= activity.trackable.start.strftime("%H:%M") %> ~ <%= activity.trackable.end.strftime("%H:%M") %>
<% else %>
	がその後削除されたサービスをアップデートしました。
<% end %>