<div class="section-title-container" style="padding-top:85px">
    <h1 class="colibri-section-title">実施記録</h1>
</div>

<div class="colibri-home-subsection white-background">
    <h2 class="colibri-sm-subsection-title">実施記録の集計作業0へ</h2>
    <div class="home-subsection-content-container aligned-left-home">
        <div class="home-subsection-image-container flex-1 add-padding-left">
            <%= image_tag "right_interface.png", width: '300px' %>
        </div>
        <div class="home-subsection-content flex-1 add-padding-right">
            <p>
                月末や月数回に分けて従業員ごとに収集した実施記録書を、サ責や管理者が、利用者順に集計しなおす作業が０になります。
                月末に行う作業は、実施予定の内容と、実際の実施記録に差異が生じたところだけ、ハイライトしてあるので、それをチェックするだけです。　
            </p>
        </div>
    </div>
</div>

<div class="colibri-home-subsection white-background">
    <h2 class="colibri-sm-subsection-title align-text-right-home">監査対応</h2>
    <div class="home-subsection-content-container aligned-right-home">
        <div class="home-subsection-image-container flex-1 add-padding-right">
            <%= image_tag "patient_check.png", width: '100%', class: 'shadowed-img' %>
        </div>
        <div class="home-subsection-content flex-1 add-padding-left">
            <p>訪問介護計画書の内容と実施記録内容にズレが無いかチェックされます。</p>
            <p>Colibriでは訪問介護計画書が作成でき、その内容と現場従業員が入力する実施記録書は連動しています。従って、従業員の入力ミスや漏れを未然に防ぎます。</p>
        </div>
    </div>
</div>

<div class="colibri-home-subsection white-background">
    <h2 class="colibri-sm-subsection-title">加算対応</h2>
    <div class="home-subsection-content-container aligned-left-home">
        <div class="home-subsection-image-container flex-1 add-padding-left">
            <%= image_tag "right_interface.png", width: '300px' %>
        </div>
        <div class="home-subsection-content flex-1 add-padding-right">
            特定事業所加算取得を検討される場合、サービスごとに事前申し送り事項の共有や、サービス後の報告が必要です。
            未読文章や未記入の記録が、一覧で把握できるため業務が楽になりかつ、ストレスなく要件を満たすことが出来ます。
        </div>
    </div>
</div>


<div class="colibri-home-subsection light-blue-background-hp">
    <div class="section-title-container" style="padding:10px;margin-bottom:40px">
        <h1 class="colibri-section-title">給与管理</h1>
    </div>
    <h2 class="colibri-sm-subsection-title  align-text-right-home">独自の給与計算方法</h2>
    <div class="home-subsection-content-container aligned-right-home">
        <div class="home-subsection-image-container flex-1 add-padding-right">
            <%= image_tag "payment_calculation.png", width: '100%', class: 'shadowed-img' %>
        </div>
        <div class="home-subsection-content flex-1 add-padding-left">
            <p>従業員ごとに異なる時給や、サービスごとに変化する単価に対応します。</p>
            <p>身体と生活の内訳も、自動計算されるので、身体生活で異なる単価設定も可能です。</p>
            <p>当日キャンセルの場合の給与支給や請求方法も指定可能です。</p>
            <p>支援系サービスや障害系サービス、医療保険サービス、自費サービスであっても計算可能ですし、担当者会議や社内ミーティングなど、サービス以外の業務であっても、もちろん計算できます。</p>
        </div>
    </div>
</div>

<div class="colibri-home-subsection light-blue-background-hp">
    <h2 class="colibri-sm-subsection-title">手当ルールを１から設定可能</h2>
    <div class="home-subsection-content-container aligned-left-home">
        <div class="home-subsection-image-container flex-1 add-padding-left">
            <%= image_tag "bonus_index.png", width: '100%', class: 'shadowed-img' %>
        </div>
        <div class="home-subsection-content flex-1 add-padding-right">
            <p>多様な手当を自由に作成できます。</p>
            <p>サービス間の移動が欠かせない訪問系業務において、移動手当の計算方法は各事業所ごとに工夫されているはずです。
            単純に移動回数に応じた支給、移動時間の長さに応じた支給、直行直帰の際には、自宅への往復は支給無しなど、柔軟性のある移動手当が作成できます。</p>
            <p>また、これまでの勤務日数や勤務時間に応じたキャリアアップ系手当や、その月の規定時間・回数以上の場合発生する歩合系の手当も、もちろん可能です。
        </div>
    </div>
</div>

<div class="colibri-home-subsection light-blue-background-hp">
    <h2 class="colibri-sm-subsection-title align-text-right-home">様々な給与系データ出力</h2>
    <div class="home-subsection-content-container aligned-right-home">
        <div class="home-subsection-image-container flex-1 add-padding-right">
            <%= image_tag "team_performance.png", width: '100%', class: 'shadowed-img' %>
        </div>
        <div class="home-subsection-content flex-1 add-padding-left">
            <p>これまでの給与推移データや、勤務時間や実施サービスに対しての賃金が簡単に比較できるため、同一時間勤務の従業員が、実施サービスの違いにより、賃金に差が出るなど、不要な従業員満足度の低下を未然に防ぐなど、様々な気付きがあります。</p>
            <p>その他、各種給与明細や、全データのエクセル出力が可能なため、会計ソフトや人事系ソフトへそのまま利用できます。</p>
            <p>訪問系業務かつ非常勤従業員が多い業界において、給与計算方法や手当の種類は極めて多様ですが、皆様が自由にストレスなく給与計算業務を終了できる為にサポートをします。</p>
        </div>
    </div>
</div>

<div class="section-title-container" style="padding-top:80px">
    <h1 class="colibri-section-title">シフト管理</h1>
</div>

<div class="colibri-home-subsection white-background">
    <h2 class="colibri-sm-subsection-title">訪問漏れ防止</h2>
    <div class="home-subsection-content-container aligned-left-home">
        <div class="home-subsection-image-container flex-1 add-padding-left">
            <%= image_tag "send_reminder.png", width: '100%', class: 'shadowed-img' %>
        </div>
        <div class="home-subsection-content flex-1 add-padding-right">
            <p>
                訪問漏れは、利用者様に迷惑をかけ、クレーム対応する時間と精神的な大きな負担がかかり、また法人に対する各所からの信頼が損なわれる致命的なミスです。
                訪問漏れを防ぐ方法は、シンプルです。
                まずは正確なシフトをリアルタイムで共有し、常に確認し、ミスをしない意識を醸成すること。その補足として、事前通知を送ることです。
            </p>

            <p>
                事業所と訪問従業員が必ず同一のシフトを見ている事が、重要になります。
                基本的なシフトは共有していても、変更やスポットサービスはメールや電話で共有している場合、現場従業員にシフト管理を任せることになります。
            </p>

            <p>
                しばしば変更連絡の後、訪問漏れが発生した場合には現場従業員に原因を求めることがあります。
                しかし、日常的に様々なコミュニケーションが生じる現場において、記入漏れ等生じることがむしろ自然だと考えられます。
                従って、リアルタイムでミスないシフトを共有できる方法を考えず、”自前でシフト管理”させる事業所側にも責務があると考えるのが打倒です。
            </p>
        </div>
    </div>
</div>

<div class="colibri-home-subsection white-background">
    <h2 class="colibri-sm-subsection-title align-text-right-home">シフト作成と調整、共有にかかる負担を軽減</h2>
    <div class="home-subsection-content-container aligned-right-home">
        <div class="home-subsection-image-container flex-1 add-padding-right">
            <%= image_tag "right_interface.png", width: '300px' %>
        </div>
        <div class="home-subsection-content flex-1 add-padding-left">
            <p>
                日常業務の約半分がシフト関連業務となっています。
                複数の従業員が大人数の利用者様へ訪問するため、シフト情報の簡単な作成、調整、共有は訪問系業務の要になります。
            </p>

            <p>新規案件の依頼が来たが、担当者が不在の為、可能性があるかどうかという簡単な返答が出来ない。</p>

            <p>調整業務が特定従業員に偏るため、その従業員の業務負荷が高まるとともに、事業所としても依存度が高まり、有事の際には対応できる環境にない。</p>

            <p>出先で、急遽他の従業員に連絡する必要があるが、今何をしていて、どこにいるのかをすぐに把握できない。</p>

            <p>このような日々の細かな業務のひずみを解消します。</p>
        </div>
    </div>
</div>

<div class="colibri-home-subsection white-background">
    <h2 class="colibri-sm-subsection-title">多様なレイアウト</h2>
    <div class="home-subsection-content-container aligned-left-home">
        <div class="home-subsection-image-container flex-1 add-padding-left">
            <%= image_tag "right_interface.png", width: '300px' %>
        </div>
        <div class="home-subsection-content flex-1 add-padding-right">
            <p>シフトは従業員の役職や使用目的によって、必要なレイアウトが大きく変化します。</p>
            <p>
                現場従業員であれば、自身のシフトだけで事足りることもあります。
                サ責であれば従業員全員のシフトが必要に。
            </p>

            <p>また、通常は週間シフトを見ていても、一月の実績を見る場合には、月レイアウトを利用しますし、複数事業所の場合には事業所ごとのレイアウトが必要になるはずです。</p>
        </div>
    </div>
</div>

<%= render 'layouts/footer' %>