<div class="colibri-home-subsection white-background" style="display:flex">
    <div style="width:45%;padding-top:35px">
        <h2 class="colibri-home-presentation-title">
            Colibriはシフトカレンダーを利用して、皆様の本当の痛みを解決するパートナーです
        </h2>
    </div>
    <div id="presentation-images-banner" style="width:55%">
        <%= image_tag('imac_ipad.png', width: '100%', float: 'right', display: 'inline-block') %>
    </div>
</div>


<div class="colibri-home-subsection white-background">
    <h2 class="colibri-home-subsection-title ">請求ではなくシフト管理を最優先した設計</h2>
    <div class="home-subsection-content-container aligned-left-home">
        <div class="home-subsection-image-container">
            <%= image_tag('all_in_one.png', width: '70%', border: '2px solid #aaa', class: 'home-image') %>
        </div>
        <div class="home-subsection-content">
            シフトは極めてコアな日常業務です。サービス担当責任者は計画書の作成など間接的にシフトを考える時間を除いても約24%*の時間を費やします。ヘルパー業務(約30%)と比較しても莫大な時間を使っています。「シフトで予定を確認し、サービス後実施内容に修正する」その時点で全て（請求、給与計算、実施記録、経営状態の把握）の業務が終わるソフトウェアを作り上げます。 
        </div>
    </div>
    <div style="font-size:0.7em;max-width:50%">
        *厚生労働省：『介護給付費分科会資料:サービス提供責任者の業務実態』、『訪問介護におけるサービス提供責任者のあり方に関する調査研究事業報告書』を参照
    </div>
</div>
<div class="colibri-home-subsection light-blue-background">
    <h2 class="colibri-home-subsection-title align-text-right-home">人間的に自然なレイアウト</h2>
    <div class="home-subsection-content-container">
        <div class="home-subsection-image-container">
            <%= image_tag('ipad_horizontal_inner.png', width: '85%', border: '2px solid #aaa', class: 'home-image') %>
        </div>
        <div class="home-subsection-content align-text-right-home">
            導入するための勉強が必要ないほど簡単で自然な設計をします。見たい情報を利用者軸や従業員軸、日週月間を流れるように操作しながら、確認できます。サービス時間や訪問従業員の頻回な変更もワンクリックで完了です。
        </div>
    </div>
</div>
<div class="colibri-home-subsection white-background">
    <h2 class="colibri-home-subsection-title ">スマートなシフトへ</h2>
    <div class="home-subsection-content-container aligned-left-home">
        <div class="home-subsection-image-container">
            <%= image_tag('smart_schedule.png', width: '80%', border: '2px solid #aaa', class: 'home-image') %>
        </div>
        <div class="home-subsection-content">
            調整中サービスと調整可能な時間、過去の実績データ、身体生活比率、相性、住所やGPS機能を基に、シフト調整に対して示唆を出すことで、サ責や管理者の負担を大幅に削減し、訪問従業員の満足度を向上させます。
        </div>
    </div>
</div>
<div class="colibri-home-subsection light-blue-background">
    <h2 class="colibri-home-subsection-title align-text-right-home">給与計算</h2>
    <div class="home-subsection-content-container">
        <div class="home-subsection-image-container">
            <%= image_tag('imac_payable.png', width: '80%', border: '2px solid #aaa', class: 'home-image') %>
        </div>
        <div class="home-subsection-content align-text-right-home">
            Colibriでは給与計算についての全てのルールから作成できます。シフトをアナログやエクセルで管理する際の最大の欠点は、実績に紐づかず給与計算ができない点です。歩合や移動手当、処遇改善など各社様々なルールに基づく給与計算を行うため、一般的な請求ソフトでは対応できないケースも多く、ここだけ自前で計算していませんか。
        </div>
    </div>
</div>
<div class="colibri-home-subsection white-background">
    <h2 class="colibri-home-subsection-title ">必要最低限の情報表示・操作権限</h2>
    <div class="home-subsection-content-container aligned-left-home">
        <div class="home-subsection-image-container">
            <%= image_tag('right_interface.png', width: '70%', border: '2px solid #aaa', class: 'home-image') %>
        </div>
        <div class="home-subsection-content">
            現場職員であれば、個人のシフトのみを表示。サ責であれば、全従業員を包括的に理解するための情報（例：身体生活の割合や勤務時間等）。経営者であれば、事業所別の実績データはもちろん、各利用者様、従業員に対して詳細な労務記録が分かります。
        </div>
    </div>
</div>
<div class="colibri-home-subsection light-blue-background">
    <h2 class="colibri-home-subsection-title align-text-right-home">データ保存のセキュリティ</h2>
    <div class="home-subsection-content-container">
        <div class="home-subsection-image-container">
            <%= image_tag('security.png', width: '90%', border: '2px solid #aaa', class: 'home-image') %>
        </div>
        <div class="home-subsection-content align-text-right-home">
            Colibri内の行動履歴は全て記録されます。誰がいつなにをどのように変更したか。を簡単に検索できます。データサーバーは複数に分け、データはSSLにより暗号化され送受信されます。
        </div>
    </div>
</div>

<div class='colibri-merits-subsection middle-blue-background align-text-center'>
    <h2 class="colibri-home-subsection-title" style="margin-bottom:70px">Colibri行動指針</h2>
    <div style="margin-bottom:40px">
        <p style="margin-bottom:30px"><span style="font-weight:bold">「痛みはあるか」</span> 皆様の業務上の課題を噛み砕いて理解し、より痛みの激しいものから解決していきます。</p>
        <p style="margin-bottom:30px"><span style="font-weight:bold">「時間を生むか」</span> 全ての判断軸は、その機能によって皆様の「時間」を生み出せるかどうかです。</p>
        <p style="margin-bottom:30px"><span style="font-weight:bold">「本当に必要か」</span> 既存の業務慣習を素人目線から眺め、皆様と積極的に議論し、変化させます。</p>
        <p style="margin-bottom:30px"><span style="font-weight:bold">「シンプルであるか」</span> 不要な機能は削除し、使いやすさに集中します。</p>
        <p style="margin-bottom:30px"><span style="font-weight:bold">「圧倒的か」</span> 業界が覆るほどに、気持良く使いやすいものを追求していくため、完成はありません。</p>
    </div>
</div>

<div class="middle-blue-background contact-us-button-container">
    <%= link_to '無料体験を申請する', new_contact_form_path, class:'btn btn-info btn-lg text-white' %>
</div>

<div id='about-colibri' class='white-background home-page-text-box'>
    <h2 class="colibri-home-subsection-title align-text-center">Colibriについて</h2>
    <div>
        <span style="margin-left:45px"></span>在宅介護経験から介護に興味を持った大学生二人が、100以上の事業所の方々に𠮟咤激励を頂戴し、失敗を重ねながら、本気で開発しているソフトウェアです。<br/><br/>

        <span style="margin-left:45px"></span>規模の大小の差異なく利用者様本意の優良企業を手助けすることが、ひいては社会の為になるだろうと私たちは考えております。<br/><br/>

        <span style="margin-left:45px"></span>その方法の一つがITであり、ITは企業の根幹である売上増加・コスト削減に必要な「時間」を生み出すことに、とても優れています。<br/><br/>

        <span style="margin-left:45px"></span>しかしながら、IT業界側がリアルな介護業務について勉強不足である為に、介護ITの議論は、請求業務ソフトかIoT・AIの両極端に終始していると感じています。ところが、日常の業務は請求でもなければ、最先端のセンサーやロボットも不要だったりします。<br/><br/>

        <span style="margin-left:45px"></span>2025年以降を見据えて、皆様がわくわくするほど「時間」を生み出すことができるソフトウェアを追求します。<br/><br/>
    </div>

</div>

<div class='colibri-about-us white-background'>

    <div class='founders-container'>
        <div class='colibri-founder'>
            <div class='colibri-self-photo-container'><%= image_tag('kinj.png', width: '100%' ) %></div>
            <div class='founder-bio'>
                <p class='founder-bio-important'>鎌原欣司</p>
                <p class='founder-bio-important'>慶應義塾大学大学院</p>
                <p>介護業界の為に、何ができるかを常に考えていたら、寝言で介護の話をし始めている。</p>
            </div>
        </div>
        <div class='colibri-founder'>
            <div class='colibri-self-photo-container'><%= image_tag('rem.png', width: '100%') %></div>
            <div class='founder-bio'>
                <p class='founder-bio-important'>ダステレミ</p>
                <p class='founder-bio-important'>慶應義塾大学大学院</p>
                <p>92歳の祖父と大勢の高齢者を助けている杖以上に役に立つ介護ソフトを開発したいと考えている。</p>
            </div>
        </div>
    </div>
</div>

<div class="white-background contact-us-button-container">
    <%= link_to 'お問い合わせは二人が対応します！', new_contact_form_path, class:'btn btn-info btn-lg text-white' %>
</div>



<%= render 'layouts/footer' %>