<div class="white-background" id="top-subsection" style="display:flex">
    <div id="presentation-text">
        <h2 class="colibri-home-presentation-title">
            スマートな組織管理で、働きやすい事業所へ。
        </h2>
    </div>
    <div id="presentation-images-banner" >
        <%= image_tag('imac_ipad.png', width: '90%', float: 'right', display: 'inline-block', id:'logo-img') %>
    </div>
</div>

<div class="colibri-home-subsection white-background">
    <div id="colibri-issues-head">
        こんな経験をしたことはありませんか？
    </div>
    <div id="colibri-issues">
        <div class="issue-container">
            <div>
                <div class="issue-title">
                    実施記録
                </div>
                <div class="issue-body">
                    <p>毎月末や月数回、従業員ごとに収集した記録書を利用者ごとへ並び変える作業が大変</p>
                    <p>記録書と訪問介護計画書に基づく予定の差異チェック作業に時間が大変</p>
                    <p>月末のサービス分記録書のみ、遅れて回収する</p>
                </div>
            </div>
            <div class="issue-footer">
                <button class="btn btn-info text-white btn-centered">
                    詳しくはこちら
                </button>
            </div>
        </div>
        <div class="issue-container">
            <div class="issue-title">
                給与計算
            </div>
            <div class="issue-body">
                <p>事業所独自の手当や給与設定があり、請求ソフトで計算できず手間がかかっている</p>
                <p>給与計算のために、請求ソフトとExcelで実績入力し、二度手間になっている</p>
                <p>マクロなど色々な工夫をしているが、特定従業員に業務が依存している</p>
            </div>
            <div class="issue-footer">
                <button class="btn btn-info text-white btn-centered">
                    詳しくはこちら
                </button>
            </div>
        </div>
        <div class="issue-container">
            <div class="issue-title">
                シフト
            </div>
            <div class="issue-body">
                <p>従業員のサービス行き忘れで利用者様からクレームがきた</p>
                <p>急なシフト変更に対して、適切な従業員の選抜をすぐに把握できなかった</p>
                <p>効率的なルートになっているか、平等なシフトかどうか不安</p>
            </div>
            <div class="issue-footer">
                <button class="btn btn-info text-white btn-centered">
                    詳しくはこちら
                </button>
            </div>
        </div>
    </div>
</div>

<div id="colibri-purpose" class="colibri-home-subsection light-blue-background-hp">
    <div id="colibri-purpose-title">
        Colibriの目標
    </div>
    <div id="colibri-purpose-body" style="height:150px">

    </div>
</div>


<div class="colibri-home-subsection white-background">
    <h2 class="colibri-home-subsection-title add-margin-left-md">実施記録の入力.収集をシンプルに</h2>
    <div class="home-subsection-content-container aligned-left-home">
        <div class="home-subsection-image-container">
            <%= image_tag "reports_iphone.jpg", width: '120px', class: 'shadowed-img' %>
        </div>
        <div class="home-subsection-content margin-md">
            介護・医療保険制度に基ずくサービスであるため、逐次、細かな記録を残す必要があります。
            「時間がかかるけど、やらなきゃいけないからやる」業務を「素早くできる、大事な情報を共有する」クリティカルな作業に変えます。	
        </div>
    </div>
    <div class="home-subsection-detailed-content">
        <div class="detailed-content-container">
            <div class="detailed-content-title">
                <span>
                    <%= image_tag "clock_pink.svg", width: '35px' %>
                </span>
                現場従業員
            </div>
            <div class="detailed-content-body">
                サービス前に手順書や他の従業員が書いた大事な申し送り事項が通知され、安心して訪問できます。
                サービス後には自前にチェック済みの実施記録を確認し、実施記録作業が「申し送り事項」の入力のみで終了です。
                これも音声入力であっという間に終わります。
            </div>
        </div>
        <div class="detailed-content-container">
            <div class="detailed-content-title">
                <span>
                    <%= image_tag "checklist_pink.svg", width: '35px' %>
                </span>
                サ責・管理者
            </div>
            <div class="detailed-content-body">
                訪問介護計画書と実施記録の連動により、チェックされる部分のズレを未然に防ぎ、安心して監査対応ができます。
                実施記録の書き忘れや変更箇所が簡単に確認できるので、日々の小さな異変にすぐに気付けます。
                また、月末まとめてや月数回に分けて収集された記録用紙も、多様な軸でソートし、サービス予定と実績の確認時間が少なくとも１０分の１以下になります。
            </div>
        </div>
        <div class="detailed-content-container">
            <div class="detailed-content-title">
                <span>
                    <%= image_tag "chart_pink.svg", width: '35px' %>
                </span>
                経営者
            </div>
            <div class="detailed-content-body">
                現場の従業員の仕事を楽にし、サ責・管理者の事務作業時間と残業時間を減らし、サービス時間増加や従業員満足度向上のために使えます。
                また、特定事業所加算の要件を満たすツールとして使え、従業員の給与や新たな施策への資金に反映できます。
            </div>
        </div>
    </div>
</div>

<div class="colibri-home-subsection light-blue-background-hp">
    <h2 class="colibri-home-subsection-title add-margin-left-md">モチベーションが上がる給与.手当計算</h2>
    <div class="home-subsection-content-container aligned-left-home">
        <div class="home-subsection-image-container">
            <%= image_tag "individual_payment.png", width: '400px', class: 'shadowed-img' %>
        </div>
        <div class="home-subsection-content margin-md">
            多くの事業所は請求ソフトの給与計算機能が使えずに、自前エクセルで大勢の従業員の給与と手当を計算しています。
            しかし、エクセルの場合、実績打ち込みと出力の手間、一部の人しか操作できないなど多くの不便とリスクを抱えています。
            エクセルで出来てソフトで出来ない計算はありません。皆様が考えた従業員のモチベーションを最大化する手当方式を、我々がソフトに組み込みます。
        </div>
    </div>
    <div class="home-subsection-detailed-content">
        <div class="detailed-content-container">
            <div class="detailed-content-title">
                <span>
                    <%= image_tag "cup_pink.svg", width: '35px' %>
                </span>
                独自の手当に”全て”対応
            </div>
            <div class="detailed-content-body">
                移動手当やスキルや資格別手当、サービスごとに変化する手当など、自由に作成できます。
                そしてそれは、誰でもできるほど簡単な設計なので、一部従業員に依存した働き方から脱却できます。
            </div>
        </div>
        <div class="detailed-content-container">
            <div class="detailed-content-title">
                <span>
                    <%= image_tag "cup_pink.svg", width: '35px' %>
                </span>
                勤務時間・日数・年数に応じた給与設定
            </div>
            <div class="detailed-content-body">
                月別の稼働時間や、勤続日数に応じた歩合制の給与計算ができ、勤務年数などによるキャリア昇進を反映したベース賃金の変更にも対応します。
            </div>
        </div>
        <div class="detailed-content-container">
            <div class="detailed-content-image">
            </div>
            <div class="detailed-content-title">
                給付サービス”以外”の給与発生業務に対応
            </div>
            <div class="detailed-content-body">
                支援系、障害系、医療保険サービス、自費サービスであっても計算可能。
                担当者会議や研修はもちろん、社内ミーティングだって給与支払い登録できます。
            </div>
        </div>
    </div>
</div>


<div class="colibri-home-subsection white-background">
    <h2 class="colibri-home-subsection-title add-margin-left-md">シフトを中心にスマートな組織管理へ</h2>
    <div class="home-subsection-content-container aligned-left-home">
        <div class="home-subsection-image-container">
            <%= image_tag "ipad_team_calendar.png", width: '400px', class: 'shadowed-img' %>
        </div>
        <div class="home-subsection-content margin-md">
            シフトの調整や編集、従業員の希望も考えながら利用者様にとって最適な従業員を効率的なルートで配置します。
            サービス漏れがないようにリアルタイムのシフトを確認でき、リマインダーも送れます。
            Colibriは積極的に堅実で働きやすい訪問シフトの作成と共有をお手伝いします。
        </div>
    </div>
    <div class="home-subsection-detailed-content">
        <div class="detailed-content-container">
            <div class="detailed-content-title">
                <span>
                    <%= image_tag "refresh_pink.svg", width: '35px' %>
                </span>
                急な調整や緊急時対応を力強くサポート
            </div>
            <div class="detailed-content-body">
                急な依頼の電話があり、指定された時間で、女性で、特定スキルを持ち、同行済みで、勤務可能なエリアの従業員を瞬時に言い当てられますか？
                連絡を受けた人が担当者（サ責、管理者など）ではない場合も、スキル、エリア、過去のサービス履歴（同行済み、出禁）等の根拠を基に、おおまかな回答ができます。
                また、有事の際に、誰でも対応できる為に、日頃から一部従業員に依存したシフト管理リスクを最小限にしておく必要があります。
            </div>
        </div>
        <div class="detailed-content-container">
            <div class="detailed-content-title">
                <span>
                    <%= image_tag "bolt_pink.svg", width: '35px' %>
                </span>
                リアルタイム共有
            </div>
            <div class="detailed-content-body">
                急なシフト変更も、従業員は常に手元でシフト確認ができ、通知もできます。
                常に最新シフトが手元にあるので、スポットサービスやイレギュラーな案件が取りやすくなります。
                サービスキャンセルが多い事業所も、空時間を組織的に把握し、従業員全員で案件の過不足を把握する意識が生まれます。
            </div>
        </div>
        <div class="detailed-content-container">
            <div class="detailed-content-title">
                <span>
                    <%= image_tag "bell_pink.svg", width: '35px' %>
                </span>
                行き忘れ防止リマインダー
            </div>
            <div class="detailed-content-body">
                従業員のサービス行き忘れによるクレームは必ず防ぎたい。
                サービスの前の日に一日分のシフトの詳細をメールで送り、確実にシフトの最新情報を現場従業員に伝えましょう。
                GPSデータによるサービス実施確認機能を開発中です。
            </div>
        </div>
    </div>
</div>



<div id='about-colibri' class='white-background home-page-text-box'>
    <h2 class="colibri-home-subsection-title align-text-center">Colibriについて</h2>
    <div>
        <span style="margin-left:45px"></span>在宅介護経験から介護に興味を持った大学生二人が、100以上の事業所の方々に𠮟咤激励を頂戴し、失敗を重ねながら、本気で開発しているソフトウェアです。<br/><br/>

        <span style="margin-left:45px"></span>規模の大小の差異なく利用者様本意の優良企業を手助けすることが、ひいては社会の為になるだろうと私たちは考えております。<br/><br/>

        <span style="margin-left:45px"></span>その方法の一つがITであり、ITは企業の根幹である売上増加・コスト削減に必要な「時間」を生み出すことに、とても優れています。<br/><br/>

        <span style="margin-left:45px"></span>しかしながら、IT業界側がリアルな介護業務について勉強不足である為に、介護ITの議論は、請求業務ソフトかIoT・AIの両極端に終始していると感じています。ところが、日常の業務は請求でもなければ、最先端のセンサーやロボットも不要だったりします。<br/><br/>

        <span style="margin-left:45px"></span>2025年以降を見据えて、皆様がわくわくするほど「時間」を生み出すことができるソフトウェアを追求します。<br/><br/>
    </div>

</div>

<div class='colibri-about-us white-background'>

    <div class='founders-container'>
        <div class='colibri-founder'>
            <div class='colibri-self-photo-container'><%= image_tag('kinj.png', width: '100%' ) %></div>
            <div class='founder-bio'>
                <p class='founder-bio-important'>鎌原欣司</p>
                <p class='founder-bio-important'>慶應義塾大学大学院</p>
                <p>介護業界の為に、何ができるかを常に考えていたら、寝言で介護の話をし始めている。</p>
            </div>
        </div>
        <div class='colibri-founder'>
            <div class='colibri-self-photo-container'><%= image_tag('rem.png', width: '100%') %></div>
            <div class='founder-bio'>
                <p class='founder-bio-important'>ダステレミ</p>
                <p class='founder-bio-important'>慶應義塾大学大学院</p>
                <p>92歳の祖父と大勢の高齢者を助けている杖以上に役に立つ介護ソフトを開発したいと考えている。</p>
            </div>
        </div>
    </div>
</div>

<div class="white-background contact-us-button-container">
    <%= link_to 'お問い合わせは二人が対応します！', new_contact_form_path, class:'btn btn-info btn-lg text-white' %>
</div>



<%= render 'layouts/footer' %>