<div class="colibri-home-subsection white-background" style="display:flex">
    <div style="width:45%;padding-top:35px">
        <h2 class="colibri-home-presentation-title">
            Colibriはシフトカレンダーを利用して、皆様の本当の痛みを解決するパートナーです。
        </h2>
    </div>
    <div id="presentation-images-banner" style="width:55%">
        <%= image_tag('imac_ipad.png', width: '100%', float: 'right', display: 'inline-block') %>
    </div>
</div>


<div class='colibri-merits-subsection align-text-center home-page-text-box'>
    <div style="color:#393e46">
        <p>シフト調整業務を軸とした2025年以降を見据えた業務ソフトウェア</p>
        <p>ほぼすべての看護や介護ソフトウェアは、請求業務を中心に設計されています。</p>
        <p>実施サービス業務を除き、業務の中心を占めている作業はシフト業務のはずです。つまり、誰がどこでどの利用者様に何をしているかを考え計画し、進捗を把握する業務です。</p>
        <p>この業務を中心に設計されていないソフトウェアを利用すると、紙やエクセル、ホワイトボードでシフト業務を管理せざるを得なくなります。</p>
        <p>この結果、請求業務はもちろん、給与計算や経営データ抽出、従業員の勤務時間や労働環境の把握などのために、データをソフトウェアに再入力しなくてはいけません。</p>
        <p>日常的なシフト業務を行うことで、全て（請求、給与計算、実施記録、経営管理の把握）を完結させるソフトウェアを作り上げます。</p>
    </div>
</div>

<div class="colibri-home-subsection white-background">
    <h2 class="colibri-home-subsection-title ">彼紙とはお別れを</h2>
    <div class="home-subsection-content-container aligned-left-home">
        <div class="home-subsection-image-container">
            <%= image_tag('bin.jpg', width: '50%', border: '2px solid #aaa', class: 'home-image') %>
        </div>
        <div class="home-subsection-content">
            紙での情報共有は、不便です。紙はあなたに会い来てくれません。安全性も最悪です。火にも水にも泥棒にも隙間風でさえ、紛失の原因になります。
        </div>
    </div>
</div>
<div class="colibri-home-subsection light-blue-background">
    <h2 class="colibri-home-subsection-title align-text-right-home">目がチカチカする111111111提供表</h2>
    <div class="home-subsection-content-container">
        <div class="home-subsection-image-container">
            <%= image_tag('teikyo.jpg', width: '60%', border: '2px solid #aaa', class: 'home-image') %>
        </div>
        <div class="home-subsection-content align-text-right-home">
            提供表を見ながら1を入力する作業はありません。<br/><br/>
            日々のカレンダーの調整だけですべての仕事が終わります。
        </div>
    </div>
</div>
<div class="colibri-home-subsection white-background">
    <h2 class="colibri-home-subsection-title ">マクロ迷宮エクセルによる効率化</h2>
    <div class="home-subsection-content-container aligned-left-home">
        <div class="home-subsection-image-container">
            <%= image_tag('yoda.jpg', width: '60%', border: '2px solid #aaa', class: 'home-image') %>
        </div>
        <div class="home-subsection-content">
            「エクセルマスターしか、マクロ操作できません！」マクロは危険です。編集履歴は無い上に、驚くほど遅く、よくフリーズし、データも悲しいほど消えます。<br/><br/>
            ただカレンダーを調整するだけです。
        </div>
    </div>
</div>
<div class="colibri-home-subsection light-blue-background">
    <h2 class="colibri-home-subsection-title align-text-right-home">誰がこの付箋貼ったの？</h2>
    <div class="home-subsection-content-container">
        <div class="home-subsection-image-container">
            <%= image_tag('postit.jpg', width: '50%', border: '2px solid #aaa', class: 'home-image') %>
        </div>
        <div class="home-subsection-content align-text-right-home">
            「今〇〇さん訪問行っているから、この付箋について電話で確認して」。サービスの変更・キャンセルとその理由が嫌でも目に付くので、付箋は要りません。<br/><br/>
            これも、カレンダーを調整しておくだけです。
        </div>
    </div>
</div>
<div class="colibri-home-subsection white-background">
    <h2 class="colibri-home-subsection-title ">帰ってきた111111111実績表</h2>
    <div class="home-subsection-content-container aligned-left-home">
        <div class="home-subsection-image-container">
            <%= image_tag('teik.jpg', width: '60%', border: '2px solid #aaa', class: 'home-image') %>
        </div>
        <div class="home-subsection-content">
            帰ってきました実績入力。1111111、、、あ、ずれたみたい。どこだろう。。。<br/><br/>
            大丈夫です。実績入力も日々のカレンダーの調整だけで完結させます。
        </div>
    </div>
</div>
<div class="colibri-home-subsection light-blue-background">
    <h2 class="colibri-home-subsection-title align-text-right-home">給与計算だけやっぱりマクロ迷宮エクセル</h2>
    <div class="home-subsection-content-container">
        <div class="home-subsection-image-container">
            <%= image_tag('excel.png', width: '50%', border: '2px solid #aaa', class: 'home-image') %>
        </div>
        <div class="home-subsection-content align-text-right-home">
            請求ソフトでは、身体生活の割合や企業独自の計算方法に対応できず、またエクセルが登場。でも難しいエクセルは作らせません。<br/><br/>
            もちろん、カレンダーだけ入力していれば、給与計算まで行います。
        </div>
    </div>
</div>

<div class='colibri-merits-subsection middle-blue-background align-text-center'>
    <h2 class="colibri-home-subsection-title">Colibri行動指針</h2>
    <div>
        <p>痛みはあるか：皆様の業務上の課題を噛み砕いて理解し、より痛みの激しいものから解決していきます。</p>
        <p>時間を生むか：全ての判断軸は、その機能によって皆様の「時間」を生み出せるかどうかです。</p>
        <p>本当に必要か：既存の業務慣習を素人目線から眺め、皆様と積極的に議論し、変化させます。</p>
        <p>シンプルであるか：不要な機能は削除し、使いやすさに集中します。</p>
        <p>圧倒的か：業界が覆るほどに、気持良く使いやすいものを追求していくため、完成はありません。</p>
    </div>
</div>

<div class="middle-blue-background contact-us-button-container">
    <%= link_to '無料体験を申請する', new_contact_form_path, class:'btn btn-info btn-lg text-white' %>
</div>

<div id='about-colibri' class='white-background home-page-text-box'>
    <h2 class="colibri-home-subsection-title align-text-center">Colibriについて</h2>
    <div>
        <span style="margin-left:45px"></span>在宅介護経験から介護に興味を持った大学生二人が、100以上の事業所の方々に𠮟咤激励を頂戴し、失敗を重ねながら、本気で開発しているソフトウェアです。<br/><br/>

        <span style="margin-left:45px"></span>規模の大小の差異なく利用者様本意の優良企業を手助けすることが、ひいては社会の為になるだろうと私たちは考えております。<br/><br/>

        <span style="margin-left:45px"></span>その方法の一つがITであり、ITは企業の根幹である売上増加・コスト削減に必要な「時間」を生み出すことに、とても優れています。<br/><br/>

        <span style="margin-left:45px"></span>しかしながら、IT業界側がリアルな介護業務について勉強不足である為に、介護ITの議論は、請求業務ソフトかIoT・AIの両極端に終始していると感じています。ところが、日常の業務は請求でもなければ、最先端のセンサーやロボットも不要だったりします。<br/><br/>

        <span style="margin-left:45px"></span>皆様がわくわくするほど「時間」を生み出すことができるソフトウェアを追求します。<br/><br/>
    </div>

</div>

<div class='colibri-about-us white-background'>

    <div class='founders-container'>
        <div class='colibri-founder'>
            <div class='colibri-self-photo-container'><%= image_tag('kinj.png', width: '100%' ) %></div>
            <div class='founder-bio'>
                <p class='founder-bio-important'>鎌原欣司</p>
                <p class='founder-bio-important'>慶應義塾大学大学院</p>
                <p>介護業界の為に、何ができるかを常に考えていたら、寝言で介護の話をし始めている。</p>
            </div>
        </div>
        <div class='colibri-founder'>
            <div class='colibri-self-photo-container'><%= image_tag('rem.png', width: '100%') %></div>
            <div class='founder-bio'>
                <p class='founder-bio-important'>ダステレミ</p>
                <p class='founder-bio-important'>慶應義塾大学大学院</p>
                <p>92歳の祖父と大勢の高齢者を助けている杖以上に役に立つ介護ソフトを開発したいと考えている。</p>
            </div>
        </div>
    </div>
</div>

<div class="white-background contact-us-button-container">
    <%= link_to 'お問い合わせは二人が対応します！', new_contact_form_path, class:'btn btn-info btn-lg text-white' %>
</div>



<%= render 'layouts/footer' %>