<div class="background-transition" style="margin-top:-20px">
    <%= image_tag('blue-wave-top-left-corner.svg') %>
</div>

<div class="white-background" id="top-subsection" style="display:flex;padding-top:30px">
    <div id="presentation-text">
        <h2 class="colibri-home-presentation-title" style="margin-bottom:40px">
            介護事業所をスマートな組織へ。
        </h2>
        <div class="colibri-home-text-container" id="colibri-presentation-text">
            <p>Colibriは、ヘルパーさんの実施記録とサ責さんが日々調整するシフト、そして訪問介護計画書が一気通貫で管理できるアプリです。</p>

            <p>事務作業はColibriに任せて、サービスの質と量を向上させる事業所作りに時間を使ってください！</p>
        </div>
    </div>
    <div id="presentation-images-banner" >
        <%= image_tag('ipad_iphone_kaigo', width: '90%', float: 'right', display: 'inline-block', id: 'logo-img') %>
    </div>
</div>

<div class="background-transition">
    <%= image_tag('pink-wave-bottom-thin.svg') %>
</div>

<div class="colibri-home-subsection light-pink-background" id="issues-subsection">
    <div id="colibri-issues-head">
        Colibriを導入する目標
    </div>
    <div id="colibri-issues-parent">
        <div id="colibri-issues">
            <div class="issue-container">
                <div class="issue-header">
                    <div class="issue-icon">
                        <%= image_tag('訪問介護売上.png', width: '45px') %>
                    </div>
                    <div class="issue-title">
                        売上アップ・コストカット
                    </div>
                </div>
                <div class="issue-body">
                    <p>サ責さんのサービス時間を増やし、事業所当り売上が月15-30万円上がります。</p>
                    <p>特定事業所加算をColibriを利用して取得すると、更に売上が+10%上がります。</p>
                    <p>実績収集や登録ヘルパーさんの給与計算を自動化し、無駄な紙と事務作業をなくします。</p>
                </div>
            </div>
            <div class="issue-container">
                <div class="issue-header">
                    <div class="issue-icon">
                        <%= image_tag('訪問介護事務効率化.png', width: '52px') %>
                    </div>
                    <div class="issue-title">
                        サ責の事務負担を減らしたい
                    </div>
                </div>
                <div class="issue-body">
                    <p>計画書作成から実施記録の確認まで、サ責さん当り月20時間削減可能です。</p>
                    <p>サ責さんは訪問介護の要です。事業所にとってもサ責さんを確保し、働きやすい環境を整えることは、死活問題です。しかし、日々の連絡から月末業務まであらゆる事務作業が集中し、非常に高い負荷が掛かっています。</p>
                </div>
            </div>
            <div class="issue-container">
                <div class="issue-header">
                    <div class="issue-icon">
                        <%= image_tag('訪問介護スマホ.png', width: '40px') %>
                    </div>
                    <div class="issue-title">
                        ヘルパーの記録を電子化
                    </div>
                </div>
                <div class="issue-body">
                    <p>ヘルパーさんが利用するアプリはムダを削ぎ落し、価値を最大にしています。</p>
                    <p>GPSで実績確定します。QRコードやICタグの管理や設定は不要です。</p>
                    <p>AndroidとiPhone両方に対応しており、従業員個人のスマホでも利用可能なセキュリティ仕様です。</p>
                    <p>ガラケーでもシフトと申し送り事項が通知可能。</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background-transition">
    <%= image_tag('pink-wave-top-thin.svg', width: '100%') %>
</div>

<div class="colibri-home-subsection white-background" id="colibri-reporting">
    <h2 class="colibri-home-subsection-title add-margin-left-md">計画書から実施記録まで網羅</h2>
    <div class="home-subsection-content-container aligned-left-home" style='margin-bottom:25px'>
        <div class="home-subsection-image-container">
            <%= image_tag "訪問介護計画書.png", width: '550px', class: 'responsive-img' %>
        </div>
        <div class="home-subsection-content margin-md">
            <p>訪問介護計画書とシフト、現場実施記録のケア内容が紐づいています。もし、ずれた場合にはハイライトし一目でわかります。これにより、実地指導でチェックされる計画と実績のズレを未然に防げます。</p>
            <p>予実差異を防止する為に何百枚、何千枚の紙を細かくチェックする必要がなくなります。</p>
            <p>現場の従業員の仕事を楽にし、サ責・管理者の事務作業時間と残業時間を減らすことで、サービス時間増加や従業員満足度向上のために使えます。 </p>
        </div>
    </div>
    <div class="home-subsection-detailed-content">
        <div class="detailed-content-container">
            <div class="detailed-content-title">
                <span>
                    <%= image_tag "clock_pink.svg", width: '35px' %>
                </span>
                現場従業員
            </div>
            <div class="detailed-content-body">
                 サービス前に手順書や他の従業員が書いた大事な申し送り事項が通知され、安心して訪問できます。
                 サービス後には計画書のケア内容が実施内容としてスマホで表示されるので実績確定するだけです。
                 特記事項は音声入力可能です。
            </div>
        </div>
        <div class="detailed-content-container">
            <div class="detailed-content-title">
                <span>
                    <%= image_tag "checklist_pink.svg", width: '35px', height: '35px' %>
                </span>
                サ責・管理者
            </div>
            <div class="detailed-content-body">
                実施記録の書き忘れや変更箇所が自動的にハイライトされるので、日々の小さな異変にすぐに気付けます。 
                また、月末まとめてや月数回に分けて収集されていた記録用紙を、再整理し、予定と実績の確認作業時間が少なくとも１０分の１以下になります。
            </div>
        </div>
        <div class="detailed-content-container">
            <div class="detailed-content-title">
                <span>
                    <%= image_tag "chart_pink.svg", width: '35px' %>
                </span>
                経営者
            </div>
            <div class="detailed-content-body">
                訪問介護計画書と実施記録を連動させることにより、計画と実施内容のズレを仕組みで防ぎ、安心して実地指導対応ができます。
                
                また、特定事業所加算の要件を満たすツールとして使え、従業員の給与や新たな施策への資金に反映できます
            </div>
        </div>
    </div>
</div>


<div class="background-transition">
    <%= image_tag('grey-wave-bottom-thin.svg') %>
</div>

<div class="colibri-home-subsection light-blue-background-hp" id="colibri-payment">
    <h2 class="colibri-home-subsection-title add-margin-left-md">登録ヘルパーの給与計算を自動化</h2>
    <div class="home-subsection-content-container aligned-left-home" style='margin-bottom:25px'>
        <div class="home-subsection-image-container">
            <%= image_tag "individual_payment.png", width: '400px', class: 'shadowed-img responsive-img' %>
        </div>
        <div class="home-subsection-content margin-md">
            <p>訪問介護事業所様の大きな悩みの種が給与計算かと思います。</p>
            <p>「身体と生活の単価が異なるため、給与も差を付けたい」「労基上は業務時間と判断される場合もあるため、移動手当を用意している」「勤務年数や資格などに応じて、単価を変えたり、別途手当を用意している」など、事業所様は従業員のために様々な工夫を凝らされているはずです。従って、既存ソフトウェアの給与計算機能では対応できず、Excelや手計算が残ってしまいがちです。</p>
            <p>Colibriは給与計算を０にすることにこだわり、非常に柔軟な仕組みで対応します。</p>
        </div>
    </div>
    <div class="home-subsection-detailed-content">
        <div class="detailed-content-container">
            <div class="detailed-content-title">
                <span>
                    <%= image_tag "speed_pink.svg", width: '35px' %>
                </span>
                給与計算を楽に早く
            </div>
            <div class="detailed-content-body">
                日々の実績報告から、基本給与や手当を自動計算するため、月末には最終チェックだけで終わります。わざわざ実績を打ち込む必要はありません。
            </div>
        </div>
        <div class="detailed-content-container">
            <div class="detailed-content-title">
                <span>
                    <%= image_tag "cup_pink.svg", width: '35px' %>
                </span>
                キャリアに応じた給与.歩合設定
            </div>
            <div class="detailed-content-body">
                月別の稼働時間や、勤続日数に応じた歩合制の給与計算ができ、勤務年数などによるキャリア昇進を反映したベース賃金の変更にも対応します。
            </div>
        </div>
        <div class="detailed-content-container">
            <div class="detailed-content-title">
                <span>
                    <%= image_tag "settings_pink.svg", width: '35px' %>
                </span>
                自由なサービス.手当設定
            </div>
            <div class="detailed-content-body">
                自社独自の給与計算方法や手当の仕組みは、”全部”登録できます。身体生活別の賃金額や、特定サービスに紐づく手当、移動手当など、、無数にある手当に対応します。
            </div>
        </div>
    </div>
</div>


<div class="background-transition">
    <%= image_tag('grey-wave-top-thin.svg') %>
</div>


<div class="colibri-home-subsection white-background" id="colibri-calendar">
    <h2 class="colibri-home-subsection-title add-margin-left-md">スッキリするシフト管理</h2>
    <div class="home-subsection-content-container aligned-left-home" style='margin-bottom:25px'>
        <div class="home-subsection-image-container">
            <%= image_tag "訪問介護シフト_訪問看護シフト.png", width: '500px', class: 'responsive-img' %>
        </div>
        <div class="home-subsection-content margin-md">
            <p>個別従業員や利用者様のシフト、事業所ごとのシフトを特定日、週間、月間などあらゆる角度で作成・調整・共有できます。</p>
            <p>シフト調整業務は、単純なサービス時間の把握だけではできません。現在調整中のサービスや保留中のサービスなどを可視化し、かつサービス以外の利用者様のご予定（入院・ショートステイ等）や、同行、担会、研修などあらゆる予定を総合的に考慮して行います。</p>
            <p>そして作成調整されたシフトはリアルタイムで共有する必要があります。サ責業務のために考え抜いたシフトをご用意しています。</p>
        </div>
    </div>
    <div class="home-subsection-detailed-content">
        <div class="detailed-content-container">
            <div class="detailed-content-title">
                <span>
                    <%= image_tag "refresh_pink.svg", width: '35px' %>
                </span>
                急な調整を力強くサポート
            </div>
            <div class="detailed-content-body">
                連絡を受けた人が担当者（サ責、管理者など）ではない場合も、スキル、エリア、過去のサービス履歴（同行済み、出禁）等の根拠を基に、おおまかな回答ができます。
                また、有事の際に、誰でも対応できる為に、日頃から一部従業員に依存したシフト管理リスクを最小限にしておく必要があります。
            </div>
        </div>
        <div class="detailed-content-container">
            <div class="detailed-content-title">
                <span>
                    <%= image_tag "bolt_pink.svg", width: '35px' %>
                </span>
                リアルタイム共有
            </div>
            <div class="detailed-content-body">
                急なシフト変更も、従業員は常に手元でシフト確認ができ、通知もできます。
                常に最新シフトが手元にあるので、スポットサービスやイレギュラーな案件が取りやすくなります。
                サービスキャンセルが多い事業所も、空時間を組織的に把握し、従業員全員で案件の過不足を把握する意識が生まれます。
            </div>
        </div>
        <div class="detailed-content-container">
            <div class="detailed-content-title">
                <span>
                    <%= image_tag "bell_pink.svg", width: '35px' %>
                </span>
                行き忘れ防止リマインダー
            </div>
            <div class="detailed-content-body">
                従業員のサービス行き忘れによるクレームは必ず防ぎたい。
                サービスの前の日に一日分のシフトの詳細をメールで送り、確実にシフトの最新情報を現場従業員に伝えましょう。
                GPSデータによるサービス実施確認機能を開発中です。
            </div>
        </div>
    </div>
</div>

<div class="background-transition">
    <%= image_tag('blue-wave-bottom-thin.svg', width: '100%') %>
</div>

<%= render 'layouts/footer' %>