<div id="colibri-banner">
    <h1 id="colibri-banner-text">職人しかシフト記録できないじゃん。。。</h1>
</div>

<div class="colibri-home-subsection white-background">
    <h2 class="colibri-home-subsection-title ">紙とエクセルにはお別れを</h2>
    <div class="home-subsection-content-container">
        <div class="home-subsection-content">
            紙での情報共有は、不便です。自分が紙へ会いに行かないと、情報が取得できません。
安全性も最悪です。文字通りすぐにどこかへ飛びますし、燃えたり、濡れたり、盗まれたら終わりです。
エクセルは、遅く、頻回にフリーズし、誰が何をいつ編集したかわからず、データは簡単に消えます。
只、より深刻な問題は紙とエクセル業務による従業員へのストレスです。
        </div>
        <div class="home-subsection-image-container">
            <%= image_tag('bin.jpeg', width: '33%', border: '2px solid #aaa', class: 'home-image') %>
        </div>
    </div>
</div>
<div class="colibri-home-subsection light-blue-background">
    <h2 class="colibri-home-subsection-title align-text-right">目がチカチカする111111111提供表</h2>
    <div class="home-subsection-content-container">
        <div class="home-subsection-image-container">
            <%= image_tag('teikyo.png', width: '40%', border: '2px solid #aaa', class: 'home-image') %>
        </div>
        <div class="home-subsection-content align-text-right">
            提供表を見ながら1を入力する作業はありません。日々のカレンダーの調整だけですべての仕事が終わります。
        </div>
    </div>
</div>
<div class="colibri-home-subsection white-background">
    <h2 class="colibri-home-subsection-title ">マクロ迷宮エクセルによる効率化</h2>
    <div class="home-subsection-content-container">
        <div class="home-subsection-content">
            「エクセル５つを使い分けているし、マクロ連携しているから効率化しているよ！」
マクロは危険です。作成者しか触れないですし、計算がずれていても気づけません。
これもカレンダーを調整するだけです。
        </div>
        <div class="home-subsection-image-container">
            <%= image_tag('yoda.jpg', width: '40%', border: '2px solid #aaa', class: 'home-image') %>
        </div>
    </div>
</div>
<div class="colibri-home-subsection light-blue-background">
    <h2 class="colibri-home-subsection-title align-text-right">誰がこの付箋貼ったの？</h2>
    <div class="home-subsection-content-container">
        <div class="home-subsection-image-container">
            <%= image_tag('postit.jpeg', width: '40%', border: '2px solid #aaa', class: 'home-image') %>
        </div>
        <div class="home-subsection-content align-text-right">
            「今〇〇さん訪問行っているから、この付箋について電話で確認して」
サービスの変更・キャンセルとその理由が嫌でも目に付くので、付箋は要りません。
ただ、カレンダーを調整しておくだけです。
        </div>
    </div>
</div>
<div class="colibri-home-subsection white-background">
    <h2 class="colibri-home-subsection-title ">帰ってきた111111111実績表</h2>
    <div class="home-subsection-content-container">
        <div class="home-subsection-content">
            帰ってきました実績入力。1111111、、、あ、ずれたみたい。どこだろう。。。
大丈夫です。実績入力も日々のカレンダーの調整だけで完結させます。
        </div>
        <div class="home-subsection-image-container">
            <%= image_tag('teik.jpeg', width: '40%', border: '2px solid #aaa', class: 'home-image') %>
        </div>
    </div>
</div>
<div class="colibri-home-subsection light-blue-background">
    <h2 class="colibri-home-subsection-title align-text-right">給与計算だけやっぱりマクロ迷宮エクセル</h2>
    <div class="home-subsection-content-container">
        <div class="home-subsection-image-container">
            <%= image_tag('excel.png', width: '40%', border: '2px solid #aaa', class: 'home-image') %>
        </div>
        <div class="home-subsection-content align-text-right">
            請求ソフトでは、身体生活の割合や企業独自の計算方法に対応できず、またエクセルが登場。
もちろん、カレンダーだけ入力していれば、給与計算まで行います。難しいエクセルは作らせません。
        </div>
    </div>
</div>

<div class='colibri-merits-subsection middle-blue-background align-text-center'>
    <h2 class="colibri-home-subsection-title">Colibriの特徴</h2>
    <div>
        <p>シフト管理や給与計算など日々のオペレーションの効率化に特化しているソフトです。</p>
        <p>まずは経営者と管理者が、利用者様や従業員との時間を最大化することに寄与します。</p>
        <p>シンプル第一です。不要な機能は削除し、使いやすさに集中します。</p>
        <p>スピードは負けません。他企業が意思決定だけで1ヶ月かかる所を最短1日で仕上げます。</p>
        <p>皆様の業務上の課題を噛み砕いて理解し、より痛みの激しいものから解決していきます。</p>
        <p>既存の業務慣習を素人目線から眺め、皆様と積極的に議論し、変化させます。</p>
        <p>利用していただく皆様と作り上げていくソフトウェアです。従って完成はありません。</p>
        <p>業務の妨げにならない範囲で、皆様とは密に連絡を取ります。</p>
        <p>全ての判断軸は、その機能によって皆様の「時間」を生み出せるかどうかです。</p>
    </div>
</div>

<div class="middle-blue-background contact-us-button-container">
    <%= link_to '無料体験を申請する', new_contact_form_path, class:'btn btn-info btn-lg text-white' %>
</div>

<div id='about-colibri' class='white-background'>
    <h2 class="colibri-home-subsection-title">Colibriについて</h2>
    <div>
        在宅介護経験から介護に興味を持った大学生二人が、100以上の事業所の方々に𠮟咤激励を頂戴し、失敗を重ねながら、本気で開発しているソフトウェアです。<br/><br/>

        規模の大小の差異なく利用者様本意の優良企業を手助けすることが、ひいては社会の為になるだろうと私たちは考えております。<br/><br/>

        その方法の一つがITであり、ITは企業の根幹である売上増加・コスト削減に必要な「時間」を生み出すことに、とても優れています。<br/><br/>

        しかしながら、IT業界側がリアルな介護業務について勉強不足である為に、介護ITの議論は、請求業務ソフトかIoTの両極端に終始していると感じています。ところが、日常の業務は請求でもなければ、最先端のセンサーやロボットも不要だったりします。<br/><br/>

        実際に事業所で働かせていただき、日常的に行う事務作業の大半は、シフト調整とその情報共有であり、この業務を完璧にこなせるソフトが無いために、多くの事業所が自前の紙、Excel、ホワイトボード等で管理していることが分かりました。<br/><br/>
        
        皆様がわくわくするほど「時間」を生み出すことができるソフトウェアを追求します。<br/>
    </div>

</div>

<div class='colibri-about-us white-background'>
    <p></p>

    <div class='founders-container'>
        <div class='colibri-founder'>
            <div class='colibri-self-photo-container'><%= image_tag('kinj.png', width: '100%' ) %></div>
            <div class='founder-bio'>
                <p class='founder-bio-important'>鎌原欣司</p>
                <p class='founder-bio-important'>慶應義塾大学大学院</p>
                <p>介護業界の為に、何ができるかを常に考えていたら、寝言で介護の話をし始めている。</p>
            </div>
        </div>
        <div class='colibri-founder'>
            <div class='colibri-self-photo-container'><%= image_tag('rem.png', width: '100%') %></div>
            <div class='founder-bio'>
                <p class='founder-bio-important'>ダステレミ</p>
                <p class='founder-bio-important'>慶應義塾大学大学院</p>
                <p>祖父と大勢の高齢者に助かる杖以上に役に立つ介護ソフトを開発したいと考えている。</p>
            </div>
        </div>
    </div>
</div>

<div class="white-background contact-us-button-container">
    <%= link_to 'お問い合わせはこちら', new_contact_form_path, class:'btn btn-info btn-lg text-white' %>
</div>



<%= render 'layouts/footer' %>