<div id="joinus-page-container">
    <div class="colibri-home-subsection white-background">
        <h2 class="colibri-home-subsection-title" style="margin-bottom:35px;margin-top:60px">
            最高のメンバーを集めて、訪問介護.看護を革命する
        </h2>
        <div class="colibri-subsection-content-container aligned-right-home">
            <p>
                少子高齢社会の日本において、ヘルスケアサービスの需要は増加し、同時にサービス供給する人材が不足している。この現象は、世界中で発生するであろうと予想されています。 
                この社会的危機に対して、大規模投資を必要としない在宅という形でのケアサービスの重要性は世界中で高まります。<br/><br/>
                Colibriは訪問系事業所の日常業務であるシフト管理、情報共有、そして複雑な給与計算などの為のソフト・アプリを開発提供し、顧客のオペレーション改善まで入り込み、現場従業員の方が活力を持ってケアにフォーカスしてもらうことで、事業所の利益を増大させるためのパートナーです。 <br/><br/>
                Colibriは国際的に開かれた場所から、様々な才能と趣味を持つ人間を集め、自身の力を社会的課題解決のために使い切れる面白い職場を作ります。
            </p>
        </div>
    </div>

    <div class="colibri-home-subsection white-background">
        <h2 class="colibri-home-subsection-title" style="margin-bottom:20px">
            募集中
        </h2>
        <div class="colibri-subsection-content-container aligned-right-home">
            <div class="colibri-subsection-centered">
                <div class="home-subsection-subtitle">
                    シニア営業部長.パートナー
                </div>
                <div>
                    <p>
                        Colibriは大学院生が在学中に立ち上げたベンチャーです。
                        介護.看護事業所の初期ユーザーを獲得し、事業所内の本当の課題を理解し開発したアプリ.サービスを提供してます。 
                        Colibriは日本中、そして世界中の在宅ケアのスタンダードになる可能性があり、力強く展開していくという高い目標を設定してます。 
                        日本国内の介護.看護の領域でシステムの営業の経験を持ち、業界のキーパーソン等とのつながりが多い営業部長の力を借りて、トップダウン（知名度の高い企業から小規模の事業所へ）の展開を考えてます。
                    </p>

                    <p>
                        Colibriの営業担当者の目標は主に：
                        <p class="list-style-p"> コネクション等を使い、訪問介護.看護の大企業とアポイント獲得からクロージングまで目指す。</p>
                        <p class="list-style-p"> コネクションがない事業所であってもターゲティング、アプローチ、アポイント中のピッチ方法、クロージングまで自発的に最適な手段を考え、実施する。</p>
                        <p class="list-style-p"> 営業プロセスの明確化と目標を設定し、その目標を達成するために必要なチーム作りと運営を行う。</p>
                    </p>

                    <p>
                        求められるプロフィール：
                        <p class="list-style-p"> 介護.看護業界のITベンダーで営業の経験がある方。（３年程の業務経験、応相談）</p>
                        <p class="list-style-p"> 他業界BtoBで営業経験がある方。（３年程の業務経験、応相談） </p>
                        <p class="list-style-p"> 介護.看護業界のIT化の遅れに違和感や問題意識を感じ、革命的なサービスを提供したい方。</p>
                        <p class="list-style-p"> クロージング目標を達成するために努力をする、諦めが悪く几帳面でコミュニケーションスキルが高い方。</p>
                        <p class="list-style-p"> カスタマーサクセスとエンジニアチームとのコミュニケーションを円滑にとり、顧客への提供価値が上がる機能について意見交換ができる方。</p>
                        <p class="list-style-p"> 起業経験があるかた、それか自分が担当した新規サービスを営業したことがある方。</p>
                    </p>

                    <div style="text-align:center;margin-top:20px">
                        <%= link_to '応募する', new_contact_form_path, class: 'btn btn-info', style: 'width:130px' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="colibri-subsection-content-container aligned-right-home">
            <div class="colibri-subsection-centered">
                <div class="home-subsection-subtitle">
                    CS（カスタマーサクセス）
                </div>
                <div>
                    <p>
                        ColibriはSaaS型のアプリケーションを提供しています。 
                        従って、顧客の継続的な成功が重要になり、CSの仕事も多岐にわたります。 
                        まずは顧客の働き方を顧客以上に理解するよう勤め、その上で提供サービスを顧客に使いこなしてもらい、顧客の成功のために綿密なサポートをすることです。 
                        もう一つは、未実現で言語化されていない顧客のニーズをいち早く発見し、エンジニアと協力してプロダクト開発に携わることです。
                    </p>

                    <p>
                        具体的な業務内容:
                        <p class="list-style-p">  オンボーディングに際し、顧客に生じうる様々なハードルを顧客とともに乗り越えること。</p>
                        <p class="list-style-p"> 継続的に顧客チェックを行い、新たな課題が生じていないか、質問、不満は生じていないかを確認していくこと。</p>
                        <p class="list-style-p"> 十分に利用されない機能を理解し、その原因と対応を早期に考え行動すること。</p>
                        <p class="list-style-p"> アプリケーション外の業務にも目を向け、顧客の業務フローの中で潜在的な課題はないか、常に学習すること。</p>
                        <p class="list-style-p">  顧客の不明瞭なニーズを、エンジニアの仲間へ明確に説明できること。</p>
                    </p>

                    <p>
                        求められるプロフィール：
                        <p class="list-style-p"> Colibriの理念や考え方に共感していただける方。</p>
                        <p class="list-style-p"> 未開拓のヘルスケア領域に、面白さを感じる方。</p>
                        <p class="list-style-p"> ユーザーへ、利用ケースを交えながら、わかりやすく丁寧に説明できる</p>
                        <p class="list-style-p"> ユーザーの働き方を細かく理解し、言語化できてないニーズを汲み取り、エンジニアと議論できる方</p>
                        <p class="list-style-p"> カスタマーサクセス職としての実務経験をお持ちの方。</p>
                        <p class="list-style-p"> BtoB Saas事業における業務経験をお持ちの方。</p>
                    </p>

                    <div style="text-align:center;margin-top:20px">
                        <%= link_to '応募する', new_contact_form_path, class: 'btn btn-info', style: 'width:130px' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="colibri-subsection-content-container aligned-right-home">
            <div class="colibri-subsection-centered">
                <div class="home-subsection-subtitle">
                    バックエンドエンジニア(Ruby)
                </div>
                <div>
                    <p>
                        Colibriの開発思考はRuby on Railsのフレームワークを使い、小さいチームで大きな社会変化を起こすことです。 プログラマーの幸せを重視し、素早く機能を開発し、試行錯誤を簡単にしてくれるRubyと介護.看護の領域のマッチングは抜群です！
                    </p>

                    <p>
                        Colibriのバックエンドエンジニアの目標は、毎日大勢のユーザーが利用してもページが速やかに表示され、災害時にも使い続けられる堅実なコード.インフラを作ることです。具体的に:
                        <p class="list-style-p"> Rubyのコードが最適に書かれているかを確認し、データを使いスピードの改善とメモリの消費の減少を目指す。</p>
                        <p class="list-style-p"> ユーザー数が増えてもその負担に対応できるコードを書く。</p>
                        <p class="list-style-p"> 自動テスト、デプロイテストを書き、堅実性を高める。</p>
                        <p class="list-style-p"> ユーザー数成長の各段階で様々なサーバー（ウェブ.ワーカー.キャッシュ.Redis）の紐づけと設定が最適であるかを確認する。</p>
                        <p class="list-style-p"> セキュリティーが高まるコードやアプリ設計を実施し、セキュリティーチェックを実施する。</p>
                    </p>

                    <p>
                        求められるプロフィール：
                        <p class="list-style-p"> チームワークに優れて、他のメンバーとのコミュニケーションと、自分の仕事を分かりやすく説明するスキルを持つ方。</p>
                        <p class="list-style-p"> エンジニアリングの問題解決が大好きで、自分のスキルを磨きながら新しい概念.働き方に挑戦する方。</p>
                        <p class="list-style-p"> 過去にRuby on Rails のアプリの開発チームで働き、パフォーマンス関係の課題に取り組んだ経験がある方。</p>
                        <p class="list-style-p"> 学歴その他：エンジニア.理工学部の大学卒業生、プログラミングに特化した大学.専門学校の卒業生、その他プログラミングを自発的に学ばれている方。</p>
                        <p class="list-style-p"> ボーナス：Herokuでデプロイし、スケールに対する課題や設定等の知識がある方。福祉.医療系の領域に興味を持つ方、働いた経験がある方。</p>
                    </p>

                    <p>
                        採用プロセスは様々なRubyのプログラミングゲーム、ペアプログラミング、論理的思考力及び説明.発言力のテストなど必要に応じて行い、最終面接となります。
                    </p>

                    <div style="text-align:center;margin-top:20px">
                        <%= link_to '応募する', new_contact_form_path, class: 'btn btn-info', style: 'width:130px' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="colibri-subsection-content-container aligned-right-home">
            <div class="colibri-subsection-centered">
                <div class="home-subsection-subtitle">
                    iOsエンジニア
                </div>
                <div>
                    <p>
                        Colibriの開発思考は小さいチームで大きな社会変化を起こすことです。 iOsのアプリ開発も同じ方針で、まずハイブリッド.ウェブビューアプリをTurbolinksとSwiftで開発し、次第にネイティブなビューを追加していきます。
                    </p>

                    <p>
                        Colibri のiOsエンジニアの目標は、現場のスタッフが毎日使いたがるアプリを開発することです。具体的に:
                        <p class="list-style-p"> 現在レスポンシブのウェブアプリケーションをiOsのアプリに包み込み、ハイブリッドのアプリを作ること。</p>
                        <p class="list-style-p"> IOsのユーザーに堅実な通知システムを提供する。</p>
                        <p class="list-style-p"> IOsのGPS機能を利用し、スタッフの行き忘れ防止対策に貢献する。</p>
                        <p class="list-style-p"> 次第にハイブリッドのアプリにネイティブの機能を追加し、使い心地良いアプリの開発を目指す。</p>
                        <p class="list-style-p"> アップストアの評価.ユーザーの直接の評価.データを集めて、開発するべき機能等を他メンバーと相談する。</p>
                    </p>

                    <p>
                        求められるプロフィール：
                        <p class="list-style-p"> 他の開発メンバーとコミュニケーションを上手く取り、開発に関する課題などを積極的に検討できる方。</p>
                        <p class="list-style-p"> IOsの環境をご存知で、Swiftで過去にアプリを開発した経験のある方。</p>
                        <p class="list-style-p"> Ruby on Railsのハイレベルな知識とjavascript、特にTurbolinksのフレームワークをご存知の方。</p>
                        <p class="list-style-p"> ボーナス:医療.介護の領域で働いた経験があるかた</p>
                    </p>

                    <p>
                        採用プロセスは様々なiOsの環境や概念についてのテスト、JavascriptとSwiftのペアプログラミング、論理的思考力及ぶ説明.発言力のテスト、そして最終面接となります。
                    </p>

                    <div style="text-align:center;margin-top:20px">
                        <%= link_to '応募する', new_contact_form_path, class: 'btn btn-info', style: 'width:130px' %>
                    </div>
                </div>
            </div>
        </div>

        <div class="colibri-subsection-content-container aligned-right-home">
            <div class="colibri-subsection-centered">
                <div class="home-subsection-subtitle">
                    UX/UIデザイナー（インターン、パート可能）
                </div>
                <div>
                    <p>
                        介護.看護.医療の領域で使いやすく、毎日がときめく素晴らしいデザインのアプリが限られています。
                         ITベンダーは保険制度に基ずく請求機能に全ての時間を投資し、UI.デザインの改善がなかなかできない状態になってます。 
                         Colibriは保険制度に対応するシステムとは違い、「使わなければいけない」アプリではなく、「使うとものすごいメリットがある」アプリです。
                         従って最高なUX/UIを提供する必要があります。
                    </p>

                    <p>
                        Colibriのデザイナーの目標は下記の通りです：
                        <p class="list-style-p"> まず、最低限の説明で使える分かりやすいソフト.アプリを作ること。新しい機能のレイアウト、既存の機能との組み合わせ、全体のレイアウトの改善などの幅広い責任です。</p>
                        <p class="list-style-p"> 毎日仕事で使うソフト.アプリを面白く、自分らしいスペースに変えたい。できるだけ個人の好みが反映できるレイアウト、そしてサービスの記録などに関しても自分の感情が伝わるような仕組みを考えます。</p>
                        <p class="list-style-p"> ホームページを閲覧する方、Colibriの営業チームがお客様に見せる資料などのレイアウトにColibriの指針が伝わるようにする。</p>
                    </p>

                    <p>
                        求められるプロフィール：
                        <p class="list-style-p"> クリエイティブで、Colibriのデザインとブランドのガイドライン等を想像し、会社全体にそのガイドラインを使わせるようにあらゆるチームと働くコミュニケーションのスキルを持つ方。</p>
                        <p class="list-style-p"> Svg,Png,Jpeg等のあらゆるフォーマットで多様なデザインが作成できる方。</p>
                        <p class="list-style-p"> UX/UIデザインの概念等に興味を持つ方。</p>
                        <p class="list-style-p"> ボーナス：作成した画像等のレイアウトをフロントエンドエンジニアに分かりやすくcss等をまとめられる方。</p>
                    </p>

                    <p>
                        採用プロセスは初対面（応募者のデザインブック等を見せていただきます）、具体的なケースの宿題、最終面接でケースの発表となります。
                    </p>

                    <div style="text-align:center;margin-top:20px">
                        <%= link_to '応募する', new_contact_form_path, class: 'btn btn-info', style: 'width:130px' %>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<%= render 'layouts/footer' %>