<% title "訪問介護実施記録 | 訪問介護シフト | 訪問介護給与計算" %>


<div class="section-title-container" style="padding-top:85px">
    <h1 class="colibri-section-title">Colibriの説明動画</h1>
</div>

<div class="colibri-home-subsection white-background">
    <h2 class="colibri-sm-subsection-title">ヘルパーのアプリ</h2>
    <div class="home-subsection-content-container aligned-left-home">
        <div class="home-subsection-image-container flex-1">
            <div class="colibri-iframe-container">
                <%= video_iframe("https://colibrischeduler.s3-ap-northeast-1.amazonaws.com/videos/helper+final.mp4") %>
            </div>
        </div>
        <div style="height:10px;width:45px">
        </div>
        <div class="home-subsection-content flex-1">
            <p>
                シンプル第一のヘルパー記録アプリを用意しました！
            </p>
            <p>
                ヘルパーさんが記録をする際に迷えないレイアウトを作りました。サ責がColibriで訪問介護計画書を作成すれば、その内容が記録として自動表示され、ズレを未然に防ぎます。
            </p>
            <p>
                自分のシフトはもちろん、訪問前に必要なサ責の指示や過去のヘルパーの記録が一目で確認できます。利用者様の住所などもGoogleMapsでワンタッチで開けて便利です！
            </p>
            <p>
                実績の確定は厚生労働省がテレワーク対策で推奨するGPSで行われ、その他QR等のタグは不要で追加コストは無く、ヘルパーさん達が既にお持ちのスマホでも利用できます。
            </p>
        </div>
    </div>
</div>

<div class="colibri-home-subsection white-background">
    <h2 class="colibri-sm-subsection-title align-text-right-home">サ責のアプリ</h2>
    <div class="home-subsection-content-container aligned-right-home">
        <div class="home-subsection-image-container flex-1">
            <div class="colibri-iframe-container">
                <%= video_iframe("https://colibrischeduler.s3-ap-northeast-1.amazonaws.com/videos/saseki_final.mp4") %>
            </div>
        </div>
        <div style="height:10px;width:45px">
        </div>
        <div class="home-subsection-content flex-1">
            <p>いつでもどこでもサ責の仕事を可能にし、しかも楽になるアプリを考えました！</p>
            <p>出先でも全てのシフト情報がリアルタイムで確認・編集できます。自分のサービス、登録ヘルパーのシフト、そして同法人の他の事業所のシフト状況が一目で把握できます。</p>
            <p>当然、ヘルパーアプリと同じように、サービス後の実施記録が作成できますし、事業所内掲示板で利用者様の情報を共有しつつ、それがそのまま記録化できます。</p>
        </div>
    </div>
</div>


<div class="colibri-home-subsection white-background">
    <h2 class="colibri-sm-subsection-title">PCアプリ</h2>
    <div class="home-subsection-content-container aligned-left-home">
        <div class="home-subsection-image-container flex-1">
            <div class="colibri-iframe-container">
                <%= video_iframe("https://colibrischeduler.s3-ap-northeast-1.amazonaws.com/videos/pc_final.mp4") %>
            </div>
        </div>
        <div style="height:10px;width:45px">
        </div>
        <div class="home-subsection-content flex-1">
            <p>サ責や管理者、経営者を組織管理を助ける最高のパートナーです！</p>
            <p>訪問事業の要であるシフトを全ての軸において設計されているColibriは、ユーザーのシフト調整負担を毎日数時間単位で減らします。</p>
            <p>付箋やメモ書きなどの代わりになる調整中リストや、複数事業所をまたいだシフト調整などシフト調整がICT化できない様々な可能性を排除しています。</p>
            <p>集計された記録の中から、注意すべきポイントをColibriが知らせるので、安心して利用者様や従業員のケアに時間を割いてください。</p>
            <p>月末の面倒な給与計算も、基本給から手当まで自動化できる仕組みになっています。</p>
        </div>
    </div>
</div>



<div class="colibri-home-subsection white-background">
    <div class="colibri-bottom-action-container">
        <%= link_to '資料請求はこちら', new_contact_form_path, class: 'btn btn-info' %>
        <%= link_to 'テレワーク対策へ', '/pages/telework', class: 'btn btn-outline-info' %>
    </div>
</div>


<div class="background-transition">
    <%= image_tag('blue-wave-bottom-thin.svg', width: '100%') %>
</div>

<%= render 'layouts/footer' %>