
<% title "訪問介護コロナ対策 | 事業所の三密を避けるテレワーク対策とは？" %>

<%= provide(:description, "サ責任、社員ヘルパーの直行直帰で事業所の三密を避けましょう | 今なら厚生労働省や東京都から100%まで補助！") %>

<div class="colibri-bloglike-container">
    <h1 class="colibri-bloglike-title">訪問介護で実施可能なテレワーク対策</h1>

    <p class="colibri-bloglike-p">コロナ対策の一環として国や行政は、様々な施策を打ち出しながら、テレワークを推進しています。そして今回のような状況において、新しい働き方を始められるかどうかが、文字通り命を左右するのが訪問介護業界です。</p>
    <p class="colibri-bloglike-p">訪問介護業界は、ICT化が遅れていると言われ続けて久しいですが、この度は大変多くの鬼気迫る問い合わせを頂いているため、特設ページを作成しました。事業所の皆様の参考になれば幸いです。</p>

    <div id="colibri-bloglike-table-of-content-container">
        <p style="font-weight:bold;margin-bottom:4px">目次</p>
        <div id="colibri-bloglike-table-of-content">
            <a href="#houmonkaigo-sanmitsu" style="display:block">訪問介護業界における三密の危険性</a>
            <a href="#houmonkaigo-telework" style="display:block">訪問介護におけるテレワークとは</a>
            <a href="#houmonkaigo-kabe" style="display:block">訪問介護事業所が超えるべき３つの壁</a>
            <a href="#houmonkaigo-hojokin" style="display:block">訪問介護事業所が使えるテレワーク補助金</a>
            <a style="display:block;margin-left:8px;font-size:0.8em" href="#telework-shigotozaisan">1 - 事業継続緊急対策助成金（都内法人対象）</a>
            <a style="display:block;margin-left:8px;font-size:0.8em" href="#telework-kouroushou">2 - 働き方改革推進支援助成金（テレワークコース）</a>
            <a href="#houmonkaigo-matome" style="display:block">まとめ</a>
        </div>
    </div>

    <div id="houmonkaigo-sanmitsu" class="margin-top">
        <h2 class="colibri-sm-subsection-title">訪問介護業界における三密の危険性</h2>
        <div class="home-subsection-image-container">
            <%= image_tag('訪問介護3密.jpg', title: '訪問介護コロナウィルス三密', width: '100%') %>
            <span class="additional-information">三密説明図</span>
        </div>
        <p class="colibri-bloglike-p">まず、訪問介護事業所は３密です。密閉空間である事業所に、複数従業員がデスクを並べ、サ責や管理者、社員従業員が情報交換や電話対応のために声を出し、様々な情報確認や記録のために、事業所内を歩き回ります。コロナが感染しやすい環境にあることは誰の目にも疑いようがありません。</p>
        <p class="colibri-bloglike-p">以下にコロナ感染による段階的なリスクを挙げました。</p>
        
        <h3 class="colibri-sm-h3-title">リスク１生死に直結する業界</h3>
        <p class="colibri-bloglike-p">サービスは超絶濃厚接触ですから、従業員の皆様と利用者様のどちらかが感染していた場合には、互いに感染確率が上がります。更に、先述の事業所の様子でしたら、事業所が感染のハブになり、ますます感染者が広がります。そして、感染した場合の命に関わる悪化リスクは、他の業界とは比較になりません。</p>
        
        <h3 class="colibri-sm-h3-title">リスク２補完しずらい人材</h3>
        <p class="colibri-bloglike-p">事業継続の観点からも大変大きなリスクがあります。正社員、特にサ責さんが感染した場合には、運営が立ち行かなくなる事業所も多いかと思います。</p>
        <p class="colibri-bloglike-p">一部の従業員が日常的なサービス調整を行うため、彼らが欠けることは、事業所のオペレーションにおいて致命的な打撃となります。訪問介護事業所は情報やスキルが集中しがちな組織であるため、仮に１人の感染であっても事業停止状態になりかねません。</p>
        
        <h3 class="colibri-sm-h3-title">リスク３風評被害</h3>
        <p class="colibri-bloglike-p">また業界やエリアにおける風評被害は甚大です。一時的な感染であり、幸いにも症状が悪化しなければ職場復帰等も数週間で可能です。しかし風評被害は大変厄介です。命に直結する可能性があるため、コロナ感染リスクのある事業所と分かれば、新規依頼は無くなり、既存利用者様は停止され、更に事業所変更される場合も多いと、容易に想像できます。</p>
    </div>

    <div id="houmonkaigo-telework" class="margin-top">
        <h2 class="colibri-sm-subsection-title">訪問介護におけるテレワークとは</h2>
        <p class="colibri-bloglike-p">上記の様な状況に陥らないために、有効な施策がテレワークになります。テレワークは訪問介護には縁遠いと感じる方もいらっしゃるかもしれません。しかし、テレワークは十分に可能ですし、既に実施している事業所も増えてきています。</p>
        <p class="colibri-bloglike-p">まず訪問介護事業所のテレワークの定義を明確にします。ここでは、正社員の皆様（サ責、管理者や正社員の専門職等）が事業所に同時に集まる機会を減らし、可能な限り<strong>直行直帰</strong>できる働き方を徹底し、３密状態を回避することだとします。</p>
        <div class="home-subsection-image-container" id="telework-image">
            <%= image_tag('訪問介護テレワーク直行直帰', title: '訪問介護テレワーク＝直行直帰の仕組み', width: '100%') %>
            <span class="additional-information">訪問介護テレワーク＝直行直帰の仕組み</span>
        </div>
        <p class="colibri-bloglike-p">
            厚労省によるとテレワークは在宅ワーク、モバイルワーク、サテライトオフィス勤務の３つに分類できるそうです。<br/>
            <a href="https://work-holiday.mhlw.go.jp/material/pdf/category7/02.pdf" style="text-decoration:underline" target="_blank">テレワーク導入ための労務管理等Ｑ＆Ａ集</a>
        </p>        
        <p class="colibri-bloglike-p">現場サービスが欠かせないこの業界においては在宅ワークと、直行直帰によるモバイルワークとの併用になります。営業の外回りが多い業界での、テレワーク（モバイルワーク）と同じ認識です。</p>
        <p class="colibri-bloglike-p">この定義によるテレワークであれば、登録ヘルパーさんが既に行っている事ですので、イメージしやすいかと思います。</p>
    </div>

    <div id="houmonkaigo-kabe" class="margin-top">
        <h2 class="colibri-sm-subsection-title">訪問介護事業所が超えるべき３つの壁</h2>
        <p class="colibri-bloglike-p">では、平時は事業所を起点とした働く社員の皆様、とりわけサ責や管理者様の直行直帰を妨げる業務について考えます。</p>
        <p class="colibri-bloglike-p">テレワークを実施するためには、必要な情報に対して従業員がいつでもアクセスできる体制が必要です。これらを妨げている壁が訪問介護事業所には３つあります。</p>

        <h3 class="colibri-sm-h3-title">１つ目の壁：紙やExcel、ホワイトボード管理のシフト</h3>
        <div class="bloglike-subsection-image-container">
            <%= image_tag('テレワークの壁_シフト.png', style: 'ローカルのシフト管理では事業所に行かざるを得ない', width: '100%', style: 'max-width:300px') %>
            <p><span class="additional-information">ローカルのシフト管理では事業所に行かざるを得ない</span></p>
        </div>
        <p class="colibri-bloglike-p">テレワーク最大の障壁がシフトです。ほとんどの訪問介護事業所では、シフトは紙やExcel、ホワイトボード、または外出先で確認できないソフトウェアの中で作成されています。従って、サ責や管理者が事業所に立ち寄り、紙シフトを持ち歩いたり、シフトを写真で撮影する必要が生じます。</p>
        <p class="colibri-bloglike-p">厚労省資料にもあるようにスケジュールツールがない場合、各従業員がどこで何をしているのかを可視化することが出来ないので、組織として動けません。訪問介護のシフトをクラウドアプリで管理することで、全社員が共通の最新シフトを同時に閲覧と調整できる仕組みが必須です。</p>
        <p class="colibri-bloglike-p"><a href="https://work-holiday.mhlw.go.jp/material/pdf/category7/02.pdf" style="text-decoration:underline" target="_blank">テレワーク導入ための 労務管理等Ｑ＆Ａ集Q2-3</a></p>

        <h3 class="colibri-sm-h3-title">２つ目の壁：訪問に必要情報がデータ化されていない</h3>
        <div class="bloglike-subsection-image-container">
            <%= image_tag('書類ファイル.jpg', title: '新型コロナでサービス担当が調整されるたびに利用者情報が手渡しされる', width: '100%') %>
            <p><span class="additional-information">新型コロナでサービス担当が調整されるたびに利用者情報が手渡しされる</span></p>
        </div>
        <p class="colibri-bloglike-p">次の壁が、訪問に必要な情報がデータ化されクラウド上に保存されていないことです。具体的には、利用者様の基本情報や緊急連絡先、これまでのケア内容などです。通常、これらの情報は事業所内に紙やExcel、請求ソフト等に保管されているため、CMなど関係各所からの連絡に際し、事業所にて対応する必要が生じます。コロナのような有事の際には、急なシフト変更や通常は担当していない利用者様へサービス提供することもあります。従って、サービスに必要な情報が事業所にしか無いことは、大きな負担とリスクになります。</p>
        <p class="colibri-bloglike-p">このようなサービス情報や利用者様情報についても、データとしてクラウドアプリ上に管理し、全社員がいつでも必要な情報を確認できる仕組みをとりいれることが重要です。</p>

        <h3 class="colibri-sm-h3-title">３つ目の壁：月末の紙面記録の収集</h3>
        <div class="bloglike-subsection-image-container">
            <%= image_tag('実施記録.jpg', title: '実施記録が紙ベースでは管理者がテレワークできない', width: '100%', style: 'max-width:250px') %>
            <p><span class="additional-information">実施記録が紙ベースでは管理者がテレワークできない</span></p>
        </div>
        <p class="colibri-bloglike-p">最後の壁が紙媒体の実施記録の収集です。</p>
        <p class="colibri-bloglike-p">サービス後の実施記録（テレッサ）など、紙媒体の記録は、必ず物理的に収集する必要が生じます。そのため、社員（サ責や管理者等）が事業所に拘束され、記録の収集と整理を行う必要があります。記録を電子化できれば、社員のテレワークが可能になります。 </p>
        <p class="colibri-bloglike-p">平時であれば、紙媒体を収集するタイミングを、コミュニケーションの機会として活用し、事業所の運営にとって良いこともあります。しかし、有事の際には重荷となります。厚労省のテレワーク効果にもあるように、情報共有アプリを利用し、情報の円滑な共有をすることで、むしろ従業員間のコミュニケーションが増え、業務の品質が向上します。</p>
        <p class="colibri-bloglike-p"><a href="https://work-holiday.mhlw.go.jp/material/pdf/category7/02.pdf" style="text-decoration:underline" target="_blank">テレワーク導入ための 労務管理等Ｑ＆Ａ集Q1-2</a></p>
        <p class="colibri-bloglike-p">記録自体はアプリで電子化し社員のテレワークを可能にしつつ、対面や電話、メール、チャットなどコミュニケーションの目的にあった最も効果的な方法を選択し、本当に必要な情報共有に集中できる環境にしましょう。</p>
    </div>

    <div id="houmonkaigo-hojokin" class="margin-top">
        <h2 class="colibri-sm-subsection-title">訪問介護事業所が使えるテレワーク補助金</h2>
        <p class="colibri-bloglike-p">国や行政も、テレワークを推進するべく様々な取り組みを実施しています。その１つが、助成金です。行政もなんとか利用して欲しいと考えている必死さがうかがえる条件です。以下に二つ、簡単にまとめました。</p>
        <p class="colibri-bloglike-p" style="margin-bottom:-25px">在宅ワークを基本としつつ、モバイルワーク（出先でのサービス業務等）と併用することで、サービスに入る社員（サ責や管理者）が直行直帰できる体制を作るためのツールを用意できれば条件を満たせます。</p>

        <h3 class="colibri-sm-h3-title margin-top" id="telework-shigotozaisan">事業継続緊急対策助成金（都内法人対象）</h3>
        <p class="colibri-bloglike-p" style="margin-top:30px">公益財団法人　東京しごと財団管轄</p>
        <%= image_tag('shigotozaisan', width: '175px') %>

        <h4 class="colibri-sm-h4-title">簡単な仕組みの説明</h4>
        <p class="colibri-bloglike-p">感染症の拡大防止及び緊急時の事業継続対策として在宅勤務等を可能とする情報通信機器等の導入によるテレワーク環境の整備を目的としています。この目的に合致する経費に対して助成金が支給され<strong>満額250万円で補助率は100％</strong>です。</p>

        <h4 class="colibri-sm-h4-title">主な条件</h4>
        <p class="colibri-bloglike-p">① 常時雇用する労働者が2名以上かつ999名以下で、都内に本社または事業所を置く中堅・中小企業等</p>
        <p class="colibri-bloglike-p">② 申請日時点で都内事業所に所属の常時雇用する労働者（内定者含む）および経営者から助成事業におけるテレワーク対象者を選定し、対象者が事業を実施する。訪問介護事業所を複数運営されている場合、全ての事業所にテレワークを実施する必要は無い。</p>
        <p class="colibri-bloglike-p">③ テレワーク形態は、在宅勤務を必須とし、在宅勤務を含まないテレワーク導入計画は助成対象外となる。介護事業所場合、社員（サ責や管理者）が在宅ワークとモバイルワークを併用できる計画を作成する。</p>
        <p class="colibri-bloglike-p">④ 都が実施する「2020TDM推進プロジェクト」（外部サイトへリンク）に参加していること（簡単なフォーム登録で終了します）</p>
        
        <h4 class="colibri-sm-h4-title">申請の流れ</h4>
        <p class="colibri-bloglike-p">
            申請書締切日：令和2年5月12日（締切日必着）<br/>
            事業開始日：支給決定通知後から助成事業開始<br/>
            事業完了日：令和2年6月30日<br/>
            報告書締切日：令和2年7月31日<br/>
            助成金確定通知：助成金の可否通知<br/>
            口座振替依頼書送付→約１ヶ月後に、助成金給付<br/>
        </p>

        <h4 class="colibri-sm-h4-title">助成対象経費</h4>
        <p class="colibri-bloglike-p">支給決定通知後、支払期間内までに、支払を実施したテレワークを目的とした経費。</p>
        <p class="colibri-bloglike-p">具体例：PC４台、Wifiルーター４台、導入ソフトウェア１台、コンサル費等</p>
        <p class="colibri-bloglike-p"><span class="additional-information">※ パソコン等端末も支給対象となります。</span><br/>
        <span class="additional-information">※支給決定日以後に新たに取り組んだ事業に要した経費とし、支給決定日前に取組みがあったもの及び支出があったものは含みません。 </span></p>

        <h4 class="colibri-sm-h4-title" style="text-decoration:underline;margin-bottom:-25px"><a href="https://www.shigotozaidan.or.jp/koyo-kankyo/boshu/documents/zigyoukeizoku-boshuuyoukou0401.pdf" target="_blank">この助成金の詳細はこちらへ</a></h4>


        <h3 class="colibri-sm-h3-title margin-top" id="telework-kouroushou">働き方改革推進支援助成金（テレワークコース）</h3>
        <p class="colibri-bloglike-p" style="margin-top:30px">厚労省管轄</p>
        <%= image_tag('厚生労働省', width: '175px') %>

        <h4 class="colibri-sm-h4-title">簡単な仕組みの説明</h4>
        <p class="colibri-bloglike-p">厚労省が案内しているテレワーク推進のための助成金です。この助成金はテレワーク実施期間を1ヶ月から6ヶ月で、会社として自ら設定します。成果目標を指針に従い設定し、実施期間後に報告書を作成します。目標が達成できていれば<strong>経費の75％（満額150万円）</strong>、未達成の場合には経費の50％（満額100万円）が支給されます。但し、テレワークを実施する従業員につき、達成の場合には1人20万円、未達成の場合には1人10万円の上限が設定されています。</p>
        <p class="colibri-bloglike-p">
            例➀：100万円のソフトウェア購入　テレワーク実施人数10人　<br/>
            達成→75万円　未達→50万
        </p>
        <p class="colibri-bloglike-p">
            例➁：100万円のソフトウェア購入　テレワーク実施人数3人　<br/>
            達成→60万円（3×20万円上限）　未達→30万（3×10万円上限）
        </p>
        
        
        <h4 class="colibri-sm-h4-title">主な条件</h4>
        <p class="colibri-bloglike-p">① 労働者災害補償保険の適用事業主であること</p>
        <p class="colibri-bloglike-p">② 法人規模が一定以下であること</p>
        <p class="colibri-bloglike-p">③ テレワークを新規で導入する事業主であること<br/>
        <span class="additional-information">※試行的に導入している事業主も対象です。又はテレワークを継続して活用する事業主であること。</span><br/>
        <span class="additional-information">※過去に本助成金を受給した事業主は、対象労働者を２倍に増加してテレワークに取り組む場合に、２回まで受給が可能です。</span></p>
        <p class="colibri-bloglike-p">④ 時間外労働の制限その他の労働時間等の設定の改善を目的として、在宅又はサテライトオフィスにおいて、就業するテレワークの実施に積極的に取り組む意欲があり、かつ成果が期待できる事業主であること</p>


        <h4 class="colibri-sm-h4-title">申請の流れ</h4>
        <p class="colibri-bloglike-p">
            申請書締切日：令和2年12月1日<br/>
            事業開始日：支給決定通知後から助成事業開始<br/>
            事業完了日：開始から1ヶ月～6ヶ月の任意期間を自身で設定<br/>
            報告書締切日：事業実施終了日から1ヶ月以内（最終〆切令和3年2月26日）<br/>
            助成金確定通知：助成金の可否通知<br/>
        </p>

        <h4 class="colibri-sm-h4-title">助成対象経費</h4>
        <p class="colibri-bloglike-p">支給決定通知後、支払期間内までに、支払を実施したテレワークを目的とした経費。</p>
        <p class="colibri-bloglike-p">例：ITソフトウェア、コンサル費等</p>
        <p class="colibri-bloglike-p"><span class="additional-information">※ パソコン、タブレット、スマートフォンは支給対象となりません。</span><br/>
        <span class="additional-information">※ 試験的に開始している事業も対象</span></p>


        <h4 class="colibri-sm-h4-title">成果目標の設定</h4>
        <p class="colibri-bloglike-p">支給対象となる取組は、以下の「成果目標」を達成することを目指して実施してください。</p>
        <p class="colibri-bloglike-p">① 評価期間に１回以上、対象労働者全員に、在宅又はサテライトオフィスにおいて就業するテレワークを実施させる。</p>
        <p class="colibri-bloglike-p">② 評価期間において、対象労働者が在宅又はサテライトオフィスにおいてテレワークを実施した日数の週間平均を、１日以上とする。</p>
        <p class="colibri-bloglike-p">③ 所定外労働の削減について、労働者の月間平均所定外労働時間数を前年と比較して５時間以上削減させる。</p>

        <h4 class="colibri-sm-h4-title">評価期間</h4>

        <p class="colibri-bloglike-p">成果目標の達成の有無は、事業実施期間（交付決定の日から令和３年２月１５日まで）の中で、１か月から６か月の間で月単位で設定する「評価期間※」で判断します。<br/>
          <span class="additional-information">※評価期間は申請者が事業実施計画を作成する際に自ら設定します。</span>
        </p>

        <h4 class="colibri-sm-h4-title">評価方法</h4>
        <p class="colibri-bloglike-p">テレワークを行ったことを以下の方法で証明する必要があります。 </p>
        <p class="colibri-bloglike-p">① GPS 機器による場合は、業務時 間における GPS による位置情報（地理座標）及び時間を記録できる機器（GPS 機器）の ログ情報（概ね１時間毎に記録されたもの）を提出。</p>
        <p class="colibri-bloglike-p">② テレワーク実施する日の朝礼、夕礼時に、申請事業主及びテレワーク相談センターへメール送信。内容は企業名、対象労働者の氏名、日時、場所、業務実施予定の概要（実施 予定時間帯及び実施予定内容）（開始時）、業務実施結果の概要（実施時間帯及び実 施した内容）（終了時）</p>
        <p class="colibri-bloglike-p">上記①または②の例以外の方法も可能であるが、証明できる旨を事前に相談し、テレワーク相談センターに承認を得る必要があります。 </p>

        <h4 class="colibri-sm-h4-title"><a href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/koyou_roudou/roudoukijun/jikan/telework_10026.html" style="text-decoration:underline" target="_blank">この助成金の詳細はこちらへ</a></h4>

    </div>

    <div id="houmonkaigo-matome" class="margin-top">
        <h2 class="colibri-sm-subsection-title">まとめ</h2>
        <p class="colibri-bloglike-p">厚労省がどのようにテレワークを導入していくべきかを示しています。ここで大事なのはテレワークの目的を社内で共有し、テレワーク実施後も常に改善し続ける事です。このサイクルの中で適切なツールを選択することで、効果的なテレワークが可能になります。</p>
        <p class="colibri-bloglike-p"><a href="https://work-holiday.mhlw.go.jp/material/pdf/category7/02.pdf" style="text-decoration:underline" target="_blank">テレワーク導入ための 労務管理等Ｑ＆Ａ集Q1-5</a></p>
        <p class="colibri-bloglike-p">日々の電話対応やシフト調整と共有、記録収集作業に、実績入力、給与計算など事業所でないと、行えない業務が山積しているように見えます。しかし、しっかりとしたテレワークの為の仕組みを入れ、日々の働き方を見直す努力をすれば必ず可能です。</p>
        <p class="colibri-bloglike-p">Colibriは、テレワークの目的設定を皆様と行った後、データ入力を全て行います。事業所の皆様はすぐにテレワークを開始でき、評価改善の振り返りまでを共に行い続けます。</p>
        <p class="colibri-bloglike-p">近々のコロナ対策をしたい方はもちろん、積極的に働き方を見直すことで、様々な環境変化に対応できる事業所を作りたいとお考えの皆様は、ぜひColibriにご連絡下さい。</p>
    </div>

    <div class="colibri-home-subsection">
        <div id="colibri-call-to-action">
            <div id="colibri-call-to-action-head">
                資料請求はこちら
            </div>
            <div id="colibri-call-to-action-body">
                <p>080-7072-0059 （代表直通）</p>
                <p><a href="mailto:info@colibri.jp">info@colibri.jp</a></p>
                <p><%= image_tag('line_qr.png', style: "margin-top: 5px", width: '65px') %></p>
            </div>
        </div>
    </div>
</div>


<div class="background-transition">
    <%= image_tag('blue-wave-bottom-thin.svg', width: '100%') %>
</div>

<%= render 'layouts/footer' %>