<%= form_for [@planning, recurring_unavailability], remote: true do |form| %>
  <% if recurring_unavailability.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(recurring_unavailability.errors.count, "error") %> prohibited this unavailability from being saved:</h2>

    <ul>
      <% recurring_unavailability.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= form.label :anchor, "初日", class: "colibri-form-label" %>
    <%= form.date_select :anchor, id: :recurring_unavailability_anchor %>
  </div>

  <div class="form-group">
    <%= form.label :starts_at, "スタート時間", class: "colibri-form-label" %>
    <%= form.time_select :starts_at, id: :recurring_unavailability_start %>
  </div>

  <div class="form-group">
    <%= form.label :ends_at, "修了時間", class: "colibri-form-label" %>
    <%= form.time_select :ends_at, id: :recurring_unavailability_end %>
  </div>

  <div class="form-group">
    <%= form.label :frequency, "頻度", class: "colibri-form-label" %>
    <%= form.select(:frequency,  options_for_select([['毎週',0], ['第一、三、五週目', 1], ['第二、四週目', 3], ['第一週目', 4], ['最後の週', 5],  ['その日のみ', 2]]), {required: true}, id: :recurring_unavailability_frequency) %>
  </div>

  <div class="form-group">
    <%= form.label :nurse_id, "ヘルパー名", class: "colibri-form-label" %>
    <%= form.collection_select(:nurse_id, @nurses, :id, :name, {prompt: 'ヘルパー選択'}, {:required => true}) %>
  </div>

  <div class="actions">
    <%= form.submit 'セーブする', class: 'btn btn-info btn-block form-control' %>
    <%= link_to '働けない時間を作成', new_planning_unavailability_path(@planning), class: 'btn btn-default', remote: true if recurring_unavailability.new_record? %>
    <%= link_to '削除', planning_recurring_unavailability_path(@planning, recurring_unavailability), method: :delete, class: 'btn btn-danger', data: {confirm: '働けない時間（リピート）が削除されます'}, remote: true unless recurring_unavailability.new_record? %>
  </div>
<% end %>
