<%= form_with model: wished_slot, url: [@planning, wished_slot] do |form| %>
  <% if wished_slot.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(wished_slot.errors.count, "error") %> prohibited this unavailability from being saved:</h2>

    <ul>
      <% wished_slot.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <div class="colibri-form-group-flex">
    <div style="width:20%">
      <%= form.label :rank, "タイプ", class: "colibri-form-label" %>
    </div>
    <div style="width:80%">
      <div id="rank-options-container">
        <%= form.label :rank_2, '希望', class: 'btn btn-colibri-light btn-sm rank-button btn-colibri-light-green', id: "button_rank_2" do %>
          <%= form.radio_button :rank, 2, {checked: 'checked', class: "radio-inline", id: "wished_slot_rank_2", style: "display:none"} %>
          希望
        <% end %>
        <%= form.label :rank_1, '避けたい', class:'btn btn-colibri-light btn-sm rank-button', id: "button_rank_1" do %>
          <%= form.radio_button :rank, 1, {class: "radio-inline", id: "wished_slot_rank_1", style: "display:none"} %>
          避けたい
        <% end %>
        <%= form.label :rank_0, '不可能', class:'btn btn-colibri-light btn-sm rank-button', id: "button_rank_0" do %>
          <%= form.radio_button :rank, 0, {class: "radio-inline", id: "wished_slot_rank_0", style: "display:none"} %>
          不可能
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :frequency, "頻度", class: "colibri-form-label" %>
    <%= form.select(:frequency,  options_for_select([['毎週', 1], ['隔週', 3], ['第一週目', 4], ['第二週目', 5], ['その日のみ',0]]), {required: true}, id: :wished_slot_frequency) %>
  </div>

  <div class="form-group">
    <%= form.label :anchor, "開始", class: "colibri-form-label" %>
    <%= form.date_select :anchor, id: :wished_slot_anchor %>
    <%= form.time_select :starts_at, id: :wished_slot_start %>
  </div>

  <div class="form-group">
    <%= form.label :anchor, "終了", class: "colibri-form-label" %>
    <%= form.date_select :end_day, id: :wished_slot_anchor %>
    <%= form.time_select :ends_at, id: :wished_slot_end %>
  </div>

  <div class="form-group">
    <%= form.label :nurse_id, "従業員名", class: "colibri-form-label" %>
    <%= form.select :nurse_id, grouped_options_for_select(@nurses.group_full_timer_for_select, wished_slot.nurse_id), {}, {required: true, id: :wished_slot_nurse_id } %>
  </div>

  <div class="form-group">
    <%= form.label :description, "コメント", class: "colibri-form-label" %>
    <%= form.text_area :description, id: :wished_slot_description, class: "form-control" %>
  </div>

  <%= hidden_field_tag(:start, Date.today) %>
  <%= hidden_field_tag(:end, Date.today) %>

  <div class="actions">
    <%= form.submit 'セーブする', class: 'btn btn-info btn-block form-control' %>
  </div>
<% end %>
