<%= form_with model: wished_slot, url: [@planning, wished_slot] do |form| %>
  <% if wished_slot.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(wished_slot.errors.count, "error") %> prohibited this unavailability from being saved:</h2>

    <ul>
      <% wished_slot.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <div class="colibri-form-group-flex">
    <div style="width:20%">
      <%= form.label :rank, "タイプ", class: "colibri-form-label" %>
    </div>
    <div style="width:80%">
      <div id="rank-options-container">
        <%= form.radio_button :rank, 2, {class: "radio-inline"} %>
        <%= label :rank_2, '希望' %>
        <%= form.radio_button :rank, 1, {class: "radio-inline"} %>
        <%= label :rank_1, '避けたい' %>
        <%= form.radio_button :rank, 0, {class: "radio-inline"} %>
        <%= label :rank_0, '不可能' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :frequency, "頻度", class: "colibri-form-label" %>
    <%= form.select(:frequency,  options_for_select([['毎週', 1], ['隔週', 3], ['第一週目', 4], ['第二週目', 5], ['その日のみ',0]]), {required: true}, id: :wished_slot_frequency) %>
  </div>

  <div class="form-group">
    <%= form.label :anchor, "開始日", class: "colibri-form-label" %>
    <%= form.date_select :anchor, id: :wished_slot_anchor %>
  </div>

  <div class="form-group">
    <%= form.label :anchor, "終了日", class: "colibri-form-label" %>
    <%= form.date_select :end_day, id: :wished_slot_anchor %>
  </div>

  <div class="form-group">
    <%= form.label :starts_at, "開始時間", class: "colibri-form-label" %>
    <%= form.time_select :starts_at, id: :wished_slot_start %>
  </div>

  <div class="form-group">
    <%= form.label :ends_at, "修了時間", class: "colibri-form-label" %>
    <%= form.time_select :ends_at, id: :wished_slot_end %>
  </div>

  <div class="form-group">
    <%= form.label :nurse_id, "従業員名", class: "colibri-form-label" %>
    <%= form.select :nurse_id, grouped_options_for_select(@nurses.group_full_timer_for_select, wished_slot.nurse_id), {}, {required: true, id: :wished_slot_nurse_id } %>
  </div>

  <div class="actions">
    <%= form.submit 'セーブする', class: 'btn btn-info btn-block form-control' %>
  </div>
<% end %>
