<div id="edit_patient" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title"><%= @patient.name %>様の編集</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div id="patient-management-menu"  style="display:flex;width:100%;height:40px;font-size:1.2em;line-height:40px;color:#9e9e9e">
				<div id="patient-form-menu" class="patient-management-item <%= 'selected' unless params[:open_tab].present?  %>" style="flex:1;text-align:center;cursor:pointer;height:40px;vertical-align:middle">利用者情報</div>
				<div id="patient-care-plans-menu" class="patient-management-item <%= 'selected' if params[:open_tab].present? %>" style="flex:1;text-align:center;cursor:pointer;height:40px;vertical-align:middle">計画書情報</div>
				<div id="patient-documents-menu" class="patient-management-item" style="flex:1;text-align:center;cursor:pointer;height:40px;vertical-align:middle">出力・印刷</div>
			</div>

			<div id="patient-form-container" class="patient-management-container" style="<%= 'display:none' if params[:open_tab].present? %>">
				<div id="patient-form-flash" class="js-flash" style="display:flex;justify-content:center;margin-top:10px">
				</div>
				<%= render 'form', patient: @patient %>
			</div>

			<div id="patient-care-plans-container" class="patient-management-container" style="<%= 'display:none' unless params[:open_tab].present? && params[:open_tab] == "care_plans" %>">
				<div id="patient-care-plans-flash" style="display:flex;justify-content:center;margin-top:5px">
					<% if params[:care_plan_saved].present? %>
						<% if params[:care_plan_saved] == "true" %>
							<div class='alert alert-success'>計画書が登録されました。</div>
						<% elsif params[:care_plan_saved] == "destroyed" %>
							<div class='alert alert-success'>計画書が削除されました。</div>
						<% else %>
							<div class='alert alert-warning'>計画書の登録が失敗しました。</div>
						<% end %>
					<% end %>
				</div>
				<%= render 'care_plans/index', care_plans: @care_plans, patient: @patient %>
			</div>

			<div id="patient-documents-container" style="display:none" class="patient-management-container">
				<%= render 'printable_documents' %>
			</div>

			
		</div>
	</div>
</div>