<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

    <ul>
      <% patient.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "利用者名", class: "colibri-form-label" %><span class='required-field'>*</span>
    <%= form.text_field :name, id: :patient_name, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :kana, "フリガナ", class: "colibri-form-label" %><span class='required-field'>*</span>
    <%= form.text_field :kana, id: :patient_kana, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :phone_number, "電話番号", class: "colibri-form-label" %>
    <%= form.text_field :phone_number, id: :patient_phone_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :phone_mail, "携帯メールアドレス", class: "colibri-form-label" %>
    <%= form.text_field :phone_mail, id: :patient_phone_mail, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address, "住所", class: "colibri-form-label" %>
    <%= form.text_area :address, id: :patient_address, class: "form-control" %>
  </div>


  <div class="actions">
    <%= form.submit 'セーブする', class: 'btn btn-info btn-block form-control' %>
  </div>
<% end %>