<%= form_with model: patient, local: patient.new_record?, id: 'patient_form' do |form| %>
  <% if patient.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

    <ul>
      <% patient.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="modal-body">

    <div class="modal-subsection-title">基本情報</div>

    <div class="form-group">
      <%= form.label :name, "#{client_resource_name(@corporation.business_vertical)}名", class: "colibri-form-label-dark" %><span class='required-field'>*</span>
      <%= form.text_field :name, id: :patient_name, required: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :kana, "フリガナ", class: "colibri-form-label-dark" %><span class='required-field'>*</span>
      <%= form.text_field :kana, id: :patient_kana, required: true, class: "form-control" %>
    </div>
    
    <% if patient.active %>

      <% if @corporation.elderly_care_and_nursing? %>
        <div class="form-row">
          <div class="form-group col-md-3">
            <%= form.label :gender, '性別', class: 'colibri-form-label-dark', style: 'text-align:right!important' %>
            <%= form.radio_button :gender, 2, checked: patient.new_record? || patient.gender == 2 %>
            <%= form.label :gender, '女', value: 2 %>
            <%= form.radio_button :gender, 1 %>
            <%= form.label :gender, '男', value: 1 %>
          </div>
          <div class="form-group col-md-2">
            <%= form.label :birthday, "生年月日", class: "colibri-form-label-dark" %>
          </div>
          <div class="form-group col-md-7">
            <%= form.hidden_field :birthday, id: :patient_birthday %>
            <%= select_tag :birthday_era, options_for_select(ApplicationHelper::WAREKI_ERA, patient.birthday.try(:j_era)), {prompt: '選択', id: :patient_birthday_era, class: 'wareki_era colibri-input'} %>
            <%= text_field_tag :birthday_year, value = patient.birthday.try(:j_year), {style: "width:35px;height:25px", placeholder: 'yy', id: :patient_birthday_year, class: 'wareki_year colibri-input'} %>年
            <%= text_field_tag :birthday_month, value = patient.birthday.try(:month), {style: "width:35px;height:25px", placeholder: 'mm', id: :patient_birthday_month, class: 'wareki_month colibri-input'} %>月
            <%= text_field_tag :birthday_day, value = patient.birthday.try(:day), {style: "width:35px;height:25px", placeholder: 'dd', id: :patient_birthday_day, class: 'wareki_day colibri-input'} %>日
          </div>
        </div>
      <% end %>


      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.label :phone_number, "電話番号", class: "colibri-form-label-dark" %>
          <%= form.text_field :phone_number, id: :patient_phone_number, class: "form-control" %>
        </div>
        <div class="form-group col-md-6">
          <%= form.label :phone_mail, "携帯メールアドレス", class: "colibri-form-label-dark" %>
          <%= form.text_field :phone_mail, id: :patient_phone_mail, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
      </div>

      <div class="form-group">
        <%= form.label :address, "住所", class: "colibri-form-label-dark" %>
        <%= form.text_area :address, id: :patient_address, class: "form-control" %>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.label :date_of_contract, "契約日", class: "colibri-form-label-dark" %>
          <%= form.text_field :date_of_contract, id: :patient_date_of_contract, class: "form-control" %>
        </div>
        <div class="form-group col-md-6">
          <%= form.label :team_id, "担当チーム", class: "colibri-form-label-dark" %>
          <%= form.collection_select(:team_id, @teams, :id, :team_name, {include_blank: '担当チームなし'}) %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.label :nurse_id, "担当従業員", class: "colibri-form-label-dark" %>
          <%= form.select :nurse_id, grouped_options_for_select(@nurses.group_full_timer_for_select, patient.nurse_id), {}, {id: :patient_nurse_id}  %>
        </div>
        <% if @corporation.elderly_care_and_nursing? %>
          <div class="form-group col-md-6">
            <%= form.label :doctor_name, "主治医", class: "colibri-form-label-dark" %>
            <%= form.text_field :doctor_name, id: :patient_doctor_name, class: "form-control" %>
          </div>
        <% end %>
      </div>

      <div class="form-group">
        <%= form.label :caveat_list, "特徴.要求タグ", class: "colibri-form-label-dark" %>
        <%= form.select :caveat_list, options_from_collection_for_select(@caveats, 'name', 'name', patient.caveat_list), {}, {multiple: true, id: "patient_caveat_list"} %>
      </div>

      <div class="form-group">
        <%= form.label :description, "備考", class: "colibri-form-label-dark" %>
        <%= form.text_area :description, id: :patient_description, class: "form-control" %>
      </div>

    </div>

    <div class="blue-background-form">
      <div class="modal-subsection-title">緊急連絡先1</div>

      <div class="form-group">
        <%= form.label :emergency_contact_1_name, "名前", class: "colibri-form-label-dark" %>
        <%= form.text_field :emergency_contact_1_name, id: :patient_emergency_contact_1_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :emergency_contact_1_address, "住所", class: "colibri-form-label-dark" %>
        <%= form.text_field :emergency_contact_1_address, id: :patient_emergency_contact_1_address, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :emergency_contact_1_phone, "電話番号", class: "colibri-form-label-dark" %>
        <%= form.text_field :emergency_contact_1_phone, id: :patient_emergency_contact_1_phone, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :emergency_contact_1_relationship, "続柄", class: "colibri-form-label-dark" %>
        <%= form.text_field :emergency_contact_1_relationship, id: :patient_emergency_contact_1_relationship, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :emergency_contact_1_living_with_patient, "同居有無", class: "colibri-form-label-dark" %>
        <%= form.check_box :emergency_contact_1_living_with_patient, id: :emergency_contact_1_living_with_patient %>
      </div>

      <div class="modal-subsection-title">緊急連絡先2</div>

      <div class="form-group">
        <%= form.label :emergency_contact_2_name, "名前", class: "colibri-form-label-dark" %>
        <%= form.text_field :emergency_contact_2_name, id: :patient_emergency_contact_2_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :emergency_contact_2_address, "住所", class: "colibri-form-label-dark" %>
        <%= form.text_field :emergency_contact_2_address, id: :patient_emergency_contact_2_address, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :emergency_contact_2_phone, "電話番号", class: "colibri-form-label-dark" %>
        <%= form.text_field :emergency_contact_2_phone, id: :patient_emergency_contact_2_phone, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :emergency_contact_2_relationship, "続柄", class: "colibri-form-label-dark" %>
        <%= form.text_field :emergency_contact_2_relationship, id: :patient_emergency_contact_2_relationship, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :emergency_contact_2_living_with_patient, "同居有無", class: "colibri-form-label-dark" %>
        <%= form.check_box :emergency_contact_2_living_with_patient, id: :emergency_contact_2_living_with_patient %>
      </div>

    </div>

    <div class="modal-body">
      <div class="modal-subsection-title">サービス手順</div>

      <div class="form-group">
        <%= form.text_area :care_instructions, id: :patient_care_instructions, rows: 6, class: "form-control" %>
      </div>

    </div>

    <div class="blue-background-form">

      <div class="modal-subsection-title">請求情報</div>
      
      <% if @corporation.elderly_care_and_nursing? %>

        <div class="form-group">
          <%= form.label :issuing_administration_number, "保険者番号", class: "colibri-form-label-dark" %>
          <%= form.text_field :issuing_administration_number, id: :patient_issuing_administration_number, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :issuing_administration_name, "保険者名", class: "colibri-form-label-dark" %>
          <%= form.text_field :issuing_administration_name, id: :patient_issuing_administration_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :insurance_id, "被保険者番号", class: "colibri-form-label-dark" %>
          <%= form.text_field :insurance_id, id: :patient_insurance_id, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :ratio_paid_by_patient, '利用者負担', class: "colibri-form-label-dark" %>
          <%= form.select :ratio_paid_by_patient, options_for_select([['１割', 1], ['２割', 2], ['３割', 3]], patient.ratio_paid_by_patient) %>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <%= form.label :public_assistance_id_1, '第一公費番号', class: "colibri-form-label-dark" %>
            <%= form.text_field :public_assistance_id_1, class: 'form-control' %>
          </div>
          <div class="form-group col-md-6">
            <%= form.label :public_assistance_receiver_number_1, '第一公費受給者番号', class: "colibri-form-label-dark" %>
            <%= form.text_field :public_assistance_receiver_number_1, class: 'form-control' %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <%= form.label :public_assistance_id_2, '第二公費番号', class: "colibri-form-label-dark" %>
            <%= form.text_field :public_assistance_id_2, class: 'form-control' %>
          </div>
          <div class="form-group col-md-6">
            <%= form.label :public_assistance_receiver_number_2, '第二公費受給者番号', class: "colibri-form-label-dark" %>
            <%= form.text_field :public_assistance_receiver_number_2, class: 'form-control' %>
          </div>
        </div>

      <% end %>

    <% else%>

      <div class="form-group">
        <%= form.label :end_of_contract, "契約終了日", class: "colibri-form-label-dark" %>
        <%= form.text_field :end_of_contract, class: 'form-control', id: :patient_end_of_contract %>
      </div>

      <div class="form-group">
        <%= link_to 'サービス実施中に戻す', toggle_active_path(patient), method: :patch, data: {confirm: '利用者がサービス実施中にもどされます。サービスは再入力してください。'}, class: 'btn btn-success text-white' if !patient.active? %>
      </div>

    <% end %>



  </div>


  <div class="modal-footer">
    <% unless patient.new_record? %>
      <div class="btn btn-colibri-light btn-desktop" data-dismiss="modal">閉じる</div>
      <%= link_to 'サービス停止', toggle_active_path(patient), method: :patch, data: {confirm: '将来のサービスがキャンセルされ、利用者一覧から外されます。'}, class: 'btn btn-danger text-white' if patient.active? %>
    <% end %>
    <%= form.submit '確定する', class: 'btn btn-info' %>
  </div>
<% end %>