<%= form_with model: @patient, local: @patient.new_record?, id: 'patient_form' do |form| %>
	<% if @patient.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>
		<ul>
		<% @patient.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
		</ul>
	</div>
	<% end %>

	<div class="modal-body">

		<div class="modal-subsection-title">基本情報</div>

		<div class="form-group">
		    <%= form.label :name, "#{client_resource_name(@corporation.business_vertical)}名", class: "colibri-form-label-dark" %><span class='required-field'>*</span>
		    <%= form.text_field :name, id: :patient_name, required: true, class: "form-control" %>
		</div>

		<div class="form-group">
		    <%= form.label :kana, "フリガナ", class: "colibri-form-label-dark" %><span class='required-field'>*</span>
		    <%= form.text_field :kana, id: :patient_kana, required: true, class: "form-control" %>
		</div>

		<% if @patient.active %>

		<% if @corporation.elderly_care_and_nursing? %>
			<div class="form-row">
				<div class="form-group col-md-3">
					<%= form.label :gender, '性別', class: 'colibri-form-label-dark', style: 'text-align:right!important' %>
					<%= form.radio_button :gender, true, checked: @patient.new_record? || @patient.gender %>
					<%= form.label :gender, '女', value: true %>
					<%= form.radio_button :gender, false %>
					<%= form.label :gender, '男', value: false %>
				</div>
				<div class="form-group col-md-2">
					<%= form.label :birthday, "生年月日", class: "colibri-form-label-dark" %>
				</div>
				<div class="form-group col-md-7">
					<%= form.hidden_field :birthday, id: :patient_birthday %>
					<%= select_tag :birthday_era, options_for_select(ApplicationHelper::WAREKI_ERA, @patient.birthday.try(:j_era)), {prompt: '選択', id: :patient_birthday_era, class: 'wareki_era colibri-input'} %>
					<%= text_field_tag :birthday_year, value = @patient.birthday.try(:j_year), {style: "width:35px;height:25px", placeholder: 'yy', id: :patient_birthday_year, class: 'wareki_year colibri-input'} %>年
					<%= text_field_tag :birthday_month, value = @patient.birthday.try(:month), {style: "width:35px;height:25px", placeholder: 'mm', id: :patient_birthday_month, class: 'wareki_month colibri-input'} %>月
					<%= text_field_tag :birthday_day, value = @patient.birthday.try(:day), {style: "width:35px;height:25px", placeholder: 'dd', id: :patient_birthday_day, class: 'wareki_day colibri-input'} %>日
				</div>
			</div>
		<% end %>


		<div class="form-row">
			<div class="form-group col-md-6">
			<%= form.label :phone_number, "電話番号", class: "colibri-form-label-dark" %>
			<%= form.text_field :phone_number, id: :patient_phone_number, class: "form-control" %>
			</div>
			<div class="form-group col-md-6">
			<%= form.label :phone_mail, "携帯メールアドレス", class: "colibri-form-label-dark" %>
			<%= form.text_field :phone_mail, id: :patient_phone_mail, class: "form-control" %>
			</div>
		</div>


		<div class="form-group">
			<%= form.label :address, "住所", class: "colibri-form-label-dark" %>
			<%= form.text_area :address, id: :patient_address, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= form.label :date_of_contract, "契約日", class: "colibri-form-label-dark" %>
			<%= form.text_field :date_of_contract, id: :patient_date_of_contract, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= form.label :caveat_list, "特徴.要求タグ", class: "colibri-form-label-dark" %>
			<%= form.select :caveat_list, options_from_collection_for_select(@caveats, 'name', 'name', @patient.caveat_list), {}, {multiple: true, id: "patient_caveat_list"} %>
		</div>

		<div class="form-row">
			<div class="form-group col-md-6">
				<%= form.label :nurse_id, "担当従業員", class: "colibri-form-label-dark" %>
				<%= form.select :nurse_id, grouped_options_for_select(@nurses.group_full_timer_for_select, @patient.nurse_id), {}, {id: :patient_nurse_id}  %>
			</div>
			<% if @corporation.elderly_care_and_nursing? %>
				<div class="form-group col-md-6">
					<%= form.label :doctor_name, "主治医", class: "colibri-form-label-dark" %>
					<%= form.text_field :doctor_name, id: :patient_doctor_name, class: "form-control" %>
				</div>
			<% end %>
		</div>

		<div class="form-group">
			<%= form.label :description, "備考", class: "colibri-form-label-dark" %>
			<%= form.text_area :description, id: :patient_description, class: "form-control" %>
		</div>

	</div>

	<div class="blue-background-form">

		<div class="modal-subsection-title">請求情報</div>

		<% if @corporation.elderly_care_and_nursing? %>

			<div class="form-group">
				<%= form.label :issuing_administration_number, "保険者番号", class: "colibri-form-label-dark" %>
				<%= form.text_field :issuing_administration_number, id: :patient_issuing_administration_number, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= form.label :issuing_administration_name, "保険者名", class: "colibri-form-label-dark" %>
				<%= form.text_field :issuing_administration_name, id: :patient_issuing_administration_name, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= form.label :insurance_id, "被保険者番号", class: "colibri-form-label-dark" %>
				<%= form.text_field :insurance_id, id: :patient_insurance_id, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= form.label :ratio_paid_by_patient, '利用者負担', class: "colibri-form-label-dark" %>
				<%= form.select :ratio_paid_by_patient, options_for_select([['１割', 1], ['２割', 2], ['３割', 3]], @patient.ratio_paid_by_patient) %>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<%= form.label :public_assistance_id_1, '第一公費番号', class: "colibri-form-label-dark" %>
					<%= form.text_field :public_assistance_id_1, class: 'form-control' %>
				</div>
				<div class="form-group col-md-6">
					<%= form.label :public_assistance_receiver_number_1, '第一公費受給者番号', class: "colibri-form-label-dark" %>
					<%= form.text_field :public_assistance_receiver_number_1, class: 'form-control' %>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<%= form.label :public_assistance_id_2, '第二公費番号', class: "colibri-form-label-dark" %>
					<%= form.text_field :public_assistance_id_2, class: 'form-control' %>
				</div>
				<div class="form-group col-md-6">
					<%= form.label :public_assistance_receiver_number_2, '第二公費受給者番号', class: "colibri-form-label-dark" %>
					<%= form.text_field :public_assistance_receiver_number_2, class: 'form-control' %>
				</div>
			</div>

		<% end %>

	</div>

	<div class="modal-body">
		<div class="modal-subsection-title">介護計画情報</div>

		<div id="care-plan-fields">
			<%= form.fields_for :care_plans do |c| %>
				<div class="form-group">
					<%= c.label :care_manager_id, "担当ケアマネジャー", class: "colibri-form-label-dark" %>
					<%= c.select :care_manager_id, options_for_select(@care_managers.map{|cm| ["#{cm.name} - #{cm.care_manager_corporation.try(:name)}", cm.id]}), {include_blank: ''}, id: :patient_care_manager %>
				</div>

				<div class="colibri-form-group-flex">
					<div style="width:23%">
						<%= c.label :insurance_policy, "保険区分", class: "colibri-form-label-dark" %>
					</div>
					<div style="width:77%">
						<%= c.select :insurance_policy, options_for_select([['障害', 0], ['介護', 1], ['医療', 2]]), {}, {multiple: true, id: 'patient-insurance-policy'} %>
					</div>
				</div>

				<div class="colibri-form-group-flex">
					<div style="width:23%">
						<%= c.label :handicap_level, "障害程度区分", class: "colibri-form-label-dark" %>
					</div>
					<div style="width:77%">
						<div>
							<%= c.radio_button :handicap_level, 1, {class: "radio-inline"} %>
							<%= label :handicap_level_1, '区分１' %>
							<%= c.radio_button :handicap_level, 2, {class: "radio-inline"} %>
							<%= label :handicap_level_2, '区分２' %>
							<%= c.radio_button :handicap_level, 3, {class: "radio-inline"} %>
							<%= label :handicap_level_3, '区分３' %>
							<%= c.radio_button :handicap_level, 4, {class: "radio-inline"} %>
							<%= label :handicap_level_4, '区分４' %>
						</div>
						<div>
							<%= c.radio_button :handicap_level, 5, {class: "radio-inline"} %>
							<%= label :handicap_level_5, '区分５' %>
							<%= c.radio_button :handicap_level, 6, {class: "radio-inline"} %>
							<%= label :handicap_level_6, '区分６' %>
						</div>
					</div>
				</div>

				<div class="colibri-form-group-flex">
					<div style="width:23%">
						<%= c.label :kaigo_level, "介護度", class: "colibri-form-label-dark" %>
					</div>
					<div style="width:77%">
						<div>
						<%= c.radio_button :kaigo_level, 7, {class: "radio-inline"} %>
						<%= label :kaigo_level_7, '申請中' %>
						<%= c.radio_button :kaigo_level, 8, {class: "radio-inline"} %>
						<%= label :kaigo_level_8, '事業対象者' %>
						<%= c.radio_button :kaigo_level, 0, {class: "radio-inline"} %>
						<%= label :kaigo_level_0, '要支援1' %>
						<%= c.radio_button :kaigo_level, 1, {class: "radio-inline"} %>
						<%= label :kaigo_level_1, '要支援2' %>
						</div>
						<div>
						<%= c.radio_button :kaigo_level, 2, {class: "radio-inline"} %>
						<%= label :kaigo_level_2, '要介護1' %>
						<%= c.radio_button :kaigo_level, 3, {class: "radio-inline"} %>
						<%= label :kaigo_level_3, '要介護2' %>
						<%= c.radio_button :kaigo_level, 4, {class: "radio-inline"} %>
						<%= label :kaigo_level_4, '要介護3' %>
						<%= c.radio_button :kaigo_level, 5, {class: "radio-inline"} %>
						<%= label :kaigo_level_5, '要介護4' %>
						</div>
						<div>
						<%= c.radio_button :kaigo_level, 6, {class: "radio-inline"} %>
						<%= label :kaigo_level_6, '要介護5' %>
						</div>
					</div>
				</div>

				<div>
					<%= c.label :kaigo_certification_date, "認定日", class: "colibri-form-label-dark" %>
					<%= c.hidden_field :kaigo_certification_date, id: :patient_kaigo_certification_date %>
					<%= select_tag :kaigo_certification_date_era, options_for_select(ApplicationHelper::WAREKI_ERA_SHORT, @patient.kaigo_certification_date.try(:j_era)), {prompt: '選択', id: :patient_kaigo_certification_date_era, class: 'wareki_era colibri-input'} %>
					<%= text_field_tag :kaigo_certification_date_era_year, value = @patient.kaigo_certification_date.try(:j_year), {style: "width:35px;height:25px", placeholder: 'yy', id: :patient_kaigo_certification_date_year, class: 'wareki_year colibri-input'} %>年
					<%= text_field_tag :kaigo_certification_date_era_month, value = @patient.kaigo_certification_date.try(:month), {style: "width:35px;height:25px", placeholder: 'mm', id: :patient_kaigo_certification_date_month , class: 'wareki_month colibri-input'}%>月
					<%= text_field_tag :kaigo_certification_date_era_day, value = @patient.kaigo_certification_date.try(:day), {style: "width:35px;height:25px", placeholder: 'dd', id: :patient_kaigo_certification_date_day, class: 'wareki_day colibri-input'} %>日
				</div>

				<div>
					<%= c.label :kaigo_certification_validity_start, "認定期間", class: "colibri-form-label-dark" %>
					<div class="form-group">
						<%= c.hidden_field :kaigo_certification_validity_start, id: :patient_kaigo_certification_validity_start %>
						<%= select_tag :kaigo_certification_validity_start_era, options_for_select(ApplicationHelper::WAREKI_ERA_SHORT, @patient.kaigo_certification_validity_start.try(:j_era)), {prompt: '選択', id: :patient_kaigo_certification_validity_start_era, class: 'wareki_era colibri-input'} %>
						<%= text_field_tag :kaigo_certification_validity_start_year, value = @patient.kaigo_certification_validity_start.try(:j_year), {style: "width:35px;height:25px", placeholder: 'yy', id: :patient_kaigo_certification_validity_start_year, class: 'wareki_year colibri-input'} %>年
						<%= text_field_tag :kaigo_certification_validity_start_month, value = @patient.kaigo_certification_validity_start.try(:month), {style: "width:35px;height:25px", placeholder: 'mm', id: :patient_kaigo_certification_validity_start_month , class: 'wareki_month colibri-input'}%>月
						<%= text_field_tag :kaigo_certification_validity_start_day, value = @patient.kaigo_certification_validity_start.try(:day), {style: "width:35px;height:25px", placeholder: 'dd', id: :patient_kaigo_certification_validity_start_day, class: 'wareki_day colibri-input'} %>日開始 ~
					</div>
					<div class="form-group">
						<%= c.hidden_field :kaigo_certification_validity_end, id: :patient_kaigo_certification_validity_end %>
						<%= select_tag :kaigo_certification_validity_end_era, options_for_select(ApplicationHelper::WAREKI_ERA_SHORT, @patient.kaigo_certification_validity_end.try(:j_era)), {prompt: '選択', id: :patient_kaigo_certification_validity_end_era, class: 'wareki_era colibri-input'} %>
						<%= text_field_tag :kaigo_certification_validity_end_year, value = @patient.kaigo_certification_validity_end.try(:j_year), {style: "width:35px;height:25px", placeholder: 'yy', id: :patient_kaigo_certification_validity_end_year, class: 'wareki_year colibri-input'} %>年
						<%= text_field_tag :kaigo_certification_validity_end_month, value = @patient.kaigo_certification_validity_end.try(:month), {style: "width:35px;height:25px", placeholder: 'mm', id: :patient_kaigo_certification_validity_end_month, class: 'wareki_month colibri-input'}%>月
						<%= text_field_tag :kaigo_certification_validity_end_day, value = @patient.kaigo_certification_validity_end.try(:day), {style: "width:35px;height:25px", placeholder: 'dd', id: :patient_kaigo_certification_validity_end_day, class: 'wareki_day colibri-input'} %>日終了
					</div>
				</div>

				<div class="form-group">
					<%= c.label :short_term_goals, "短期目標", class: "colibri-form-label-dark" %>
					<%= c.text_area :short_term_goals, class: "form-control" %>
				</div>

				<% unless @corporation.hide_care_plan_long_term_goals %>
					<div class="form-group">
						<%= c.label :long_term_goals, "長期目標", class: "colibri-form-label-dark" %>
						<%= c.text_area :long_term_goals, class: "form-control" %>
					</div>
				<% end %>

				<div class="form-group">
					<%= c.label :patient_wishes, "ご本人の要望", class: "colibri-form-label-dark" %>
					<%= c.text_area :patient_wishes, class: "form-control" %>
				</div>

				<div class="form-group">
					<%= c.label :family_wishes, "ご家族の要望", class: "colibri-form-label-dark" %>
					<%= c.text_area :family_wishes, class: "form-control" %>
				</div>


			<% end %>

		</div>


	</div>

	<div class="modal-body">

		<% else %>

			<div class="form-group">
				<%= form.label :end_of_contract, "契約終了日", class: "colibri-form-label-dark" %>
				<%= form.text_field :end_of_contract, class: 'form-control', id: :patient_end_of_contract %>
			</div>

		<% end %>

	</div>

	<div class="modal-footer">
		<% unless @patient.new_record? %>
			<div class="btn btn-colibri-light btn-desktop" data-dismiss="modal">閉じる</div>
			<%= link_to 'サービス停止', toggle_active_path(@patient), method: :patch, data: {confirm: '将来のサービスがキャンセルされ、利用者一覧から外されます。'}, class: 'btn btn-danger text-white' if @patient.active? %>
		<% end %>
		<%= form.submit 'セーブする', class: 'btn btn-info' %>
	</div>
<% end %>