<%= javascript_tag do %>
	window.completionReportsSummaryUrl = "<%= j patient_completion_reports_summary_path(@patient) %>"
	window.popoverFocusAllowed = <%= true %>
<% end %>

<%= render partial: 'plannings/phone_bottom_menu', locals: {view: 'admin_reports', resource_payable_path: planning_nurse_payable_path(@planning, @main_nurse, params: {m: Date.today.in_time_zone('Tokyo').month,y: Date.today.in_time_zone('Tokyo').year})} %>


<div id="menu-backdrop">
</div>

<div id="resource-list-container" class="no-print" style="overflow:scroll">
    <div>
        <div style="text-align:right;font-size:1.3em;color:#D6D9DC;padding-right:3px">
            <span id="close-resource">&times;</span>
        </div>

        <div id="resource-container">
            <div id="patients-resource" class="no-print">
                <div class="nurses-resource-subsection-title resource-title-selectable colibri-clickable-link" data-url="<%= planning_completion_reports_summary_path(@planning) %>">全利用者</div>
                <% if @team.present? %>
			    	<div class="nurses-resource-subsection-title resource-title-selectable colibri-clickable-link" data-url="<%= team_completion_reports_summary_path(@team) %>"><%= @team.team_name %></div>
			    <% end %>
                <% PlanningsHelper::HIRAGANAS.each do |kana| %>
                    <div class="nurses-resource-subsection-title nurse-subsection-toggleable resource-title-selectable">
                        <%= kana %>
                        <span style="float:right;<%= 'display:none' if @patient.present? && @patients_grouped_by_kana[kana].present? && @patients_grouped_by_kana[kana].map(&:id).include?(@patient.id) %>" class="toggle-down"><%= image_tag 'menu_thin_chevron_down.svg', width: '17px' %></span>
                        <span style="float:right;<%= 'display:none' unless @patient.present? && @patients_grouped_by_kana[kana].present? && @patients_grouped_by_kana[kana].map(&:id).include?(@patient.id) %>" class="toggle-down"><%= image_tag 'menu_thin_chevron_up.svg', width: '17px' %></span>
                    </div>
                    <div class="nurse-subsection-toggleable" style="<%= 'display:none' unless @patient.present? && @patients_grouped_by_kana[kana].present? && @patients_grouped_by_kana[kana].map(&:id).include?(@patient.id) %>">
                        <% (@patients_grouped_by_kana[kana] || []).each do |patient| %>
                            <p id='<%= "patient_#{patient.id}" %>' class="resource-list-element colibri-clickable-link <%= 'resource-selected' if patient.id == @patient.try(:id) %>" data-url="<%= patient_completion_reports_summary_path(patient) %>"><%= patient.try(:name) %></p>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div id="payable-container">
	<div id="planning-header">
		<div id="detail-planning-title">
			<div id="planning-nurse-information">
				<div id="payable-menu" style="<%= 'display:none' if current_user.nurse_restricted? %>">
					<%= image_tag 'hamburger_icon_white.svg', size: '35', class: 'hamburger_menu'  %>
				</div>
				<div class="planning-resource-module-title">
					<span id="resource-name-wrapper"><%= @patient.name %>様の実施記録</span>
				</div>
			</div>
		</div>
		<div id="planning-header-submenu">
			<div data-ripple class="header-submenu-item header-submenu-item-selected" id="select-completed-reports">記録済み (<%= @completion_reports.try(:size) %>)</div>
			<div data-ripple class="header-submenu-item resource-details-button" id="select-uncompleted-reports">書き残し (<%= @appointments_without_reports.try(:size) %>)</div>
		</div>
	</div>

    <div class="payable-body" id="patient-completion-reports-body">
		<div style="display:flex;padding:5px" id="completion-reports-query-date-container">
			<%= select_tag '年', options_for_select([['2018年', 2018],['2019年', 2019], ['2020年', 2020], ['2021年', 2021]], @range.first.year), id: 'query_year', class:'patient_completion_report_date_select', style: 'margin-right:3px' %>
			<%= select_tag '月', options_for_select([['1月', 1],['2月', 2], ['3月', 3], ['4月', 4], ['5月',5], ['6月',6], ['7月', 7], ['8月', 8], ['9月', 9], ['10月', 10], ['11月', 11], ['12月', 12]], @range.first.month), id: 'query_month', class: 'patient_completion_report_date_select' %>
		</div>

        <div id="completion-reports-body">
			<div id="completed-reports">
				<% @completion_reports.each do |completion_report| %>
                   <div class="completion-report-container">
                        <div style="border:0.5px solid #ccc;border-radius:4px;padding:5px;background-color:#FEFFFE">
                            <div style="display:flex;justify-content:space-between">
                                <div class='reportable-information' style='font-size:0.9em;'>
                                    <div class="completion-report-nurse-patient">
                                        <%= "#{completion_report.reportable.try(:nurse).try(:name)} > #{completion_report.reportable.try(:patient).try(:name)}様" %>
                                    </div>
                                    <div class="completion-report-datetime">
                                        <%= "#{l(completion_report.reportable.starts_at, format: '%-m月%-d日 %-H:%M ~ ' )}#{completion_report.reportable.ends_at.strftime('%-H:%M')}" %>
                                    </div>
                                    <div class="completion-report-title" >
                                        <%= completion_report.reportable.try(:title) %>
                                    </div>
                                </div>
                                <div class='edit-reportable'>
                                    <%= link_to '編集 <span style="font-size:13px" class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_appointment_path(completion_report.reportable), remote: true, class: 'btn btn-sm btn-colibri-mid-light' %>
                                </div>  
                            </div>
                            <div class="completion-report-notification">
                                <%= nurse_ping_mark(completion_report.nurse_ping?).html_safe %>
                                <%= report_has_changed_from_forecast(completion_report.changed_from_forecast?).html_safe %>
                            </div>
                            <div class="completion-report-tasks" style="display:flex;margin-top:4px">
                                <div style="flex-grow:1">
                                    <%= completion_report_summary(completion_report, detailed: true).html_safe %>
                                </div>
                                <% if completion_report.changed_from_forecast? %>
                                    <div style="flex-grow:1">
                                        <div class='btn btn-sm btn-colibri-mid-light compare-with-forecast' style='margin-top:6px'>
                                            予定と比較
                                        </div>
                                        <div class='forecasted-report-summary' style="display:none;">
                                            <%= completion_report_summary(completion_report.forecasted_report, detailed: false).html_safe %>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                            <div class="completion-report-message-body">
                                <%= simple_format(completion_report.general_comment) %>
                            </div>
                            <div class="completion-report-action" style="text-align:right">
                                
                                <div style="margin-bottom:4px" id="appointment-<%= completion_report.reportable_id %>">
                                    <% if completion_report.reportable.try(:verified?) %>
										<span class='glyphicon glyphicon-check'  style="color: #42B97C"></span><%= link_to "#{completion_report.reportable.verifier.try(:name)} #{completion_report.reportable.verified_at.try(:strftime,'%y/%m/%d')}", toggle_verified_appointment_path(completion_report.reportable), remote: true, method: :patch, class: 'verified-at-and-by', data: {confirm: '実績の確認が解除されます'} %>
									<% else %>
										<%= link_to '確認１', toggle_verified_appointment_path(completion_report.reportable), method: :patch, remote: :true, class: 'btn btn-success btn-sm' %>
									<% end %>
                                </div>
                                <div id="appointment-second-verified-<%= completion_report.reportable_id %>">
                                	<% if completion_report.reportable.try(:second_verified?) %>
										<span class='glyphicon glyphicon-check' style="color: #42B97C"></span>
										<%= link_to "#{completion_report.reportable.second_verifier.try(:name)}#{completion_report.reportable.second_verified_at.try(:strftime,'%y/%m/%d')}", toggle_second_verified_appointment_path(completion_report.reportable), remote: true, method: :patch, class: 'verified-at-and-by', data: {confirm: '実績の確認が解除されます'} %>
									<% else %>
										<%= link_to '確認２', toggle_second_verified_appointment_path(completion_report.reportable), method: :patch, remote: :true, class: 'btn btn-success btn-sm' %>
									<% end %>
                                </div>
                            </div>
                        </div>
                    </div>

				<% end %>
			</div>
			<div id="uncompleted-reports" class="table-responsive" style="display:none">
				<table class="table">
					<thead>
						<th style="width:50%">日時</th>
						<th style="width:50%">従業員名</th>
					</thead>
					<tbody>
						<% @appointments_without_reports.each do |appointment| %>
							<tr>
								<td><%= "#{l(appointment.starts_at, format: '%-m/%-d (%a) %-H:%M ~ ')}#{appointment.ends_at.strftime('%-H:%M')}" %></td>
								<td><%= appointment.try(:nurse).try(:name) %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
        </div>
    </div>
</div>