<% if @planning.present? %>
  <%= render 'layouts/planning_menu' %>
  <%= render 'plannings/planning_patients_submenu' %>
<% else %>
  <%= render 'layouts/patients_menu' %>
<% end %>

<div id="index-container">

  <% if @planning.nil? %>
  <%= link_to '新規利用者', new_patient_path, class: 'btn btn-info text-white' %>
  <% end %>

  <div id="index-table-container">
    <table class="<%= @planning ? 'table table-hover' : 'table' %>">
      <thead>
        <tr>
          <th class="table-important-fields">名前</th>
          <th class="table-important-fields">電話番号</th>
          <th class="table-important-fields">メール</th>
          <th class="table-important-fields">住所</th>
        </tr>
      </thead>

      <tbody>
        <% @patients.each do |patient| %>
          <tr class="<%= 'clickable-row' if @planning %>" data-link="<%= planning_patient_path(@planning, patient) if @planning %>">
            <td><%= patient.name %></td>
            <td><%= patient.phone_number %></td>
            <td><%= patient.phone_mail %></td>
            <td><%= patient.address %></td>
            <% if @planning.present? %>
              <td><%= link_to '利用者のサービスを変換する', planning_patient_path(@planning, patient) %></td>
            <% else %>
              <td><%= link_to 'エディット', edit_patient_path(patient) %></td>
              <td><%= link_to '削除', patient_path(patient), method: :delete, data: {confirm: '利用者が削除されます'} %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>





<br>
