<%= javascript_tag do %>
  window.currentResourceType = ''
  window.currentResourceId = ''
<% end %>

<%= render partial: 'plannings/planning_left_menu', locals: {view: 'settings', resource_payable_path: planning_nurse_payable_path(@planning, @main_nurse, params: {m: Date.today.in_time_zone('Tokyo').month, y: Date.today.in_time_zone('Tokyo').year})} %>

<%= render 'plannings/settings_submenu', view: 'patients' %>

<div id="settings-container">
  <%= link_to "+新規#{client_resource_name(@corporation.business_vertical)}", new_patient_path, class: 'btn btn-info text-white btn-margin-top', remote: true %>
  
  <div style="display:flex;justify-content:space-between;margin-top:30px">
    <div id="toggle-active-patients-menu" style="display:flex">
      <div id="active-patients" class="toggle-active-element toggle-active-selected" style="margin-right:20px">サービス実施中 (<%= @patients.sum {|k,v| v.length} %>)</div>
      <div id="deactivated-patients" class="toggle-active-element">サービス終了 (<%= @deactivated_patients.count %>)</div>
    </div>
    <div>
      <%= link_to '<i class="glyphicon glyphicon-download" style="color:white;font-size:15px"></i> エクセル'.html_safe, patients_path(format: :xlsx), class: 'btn btn-colibri-light-gray' %>
    </div>
  </div>

  <div id="index-table-container">
    <table id="active-patients-table" class="table table-hover">
      <thead>
        <tr>
          <th><%= client_resource_name(@corporation.business_vertical) %>名</th>
          <% if @corporation.elderly_care_and_nursing? %>
            <th>契約期間</th>
          <% end %>
          <th>電話番号</th>
          <th>住所</th>
        </tr>
      </thead>

      <tbody>
        <% @patients.each do |kana, patients| %>
          <tr>
            <th class='table-important-fields'><%= kana %></th>
            <% if @corporation.elderly_care_and_nursing? %>
              <th></th>
            <% end %>
            <th></th>
            <th></th>
          </tr>
          <% patients.each do |patient| %>
            <% cache patient do %>
              <tr class='patient-clickable-row' data-link="<%= edit_patient_path(patient, format: :js) %>" id="<%= patient.id %>">
                <td><%= patient.name %></td>
                <% if @corporation.elderly_care_and_nursing? %>
                  <td><%= "#{patient.date_of_contract.strftime("%Y年%-m月%-d日")} ~ " if patient.date_of_contract.present? %><%= patient.end_of_contract.strftime("%Y年%-m月%-d日") if patient.end_of_contract.present? %></td>
                <% end %>
                <td><%= patient.phone_number %></td>
                <td><%= patient.address %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <table id="deactivated-patients-table" class="table table-hover" style="display:none">
      <thead>
        <th>名前</th>
        <th>契約期間</th>
        <th>電話番号</th>
        <th>住所</th>
      </thead>
      <tbody>
        <% @deactivated_patients.each do |patient| %>
          <% cache patient do %>
            <tr class='patient-clickable-row' data-link="<%= edit_patient_path(patient) %>" id="<%= patient.id %>">
              <%= render 'patient_row', patient: patient %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    
  </div>

  
</div>
