<%= javascript_tag do %>
  window.currentResourceType = ''
  window.currentResourceId = ''
<% end %>


<% if request.variant.phone? %>
  <%= render partial: 'plannings/phone_bottom_menu', locals: {view: 'settings', resource_payable_path: planning_nurse_payable_path(@planning, @main_nurse, params: {m: Date.today.in_time_zone('Tokyo').month, y: Date.today.in_time_zone('Tokyo').year})} %>
<% else %>
  <%= render partial: 'plannings/planning_left_menu', locals: {view: 'settings', resource_payable_path: planning_nurse_payable_path(@planning, @main_nurse, params: {m: Date.today.in_time_zone('Tokyo').month, y: Date.today.in_time_zone('Tokyo').year})} %>
<% end %>

<%= render 'plannings/settings_submenu', view: 'patients' %>

<div id="menu-backdrop">
</div>

<div id="settings-container">
  <div id="planning-header">
    <div id="detail-planning-title">
      <div id="settings-menu">
        <div id="payable-menu">
          <%= image_tag 'hamburger_icon_white.svg', size: '35', class: 'hamburger_menu'  %>
        </div>
        <p class="planning-activity-module-title setting-title">
          利用者一覧
        </p>
      </div>
    </div>
  </div>

  <div class="settings-body">
    <%= link_to "+新規#{client_resource_name(@corporation.business_vertical)}", new_patient_path, class: 'btn btn-info text-white btn-margin-top', remote: true, data: {ripple: ""} %>
    
    <div class="patients-submenu">
      <div id="toggle-active-patients-menu" style="display:flex">
        <div id="active-patients" class="toggle-active-element toggle-active-selected" style="margin-right:20px"><%= @user_team.team_name if @user_team.present? %>サービス実施中 (<%= @active_patients_count %>)</div>
        <div id="deactivated-patients" class="toggle-active-element"><%= @user_team.team_name if @user_team.present? %>サービス終了 (<%= @deactivated_patients.size %>)</div>
      </div>
      <div id="patients-excel">
        <%= link_to '<i class="glyphicon glyphicon-download" style="color:white;font-size:15px"></i> エクセル'.html_safe, patients_path(format: :xlsx), class: 'btn btn-colibri-light-gray' %>
      </div>
    </div>

    <div id="index-table-container" class="table-responsive">
      <div id="active-patients-table" style="margin-bottom:100px">
        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width:20%;min-width:100px"><%= client_resource_name(@corporation.business_vertical) %>名</th>
              <% if @corporation.elderly_care_and_nursing? %>
                <th style="width:20%;min-width:120px">契約期間</th>
              <% end %>
              <th style="width:20%;min-width:120px">電話番号</th>
              <th style="width:40%;min-width:120px">住所</th>
            </tr>
          </thead>
        </table>
        <div id="kana-container">
          <% PlanningsHelper::HIRAGANAS.each do |kana| %>
            <div class="kana-subcontainer">
              <div class="kana-header" data-kana-group="<%= kana %>" style="padding-right:20px">
                <%= kana %>
                <span class="kana-toggle-arrow"><%= image_tag 'down_arrow_black.svg', width: '17px' %></span>
                <span style="display:none" class="kana-toggle-arrow"><%= image_tag 'up_arrow_black.svg', width: '17px' %></span>
              </div>
              <div class="nurse-subsection-toggleable" id="nurses_for_kana_<%= kana %>" style="display:none">

              </div>
            </div>
				  <% end %>
        </div>

      </div>


      <table id="deactivated-patients-table" class="table table-hover" style="display:none">
        <thead>
          <th style="min-width:100px">名前</th>
          <th style="min-width:120px">契約期間</th>
          <th style="min-width:120px">電話番号</th>
          <th style="min-width:120px">住所</th>
        </thead>
        <tbody>
          <% @deactivated_patients.each do |patient| %>
            <% cache patient do %>
              <tr class='patient-clickable-row' data-link="<%= edit_patient_path(patient, format: :js) %>" id='<%= "patient_row_#{patient.id}" %>'>
                <td><%= patient.name %></td>
                <% if @corporation.elderly_care_and_nursing? %>
                  <td><%= "#{patient.date_of_contract.strftime("%Y年%-m月%-d日")} ~ " if patient.date_of_contract.present? %><%= patient.end_of_contract.strftime("%Y年%-m月%-d日") if patient.end_of_contract.present? %></td>
                <% end %>
                <td><%= patient.phone_number %></td>
                <td><%= patient.address %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      
    </div>
  </div>
  
</div>
