<div id="index-container">

  <%= link_to '+新規利用者', new_patient_path, class: 'btn btn-info text-white btn-margin-top', remote: true %>

  <div id="index-table-container">
    <table class="<%= @planning ? 'table table-hover' : 'table' %>">
      <thead>
        <tr>
          <th class="table-important-fields">名前</th>
          <th class="table-important-fields">電話番号</th>
          <th class="table-important-fields">メール</th>
          <th class="table-important-fields">住所</th>
        </tr>
      </thead>

      <tbody>
        <% @patients.each do |patient| %>
          <% cache patient do %>
            <tr class='patient-clickable-row' data-link="<%= edit_patient_path(patient, format: :js) %>">
              <td><%= patient.name %></td>
              <td><%= patient.phone_number %></td>
              <td><%= patient.phone_mail %></td>
              <td><%= patient.address %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>





<br>
