<%= javascript_tag do %>
	window.recurringAppointmentsURL = "<%= j planning_recurring_appointments_url(@planning, patient_id: @patient.id) %>";
	window.corporationNursesURL = "<%= j corporation_nurses_url(@corporation, format: :json) %>";
	window.createRecurringAppointmentURL = "<%= j new_planning_recurring_appointment_url(@planning) %>";
	window.userIsAdmin = "<%= j current_user.has_admin_access?.to_s %>";
	window.patientId = "<%= j @patient.id.to_s %>";
	window.minTime = "<%= j current_user.corporation.business_start_hour %>";
	window.maxTime = "<%= j current_user.corporation.business_end_hour %>";
	window.defaultView = "<%= j @corporation.default_master_view %>";
	window.masterToSchedule = "<%= j master_to_schedule_path(@planning) %>";
	window.patientMasterToSchedule = "<%= j patient_master_to_schedule_path(@planning, @patient) %>";
	window.planningId = "<%= j @planning.id.to_s %>";
	window.firstDay = "<%= j @corporation.default_first_day.to_s %>";
	window.printDates = "<%= j @printing_option.print_patient_dates_in_master.to_s %>";
	window.holidays = "<%= j HolidayJp.between((Date.today - 1.year), (Date.today + 1.year)).to_json.html_safe %>"
	window.masterSchedule = 'true'
<% end %>


<div id="planning-menu-container">
	<%= render partial: 'plannings/planning_left_menu', locals: {view: 'master', resource_path: planning_patient_path(@planning, @patient), resource_master_path: planning_patient_master_path(@planning, @patient), nurse: @main_nurse} %>
</div>

<%= render partial: 'plannings/resources_submenu', locals: {individual_resource: 'true', resource_type: 'patient', master_resource: true} %>


<div id="detail-container">
	<div id="detail-planning-container">
		<div id="detail-planning-title" class="print-add-margin">
		    <div id="planning-nurse-information">
		        <div class="planning-nurse-module-title">
			        <%= @patient.try(:name) %>
			    </div>
			    <div id="address-phone-container" class="font-size-large print-only">
				  <% if @patient.address.present? %>
					<span class="glyphicon glyphicon-home"></span><span class="font-size-large"><%= " #{@patient.address}  " %></span>
				  <% end %>
				  <% if @patient.phone_number.present? %>
					<span class="glyphicon glyphicon-phone"></span><span class="font-size-large"><%= " #{@patient.phone_number}" %></span>
				  <% end %>
			    </div>
			    <div id="description-container" class="print-only">
			       <span class="<%= 'no-print' unless @printing_option.print_patient_description_in_master == true %>">備考：<%= @patient.try(:description) %></span>
			    </div>
			    <div id="appointment-comments-container" class="print-only">
		            <div class="<%= 'no-print' unless @printing_option.print_patient_comments_in_master == true %>"> 
			            <div class="appointment-comments-title">コメント</div>
			            <div id="appointment-comments"></div>
					</div>
		        </div>
			</div>
		    <div id="activity-show-button-container" class="no-print">
	  		    <div class="btn btn-colibri-light-gray text-white" id="print-button"><i class="glyphicon glyphicon-print" style="color:white"></i> 印刷</div>
		    </div>
		</div>

		<div id="planning-container">
			<div class="master_calendar"></div>
		</div>
	</div>
</div>

<% if current_user.has_admin_access? %>
<div id="colibri-batch-master-action-button" class="no-print batch-action-button">
    <div class="colibri-glyphicon-container">
        <span class="glyphicon glyphicon-pencil batch-action-pencil"></span>
        <div id='batch-action-menu' style="display:none">
		    <p id='reflect-resource' class='master-reflect-option' style='color:#606E7C ;font-size:1.2em' data-resource-name="<%= @patient.try(:name) %>"><%= link_to "#{@patient.try(:name)}様のみ", new_patient_master_to_schedule_path(@patient), remote: true  %></p>
		    <p id='reflect-all' class='master-reflect-option' style='color:#606E7C ;font-size:1.2em'><%= link_to '全員', new_planning_master_to_schedule_path(@planning), remote: true  %></p>
        </div>
    </div>
</div>
<% end %>

<%= render 'plannings/nurse_conflict_days' %>

<div id="drag-drop-master" style="display: none" title="サービスをコピーする">
	<p>下記のサービスの繰り返しが新規マスターサービスとしてセーブされます：</p>
	<div id="drag-drop-master-content"></div>
</div>

