<%= javascript_tag do %>
	window.appointmentsURL = "<%= j planning_appointments_url(@planning, patient_id: @patient.id) %>";
	window.corporationNursesURL = "<%= j corporation_nurses_url(@corporation, format: :json) %>";
	window.createRecurringAppointmentURL = "<%= j new_planning_recurring_appointment_url(@planning) %>";
	window.validRangeStart = "<%= j @start_valid %>";
	window.userIsAdmin = "<%= j @admin %>";
	window.patientId = "<%= j @patient.id.to_s %>";
	window.minTime = "<%= j current_user.corporation.business_start_hour %>";
	window.maxTime = "<%= j current_user.corporation.business_end_hour %>";
	window.defaultView = "<%= j @corporation.default_master_view %>";
	window.masterToSchedule = "<%= j master_to_schedule_path(@planning) %>";
	window.patientMasterToSchedule = "<%= j patient_master_to_schedule_path(@planning, @patient) %>";
	window.planningId = "<%= j @planning.id.to_s %>";
	window.firstDay = "<%= j @corporation.default_first_day.to_s %>";
	window.printDates = "<%= j @printing_option.print_patient_dates_in_master.to_s %>";
	window.holidays = "<%= j HolidayJp.between(Date.new(@planning.business_year, @planning.business_month, 1).beginning_of_day, Date.new(@planning.business_year, @planning.business_month, -1).end_of_day).to_json.html_safe %>"
<% end %>


<div id="planning-menu-container">
	<%= render 'plannings/planning_master_submenu' %>
</div>

<div id="resource-list-container" class="no-print">
	<div id="toggle-patients-nurses-wrapper">
		<input type="checkbox" checked id="toggle-patients-nurses">
	</div>
	<div id="resource-container"  class="scrollbar-custom colibri-scrollbar-dark">
	  <div id="patients-resource" class="no-print">
		<% @patients.group_by_kana.each do |kana, patients| %>
			<div class="nurses-resource-subsection-title"><%= kana %></div>
			<% patients.each do |patient| %>
				<p class="master-list-element colibri-clickable-link list-patient  <%= 'master-element-selected' if patient == @patient %>" data-url="<%= planning_patient_master_path(@planning, patient) %>"><%= patient.try(:name) %></p>
			<% end %>
		<% end %>
	  </div>
      <div id="nurses-resource" class="hide-resource no-print">
		<% @grouped_nurses.each do |group, nurses| %>
			<div class="nurses-resource-subsection-title"><%= group %></div>
			<% nurses.each do |nurse| %>
				<p class="master-list-element colibri-clickable-link " data-url="<%= planning_nurse_master_path(@planning, nurse) %>"><%= nurse.try(:name) %></p>
			<% end %>
		<% end %>
	  </div>
	</div>

</div>

<div id="detail-container">
	<div id="detail-planning-container">
		<div id="detail-planning-title" class="print-add-margin">
		    <div id="planning-nurse-information">
		        <div class="planning-nurse-module-title">
			        <%= @patient.try(:name) %>
			    </div>
			    <div id="address-phone-container" class="font-size-large print-only">
				  <% if @patient.address.present? %>
					<span class="glyphicon glyphicon-home"></span><span class="font-size-large"><%= " #{@patient.address}  " %></span>
				  <% end %>
				  <% if @patient.phone_number.present? %>
					<span class="glyphicon glyphicon-phone"></span><span class="font-size-large"><%= " #{@patient.phone_number}" %></span>
				  <% end %>
			    </div>
			    <div id="description-container" class="print-only">
			       <span class="<%= 'no-print' unless @printing_option.print_patient_description_in_master == true %>">備考：<%= @patient.try(:description) %></span>
			    </div>
			    <div id="appointment-comments-container" class="print-only">
		            <div class="<%= 'no-print' unless @printing_option.print_patient_comments_in_master == true %>"> 
			            <div class="appointment-comments-title">コメント</div>
			            <div id="appointment-comments"></div>
					</div>
		        </div>
			</div>
		    <div id="activity-show-button-container" class="no-print">
	  		    <div class="btn btn-colibri-light-gray text-white" id="print-button"><i class="glyphicon glyphicon-print" style="color:white"></i> 印刷</div>
 			    <% if current_user.has_admin_access? %>
				    <div class="btn btn-colibri-light-gray text-white" id="master-options"><i class="glyphicon glyphicon-cog" style="color:white; font-size: 1.25em"></i> オプション</div>
			    <% end %>
		    </div>
		</div>

		<div id="planning-container">
			<div class="master_calendar"></div>
		</div>
	</div>
</div>

<div id="modal-master-options" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">マスターオプション</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body">
				<table class="table">
                    <tbody>
						<tr>
							<td>提供表の予定を読み込み、マスタースケジュールにサービスを自動的に作成する。</td>
							<td><%= link_to '提供表の読み込み', new_planning_scan_path(@planning), class: 'btn btn-success text-white new-scan', remote: true %></td>
						</tr>
					    <tr>
                            <th>「全体スケジュール」内の<%= @patient.name %>様に関するこれまで編集情報は全て削除され、<%= @patient.name %>様のマスタースケジュールが上書きされます。</th>
                            <th><button class="btn btn-warning" id="copy-master-patient"><%= @patient.name %>様のマスターを反映</button></th>
                        </tr>

                        <tr>
                            <th>「全体スケジュール」のこれまで編集情報は全て削除され、マスタースケジュールが上書きされます。</th>
                            <th><button class="btn btn-warning btn-warning-danger" id="copy-master">全マスターを反映</button></th>
                        </tr>
                    </tbody>
                </table>
			</div>
		</div>
	</div>
</div>

<div id="drag-drop-master" style="display: none" title="サービスをコピーする">
	<p>下記のサービスの繰り返しが新規マスターサービスとしてセーブされます：</p>
	<div id="drag-drop-master-content"></div>
</div>
