<%= javascript_tag do  %>
	window.patientPayableUrl = "<%= j planning_patient_payable_path(@planning, @patient) %>";
<% end %>

<%= render partial: 'plannings/planning_left_menu', locals: {view: 'payable', resource_path: planning_patient_path(@planning, @patient), resource_master_path: planning_patient_master_path(@planning, @patient), resource_payable_path: planning_patient_payable_path(@planning, @patient, params: {m: @selected_month, y: @selected_year})} %>
<%= render partial: 'plannings/resources_submenu', locals: {individual_resource: 'true', resource_type: 'patient', view: 'payable'} %>

<div id="payable-container">
	<div id="detail-planning-title">
		<p class="planning-activity-module-title" id="payable-title">
			<%= "#{@patient.name}の実績" %>
			<span id="payable-query">
				<%= select_tag '年', options_for_select([['2018年', 2018],['2019年', 2019], ['2020年', 2020], ['2021年', 2021]], params[:y]), id: 'query_year' %>
				<%= select_tag '月', options_for_select([['1月', 1],['2月', 2], ['3月', 3], ['4月', 4], ['5月',5], ['6月',6], ['7月', 7], ['8月', 8], ['9月', 9], ['10月', 10], ['11月', 11], ['12月', 12]], params[:m]), id: 'query_month' %>
				<button id='payable-query-trigger' class='btn btn-sm btn-colibri-light'><span class="glyphicon glyphicon-refresh" style="color:#5f6368;font-size:0.85em"></span></button>
			</span>
		</p>
	</div>

    <% if current_user.corporation_admin? %>
        <div id="patient-dashboard" style='display:flex'>
            <div class="patient-dashboard-panel" style='width:calc(66% - 5px);margin-right:5px'>
                <div class="patient-dashboard-panel-title">
                    <%= @selected_month %>月のまとめ
                </div>
                <div class="patient-dashboard-panel-body">
                    請求額：<%= @total_invoiced_to_patient %>¥<br/>
                    総売り上げ：<%= @total_sales %>¥<br/>
                </div>
            </div>
            <div  class="patient-dashboard-panel" style="width:34%">
                <div class="patient-dashboard-panel-title">
                    <%= @selected_month %>月の書類
                </div>
                <div class="patient-dashboard-panel-body">
                    <table class="table">
                        <tr>
                            <td style='width:60%'>請求書</td>
                            <td style='width:40%'><%= link_to '<i class="glyphicon glyphicon-download" style="color:white;font-size:14px"></i>xlsx'.html_safe, planning_patient_payable_path(@planning, @patient, {m: @selected_month, y: @selected_year, format: 'xlsx'}), class: 'btn btn-sm btn-success text-white' %></td>
                        </tr>
                        <tr>
                            <td style='width:60%'>コメント付きサービス</td>
                            <td style='width:40%'><%= link_to '<i class="glyphicon glyphicon-download" style="color:white;font-size:14px"></i> pdf'.html_safe, patient_commented_appointments_path(@patient, {m: @selected_month, y: @selected_year, format: 'pdf'}), target: :_blank, class: 'btn btn-sm btn-success text-white' %></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    <% end %>

    <% if current_user.has_admin_access?  %>

        <div class="colibri-payable-subtitle">請求の詳細</div>

        <table class="table">
            <thead>
                <th>サービス内容</th>
                <th>単位数</th>
                <th>回数</th>
                <th>単位計</th>
                <th>額</th>
            </thead>
            <tbody>
                <% @appointments_summary.each do |appointment_summary_hash| %>
                    <tr>
                        <td><%= appointment_summary_hash[:official_title] %></td>
                        <td><%= appointment_summary_hash[:unit_credits] %></td>
                        <td><%= appointment_summary_hash[:count] %></td>
                        <td><%= appointment_summary_hash[:sum_total_credits] %></td>
                        <td></td>
                    </tr>
                <% end %>
                <% if @appointments_summary.size > 0 && @corporation.invoicing_bonus_ratio.present? %>
                    <tr>
                        <td><%= corporation_bonus_official_text(@corporation) %></td>
                        <td></td>
                        <td></td>
                        <% @sum_of_credits %>
                        <td><%= @bonus_credits %></td>
                        <td></td>
                    </tr>
                <% end %>
                <tr>
                    <td colspan="3">訪問介護合計</td>
                    <td><%= @total_credits %></td>
                    <td><%= @total_invoiced_inside_insurance_scope %>¥</td>
                </tr>
                <tr style='border-top:2px solid #ddd !important'>
                    <td colspan="3">区分支給限度額内</td>
                    <td><%= @credits_within_max_budget %></td>
                    <td><%= @amount_invoiced_within_max_budget %>¥</td>
                </tr>
                <tr>
                    <td colspan="4">区分支給限度額内の利用者請求額</td>
                    <td><%= @amount_invoiced_to_patient_within_max_budget  %>¥</td>
                </tr>
                <tr>
                    <td colspan="3">区分支給限度額を超える単位</td>
                    <td><%= @credits_exceeding_max_budget %></td>
                    <td><%= @amount_invoiced_exceeding_max_budget %>¥</td>
                </tr>
                <% @appointments_summary_without_insurance.each do |appointment_summary_hash| %>
                    <tr style="<%= 'border-top:2px solid #ddd !important' if @appointments_summary_without_insurance.index(appointment_summary_hash) == 0 %>">
                        <td><%= appointment_summary_hash[:title] %></td>
                        <td></td>
                        <td><%= appointment_summary_hash[:count] %></td>
                        <td></td>
                        <td><%= appointment_summary_hash[:sum_invoiced_total] %>¥</td>
                    </tr>
                <% end %>
                <% @cancelled_but_invoiceable_appointments.each do |cancelled_appointment| %>
                    <tr style="<%= 'border-top:2px solid #ddd !important' if !@appointments_summary_without_insurance.present? && @cancelled_but_invoiceable_appointments.index(cancelled_appointment) == 0 %>">
                        <td><%= "#{cancelled_appointment.title} (#{cancelled_appointment.starts_at.strftime('%-m月%-d日')} キャンセル)" %></td>
                        <td></td>
                        <td>1</td>
                        <td></td>
                        <td><%= cancelled_appointment.total_invoiced %>¥</td>
                    </tr>
                <% end %>
                <tr>
                    <td colspan="4">保険対象外合計</td>
                    <td><%= @total_invoiced_outside_insurance_scope %>¥</td>
                </tr>
                <tr style='border-top:2px solid #ddd !important;font-weight:bold;font-size:1.3em'>
                    <td colspan="4">合計</td>
                    <td><%= @total_invoiced_to_patient %>¥</td>
                </tr>
            </tbody>
        </table>

    <% end %>


	<div class="colibri-payable-subtitle" style='margin-top:50px'>実績詳細</div>

	<table class="table" style='margin-bottom:100px'>
		<thead>
			<tr>
				<th style="width:11%">日付</th>
				<th style="width:13%">タイプ</th>
				<th style="width:11%">従業員</th>
				<th style="width:10%">提供時間</th>
				<th style="width:10%">開始~終了</th>
				<th style="width:18%" colspan="2">確認<span style="font-weight:bold"></span></th>
				<th style="width:8%">編集</th>
			</tr>
		</thead>

		<tbody>
            <% @appointments_till_today.each do |appointment| %>
                <tr>
                    <td class="<%= weekend_holiday_appointment_css(appointment) if appointment.on_weekend_or_holiday? %>"><%= appointment.starts_at.try(:strftime,"%-m月%-d日") + ' ' + weekday(appointment.starts_at) %></td>
                    <td><%= appointment.title %></td>
                    <td><%= appointment.nurse.try(:name) %> </td>
                    <td><%= from_seconds_to_hours_minutes(appointment.duration) if appointment.duration.present? %></td>
                    <td><%= "#{appointment.starts_at.try(:strftime,'%H:%M')}~#{appointment.ends_at.try(:strftime,'%H:%M')}" %></td>
                    <td style="width:9%">
                        <div style="display:flex" id='appointment-<%= appointment.id %>'>
                            <div class='<%= 'cancelled-provided-service' if appointment.cancelled? %> <%= 'edit-requested-provided-service' if appointment.edit_requested? %>' style="display:flex">
                                <% if appointment.cancelled? %>
                                    <span>キャンセル</span>
                                <% elsif appointment.edit_requested? %>
                                    <span>調整中リスト</span>
                                <% else %>
                                    <% if appointment.verified? %>
                                    <div><span class='glyphicon glyphicon-check'  style="color: #42B97C"></span></div>
                                    <%= link_to "#{appointment.verifier.try(:name)} #{appointment.verified_at.try(:strftime,'%y/%m/%d')}", toggle_verified_appointment_path(appointment), remote: true, method: :patch, class: 'verified-at-and-by', data: {confirm: '実績の確認が解除されます'} %>
                                    <% else %>
                                    <%= link_to '確認１', toggle_verified_appointment_path(appointment), method: :patch, remote: :true, class: 'btn btn-success btn-sm' if !appointment.verified? %>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    </td>
                    <td style='width:9%'>
                        <div style="display:flex" id='provided-service-second-verified-<%= appointment.id %>'>
                            <div style="display:flex">
                                <% if appointment.cancelled? %>
                                    <%= link_to '+手当', appointment_new_cancellation_fee_path(appointment), remote: true, class: 'btn btn-sm btn-colibri-light-gray text-white' %>
                                <% elsif appointment.edit_requested? %>
                                <% else %>
                                    <% if appointment.second_verified? %>
                                        <div><span class='glyphicon glyphicon-check'  style="color: #42B97C"></span></div>
                                        <%= link_to "#{appointment.second_verifier.try(:name)}#{appointment.second_verified_at.try(:strftime,'%y/%m/%d')}", toggle_second_verified_appointments_path(appointment), remote: true, method: :patch, class: 'verified-at-and-by', data: {confirm: '実績の確認が解除されます'} %>
                                    <% else %>
                                        <%= link_to '確認２', toggle_second_verified_appointment_path(appointment), method: :patch, remote: :true, class: 'btn btn-success btn-sm' if !appointment.second_verified? %>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    </td>
                    <td>
                        <%= link_to '編集', edit_planning_appointment_path(@planning, appointment), remote: true, class: 'btn btn-sm btn-colibri-light-gray text-white'  %>
                    </td>
                </tr>
            <% end %>
		</tbody>
	</table>
	
</div>