<%= javascript_tag do %>
	window.appointmentsURL = "<%= j planning_appointments_url(@planning, params: {patient_id: @patient.id}) %>";
	window.recurringAppointmentsURL = "<%= j planning_recurring_appointments_url(@planning, params: {patient_id: @patient.id}) %>";
	window.createAppointmentURL = "<%= j new_planning_appointment_url(@planning) %>"
<% end %>

<%= render 'layouts/planning_menu' %>
<%= render 'plannings/planning_patients_submenu' %>

<h2><%= @patient.name %>のスケジュール</h2>


<div class="patient_calendar">
  
</div>

<%= link_to 'Edit', edit_planning_path(@planning) %> |
<%= link_to 'Back', plannings_path %>
