<%= javascript_tag do %>
	window.appointmentsURL = "<%= j planning_appointments_url(@planning, params: {patient_id: @patient.id}) %>";
	window.recurringAppointmentsURL = "<%= j planning_recurring_appointments_url(@planning) %>";
	window.privateEventsUrl = "<%= j planning_private_events_url(@planning, params: {patient_id: @patient.id}) %>"
	window.selectActionUrl = "<%= j new_calendar_event_path %>";
	window.patientId = "<%= j @patient.id.to_s %>";
	window.nurseId = "";
	window.restrictedUser = <%= current_user.schedule_readonly? %>
	window.defaultView = "<%= j @corporation.default_individual_view %>";
	window.minTime = "<%= j current_user.corporation.business_start_hour %>";
	window.maxTime = "<%= j current_user.corporation.business_end_hour %>";
    window.clientResourceName = "<%= j client_resource_name(@corporation.business_vertical) %>";
	window.firstDay = "<%= j @corporation.default_first_day.to_s %>";
	window.printDates = "<%= j @printing_option.print_patient_dates.to_s %>";
	window.holidays = "<%= j HolidayJp.between((Date.today - 1.year), (Date.today + 1.year)).to_json.html_safe %>"
	window.masterSchedule = 'false'
<% end %>

<%= render partial: 'plannings/planning_left_menu', locals: {view: 'resource', resource_payable_path: planning_patient_payable_path(@planning, @patient, params: {m: Date.today.in_time_zone('Tokyo').month,y: Date.today.in_time_zone('Tokyo').year})} %>
<%= render partial: 'plannings/resources_submenu', locals: {individual_resource: 'true', resource_type: 'patient', view: 'resource'} %>

<div id="detail-container">

	<div id="detail-planning-container">
		<div id="detail-planning-title">
		    <div id="planning-nurse-information">
			    <div class="planning-resource-module-title">
				    <span id="resource-name-wrapper"><%= @patient.try(:name) %>様</span>
				    <button id="resource-details-button" class="btn btn-sm btn-mid-light" style="margin-bottom:10px">詳細</button>
			    </div>
			    <div id="address-phone-container" class="print-only">
				    <% if @patient.address.present? %>
					    <span class="glyphicon glyphicon-home"></span><span class="font-size-large"><%= " #{@patient.address}  " %></span>
				    <% end %>
				    <% if @patient.phone_number.present? %>
					    <span class="glyphicon glyphicon-phone"></span><span class="font-size-large"><%= " #{@patient.phone_number}" %></span>
				    <% end %>
			    </div>
			    <div id="description-container" class="print-only font-size-large">
			        <span class="<%= 'no-print' unless @printing_option.print_patient_description == true %>">備考：<%= @patient.try(:description) %></span>
			    </div>

			    <div id="appointment-comments-container" class="print-only font-size-large">
		          <div class="<%= 'no-print' unless @printing_option.print_nurse_comments == true %>">
			        <div class="appointment-comments-title">コメント</div>
			        <div id="appointment-comments"></div>
		          </div>
		        </div>
		    </div>
		    <div id="planning-top-right-action-container" class="no-print">
			    <div class="btn btn-colibri-light-gray text-white btn-sm" id="print-button"><span class="glyphicon glyphicon-print"></span> 印刷</div>
		    </div>
		</div>

		<div id="planning-container">
			<div class="patient_calendar"></div>
		</div>

		<div id="resource-details-panel" style="display: none">
			<div id="resource-details-block">
				<div id="resource-detail-header">
					<h1 class="colibri-xs-title"><%= @patient.name %>の詳細</h1>
					<span class="close" value="閉じる" onclick="$('#resource-details-panel').toggle()">&times;</span>
				</div>
				<table class="resource-detail-table">
					<tr style='margin-top:6px'>
						<td class="details-table-head">年齢</td>
						<td><%= @patient.try(:age) %></td>
					</tr>
					<tr style='margin-top:6px'>
						<td class="details-table-head">サ責</td>
						<td><%= @patient.nurse.try(:name) %></td>
					</tr>
					<tr>
						<td class="details-table-head">CM</td>
						<td><%= @patient.care_manager.try(:name) %></td>
					</tr>
					<tr>
						<td class="details-table-head">CM電話</td>
						<td><%= @patient.care_manager.try(:phone_number) %></td>
					</tr>
					<% if @patient.phone_mail.present? %>
						<tr>
							<td class="details-table-head">メール</td>
							<td><%= @patient.phone_mail %></td>
						</tr>
					<% end %>
					<tr>
						<td class="details-table-head">電話</td>
						<td><%= @patient.phone_number %></td>
					</tr>
					<tr>
						<td class="details-table-head">住所</td>
						<td><%= @patient.address %></td>
					</tr>
					<% if @patient.caveat_list %>
						<tr>
							<td class="details-table-head">特徴</td>
							<td><%= @patient.caveat_list %></td>
						</tr>
					<% end %>
					<% if @patient.description.present? %>
						<tr>
							<td class="details-table-head">備考</td>
							<td><%= @patient.description %></td>
						</tr>
					<% end %>
				</table>
			</div>

			<% if false %>
				<div id="service-history-block">
					<div class='resource-details-block-title'>過去のヘルパー</div>
					<% @nurses_with_services.limit(3).each_with_index do |nurse, index| %>
						<div class="resource-history"><%= index + 1 %><%= " - #{nurse.name}様：" %><%= from_seconds_to_hours_minutes(nurse.sum_service_duration) %></div>
					<% end %>
					<% if @nurses_with_services.all[2..-1].present? %>
						<div class="resource-history">
							<button class='btn btn-sm btn-light' id="see-more-resource-history-button">もっと見る</button>
							<div id="more-resource-history" style="display: none">
								<%= @nurses_with_services.all[2..-1].map{|nurse| nurse.name }.join(', ') %>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>

			<div id="resource-action-block">
				<%= link_to 'エディット', edit_patient_path(@patient), remote: true, class: 'btn btn-info btn-block' %>
			</div>
		</div>
	</div>
	
</div>

<% unless current_user.schedule_readonly? %>
	<%= render 'plannings/drag_drop_modal' %>
	<%= render 'plannings/nurse_overlap_modal' %>
	<%= render 'plannings/batch_action_button' %>
<% end %>








