<%= javascript_tag do %>
	window.appointmentsURL = "<%= j planning_appointments_url(@planning, params: {patient_id: @patient.id}) %>";
	window.recurringAppointmentsURL = "<%= j planning_recurring_appointments_url(@planning, params: {patient_id: @patient.id}) %>";
	window.createAppointmentURL = "<%= j new_planning_appointment_url(@planning) %>"
<% end %>

<h1><%= @patient.name %>のスケジュール</h1>

<p>
  <strong>Business Month:</strong>
  <%= @planning.business_month %>
</p>

<p>
  <strong>Business Year:</strong>
  <%= @planning.business_year %>
</p>

<div id="planning-menu">
	<%= link_to 'スケジュール', @planning %>
	<%= link_to 'ヘルパー', planning_patients_path(@planning) %>
	<%= link_to '利用者', planning_patients_path(@planning) %>
</div>

<div class="patient_calendar">
  
</div>

<%= link_to 'Edit', edit_planning_path(@planning) %> |
<%= link_to 'Back', plannings_path %>
