<% salary_rule_id = salary_rule.new_record? ? 'new_salary_rule' : 'edit_salary_rule' %>

<% local = @nurse.present? ? true : false %>
<%= form_with model: salary_rule, local: local, id: salary_rule_id do |form| %>

  <div class='modal-body'>

    <div class="form-group">
      <%= form.label :title, "タイトル", class: "colibri-form-label-dark" %><span class='required-field'>*</span>
      <%= form.text_field :title, required: true, class: "form-control" %>
    </div>

  </div>

  <% unless @nurse.present? %>
    <div class="blue-background-form">
      <div class="modal-subsection-title-sm">目標.条件</div>

      <div class="form-group">
        <%= form.label :min_monthly_service_count, "案件数目標（月）" %>
        <%= form.number_field :min_monthly_service_count,  {step: 1, class: 'colibri-input', style: 'width:50px'} %>件から
        <%= form.number_field :max_monthly_service_count, {step: 1, class: 'colibri-input', style: 'width:50px'} %>件まで
      </div>

      <div class="form-group">
        <%= form.label :min_monthly_hours_worked, "勤務時間目標（月）" %>
        <%= form.number_field :min_monthly_hours_worked,  {step: 1, class: 'colibri-input', style: 'width:50px'} %>時間から
        <%= form.number_field :max_monthly_hours_worked, {step: 1, class: 'colibri-input', style: 'width:50px'} %>時間まで
        <%= image_tag "question.svg", width: '18px', class: 'colibri-tooltip', data: {content: "例：20時間から30時間の場合。20時間目から29時間59分59秒までが対象です。<br/><br/>50 ≤ 勤務時間 < 60"}  %>
      </div>

      <div class="form-group">
        <%= form.label :min_days_worked, "合計稼動日数" %>
        <%= form.number_field :min_days_worked,  {step: 1, class: 'colibri-input', style: 'width:50px'} %>日から
        <%= form.number_field :max_days_worked, {step: 1, class: 'colibri-input', style: 'width:50px'} %>まで
      </div>

      <div class="form-group">
        <%= form.label :min_months_worked, "合計稼動期間" %>
        <%= form.number_field :min_months_worked,  {step: 1, class: 'colibri-input', style: 'width:50px'} %>ヵ月目から
        <%= form.number_field :max_months_worked, {step: 1, class: 'colibri-input', style: 'width:50px'} %>ヵ月目まで
      </div>

      <% if @corporation.elderly_care_and_nursing? %>
        <div class="form-group">
          <%= form.label :only_count_days_inside_insurance_scope, "保険内サービスを含む日数のみ", class: "colibri-form-label-dark" %>
          <%= form.check_box :only_count_days_inside_insurance_scope %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class='modal-body'>
    <div class="modal-subsection-title-sm">従業員フィルタ</div>

    <div class="form-group">
      <%= form.check_box :target_all_nurses, checked: salary_rule.target_all_nurses && !@nurse.present?, id: 'all_nurses_selected_checkbox' %>
    </div>

    <% nurse_id_list = @nurse.present? ? @nurse.id : salary_rule.nurse_id_list %>

    <div class="form-group" id="form_nurse_id_list_group">
      <%= form.label :nurse_id_list, "選択する", class: "colibri-form-label-dark" %>
      <%= form.select :nurse_id_list, grouped_options_for_select(@nurses.group_full_timer_for_select, nurse_id_list), {}, multiple: true, id: 'target-nurse-ids' %>
    </div>

  </div>

  <div class='blue-background-form'>
    <div class="modal-subsection-title-sm">サービスフィルタ</div>
    <% if @nurse.present? %>
      <div class="form-group">
        <%= form.label :service_date, "対象日", class: "colibri-form-label-dark" %><span class='required-field'>*</span><br/>
        <%= form.text_field :service_date, id: 'salary_rule_service_date', class: 'colibri-input', style: 'width:180px' %>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.check_box :for_holidays, id: :for_holidays %>
    </div>

    <div id="target-wday-and-time" style="<%= 'display:none' if salary_rule.for_holidays %>">
      <div class="form-group">
        <%= form.label :targeted_wdays, "曜日条件", class: "colibri-form-label-dark" %>
        <%= form.select :targeted_wdays, options_for_select([['日曜日',0], ['月曜日',1], ['火曜日',2], ['水曜日',3], ['木曜日',4], ['金曜日',5], ['土曜日',6]], salary_rule.targeted_wdays), {}, multiple: true, id: :targeted_wdays %>
      </div>

      <div class="form-group">
        <%= form.label :targeted_start_time, "開始時間条件", class: "colibri-form-label-dark" %>
        <%= form.text_field :targeted_start_time, id: :targeted_start_time, placeholder: '00:00', class: 'colibri-input', style: 'width:70px' %>
      </div>

      <div class="form-group">
        <%= form.label :targeted_end_time, "終了時間条件", class: "colibri-form-label-dark" %>
        <%= form.text_field :targeted_end_time , id: :targeted_end_time, placeholder: '23:59', class: 'colibri-input', style: 'width:70px' %>
      </div>

      <div class="form-group" id="time-constraint-operator" style="<%= 'display:none' unless salary_rule.targeted_start_time.present? || salary_rule.targeted_end_time.present? %>">
        <%= form.label :time_constraint_operator, "詳細時間条件", class: "colibri-form-label-dark" %><span class='required-field'>*</span><br/>
        <%= form.select :time_constraint_operator, options_for_select([['サービス開始が時間条件内', 1], ['サービス終了か開始が条件内', 2], ['開始と終了が条件内', 3]], salary_rule.time_constraint_operator), id: :time_constraint_operator %>
      </div>
    </div>

    <div class="form-group">
      <%= form.check_box :target_all_services, checked: salary_rule.target_all_services, id: 'all_services_selected_checkbox' %>
    </div>

    <div class="form-group" id="form_service_title_list_group" style="<%= 'display:none' if salary_rule.target_all_services? %>">
      <%= form.label :service_title_list, "サービスタイプを選択する", class: "colibri-form-label-dark" %>
      <%= form.collection_select :service_title_list, @services, :title, :title, {}, multiple: true, id: 'target-service-titles' %>
    </div>

    <div class="form-group" id="only_count_between_appointments_group" style="<%= 'display:none' if salary_rule.hour_based? %>">
      <%= form.label :only_count_between_appointments, "サービスの間の回数のみ", class: "colibri-form-label-dark" %>
      <%= form.check_box :only_count_between_appointments, id: :only_count_between_appointments_checkbox %>
      <%= image_tag "question.svg", width: '18px', class: 'colibri-tooltip', data: {content: "例：移動手当の計算でサービスの間の件数のみを数える場合。"}  %>
    </div>

    <div class="form-group" id="constraints_when_counting_between_appointments" style="<%= 'display:none' unless salary_rule.only_count_between_appointments %>">
      <%= form.label :max_time_between_appointments, "サービスの間の時間上限", class: "colibri-form-label-dark" %>
      <%= form.number_field :max_time_between_appointments, step: 1, style: 'width:90px' %> 分
      <%= image_tag "question.svg", width: '18px', class: 'colibri-tooltip', data: {content: "例：移動手当で一時間半以内の移動を数えたい場合は90分と入力する。"}  %>
    </div>

  </div>

  <div class='modal-body'>
    <div class="modal-subsection-title-sm">手当計算式</div>

    <div class="form-group">
      <% operators = @nurse.present? ? [['+/回数', 0], ['+/時', 1], ['給与 x', 2], ['(給与 + 手当) x', 4], ['+', 3]] : [['+/回数', 0], ['+/時', 1], ['給与 x', 2], ['+', 3]] %>
      <%= form.select :operator, options_for_select(operators, salary_rule.operator) %>
      <%= form.number_field :argument, {step: 0.01, class: 'colibri-input'} %>
    </div>

  </div>
  <% if @nurse.present? %>
    <%= form.hidden_field :one_time_salary_rule, value: true %>
  <% end %>

  <div class="modal-footer">
    <div class="actions">
      <% if salary_rule.new_record? %>
        <div class="btn btn-colibri-light" data-dismiss="modal">閉じる</div>
      <% else %>
        <%= link_to '削除する', salary_rule, method: :delete, remote: true, class: 'btn btn-secondary', data: {confirm: "手当の計算ルールは削除されますが、既に計算された手当は削除されません。"} %>
      <% end %>
      <% confirmation = salary_rule.new_record? ? nil : {confirm: '従業員別の給与ページから「給与リフレッシュ」ボタンを押す必要があります'} %>
      <%= form.submit 'セーブする', class: 'btn btn-info', data: confirmation %>
    </div>
  </div>

<% end %>