<%= form_with model: salary_rule, remote: true do |form| %>

  <div class='modal-body'>

    <div class="form-group">
      <%= form.label :title, "手当名", class: "colibri-form-label" %><span class='required-field'>*</span>
      <%= form.text_field :title, required: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :target_all_nurses, "全従業員対象", class: "colibri-form-label" %><span class='required-field'>*</span>
      <%= form.check_box :target_all_nurses, checked: salary_rule.target_all_nurses, id: 'all_nurses_selected_checkbox' %>
    </div>

    <div class="form-group" id="form_nurse_id_list_group" style="display:none">
      <%= form.label :nurse_id_list, "対象従業員", class: "colibri-form-label" %><span class='required-field'>*</span>
      <%= form.select :nurse_id_list, grouped_options_for_select(@nurses.group_full_timer_for_select), {}, multiple: true, id: 'target-nurse-ids' %>
    </div>

    <div class="form-group">
      <%= form.label :target_all_services, "全サービスタイプ対象", class: "colibri-form-label" %>
      <%= form.check_box :target_all_services, checked: salary_rule.target_all_services, id: 'all_services_selected_checkbox' %>
    </div>

    <div class="form-group" id="form_service_title_list_group" style="display:none">
      <%= form.label :service_title_list, "対象サービス", class: "colibri-form-label" %>
      <%= form.collection_select :service_title_list, @services, :title, :title, {}, multiple: true, id: 'target-service-titles' %>
    </div>

    <div class="form-group">
      <%= form.label :date_constraint, "日時条件", class: "colibri-form-label" %>
      <%= form.select :date_constraint, options_for_select([['条件なし', 0], ['祝日',1], ['日曜',2], ['深夜(22:00~5:00)',3]]), id: 'all_nurses_selected_checkbox' %>
    </div>

    <div class="form-group">
      <%= form.label :operator, "計算式", class: "colibri-form-label" %><span class='required-field'>*</span>
      <%= form.select :operator, options_for_select([['+', 0], ['x', 1]]) %>
      <%= form.number_field :argument %>
      <%= form.select :hour_based, options_for_select([['/時間', true], ['/回数', false]]) %>
    </div>

    <div class="form-group">
    </div>

  </div>

  <div class="modal-footer">
    <div class="actions">
      <div class="btn btn-colibri-light" data-dismiss="modal">閉じる</div>
      <%= form.submit 'セーブする', class: 'btn btn-info' %>
    </div>
  </div>

<% end %>