<%= javascript_tag do %>
	window.appointmentIds = "<%= j @appointments.map{|appointment| appointment.id}.to_s %>";
	window.planningPath = "<%= j planning_path(@planning) %>"
<% end %>


<div id="edit_recurring_appointment" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">繰り返しエディット</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div>
				<%= render 'form', recurring_appointment: @recurring_appointment %>
			</div>

			<% unless @activities.empty? %>
				<div class="modal-body light-blue-background">
					<div class="appointment-section-title">編集履歴</div>
					<% @activities.each do |activity| %>
						<%= render partial: 'activities/activity', locals: {activity: activity} %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>

</div>
