<%= form_for [@planning, recurring_appointment], remote: true do |form| %>
  <% if recurring_appointment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(recurring_appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

    <ul>
      <% recurring_appointment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div id="form-options-container">
    <% unless recurring_appointment.new_record? %>


      <div class="form-group">
          <%= form.check_box :master, checked:  current_user.admin? && @master, disabled: true, data: {toggle: 'toggle'}, class: 'master-toggle' %>
      </div>

      <div class="form-group">
        <span class="colibri-form-label">繰り返し：</span>
        <%= @appointments.map{|appointment| appointment.start.strftime("%-m月%-d日") }.to_sentence(words_connector: ' // ', last_word_connector: ' // ', two_words_connector: ' // ') %>
      </div>

      <div class="form-group">
        <%= form.label :editing_occurrences_after, '変更する日', class: "colibri-form-label" %>
        <%= form.collection_select(:editing_occurrences_after, @appointments_after_first, :id, :start, {prompt: '全繰り返し'},) %>
      </div>

    <% end %>


    <% if recurring_appointment.new_record? %>
      <div class="form-group">
        <%= form.check_box :master, checked: @master, disabled: true, data: {toggle: 'toggle'}, class: 'master-toggle' if current_user.admin? %>
      </div>

      <div class="form-group">
        <%= form.label :frequency, "頻度", class: "colibri-form-label" %>
        <%= form.select(:frequency,  options_for_select([['毎週',0], ['2週間に一回', 1], ['その日のみ', 2]], recurring_appointment.frequency), id: :recurring_appointment_frequency) %>
      </div>

    <% end %>
  </div>



  <div class="modal-body">
    


      <div class="form-group">
        <%= form.label :title, "サービスタイプ", class: "colibri-form-label" %><span class='required-field'>*</span>
        <%= form.text_field :title, id: :recurring_appointment_title, required: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :description, "詳細・コメント", class: "colibri-form-label" %>
        <%= form.text_area :description, id: :recurring_appointment_description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :color, "カラー", class: "colibri-form-label" %>
        <%= form.select(:color,  options_for_select([['デフォルト', '#7AD5DE'], ['青', '#3D9BF3'], ['緑', '#3BC359'], ['ピンク', '#EE59A6'], ['紫', '#A587F6'], ['オレンジ', '#F98050'], ['黄色', '#FBC32D'], ['赤', '#EE584C']], recurring_appointment.color), id: :recurring_appointment_color) %>
      </div> 

      <% if recurring_appointment.new_record? %>

        <div class="form-group">
          <%= form.label :anchor, "初日", class: "colibri-form-label" %>
          <%= form.date_select :anchor, id: :recurring_appointment_anchor, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :end_day, "終了日", class: "colibri-form-label" %>
          <%= form.date_select :end_day, id: :recurring_appointment_anchor, class: "form-control" %>
        </div>

      <% end %>

      <% unless recurring_appointment.new_record? %>
        <div class="form-group">
          <%= form.label :duration, "一回の期間", class: "colibri-form-label" %>
          <%= form.select(:duration, options_for_select([['その日で終わる', 0], ['次の日に終わる（+1日）', 1], ['+2日',2], ['+3日', 3], ['+4日', 4]], recurring_appointment.duration), id: :recurring_appointment_duration) %>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :start, "スタート時間", class: "colibri-form-label" %>
        <%= form.time_select :start, id: :recurring_appointment_start, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :end, "終了時間", class: "colibri-form-label" %>
        <%= form.time_select :end, id: :recurring_appointment_end, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :nurse_id, "ヘルパー名", class: "colibri-form-label" %><span class='required-field'>*</span>
        <%= form.select :nurse_id, grouped_options_for_select(@nurses.group_full_timer_for_select), required: true %>
      </div>

      <div class="form-group">
        <%= form.label :patient_id, "利用者名", class: "colibri-form-label" %><span class='required-field'>*</span>
        <%= form.collection_select(:patient_id, @patients, :id, :name, {prompt: '利用者選択'}, {:required => true}) %>
      </div>




      <%= hidden_field_tag(:master, 'true') if @master == true %>

      <div class="actions">
        <div class="btn btn-info text-white" id="form-save-decoy">
          セーブする
        </div> 
        <%= form.submit 'セーブする', class: 'btn btn-info', id: 'form-save' %>
        <% unless @master %>  
          <div class="btn btn-secondary text-white" id="form-edit-list-decoy">
            編集リストへ追加
          </div>
          <%= form.submit '編集リストへ追加', class: 'btn btn-secondary', id: 'form-edit-list' %>
        <% end %>
        <% unless recurring_appointment.new_record? %>
          <div class="btn btn-danger text-white" id='delete-recurring-appointment-decoy'>
            削除する
          </div>
          <%= link_to '削除', planning_recurring_appointment_path(@planning, recurring_appointment), method: :delete, remote: true, data: {confirm: 'サービスの全繰り返しが削除されます'}, class: 'btn btn-danger', id: 'delete-recurring-appointment' %>
        <% end %>

      </div>
  </div>


<% end %>
