<div class="recurring-appointment-detail-wrapper">
	<%= occurrence.to_date.strftime("%Jf") %>
	<%= recurring_appointment.nurse.try(:name) unless @nurse.present? %>
	<%= recurring_appointment.patient.try(:name) if @nurse.present? %>
	<%= recurring_appointment.starts_at.strftime("%-H:%M") %> ~
	<%= recurring_appointment.ends_at.strftime("%-H:%M") %>
	<%= recurring_appointment.description %>
</div>
