<%= render partial: 'plannings/planning_left_menu', locals: {view: 'settings', resource_payable_path: planning_nurse_payable_path(@planning, @main_nurse, params: {m: Date.today.in_time_zone('Tokyo').month, y: Date.today.in_time_zone('Tokyo').year})} %>

<%= render 'plannings/settings_submenu', view: 'care_manager_corporations' %>

<div id="menu-backdrop">
</div>

<div id="settings-container">
  <div id="planning-header">
    <div id="detail-planning-title">
      <div id="settings-menu">
        <div id="payable-menu">
          <%= image_tag 'hamburger_icon_white.svg', size: '35', class: 'hamburger_menu'  %>
        </div>
        <p class="planning-activity-module-title setting-title" >
          ケアマネ一覧
        </p>
      </div>
    </div>
  </div>

  <div class="settings-body">

    <%= link_to '+居宅介護支援事業所', new_care_manager_corporation_path, remote: true, class: 'btn btn-info text-white btn-margin-top', data: {ripple: ""} %>
    
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th style="width:40%">名前</th>
            <th style="width:20%">電話</th>
            <th style="width:20%">住所</th>
            <th colspan="2" style="width:20%">アクション</th>
          </tr>
        </thead>
      </table>
      </div>

      <div id="care-manager-corporations-container">
        <% @care_manager_corporations.each do |care_manager_corporation| %>
          <div style="display:flex;width:100%" class="care-manager-corporation-header" data-care-manager-corporation-id="<%= care_manager_corporation.id %>">
            <div style="width:40%" class="table-important-fields care-manager-corporation-name">
              <span class="toggle-arrow-left"><%= image_tag 'right_arrow_black.svg', width: '17px' %></span>
              <span class="toggle-arrow-left" style="display:none"><%= image_tag 'down_arrow_black.svg', width: '17px' %></span>
              <%= care_manager_corporation.name %>
            </div>
            <div style="width:20%"><%= care_manager_corporation.phone_number %></div>
            <div style="width:20%"><%= care_manager_corporation.address %></div>
            <div style="width:20%">
              <div data-url="<%= edit_care_manager_corporation_path(care_manager_corporation) %>" class='btn btn-sm btn-secondary text-white edit-care-manager-corporation-button'>編集</div>
              <div data-url="<%= new_care_manager_corporation_care_manager_path(care_manager_corporation) %>" class="btn btn-sm btn-info text-white create-care-manager-button">+ケアマネ</div>
            </div>
          </div>

          <div id="care_managers_for_corporation_<%= care_manager_corporation.id %>">
          </div>
          
        <% end %>

      </div>
    </div>
  </div>
</div>




  