<%= render partial: 'plannings/phone_bottom_menu', locals: {view: 'settings', resource_payable_path: planning_nurse_payable_path(@planning, @main_nurse, params: {m: Date.today.in_time_zone('Tokyo').month, y: Date.today.in_time_zone('Tokyo').year})} %>

<%= render 'plannings/settings_submenu', view: 'care_manager_corporations' %>

<div id="menu-backdrop">
</div>

<div id="settings-container">
  <div id="planning-header">
    <div id="detail-planning-title">
      <div id="settings-menu">
        <div id="payable-menu">
          <%= image_tag 'hamburger_icon_white.svg', size: '35', class: 'hamburger_menu'  %>
        </div>
        <p class="planning-activity-module-title setting-title" >
          ケアマネ一覧
        </p>
      </div>
    </div>
  </div>

  <div class="settings-body">

    <%= link_to '+居宅介護支援事業所', new_care_manager_corporation_path, remote: true, class: 'btn btn-info text-white btn-margin-top', data: {ripple: ""} %>
    
    <div class="table-responsive" style="margin-top:5px;margin-bottom:70px">
      <table class="table">
        <thead>
          <tr>
            <th style="width:40%">名前</th>
          </tr>
        </thead>
        <tbody>
            <% @care_manager_corporations.each do |care_manager_corporation| %>
                <tr>
                    <th class="colibri-clickable-link" data-url="<%= care_manager_corporation_path(care_manager_corporation) %>"><%= care_manager_corporation.name %></th>
                </tr>          
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>




  