<% @patients_with_services_and_dates.each do |patient, service_shift_array| %>
    <div class="teikyohyo-container" id="teikyohyo_1_<%= patient.id %>">
        <div class="teikyohyo_title">サービス提供票 <%= @first_day.to_date.strftime("%Jy年%Jm月") %></div>
        <div class="teikyohyo_1_header">
            <table class="table table-bordered table-bordered-pdf  table-centered">
                <tr>
                    <td rowspan="2" style="width:8%">保険者番号</td>
                    <td colspan="2" rowspan="2" style="width:13%"><%= patient.try(:issuing_administration_number) %></td>
                    <td rowspan="2" style="width:11%">保険者名</td>
                    <td rowspan="2" style="width:10%"><%= patient.try(:issuing_administration_name) %></td>
                    <td style="width:10%">居宅介護事業所</td>
                    <td colspan="2" style="width:20%"><%= patient.care_manager.care_manager_corporation.name %></td>
                    <td rowspan="2" style="width:11%">作成年月日</td>
                    <td rowspan="2" style="width:12%"><%= Date.today.strftime('%Jf') %></td>
                </tr>
                <tr>
                    <td>事業者担当者名</td>
                    <td colspan="2"><%= patient.care_manager.name %></td>
                </tr>
                <tr>
                    <td rowspan="2">被保険者番号</td>
                    <td rowspan="2" colspan="2"><%= patient.insurance_id %></td>
                    <td >フリガナ</td>
                    <td><%= patient.kana %></td>
                    <td rowspan="2">保険者確認印</td>
                    <td rowspan="2" colspan="2"></td>
                    <td rowspan="2">届出年月日</td>
                    <td rowspan="2"></td>
                </tr>
                <tr>
                    <td>被保険者氏名</td>
                    <td><%= patient.name %></td>
                </tr>
                <tr>
                    <td rowspan="3">生年月日</td>
                    <td rowspan="3"><%= "#{patient.birthday.try(:strftime, '%Jf')}" %></td>
                    <td>性別</td>
                    <td>要介護状態区分</td>
                    <% kaigo_level_has_changed = patient.previous_kaigo_level.present? && (@first_day..@last_day).include?(patient.kaigo_certification_validity_start) %>
                    <td><%= kaigo_level_has_changed ? kaigo_level_text(patient.previous_kaigo_level) : kaigo_level_text(patient.kaigo_level) %></td>
                    <td rowspan="3">区分支給限度基準額</td>
                    <td rowspan="3" style="width:10%"><%= maximum_budget(patient.current_kaigo_level) %></td>
                    <td rowspan="3" style="width:10%">限度額適用期間</td>
                    <td rowspan="3"><%= "#{patient.kaigo_certification_validity_start.try(:strftime, "%Jy年%Jm月")}" %><br/>~<br/><%= "#{patient.kaigo_certification_validity_end.try(:strftime, '%Jy年%Jm月')}" %></td>
                    <td rowspan="2">前月までの短期入所利用日数</td>
                </tr>
                <tr>
                    <td rowspan="2"><%= gender_text(patient) %></td>
                    <td rowspan="2">変更後要介護状態区分</td>
                    <td><%= kaigo_level_has_changed ? kaigo_level_text(patient.kaigo_level) : ''  %></td>
                </tr>
                <tr>
                    <td><%= kaigo_level_has_changed ? patient.kaigo_certification_validity_start.strftime("%Jf") : '' %></td>
                    <td><span style="color:white">//</span></td>
                </tr>

            </table>
        </div>

        <div class="teikyohyo_1_body">
            <table class="table table-bordered table-bordered-pdf  table-centered">
                <thead>
                  <tr>
                    <td rowspan="2">提供時間帯</td>
                    <td rowspan="2">サービス内容</td>
                    <td rowspan="2">サービス事業者名</td>
                    <td>日付</td>
                    <% (@first_day..@last_day).each do |date| %>
                        <td><%= date.day %></td>
                    <% end %>
                    <% (31 - (@first_day..@last_day).count).times do %>
                        <td></td>
                    <% end %>
                    <td rowspan="2">合計回数</td>
                  </tr>
                  <tr>
                    <td>曜日</td>
                    <% (@first_day..@last_day).each do |date| %>
                        <td><%= %w(日 月 火 水 木 金 土)[date.wday] %></td>
                    <% end %>
                    <% (31 - (@first_day..@last_day).count).times do %>
                        <td></td>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                    <% count = 0 %>
                    <% service_shift_array.each do |hash_of_service_and_shifts| %>
                      <% hash_of_service_and_shifts[:shifts_hash].each do |shift| %>
                        <tr class="<%= 'gray_row' unless count % 2 == 0 %>">
                            <td rowspan="2"><%= "#{shift[:start_time]} ~ #{shift[:end_time]}" %></td>
                            <td rowspan="2"><%= hash_of_service_and_shifts[:service_hash][:official_title] || hash_of_service_and_shifts[:service_hash][:title] %></td>
                            <td rowspan="2"><%= @corporation.name %></td>
                            <td>予定</td>
                            <% (@first_day..@last_day).each do |date| %>
                                <td><%= shift[:previsional].include?(date.to_date) ? '1' : '' %></td>
                            <% end %>
                            <% (31 - (@first_day..@last_day).count).times do  %>
                                <td></td>
                            <% end %>
                            <td><%= shift[:previsional].count %></td>
                        </tr>
                        <tr class="<%= 'gray_row' unless count % 2 == 0 %>">
                            <td>実績</td>
                            <% (@first_day..@last_day).each do |date| %>
                                <td><%= shift[:provided].include?(date.to_date) ? '1' : '' %></td>
                            <% end %>
                            <% (31 - (@first_day..@last_day).count).times do  %>
                                <td></td>
                            <% end %>
                            <td><%= shift[:provided].count %></td>
                        </tr>
                        <% count += 1 %>
                      <% end %>
                    <% end %>
                    
                    <% if service_shift_array.sum {|hash_of_services_and_shifts| hash_of_services_and_shifts[:shifts_hash].count} < 10 %>
                        <% (10 - service_shift_array.sum {|hash_of_services_and_shifts| hash_of_services_and_shifts[:shifts_hash].count}).times do %>
                            <tr class="<%= 'gray_row' unless count % 2 == 0 %>">
                                <td rowspan="2"></td>
                                <td rowspan="2"></td>
                                <td rowspan="2"></td>
                                <td>予定</td>
                                <% 31.times do %>
                                    <td></td>
                                <% end %>
                                <td></td>
                            </tr>
                            <tr class="<%= 'gray_row' unless count % 2 == 0 %>">
                                <td>実績</td>
                                <% 31.times do %>
                                    <td></td>
                                <% end %>
                                <td></td>
                            </tr>
                            <% count += 1 %>
                        <% end %>
                    <% end %>
                    
                </tbody>
            </table>
        </div>
    </div>

    <div class="teikyohyo-container" id="teikyohyo_2_<%= patient.id %>">
        <div class="teikyohyo_title">サービス提供票別表 <%= @first_day.to_date.strftime("%Jy年%Jm月") %></div>
        <div class="teikyohyo_subtitle">区分支給限度管理.利用者負担計算</div>
        <div class="teikyohyo_2_subcontainer">
            <table class="table table-bordered table-bordered-pdf  table-centered">
                <tbody>
                  <tr>
                    <td rowspan="2" style="width:11%">事業所名</td>
                    <td rowspan="2" style="width:8%">事業所番号</td>
                    <td rowspan="2" style="width:11%">サービス内容.種類</td>
                    <td rowspan="2" style="width:5%">サービスコード</td>
                    <td rowspan="2" style="width:3%">単位数</td>
                    <td colspan="2" style="width:5%">割引適用後</td>
                    <td rowspan="2" style="width:3%">回数</td>
                    <td rowspan="2" style="width:5%">単位.金額</td>
                    <td rowspan="2" style="width:5%;font-size:0.8em">種類支給限度基準を超える単位数</td>
                    <td rowspan="2" style="width:5%;font-size:0.8em">種類支給限度基準内単位数</td>
                    <td rowspan="2" style="width:5%;font-size:0.8em">区分支給限度基準を超える単位数</td>
                    <td rowspan="2" style="width:5%;font-size:0.8em">区分支給限度基準内単位数</td>
                    <td rowspan="2" style="width:4%">単位数単価</td>
                    <td rowspan="2" style="width:7%">利用総額</td>
                    <td rowspan="2" style="width:3%">給付率</td>
                    <td rowspan="2" style="width:5%">保険給付額</td>
                    <td rowspan="2" style="width:5%;font-size:0.8em">利用者負担（保険対象分）</td>
                    <td rowspan="2" style="width:5%">全額負担分</td>
                  </tr>
                  <tr>
                    <td>％</td>
                    <td>単位数</td>
                  </tr>
                    <% service_shift_array.each do |hash_of_service_and_shifts| %>
                        <tr>
                            <td><%= @corporation.name %></td>
                            <td><%= @corporation.identifier %></td>
                            <td><%= hash_of_service_and_shifts[:service_hash][:official_title] || hash_of_service_and_shifts[:service_hash][:title] %></td>
                            <td><%= hash_of_service_and_shifts[:service_hash][:service_code] %></td>
                            <td><%= hash_of_service_and_shifts[:service_hash][:unit_credits] %></td>
                            <td></td>
                            <td></td>
                            <td><%= hash_of_service_and_shifts[:service_hash][:count] %></td>
                            <td><%= hash_of_service_and_shifts[:service_hash][:sum_total_credits] %></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    <% end %>
                    <% sum_of_credits = service_shift_array.sum {|hash_of_service_and_shifts| hash_of_service_and_shifts[:service_hash][:sum_total_credits] || 0 }  %>
                    <% if service_shift_array.count > 0 && @corporation.invoicing_bonus_ratio.present? %>
                        <tr>
                            <td><%= @corporation.name %></td>
                            <td><%= @corporation.identifier %></td>
                            <td><%= corporation_bonus_official_text(@corporation) %></td>
                            <td><%= corporation_bonus_service_code(@corporation) %></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td>(<%= bonus_credits = (sum_of_credits * (@corporation.invoicing_bonus_ratio - 1)).round %>)</td>
                            <td></td>
                            <td>(<%= bonus_credits %>)</td>
                            <td></td>
                            <td>(<%= bonus_credits %>)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    <% end %>
                    <tr>
                        <td><%= @corporation.name %></td>
                        <td><%= @corporation.identifier %></td>
                        <td>訪問介護合計</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><%= total_credits = bonus_credits.present? ? bonus_credits + sum_of_credits : sum_of_credits %></td>
                        <td></td>
                        <td><%= sum_of_credits %></td>
                        <td><%= credits_exceeding_max_budget = total_credits > patient.current_max_credits ? total_credits - patient.current_max_credits : 0 %></td>
                        <% credits_within_max_budget = total_credits - credits_exceeding_max_budget %>
                        <td><%= sum_of_credits_within_max_budget = sum_of_credits - credits_exceeding_max_budget %></td>
                        <td><%= @corporation.credits_to_jpy_ratio %></td>
                        <td><%= total_invoiced = (total_credits * @corporation.credits_to_jpy_ratio).floor %></td>
                        <td><%= (10 - patient.ratio_paid_by_patient) * 10 if patient.ratio_paid_by_patient.present? %></td>
                        <% total_invoiced_within_budget = (credits_within_max_budget * @corporation.credits_to_jpy_ratio).floor %>
                        <td><%= amount_paid_by_insurance = (total_invoiced_within_budget * (10 - (patient.ratio_paid_by_patient || 0)) / 10).floor %></td>
                        <td><%= amount_within_insurance_paid_by_patient = total_invoiced_within_budget - amount_paid_by_insurance %></td>
                        <td><%= amount_in_excess_paid_by_patient = total_invoiced - total_invoiced_within_budget %></td>
                    </tr>
                    <tr>
                        <td colspan="5">区分支給限度基準: <%= maximum_budget = maximum_budget(patient.current_kaigo_level) %></td>
                        <td colspan="4">合計：<%= sum_of_credits %></td>
                        <td>0</td>
                        <td><%= sum_of_credits %></td>
                        <td>0</td>
                        <td colspan="2"><%= sum_of_credits %></td>
                        <td colspan="2"><%= total_invoiced %></td>
                        <td><%= amount_paid_by_insurance %></td>
                        <td colspan="2"><%= total_paid_by_patient = amount_within_insurance_paid_by_patient + amount_in_excess_paid_by_patient %></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="margin-top:20px;display:-webkit-box;display:-webkit-flex;display:flex">
            <div style="width:45%;margin-right:10%">
                <div class="teikyohyo_subtitle">種類別支給限度管理</div>
                <table class="table table-bordered table-bordered-pdf  table-centered">
                    <thead>
                      <tr>
                        <td>サービス種類</td>
                        <td style="font-size:0.8em">種類支給限度基準額(単位)</td>
                        <td>合計単位</td>
                        <td style="font-size:0.8em">種類支給限度基準を超える単位</td>
                      </tr>
                    </thead>
                    <tbody>
                      <% 4.times do %>
                        <tr>
                          <td><span style="color:white">/</span></td>
                          <td><span style="color:white">/</span></td>
                          <td><span style="color:white">/</span></td>
                          <td><span style="color:white">/</span></td>
                        </tr>
                      <% end %>
                        <tr>
                          <td>合計</td>
                          <td colspan="3"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="width:45%">
                <div class="teikyohyo_subtitle">利用者負担表</div>
                <table class="table table-bordered table-bordered-pdf  table-centered">
                    <thead>
                        <tr>
                            <td>事業所名</td>
                            <td style="font-size:0.8em">利用者負担分保険対象分</td>
                            <td>第一公費</td>
                            <td>第二公費</td>
                            <td>利用者負担分</td>
                            <td style="font-size:0.8em">利用者総支払額</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= @corporation.name %></td>
                            <td><%= amount_within_insurance_paid_by_patient %></td>
                            <td></td>
                            <td></td>
                            <td><%= amount_in_excess_paid_by_patient %></td>
                            <td><%= total_paid_by_patient %></td>
                        </tr>
                        <tr>
                            <td colspan="4">ご利用者負担</td>
                            <td colspan="2"><%= total_paid_by_patient %>円</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div style="width:35%;margin-top:20px">
            <div class="teikyohyo_subtitle">要介護認定期間中の短期入所利用日数</div>
            <table class="table table-bordered table-bordered-pdf  table-centered">
                <thead>
                    <td>前月までの利用日数</td>
                    <td>当月の計画利用日数</td>
                    <td>累積利用日数</td>
                </thead>
                <tbody>
                    <td><span style="color:white">/</span></td>
                    <td><span style="color:white">/</span></td>
                    <td><span style="color:white">/</span></td>
                <tbody>
            </table>
        </div>
        
    </div>

    <br/>
    <br/>
<% end %>