<%= form_with(model: nurse, local: true) do |form| %>
  <% if nurse.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(nurse.errors.count, "error") %> prohibited this nurse from being saved:</h2>

    <ul>
      <% nurse.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "ヘルパー名", class: "colibri-form-label" %>
    <%= form.text_field :name, id: :nurse_name, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :phone_number, "電話番号", class: "colibri-form-label" %>
    <%= form.text_field :phone_number, id: :nurse_phone_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :phone_mail, "携帯メールアドレス", class: "colibri-form-label" %>
    <%= form.text_field :phone_mail, id: :nurse_phone_mail, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address, "住所", class: "colibri-form-label" %>
    <%= form.text_area :address, id: :nurse_address, class: "form-control" %>
  </div>


  <div class="actions">
    <%= form.submit 'セーブする', class: 'btn btn-info btn-block form-control' %>
  </div>
<% end %>