<%= form_with(model: nurse, local: true) do |form| %>
  <% if nurse.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(nurse.errors.count, "error") %> prohibited this nurse from being saved:</h2>

    <ul>
      <% nurse.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="modal-body">

    <div class="form-group">
      <%= form.label :name, "従業員名", class: "colibri-form-label" %><span class='required-field'>*</span>
      <%= form.text_field :name, id: :nurse_name, required: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :kana, "フリガナ", class: "colibri-form-label" %><span class='required-field'>*</span>
      <%= form.text_field :kana, id: :nurse_kana, required: true, class: "form-control" %>
    </div>

    <% if @corporation.teams.any? %>
      <div class="form-group">
        <%= form.label :team_id, "チーム", class: "colibri-form-label" %>
        <%= form.collection_select(:team_id, @corporation.teams, :id, :team_name, {prompt: 'チームを選択する'}) %>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :profession, "職種", class: "colibri-form-label" %>
      <%= form.select :profession, options_for_select([['ヘルパー', 0], ['看護師', 1], ['理学療法士', 2], ['ケアマネジャー', 3]], nurse.profession) %>
    </div>

    <div class="form-group">
      <%= form.check_box :reminderable, id: 'reminderable-toggle' %>
    </div>

    <div class="form-group">
      <%= form.check_box :full_timer, id: 'full-timer-toggle' %>
    </div>

    <div class="form-group">
      <%= form.label :contract_date, '登録日' %>
      <%= form.hidden_field :contract_date, id: :nurse_contract_date %>
      <%= select_tag :contract_date_era, options_for_select(wareki_era, nurse.contract_date.try(:strftime, '%Je')), {prompt: '選択', id: :nurse_contract_date_era, class: :wareki_era} %>
      <%= text_field_tag :contract_date_year, value = nurse.contract_date.try(:strftime, '%Jg'), {style: "width:32px;height:25px", placeholder: 'yy', id: :nurse_contract_date_year, class: :wareki_year} %>年
      <%= text_field_tag :contract_date_month, value = nurse.contract_date.try(:month), {style: "width:32px;height:25px", placeholder: 'mm', id: :nurse_contract_date_month, class: :wareki_month} %>月
      <%= text_field_tag :contract_date_day, value = nurse.contract_date.try(:day), {style: "width:32px;height:25px", placeholder: 'dd', id: :nurse_contract_date_day, class: :wareki_day} %>日
    </div>

    <% if nurse.new_record? %>
      <div class="form-group">
        <%= form.label :days_worked, "現時点の稼働日数", class: "colibri-form-label" %>
        <%= form.number_field :days_worked, id: :nurse_days_worked, class: "form-control" %>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :skill_list, "スキル", class: "colibri-form-label" %>
      <%= form.select :skill_list, options_from_collection_for_select(@skills, 'name', 'name', nurse.skill_list), {}, {multiple: true, id: "nurse_skill_list"} %>
    </div>

    <div class="form-group">
      <%= form.label :phone_number, "電話番号", class: "colibri-form-label" %>
      <%= form.text_field :phone_number, id: :nurse_phone_number, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :phone_mail, "携帯メールアドレス", class: "colibri-form-label" %>
      <%= form.text_field :phone_mail, id: :nurse_phone_mail, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :address, "住所", class: "colibri-form-label" %>
      <%= form.text_area :address, id: :nurse_address, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :description, "備考", class: "colibri-form-label" %>
      <%= form.text_area :description, id: :nurse_description, class: "form-control" %>
    </div>

  </div>


  <div class="modal-footer">
    <%= link_to '削除', nurse_archive_path(nurse), method: :patch, data: {confirm: 'このヘルパーが削除されます。過去のサービスは削除されません。'}, class: 'btn btn-danger text-white' unless nurse.new_record? %>
    <%= form.submit 'セーブする', class: 'btn btn-info' %>
  </div>
<% end %>