<div id="nurse_smart_search_results" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">従業員検索</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

            <div class="modal-body">
                <%= link_to "<i class='glyphicon glyphicon-search text-white' style='font-size:12px'></i>再検索".html_safe, nurses_smart_search_path, remote: true, class: 'btn btn-info text-white', style: 'margin-bottom:5px' %>
                <table class="table">
                    <thead>
                        <th style="width:20%">従業員名</th>
                        <th style="width:30%">スキル</th>
                        <th style="width:30%">希望内容</th>
                        <th style="width:20%">希望エリア</th>
                    </thead>
                    <tbody>
                        <% @nurses.each do |nurse| %>
                            <tr>
                                <th><%= nurse.name %></th>
                                <th><%= nurse.skills.pluck(:name).join(', ') %></th>
                                <th><%= nurse.wishes.pluck(:name).join(', ') %></th>
                                <th><%= nurse.wished_areas.pluck(:name).join(', ') %></th>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <div class="btn btn-colibri-light" data-dismiss="modal">閉じる</div>

            </div>

		</div>
	</div>

</div>