<h1>ヘルパー</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>電話番号</th>
      <th>メール</th>
      <th>住所</th>
    </tr>
  </thead>

  <tbody>
    <% @nurses.each do |nurse| %>
      <tr>
        <td><%= nurse.name %></td>
        <td><%= nurse.phone_number %></td>
        <td><%= nurse.phone_mail %></td>
        <td><%= nurse.address %></td>
        <td><%= link_to 'Show', planning_nurse_path(@planning, nurse) %></td>
        <td><%= link_to 'Edit', edit_planning_nurse_path(@planning, nurse) %></td>
        <td><%= link_to 'Destroy', planning_nurse_path(@planning, nurse), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規ヘルパー', new_nurse_path, class: 'btn btn-info' %>