<% if @planning.present? %>
  <%= render 'plannings/planning_nurses_submenu' %>
<% else %>
<% end %>

<div id="index-container">
  <% if @planning.nil? %>
  <%= link_to '+新規ヘルパー', new_nurse_path, class: 'btn btn-info text-white btn-margin-top' %>
  <% end %>

  <div id="index-table-container">
    <table class="<%= @planning ? 'table table-hover' : 'table' %>">
      <thead>
        <tr>
          <th class="table-important-fields">名前</th>
          <th class="table-important-fields">電話番号</th>
          <th class="table-important-fields">メール</th>
          <th class="table-important-fields">住所</th>
        </tr>
      </thead>

      <tbody>
        <% @nurses.each do |nurse| %>
          <tr class="<%= 'clickable-row' if @planning %>" data-link="<%= planning_nurse_path(@planning, nurse) if @planning %>">
            <td><%= nurse.name %></td>
            <td><%= nurse.phone_number %></td>
            <td><%= nurse.phone_mail %></td>
            <td><%= nurse.address %></td>
            <% if @planning.present? %>
              <td><%= link_to 'ヘルパーのスケジュールを変換する', planning_nurse_path(@planning, nurse) %></td>
            <% else %>
              <td><%= link_to 'エディット', edit_nurse_path(nurse) %></td>
              <td><%= link_to '削除', nurse_path(nurse), method: :delete, data: { confirm: 'ヘルパーが削除されます' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


</div>




  