<%= javascript_tag do %>
	window.recurringAppointmentsUrl = "<%= j planning_recurring_appointments_url(@planning, nurse_id: @nurse.id, master: true) %>";
	window.corporationNursesURL = "<%= j corporation_nurses_url(@corporation, format: :json) %>";
	window.createRecurringAppointmentURL = "<%= j new_planning_recurring_appointment_url(@planning) %>";
	window.createWishedSlotUrl = "<%= j new_planning_wished_slot_url(@planning) %>"
	window.wishedSlotsUrl = "<%= j planning_wished_slots_path(@planning, nurse_id: @nurse.id) %>";
	window.eventSource1 = window.recurringAppointmentsUrl;
	window.eventSource2 = window.wishedSlotsUrl + '&background=true';
	window.resourceUrl = "<%= j corporation_nurses_url(@corporation, format: :json) %>";
	window.selectActionUrl = "<%= j new_planning_recurring_appointment_url(@planning) %>";
	window.userIsAdmin = <%= current_user.has_admin_access? %>;
	window.nurseId = "<%= j @nurse.id.to_s %>";
	window.patientId = "";
	window.minTime = "<%= j current_user.corporation.business_start_hour %>";
	window.maxTime = "<%= j current_user.corporation.business_end_hour %>";
	window.defaultView = "<%= j @corporation.default_master_view %>";
	window.masterToSchedule = "<%= j master_to_schedule_path(@planning) %>";
	window.nurseMasterToSchedule = "<%= j nurse_master_to_schedule_path(@planning, @nurse) %>";
	window.planningId = "<%= j @planning.id.to_s %>";
	window.firstDay = "<%= j @corporation.default_first_day.to_s %>";
	window.printDates = "<%= j @printing_option.print_nurse_dates_in_master.to_s %>";
	window.holidays = "<%= j HolidayJp.between((Date.today - 1.year), (Date.today + 1.year)).to_json.html_safe %>"
	window.masterSchedule = 'true';
	window.fullcalendarViewOptions = 'agendaDayWithoutResources,agendaWeek,month';
	window.resourceType = 'nurse';
<% end %>

<%= render partial: 'plannings/planning_left_menu', locals: {view: 'master', resource_path: planning_nurse_path(@planning, @nurse), resource_master_path: planning_nurse_master_path(@planning, @nurse), resource_payable_path: planning_nurse_payable_path(@planning, @nurse, params: {m: Date.today.in_time_zone('Tokyo').month,y: Date.today.in_time_zone('Tokyo').year})} %>

<%= render partial: 'plannings/resources_submenu', locals: {individual_resource: 'true', resource_type: 'nurse', view: 'master'} %>

<div id="detail-container">
	<div id="detail-planning-container">
		<div id="detail-planning-title" style="margin-bottom:10px">
			<div id="planning-nurse-information">
				<div class="planning-nurse-module-title">
					<%= @nurse.try(:name) %>
				</div>
				<div id="address-phone-container" class="font-size-large print-only">
					<% if @nurse.address.present? %>
						<span class="glyphicon glyphicon-home"></span><span class="font-size-large"><%= " #{@nurse.address}  " %></span>
					<% end %>
					<% if @nurse.phone_number.present? %>
						<span class="glyphicon glyphicon-phone"></span><span class="font-size-large"><%= " #{@nurse.phone_number}" %></span>
					<% end %>
				</div>
				<div  id="description-container" class="print-only">
				  <span class="<%= 'no-print' unless @printing_option.print_nurse_description_in_master == true %>">備考：<%= @nurse.try(:description) %></span>
				</div>
				<div id="appointment-comments-container" class="print-only">
		          <div class="<%= 'no-print' unless @printing_option.print_nurse_comments_in_master == true %>">
			        <div class="appointment-comments-title">コメント</div>
			        <div id="appointment-comments"></div>
		          </div>
		        </div>
			</div>
			<div id="planning-top-right-action-container" class="no-print">
			  <%= render 'plannings/master_toggle_wished_slots' %>
				<div class="btn btn-colibri-light-gray btn-sm text-white" id="print-button"><i class="glyphicon glyphicon-print" style="color:white"></i> 印刷</div>
			</div>
		</div>

		<div id="planning-container">
			<div class="master_calendar"></div>
		</div>
		

	</div>
</div>

<%= render 'plannings/master_drag_drop' %>

<% if current_user.has_admin_access? %>
	<div id="colibri-batch-master-action-button" class="no-print batch-action-button" data-url="<%= new_nurse_master_to_schedule_path(@nurse) %>">
		<div class="colibri-glyphicon-container">
			<span class="glyphicon glyphicon-pencil batch-action-pencil"></span>
		</div>
	</div>
<% end %>

<%= render 'plannings/nurse_overlap_modal' %>
