<div style='margin-bottom:10px;font-size:2.5em;font-weight:bold;text-align:center'>ヘルパー空き情報</div>
<div style='margin-bottom:20px;font-size:1.9em;text-align:right'><%= @query_day.try(:strftime, '%-m月%-d日現在') %></div>

<table class='table table-bordered table-bordered-pdf table-centered' style="font-size:1.9em">
    <thead>
        <th style="width:25%"></th>
        <th style="font-weight:normal!important">月</th>
        <th style="font-weight:normal!important">火</th>
        <th style="font-weight:normal!important">水</th>
        <th style="font-weight:normal!important">木</th>
        <th style="font-weight:normal!important">金</th>
        <% if @printing_option.print_saturday_availabilities %>
            <th style="font-weight:normal!important">土</th>
        <% end %>
        <% if @printing_option.print_sunday_availabilities %>
            <th style="font-weight:normal!important">日</th>
        <% end %>
    </thead>
    <tbody>
        <% @master_availabilities.each do |slot, availabilities_per_day| %>
            <tr style="height:45px">
                <td style='height:45px'><%= "#{slot[:slot_start]}:00 ~ #{slot[:slot_end]}:00" %></td>
                <% availabilities_per_day.each do |day, count| %>
                    <% unless (!@printing_option.print_saturday_availabilities && day == 6) || (!@printing_option.print_sunday_availabilities && day == 0) %>
                        <td style='color:black !important;height:45px;font-size:1.2em'><%= nurse_availability_icon(count) %></td>
                    <% end %>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>

<div style="font-size:1.7em;text-align:right">○:空きあり  △:多少空きあり  ✕:要相談</div>

<div style='margin-top:30px;border:0.5px solid black;white-space:pre-wrap;font-size:1.4em'><%= simple_format(@corporation.availabilities_default_text) %></div>

<div style='margin-bottom:10px;font-size:2.2em;font-weight:bold;text-align:center'><%= @corporation.name %>   連絡先：<%= @corporation.try(:phone_number) %></div> 