<%= javascript_tag do  %>
	window.nursePayableUrl = "<%= j nurse_payable_path(@nurse) %>"
<% end %>


<%= render 'layouts/nurses_menu' %>

<div id="index-container">
	<h2><%= "#{@nurse.name}の給与管理" %></h2>

	<div class="">
		フィルター：
		<%= select_tag('schedule-filter', options_from_collection_for_select(@plannings, 'id', 'business_month', @planning.id), prompt: "スケジュール") %>
	</div>

	<div class="align-right">
		<%= link_to 'ダウンロードする', nurse_payable_path(@nurse, format: :xls), class: 'btn btn-success text-white' %>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>日付</th>
				<th>サービスタイプ</th>
				<th>利用者名</th>
				<th>提供時間</th>
				<th>時給/単価</th>
				<th>回数</th>
				<th>計</th>
			</tr>
			
		</thead>

		<tbody>
			<% @provided_services.each do |provided_service| %>
			<tr>
				<td><%= provided_service.created_at.strftime("%-m月%-d日") %></td>
				<td><%= provided_service.payable.try(:title) %></td>
				<td><%= provided_service.patient.try(:name) %> </td>
				<td><%= Time.at(provided_service.service_duration).utc.strftime("%H:%M") %></td>
				<td>
					<%= form_for provided_service, url: {action: 'update'}, remote: true do |f| %>
						<%= f.text_field :hourly_wage, data: {service_url: provided_service_path(provided_service)}, class: 'edit-hourly-wage' %>
					<% end %>
				</td>
				<td></td>
				<td id="service-total-<%= provided_service.id %>"><%= provided_service.total_wage %>¥</td>

			</tr>
			<% end %>
			<% if @counter.present? %>
				<tr>
					<td><%= @counter.created_at.strftime("%-m月%-d日") %></td>
					<td>移動手当</td>
					<td></td>
					<td></td>
					<td>
						<%= form_for @counter, url: {action: 'update'}, remote: true do |f| %>
							<%= f.text_field :hourly_wage, data: {service_url: provided_service_path(@counter)}, class: 'edit-hourly-wage' %>
						<% end %>
					</td>
					<td>
						<%= form_for @counter, url: {action: 'update'}, remote: true do |f| %>
							<%= f.text_field :service_counts, data: {service_url: provided_service_path(@counter)}, class: 'edit-service-counts' %>
						<% end %>
					</td>
					<td id="service-total-<%= @counter.id %>"><%= @counter.total_wage %>¥</td>
				</tr>
			<% end %>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td id="total-salary-label">合計：</td>
				<td id="total-salary"><%= @provided_services.sum { |p| p.total_wage.present? ? p.total_wage : 0 }  %>¥</td>
			</tr>
		</tbody>
		
	</table>
	
</div>