<%= render 'layouts/nurses_menu' %>

<div id="index-container">
	<table class="table">
		<thead>
			<tr>
				<th>日付</th>
				<th>サービスタイプ</th>
				<th>利用者名</th>
				<th>提供時間</th>
				<th>時給</th>
				<th>計</th>
			</tr>
			
		</thead>

		<tbody>
			<% @provided_services.each do |provided_service| %>
			<tr>
				<td><%= provided_service.created_at.strftime("%D") %></td>
				<td><%= provided_service.payable.title %></td>
				<td><%= provided_service.payable.patient_id %> </td>
				<td><%= Time.at(provided_service.service_duration).utc.strftime("%H:%M") %></td>

			</tr>
			<% end %>
		</tbody>
		
	</table>
	
</div>