<%= javascript_tag do  %>
	window.nursePayableUrl = "<%= j planning_nurse_payable_path(@planning, @nurse) %>";
	window.excelUrl = "<%= j planning_nurse_payable_path(@planning, @nurse, format: :xlsx) %>"
<% end %>

<%= render partial: 'plannings/planning_left_menu', locals: {view: 'payable', resource_path: planning_nurse_path(@planning, @nurse), resource_master_path: planning_nurse_master_path(@planning, @nurse), resource_payable_path: planning_nurse_payable_path(@planning, @nurse, params: {m: @selected_month, y: @selected_year})} %>

<%= render partial: 'plannings/resources_submenu', locals: {individual_resource: 'true', resource_type: 'nurse', view: 'payable'} %>

<div id="payable-container">
	<div id="detail-planning-title">
		<p class="planning-activity-module-title" id="payable-title">
			<%= "#{@nurse.name}の給与" %>
			<span id="payable-query">
				<%= select_tag '年', options_for_select([['2018年', 2018],['2019年', 2019], ['2020年', 2020], ['2021年', 2021]], params[:y]), id: 'query_year' %>
				<%= select_tag '月', options_for_select([['1月', 1],['2月', 2], ['3月', 3], ['4月', 4], ['5月',5], ['6月',6], ['7月', 7], ['8月', 8], ['9月', 9], ['10月', 10], ['11月', 11], ['12月', 12]], params[:m]), id: 'query_month' %>
				<button id='payable-query-trigger' class='btn btn-sm btn-colibri-light-gray'><span class="glyphicon glyphicon-refresh" style="color:white;font-size:0.85em"></span></button>
			</span>
		</p>
	</div>


	<div id="payable-charts">
		<% if  @total_time_pending > 0 %>
			<div id="hours-worked-pied-container">
				<%= pie_chart [['稼働時間', @total_time_worked], ['稼働予定時間', @total_time_pending]], donut: true,  width: '130px', height: '130px', legend: false, colors: ['#ffc107', '#e4e4e4'], library: {tooltips: {enabled: false}} %>
			</div>
		<% end %>
		<div id="payable-dashboard">
			<div class="payable-dashboard-text-container">
				<p class="payable-dashboard-line">稼働時間: <span class="payable-dashboard-important"><%= from_seconds_to_hours_minutes(@total_time_worked) %></span></p>
				<p class="payable-dashboard-line">稼働予定時間: <span class="payable-dashboard-important"><%= from_seconds_to_hours_minutes(@total_time_pending) %></span></p>
			</div>
		</div>
	</div>

	<div id='payable-table-commands'>
	    <div id="add-provided-service-line">
			<%= link_to '+手当を追加する', new_nurse_provided_service_path(@nurse, params: {planning_id: @planning.id}), class: 'btn btn-info text-white', remote: true %>
			<%= link_to "#{@nurse.try(:name)}の給与テーブル", nurse_services_path(@nurse, params: {planning_id: @planning.id}), class: 'btn btn-info text-white', remote: true if current_user.corporation_admin? %>
		</div>
		<% if current_user.corporation_admin? %>
			<%= link_to '<i class="glyphicon glyphicon-download" style="color:white"></i>  ダウンロード'.html_safe, planning_nurse_payable_path(@planning, @nurse, params: {y: params[:y], m: params[:m]}, format: 'xlsx'), class:'excel-download btn btn-colibri-light-gray text-white' %>
		<% end %>
	</div>

	<div class="colibri-payable-subtitle">実績.手当詳細</div>

	<table class="table">
		<thead>
			<tr>
				<th style="width:11%"><%= sort_link(@sort_direction) %></th>
				<th style="width:13%">タイプ</th>
				<th style="width:11%">利用者名</th>
				<th style="width:10%">提供時間</th>
				<th style="width:10%">開始~終了</th>
				<% if current_user.corporation_admin? %>
					<th style="width:11%">時給/単価</th>
				<% end %>
				<% if current_user.corporation_admin? %>
					<th style="width:8%">計</th>
				<% end %>
				<th style="width:18%" colspan="2">確認<span style="font-weight:bold"><%= "(未確認#{@unverified_services_count}件)" if @unverified_services_count > 0 && @unverified_services_count != @services_from_appointments.count %></span></th>
				<th style="width:8%">編集</th>
			</tr>
			
		</thead>

		<tbody>
			<% @services_from_appointments.each do |provided_service| %>
			<tr>
				<td class="<%= weekend_holiday_provided_service_css(provided_service) if provided_service.weekend_holiday_provided_service? %>"><%= provided_service.service_date.strftime("%-m月%-d日") + ' ' + weekday(provided_service.service_date) %></td>
				<td><%= provided_service_title_with_counts(provided_service) %></td>
				<td><%= provided_service.patient.try(:name) %> </td>
				<td><%= from_seconds_to_hours_minutes(provided_service.service_duration) if provided_service.service_duration.present? %></td>
				<td><%= "#{provided_service.appointment_start.strftime('%H:%M')}~#{provided_service.appointment_end.strftime('%H:%M')}"  if provided_service.appointment_start.present? && provided_service.appointment_end.present? %></td>
				<% if current_user.corporation_admin? %>
					<td><%= "#{provided_service.unit_cost}¥" %></td>
				<% end %>
				<% if current_user.corporation_admin? %>
					<td id="service-total-<%= provided_service.id %>"><%= "#{provided_service.total_wage}¥" %></td>
				<% end %>
        <td style="width:9%">
				  <div style="display:flex" id='provided-service-<%= provided_service.id %>'>
				    <div class='<%= 'cancelled-provided-service' if provided_service.cancelled == true %> <%= 'edit-requested-provided-service' if provided_service.appointment.present? && provided_service.appointment.edit_requested == true %>' style="display:flex">
					    <% if provided_service.cancelled == true %>
					    	<span>キャンセル</span>
					    <% elsif provided_service.appointment.present? && provided_service.appointment.edit_requested == true %>
					    	<span>調整中</span>
					    <% else %>
                <% if provided_service.verified? %>
                  <div><span class='glyphicon glyphicon-check'  style="color: #42B97C"></span></div>
                  <%= link_to "#{provided_service.verifier.try(:name)} #{provided_service.try(:verified_at).strftime('%y/%m/%d')}", toggle_verified_provided_service_path(provided_service), remote: true, method: :patch, class: 'verified-at-and-by', data: {confirm: '実績の確認が解除されます'} %>
                <% else %>
                  <%= link_to '確認１', toggle_verified_provided_service_path(provided_service), method: :patch, remote: :true, class: 'btn btn-success btn-sm' if !provided_service.verified? %>
                <% end %>
					    <% end %>
				    </div>
				  </div>
        </td>
				<td style='width:9%'>
				  <div style="display:flex" id='provided-service-second-verified-<%= provided_service.id %>'>
				    <div style="display:flex">
					    <% if provided_service.cancelled == true %>
							  <%= link_to '+手当', provided_service_new_cancellation_fee_path(provided_service), remote: true, class: 'btn btn-sm btn-colibri-light-gray text-white' %>
					    <% elsif provided_service.appointment.present? && provided_service.appointment.edit_requested == true %>
					    <% else %>
                <% if provided_service.second_verified? %>
                  <div><span class='glyphicon glyphicon-check'  style="color: #42B97C"></span></div>
                  <%= link_to "#{provided_service.second_verifier.try(:name)}#{provided_service.try(:second_verified_at).strftime('%y/%m/%d')}", toggle_second_verified_provided_service_path(provided_service), remote: true, method: :patch, class: 'verified-at-and-by', data: {confirm: '実績の確認が解除されます'} %>
                <% else %>
                  <%= link_to '確認２', toggle_second_verified_provided_service_path(provided_service), method: :patch, remote: :true, class: 'btn btn-success btn-sm' if !provided_service.second_verified? %>
                <% end %>
					    <% end %>
				    </div>
				  </div>
				</td>
				<td>
					<% if provided_service.appointment.present? %>
						<%= link_to '編集', edit_planning_appointment_path(@planning, provided_service.appointment), remote: true, class: 'btn btn-sm btn-colibri-light-gray text-white' %>
					<% else %>
						<%= link_to '編集', edit_nurse_provided_service_path(@nurse, provided_service, params: {planning_id: @planning.id}), remote: true, class: 'btn btn-sm btn-colibri-light-gray text-white' %>
					<% end %>
				</td>

			</tr>
			<% end %>
			<% if current_user.corporation_admin? %>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><span id="total-salary-label" style="font-weight:bold;float:right">実績小計</span></td>
					<td id="total-salary" style="font-weight:bold"><%= @services_from_appointments.sum(:total_wage) || 0 %>¥</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			<% end %>

		<% if current_user.corporation_admin? %>
			<% @services_from_salary_rules.each do |provided_service| %>
				<tr>
					<td><%= provided_service.salary_rule.present? ? provided_service.updated_at.strftime("%-m月%-d日") : provided_service.service_date.strftime("%-m月%-d日") %></td>
					<td><%= provided_service.hour_based_wage ? provided_service.title : provided_service_title_with_counts(provided_service) %></td>
					<td></td>
					<td><%= from_seconds_to_hours_minutes(provided_service.service_duration) if provided_service.hour_based_wage %></td>
					<td></td>
					<td><%= salary_calculation(provided_service.salary_rule) if provided_service.salary_rule.present? %></td>
					<td><%= "#{provided_service.total_wage}¥" %></td>
					<td></td>
					<td></td>
					<td><%= link_to '編集', edit_nurse_provided_service_path(@nurse, provided_service), remote: true, class: 'btn btn-sm btn-secondary' unless provided_service.salary_rule.present? %></td>
				</tr>
			<% end %>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><span style="font-weight:bold;float:right">手当小計</span></td>
				<td style="font-weight:bold"><%= @services_from_salary_rules.sum(:total_wage) ||0 %>¥</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><span style="font-weight:bold;float:right;margin:0">実績.手当合計</span></td>
				<td style="font-weight:bold"><%= @services_from_salary_rules.sum(:total_wage) + @services_from_appointments.sum(:total_wage) || 0 %>¥</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		<% end %>

		</tbody>
		
	</table>


	<div class="colibri-payable-subtitle">実績サービスタイプ小計</div>
	<table class="table" style='margin-bottom:30px'>
		<thead>
			<tr>
				<th>タイプ</th>
				<th>提供時間</th>
				<th>回数</th>
				<% if current_user.corporation_admin? %>
					<th>計</th>
				<% end %>
			</tr>
		</thead>
		<tbody class="text-not-bold">
			<% @grouped_services.each do |service_group| %>
				<tr>
					<td><%= service_group.title %></td>
					<td><%= from_seconds_to_hours_minutes(service_group.sum_duration) if service_group.sum_duration > 0 %></td>
					<td><%= service_group.count %></td>
					<% if current_user.corporation_admin? %>
						<td><%= service_group.sum_total_wage %>¥</td>
					<% end %>
				</tr>
			<% end %>
			<tr>
				<td>実績小計</td>
				<td><%= from_seconds_to_hours_minutes(@grouped_services_sum_duration) if @grouped_services_sum_duration > 0 %></td>
				<td><%= @grouped_services_sum_count %></td>
				<% if current_user.corporation_admin? %>
					<td><span style="font-weight:bold"><%= @grouped_services_sum_total_wage %>¥</span></td>
				<% end %>
			</tr>
		</tbody>
	</table>
	
</div>