<%= javascript_tag do  %>
	window.nursePayableUrl = "<%= j planning_nurse_payable_path(@planning, @nurse) %>";
	window.excelUrl = "<%= j planning_nurse_payable_path(@planning, @nurse, format: :xlsx) %>"
<% end %>

<%= render partial: 'plannings/planning_left_menu', locals: {view: 'payable', resource_path: planning_nurse_path(@planning, @nurse), resource_master_path: planning_nurse_master_path(@planning, @nurse), resource_payable_path: planning_nurse_payable_path(@planning, @nurse, params: {m: @selected_month, y: @selected_year})} %>

<%= render partial: 'plannings/resources_submenu', locals: {individual_resource: 'true', resource_type: 'nurse', view: 'payable'} %>

<div id="payable-container">
	<div id="detail-planning-title">
		<p class="planning-activity-module-title" id="payable-title">
			<%= "#{@nurse.name}の給与" %>
			<span id="payable-query">
				<%= select_tag '年', options_for_select([['2018年', 2018],['2019年', 2019], ['2020年', 2020], ['2021年', 2021]], params[:y]), id: 'query_year' %>
				<%= select_tag '月', options_for_select([['1月', 1],['2月', 2], ['3月', 3], ['4月', 4], ['5月',5], ['6月',6], ['7月', 7], ['8月', 8], ['9月', 9], ['10月', 10], ['11月', 11], ['12月', 12]], params[:m]), id: 'query_month' %>
				<button id='payable-query-trigger' class='btn btn-sm btn-colibri-light'><span class="glyphicon glyphicon-refresh" style="color:#5f6368;font-size:0.85em"></span></button>
			</span>
		</p>
	</div>

    <% if current_user.corporation_admin? %>
        <div id="patient-dashboard" style='display:flex'>
            <div class="patient-dashboard-panel" style='width:calc(66% - 5px);margin-right:5px'>
                <div class="patient-dashboard-panel-title">
                    <%= @selected_month %>月のまとめ
                </div>
                <div class="patient-dashboard-panel-body">
                    サービスによる給与：<%= sum_appointments = @appointments_till_today.sum(:total_wage) || 0 %>¥<br/>
                    手当：<%= sum_salary_line_items = @salary_line_items.sum(:total_wage) || 0 %>¥<br/>
                    合計：<%= total_wage = sum_salary_line_items + sum_appointments || 0 %>¥<br/>
                </div>
            </div>
            <div  class="patient-dashboard-panel" style="width:34%">
                <div class="patient-dashboard-panel-title">
                    <%= @selected_month %>月の書類
                </div>
                <div class="patient-dashboard-panel-body">
                    <table class="table">
                        <tr>
                            <td style='width:60%'>給与明細書</td>
                            <td style='width:40%'><%= link_to '<i class="glyphicon glyphicon-download" style="color:white;font-size:14px"></i>xlsx'.html_safe, planning_nurse_payable_path(@planning, @nurse, params: {y: params[:y], m: params[:m]}, format: 'xlsx'), class: 'btn btn-sm btn-success text-white' %></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    <% end %>

	<% if false %>
		<div id="payable-charts">
			<% if  @total_time_pending > 0 %>
				<div id="hours-worked-pied-container">
					<%= pie_chart [['稼働時間', @total_time_worked], ['稼働予定時間', @total_time_pending]], donut: true,  width: '130px', height: '130px', legend: false, colors: ['#ffc107', '#e4e4e4'], library: {tooltips: {enabled: false}} %>
				</div>
			<% end %>
			<div id="payable-dashboard">
				<div class="payable-dashboard-text-container">
					<p class="payable-dashboard-line">稼働時間: <span class="payable-dashboard-important"><%= from_seconds_to_hours_minutes(@total_time_worked) %></span></p>
					<p class="payable-dashboard-line">稼働予定時間: <span class="payable-dashboard-important"><%= from_seconds_to_hours_minutes(@total_time_pending) %></span></p>
				</div>
			</div>
		</div>
	<% end %>

	<div id='payable-table-commands' style='margin-top:20px'>
	    <div id="add-provided-service-line">
			<%= link_to '+手当を追加する', new_nurse_bonus_path(@nurse), class: 'btn btn-colibri-light-gray text-white', remote: true %>
			<%= link_to "#{@nurse.try(:name)}の給与テーブル", nurse_nurse_service_wages_path(@nurse), class: 'btn btn-colibri-light-gray text-white', remote: true if current_user.corporation_admin? %>
		</div>
	</div>

	<div class="colibri-payable-subtitle">実績.手当詳細</div>


	<table class="table">
		<thead>
			<tr>
				<th style="width:11%"><%= sort_link(@sort_direction) %></th>
				<th style="width:13%">タイプ</th>
				<th style="width:11%">利用者名</th>
				<th style="width:10%">提供時間</th>
				<th style="width:10%">開始~終了</th>
				<% if current_user.corporation_admin? %>
					<th style="width:8%">計</th>
				<% end %>
				<th style="width:18%" colspan="2">確認<span style="font-weight:bold"><%= "(未確認#{@unverified_services_count}件)" if @unverified_services_count > 0 && @unverified_services_count != @appointments_till_today.size %></span></th>
				<th style="width:8%">編集</th>
			</tr>
			
		</thead>

		<tbody>
			<% @appointments_till_today.each do |appointment| %>
			<tr>
				<td class="<%= weekend_holiday_appointment_css(appointment) if appointment.weekend_holiday_appointment? %>"><%= appointment.starts_at.strftime("%-m月%-d日") + ' ' + weekday(appointment.starts_at) %></td>
				<td><%= appointment.title %></td>
				<td><%= appointment.patient.try(:name) %> </td>
				<td><%= from_seconds_to_hours_minutes(appointment.duration) %></td>
				<td><%= "#{appointment.starts_at.try(:strftime,'%H:%M')}~#{appointment.ends_at.try(:strftime,'%H:%M')}"  %></td>
				<% if current_user.corporation_admin? %>
					<td id="service-total-<%= appointment.id %>"><%= "#{appointment.total_wage}¥" %></td>
				<% end %>
        		<td style="width:9%">
				  <div style="display:flex" id='appointment-<%= appointment.id %>'>
				    <div class='<%= 'cancelled-provided-service' if appointment.cancelled? %> <%= 'edit-requested-provided-service' if appointment.edit_requested? %>' style="display:flex">
					    <% if appointment.cancelled? %>
					    	<span>キャンセル</span>
					    <% elsif appointment.edit_requested? %>
					    	<span>調整中</span>
					    <% else %>
							<% if appointment.verified? %>
							<div><span class='glyphicon glyphicon-check'  style="color: #42B97C"></span></div>
							<%= link_to "#{appointment.verifier.try(:name)} #{appointment.verified_at.try(:strftime,'%y/%m/%d')}", toggle_verified_appointment_path(appointment), remote: true, method: :patch, class: 'verified-at-and-by', data: {confirm: '実績の確認が解除されます'} %>
							<% else %>
							<%= link_to '確認１', toggle_verified_appointment_path(appointment), method: :patch, remote: :true, class: 'btn btn-success btn-sm' if !appointment.verified? %>
							<% end %>
					    <% end %>
				    </div>
				  </div>
        		</td>
				<td style='width:9%'>
				  <div style="display:flex" id='appointment-second-verified-<%= appointment.id %>'>
				    <div style="display:flex">
					    <% if appointment.cancelled? %>
							  <%= link_to '+手当', appointment_new_cancellation_fee_path(appointment), remote: true, class: 'btn btn-sm btn-colibri-light-gray text-white' %>
					    <% elsif appointment.edit_requested? %>
					    <% else %>
							<% if appointment.second_verified? %>
								<div><span class='glyphicon glyphicon-check' style="color: #42B97C"></span></div>
								<%= link_to "#{appointment.second_verifier.try(:name)}#{appointment.second_verified_at.try(:strftime,'%y/%m/%d')}", toggle_second_verified_appointment_path(appointment), remote: true, method: :patch, class: 'verified-at-and-by', data: {confirm: '実績の確認が解除されます'} %>
							<% else %>
								<%= link_to '確認２', toggle_second_verified_appointment_path(appointment), method: :patch, remote: :true, class: 'btn btn-success btn-sm' if !appointment.second_verified? %>
							<% end %>
					    <% end %>
				    </div>
				  </div>
				</td>
				<td>
					<%= link_to '編集', edit_planning_appointment_path(@planning, appointment), remote: true, class: 'btn btn-sm btn-colibri-light-gray text-white' %>
				</td>
			</tr>
			<% end %>
			<% if current_user.corporation_admin? %>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><span id="total-salary-label" style="font-weight:bold;float:right">実績小計</span></td>
					<td id="total-salary" style="font-weight:bold"><%= sum_appointments %>¥</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			<% end %>

		<% if current_user.corporation_admin? %>
			<% @salary_line_items.each do |salary_line_item| %>
				<tr>
					<td><%= salary_line_item.service_date.strftime("%-m月%-d日") %></td>
					<td><%= salary_line_item_title_with_counts(salary_line_item) %></td>
					<td></td>
					<td><%= from_seconds_to_hours_minutes(salary_line_item.service_duration) %></td>
					<td><%= salary_calculation(salary_line_item.salary_rule) if salary_line_item.salary_rule.present? %></td>
					<td><%= "#{salary_line_item.total_wage}¥" %></td>
					<td></td>
					<td></td>
					<td><%= link_to '編集', edit_nurse_salary_line_item_path(@nurse, salary_line_item), remote: true, class: 'btn btn-sm btn-colibri-light-gray text-white' unless salary_line_item.salary_rule.present? %></td>
				</tr>
			<% end %>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><span style="font-weight:bold;float:right">手当小計</span></td>
				<td style="font-weight:bold"><%= sum_salary_line_items =  @salary_line_items.sum(:total_wage) ||0 %>¥</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><span style="font-weight:bold;float:right;margin:0">実績.手当合計</span></td>
				<td style="font-weight:bold"><%= total_wage %>¥</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		<% end %>

		</tbody>
		
	</table>



	<div class="colibri-payable-subtitle">実績サービスタイプ小計</div>
	<table class="table" style='margin-bottom:30px'>
		<thead>
			<tr>
				<th>タイプ</th>
				<th>提供時間</th>
				<th>回数</th>
				<% if current_user.corporation_admin? %>
					<th>計</th>
				<% end %>
			</tr>
		</thead>
		<tbody class="text-not-bold">
			<% @grouped_appointments.each do |appointment_group| %>
				<tr>
					<td><%= appointment_group.title %></td>
					<td><%= from_seconds_to_hours_minutes(appointment_group.sum_duration) if appointment_group.sum_duration > 0 %></td>
					<td><%= appointment_group.count %></td>
					<% if current_user.corporation_admin? %>
						<td><%= appointment_group.sum_total_wage %>¥</td>
					<% end %>
				</tr>
			<% end %>
			<tr>
				<td>実績小計</td>
				<td><%= from_seconds_to_hours_minutes(@grouped_appointments.sum {|group| group.sum_duration || 0 })  %></td>
				<td><%= @grouped_appointments.sum {|group| group.count || 0 } %></td>
				<% if current_user.corporation_admin? %>
					<td><span style="font-weight:bold"><%= @grouped_appointments.sum {|group| group.sum_total_wage || 0 } %>¥</span></td>
				<% end %>
			</tr>
		</tbody>
	</table>
</div>