<%= javascript_tag do  %>
	window.nursePayableUrl = "<%= j planning_nurse_payable_path(@planning, @nurse) %>";
	window.excelUrl = "<%= j planning_nurse_payable_path(@planning, @nurse, format: :xlsx) %>"
<% end %>

<%= render 'plannings/planning_payable_submenu' %>

<div id="resource-list-container" class="no-print">
	<div id="nurses-resource" class="no-print">
		<% @nurses.each do |nurse| %>
			<p class="resource-list-element" data-url="<%= planning_nurse_payable_path(@planning, nurse) %>"><%= nurse.try(:name) %></p>
		<% end %>
	</div>
</div>

<div id="payable-container">
	<div id="detail-planning-title">
		<p class="planning-activity-module-title" id="payable-title"><%= "#{@nurse.name}の給与 #{@planning.business_month}月" %></p>
	</div>

	<div id='payable-table-commands'>
		<div class="excel-download btn btn-success btn-sm text-white" id="payable-download-button">ダウンロードする</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th class="table-important-fields">日付</th>
				<th class="table-important-fields">サービスタイプ</th>
				<th class="table-important-fields">利用者名</th>
				<th class="table-important-fields">提供時間</th>
				<th class="table-important-fields">スタート</th>
				<th class="table-important-fields">終了</th>
				<th class="table-important-fields">時給/単価</th>
				<th class="table-important-fields">回数</th>
				<th class="table-important-fields">計</th>
				<th class="table-important-fields">削除</th>
			</tr>
			
		</thead>

		<tbody>
			<% @services_till_now.each do |provided_service| %>
			<tr>
				<td><%= provided_service.created_at.in_time_zone('Tokyo').strftime("%-m月%-d日") %></td>
				<td><%= provided_service.try(:title) %></td>
				<td><%= provided_service.patient.try(:name) %> </td>
				<td><%= Time.at(provided_service.service_duration).utc.strftime("%H:%M") %></td>
				<td><%= provided_service.appointment.start.strftime("%H:%M") %></td>
				<td><%= provided_service.appointment.end.strftime("%H:%M") %></td>
				<td>
					<%= form_for provided_service, url: {action: 'update'}, remote: true do |f| %>
						<%= f.text_field :hourly_wage, data: {service_url: provided_service_path(provided_service)}, class: 'edit-hourly-wage' %>
					<% end %>
				</td>
				<td></td>
				<td id="service-total-<%= provided_service.id %>"><%= provided_service.total_wage %>¥</td>
				<td><%= link_to '削除', provided_service, method: :delete, data: {confirm: 'この実績一行が削除されます'}, class: 'btn btn-secondary text-white btn-sm' %></td>

			</tr>
			<% end %>
			<% if @counter.present? %>
				<tr>
					<td></td>
					<td>移動手当</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>
						<%= form_for @counter, url: {action: 'update'}, remote: true do |f| %>
							<%= f.text_field :hourly_wage, data: {service_url: provided_service_path(@counter)}, class: 'edit-hourly-wage' %>
						<% end %>
					</td>
					<td>
						<%= form_for @counter, url: {action: 'update'}, remote: true do |f| %>
							<%= f.text_field :service_counts, data: {service_url: provided_service_path(@counter)}, class: 'edit-service-counts' %>
						<% end %>
					</td>
					<td id="service-total-<%= @counter.id %>"><%= @counter.total_wage %>¥</td>
				</tr>
			<% end %>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td id="total-salary-label">合計：</td>
				<td id="total-salary"><%= @total_till_now %>¥</td>
			</tr>
		</tbody>
		
	</table>


	<table class="table">
		<thead>
			<tr>
				<th class="table-important-fields">サービスタイプ</th>
				<th class="table-important-fields">提供時間</th>
				<th class="table-important-fields">時給/単価</th>
				<th class="table-important-fields">回数</th>
				<th class="table-important-fields">計</th>
			</tr>
		</thead>
		<tbody class="text-not-bold">
			<% @grouped_services.each do |service| %>
				<tr>
					<th><%= service.title %></th>
					<th><%= Time.at(service.service_duration).utc.strftime("%H:%M") %></th>
					<th><%= service.hourly_wage %></th>
					<th><%= service.service_counts %></th>
					<th><%= service.total_wage %></th>
				</tr>
			<% end %>
			<% if @counter.present? %>
				<tr>
					<td>移動手当</td>
					<td></td>
					<td>
						<%= @counter.hourly_wage %>
					</td>
					<td>
						<%= @counter.service_counts %>
					</td>
					<td class="service-total-<%= @counter.id %>"><%= @counter.total_wage %>¥</td>
				</tr>
			<% end %>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td id="total-salary-label">合計：</td>
				<td id="total-salary"><%= @total_till_now %>¥</td>
			</tr>
		</tbody>
	</table>
	
</div>