<%= javascript_tag do  %>
	window.nursePayableUrl = "<%= j planning_nurse_payable_path(@planning, @nurse) %>";
	window.excelUrl = "<%= j planning_nurse_payable_path(@planning, @nurse, format: :xlsx) %>"
<% end %>

<%= render 'plannings/planning_payable_submenu' %>

<div id="resource-list-container" class="no-print">
  <div id="resource-container" class="scrollbar-custom">
	<div id="nurses-resource" class="no-print">
			<div class="nurses-resource-subsection-title">正社員</div>
			<% @full_timers.each do |nurse| %>
				<p class="resource-list-element  <%= 'resource-selected' if nurse.id == @nurse.id %>" data-url="<%= planning_nurse_payable_path(@planning, nurse) %>"><%= nurse.try(:name) %></p>
			<% end %>
			<div class="nurses-resource-subsection-title">非正社員</div>
			<% @part_timers.each do |nurse| %>
				<p class="resource-list-element   <%= 'resource-selected' if nurse.id == @nurse.id %>" data-url="<%= planning_nurse_payable_path(@planning, nurse) %>"><%= nurse.try(:name) %></p>
			<% end %>
	</div>
  </div>
</div>

<div id="payable-container">
	<div id="detail-planning-title">
		<p class="planning-activity-module-title" id="payable-title"><%= "#{@nurse.name}の給与 #{@planning.business_month}月" %></p>
	</div>

	<div id='payable-table-commands'>
	    <div id="add-provided-service-line"><%= link_to '+手当を追加する', new_nurse_provided_service_path(@nurse, params: {planning_id: @planning.id}), class: 'btn btn-info text-white', remote: true %></div>
		<div class="excel-download btn btn-success text-white" id="payable-download-button"><span class="glyphicon glyphicon-download" style="color:white"></span> ダウンロードする</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th class="table-important-fields">日付</th>
				<th class="table-important-fields">タイプ</th>
				<th class="table-important-fields">利用者名</th>
				<th class="table-important-fields">提供時間</th>
				<th class="table-important-fields">スタート</th>
				<th class="table-important-fields">終了</th>
				<th class="table-important-fields">時給/単価</th>
				<th class="table-important-fields">回数</th>
				<th class="table-important-fields">計</th>
				<th class="table-important-fields" colspan="2">アクション</th>
			</tr>
			
		</thead>

		<tbody>
			<% @services_till_now.each do |provided_service| %>
			<tr>
				<td><%= provided_service.service_date.strftime("%-m月%-d日") %></td>
				<td><%= provided_service.try(:title) %></td>
				<td><%= provided_service.patient.try(:name) %> </td>
				<td><%= Time.at(provided_service.service_duration).utc.strftime("%H:%M") if provided_service.service_duration.present? %></td>
				<td><%= provided_service.appointment_start.strftime("%H:%M") if provided_service.appointment_start.present? %></td>
				<td><%= provided_service.appointment_end.strftime("%H:%M") if provided_service.appointment_end.present? %></td>
				<td>
					<%= provided_service.unit_cost %>¥
				</td>
				<td>
					<%= provided_service.service_counts if provided_service.service_counts.present? %>
				</td>
				<td id="service-total-<%= provided_service.id %>"><%= provided_service.total_wage %>¥</td>
				<td><%= link_to 'エディット', edit_nurse_provided_service_path(@nurse, provided_service, params: {planning_id: @planning.id}), remote: true, class: 'btn btn-sm btn-success text-white' %></td>
				<td><%= link_to '削除', provided_service, method: :delete, data: {confirm: 'この実績一行が削除されます'}, class: 'btn btn-secondary text-white btn-sm' %></td>

			</tr>
			<% end %>
			<% if @counter.present? %>
				<tr>
					<td></td>
					<td>移動手当</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>
						<%= @counter.unit_cost %>
					</td>
					<td>
						<%= @counter.service_counts %>
					</td>
					<td id="service-total-<%= @counter.id %>"><%= @counter.total_wage %>¥</td>
					<td><%= link_to 'エディット', edit_nurse_provided_service_path(@nurse, @counter, params: {planning_id: @planning.id}), remote: true, class: 'btn btn-sm btn-success text-white' %></td>
					<td><%= link_to '削除', @counter, method: :delete, data: {confirm: 'この実績一行が削除されます'}, class: 'btn btn-secondary text-white btn-sm' %></td>
					
				</tr>
			<% end %>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td id="total-salary-label">合計：</td>
				<td id="total-salary"><%= @total_till_now %>¥</td>
				<td></td>
			</tr>
		</tbody>
		
	</table>


	<table class="table">
		<thead>
			<tr>
				<th class="table-important-fields">タイプ</th>
				<th class="table-important-fields">提供時間</th>
				<th class="table-important-fields">時給/単価</th>
				<th class="table-important-fields">回数</th>
				<th class="table-important-fields">計</th>
			</tr>
		</thead>
		<tbody class="text-not-bold">
			<% @grouped_services.each do |service| %>
				<tr>
					<th><%= service.title %></th>
					<th><%= Time.at(service.service_duration).utc.strftime("%H:%M") if service.service_duration > 0 %></th>
					<th><%= service.unit_cost %></th>
					<th><%= service.service_counts %></th>
					<th><%= service.total_wage %></th>
				</tr>
			<% end %>
			<% if @counter.present? %>
				<tr>
					<td>移動手当</td>
					<td></td>
					<td>
						<%= @counter.unit_cost %>
					</td>
					<td>
						<%= @counter.service_counts %>
					</td>
					<td class="service-total-<%= @counter.id %>"><%= @counter.total_wage %>¥</td>
				</tr>
			<% end %>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td id="total-salary-label">合計：</td>
				<td id="total-salary"><%= @total_till_now %>¥</td>
			</tr>
		</tbody>
	</table>
	
</div>