<%= render 'layouts/nurses_menu' %>

<div id="index-container">
	<h2><%= "#{@nurse.name}の給付管理" %></h2>
	<table class="table">
		<thead>
			<tr>
				<th>日付</th>
				<th>サービスタイプ</th>
				<th>利用者名</th>
				<th>提供時間</th>
				<th>時給</th>
				<th>計</th>
			</tr>
			
		</thead>

		<tbody>
			<% @provided_services.each do |provided_service| %>
			<tr>
				<td><%= provided_service.created_at.strftime("%-m月%-d日") %></td>
				<td><%= provided_service.payable.try(:title) %></td>
				<td><%= provided_service.patient.try(:name) %> </td>
				<td><%= Time.at(provided_service.service_duration).utc.strftime("%H:%M") %></td>
				<td>
					<%= form_for provided_service, url: {action: 'update'}, remote: true do |f| %>
						<%= f.text_field :hourly_wage, data: {service_url: provided_service_path(provided_service)}, class: 'edit-hourly-wage' %>
					<% end %>
				</td>
				<td id="service-total-<%= provided_service.id %>"><%= provided_service.total_wage %></td>

			</tr>
			<% end %>
		</tbody>
		
	</table>
	
</div>