<%= javascript_tag do %>
	window.appointmentsURL = "<%= j planning_appointments_url(@planning, params: {nurse_id: @nurse.id}) %>";
	window.recurringAppointmentsURL = "<%= j planning_recurring_appointments_url(@planning) %>";
	window.corporationNursesURL = "<%= j corporation_nurses_url(@corporation, format: :json) %>";
	window.createUnavailabilityURL = "<%= j new_planning_unavailability_url(@planning) %>";
	window.unavailabilitiesUrl = "<%= j planning_unavailabilities_url(@planning, params: {nurse_id: @nurse.id}) %>";
	window.createRecurringAppointmentURL = "<%= j new_planning_recurring_appointment_url(@planning) %>";
	window.bootstrapToggleUrl = "<%= j new_planning_recurring_appointment_url(@planning) %>"
	window.defaultView = "<%= j @corporation.default_individual_view %>";
	window.nurseId = "<%= j @nurse.id.to_s %>";
	window.minTime = "<%= j current_user.corporation.business_start_hour %>";
	window.maxTime = "<%= j current_user.corporation.business_end_hour %>";
	window.firstDay = "<%= j @corporation.default_first_day.to_s %>";
	window.printDates = "<%= j @printing_option.print_nurse_dates.to_s %>";
	window.holidays = "<%= j HolidayJp.between((Date.today - 1.year), (Date.today + 1.year)).to_json.html_safe %>"
	window.masterSchedule = 'false'
<% end %>

<%= render partial: 'plannings/planning_left_menu', locals: {view: 'resource', resource_path: planning_nurse_path(@planning, @nurse), resource_master_path: planning_nurse_master_path(@planning, @nurse), nurse: @nurse} %>

<%= render partial: 'plannings/resources_submenu', locals: {resource_type: 'nurse', master_resource: false} %>

<div id="detail-container">

	<div id="detail-planning-container">
		<div id="detail-planning-title">
			<div id="planning-nurse-information">
				<div class="planning-resource-module-title">
					<span id="resource-name-wrapper"><%= @nurse.try(:name) %></span>
					<button id="resource-details-button" class="btn btn-sm btn-mid-light">詳細</button>
				</div>
				<div id="address-phone-container">
					<% if @nurse.address.present? %>
						<span class="glyphicon glyphicon-home"></span><span class="font-size-large"><%= " #{@nurse.address}  " %></span>
					<% end %>
					<% if @nurse.phone_number.present? %>
						<span class="glyphicon glyphicon-phone"></span><span  class="font-size-large"><%= " #{@nurse.phone_number}" %></span>
					<% end %>
				</div>
				<div id="description-container" class="print-only font-size-large">
				  <span class="<%= 'no-print' unless @printing_option.print_nurse_description == true %>">備考：<%= @nurse.try(:description) %></span>
				</div>

			    <div id="appointment-comments-container" class="print-only font-size-large">
		          <div class="<%= 'no-print' unless @printing_option.print_nurse_comments == true %>">
			        <div class="appointment-comments-title">コメント</div>
			        <div id="appointment-comments"></div>
		          </div>
		        </div>

			</div>
			<div id="activity-show-button-container" class="no-print">
				<input type="checkbox" checked id="unavailabilityToggle" class="toggle-service">
				<% if @nurse.phone_mail.present? %>
					<div class="btn btn-colibri-light-gray text-white btn-sm" id="new-email-reminder" data-reminder-url="<%= nurse_new_reminder_email_path(@nurse) %>"><span class="glyphicon glyphicon-envelope" style="color:white"></span>リマインダー</div>
				<% end %>
				<div class="btn btn-colibri-light-gray text-white btn-sm" id="print-button"><span class="glyphicon glyphicon-print" style="color:white"></span>印刷</div>
			</div>
		</div>



		<div id="planning-container">
			<div class="nurse_calendar"></div>
		</div>

		<div id="resource-details-panel" style="display: none">

			<div id="resource-details-block">
				<div id="resource-detail-header">
					<h1 class="colibri-xs-title"><%= @nurse.name %>の詳細</h1>
					<span class="close-button-span" value="閉じる" onclick="$('#resource-details-panel').toggle()">x</span>
				</div>
				<table>
					<tr>
						<td class="details-table-head">メール</td>
						<td><%= @nurse.phone_mail %></td>
					</tr>
					<tr>
						<td class="details-table-head">電話</td>
						<td><%= @nurse.phone_number %></td>
					</tr>
					<tr>
						<td class="details-table-head">住所</td>
						<td><%= @nurse.address %></td>
					</tr>
					<tr>
						<td class="details-table-head">スキル</td>
						<td><%= @nurse.skill_list %></td>
					</tr>
					<tr>
						<td class="details-table-head">備考</td>
						<td><%= @nurse.description %></td>
					</tr>
				</table>
			</div>

			<div id="service-history-block">
				<div class='resource-details-block-title'>過去の利用者</div>
				<% @patients_with_services.limit(3).each_with_index do |patient, index| %>
					<div class="resource-history"><%= index + 1 %><%= " - #{patient.name}様：" %><%= from_seconds_to_hours_minutes(patient.sum_service_duration) %></div>
				<% end %>
				<% if @patients_with_services.all[2..-1].present? %>
					<div class="resource-history">
						<button class='btn btn-sm btn-light' id="see-more-resource-history-button">もっと見る</button>
						<div id="more-resource-history" style="display: none">
							<%= @patients_with_services.all[2..-1].map{|patient| patient.name }.join(', ') %>
						</div>
					</div>
				<% end %>
			</div>

			<div id="service-balance-block">
				<div class='resource-details-block-title'>身体VS生活</div>
				<div id="chart-and-details-container">
					<div id="chart-wrapper">
						<%= pie_chart [['身体', @provided_services_shintai], ['生活', @provided_services_seikatsu]], donut: true, width: '100px', height: '100px', legend: false, colors: ['#ffc107', '#FF2E07'] %>
					</div>
					<div id="service-balance-details">
						<div class="service-balance-line">身体：<span class="detail-important-information"><%= from_seconds_to_hours_minutes(@provided_services_shintai) %></span></div>
						<div class="service-balance-line">生活：<span class="detail-important-information"><%= from_seconds_to_hours_minutes(@provided_services_seikatsu) %> </span></div>
					</div>
				</div>

			</div>

			<div id="resource-action-block">
				<%= link_to 'エディット', edit_nurse_path(@nurse), remote: true, class: 'btn btn-info btn-block' %>
			</div>
		</div>



	</div>
</div>


<div id="drag-drop-confirm" style="display: none" title="サービス編集確認">
	<p>下記の編集がセーブされます：</p>
	<div id="drag-drop-content"></div>
</div>

<%= render 'plannings/nurse_conflict_days' %>

<%= render 'plannings/batch_action_button' %>



