<%= form_for [@planning, unavailability], remote: true do |form| %>
  <% if unavailability.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(unavailability.errors.count, "error") %> prohibited this unavailability from being saved:</h2>

    <ul>
      <% unavailability.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :unavailability_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :unavailability_description %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start, id: :unavailability_start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end, id: :unavailability_end_time %>
  </div>

  <div class="field">
    <%= form.label :nurse_id %>
    <%= form.collection_select(:nurse_id, @nurses, :id, :name, :prompt => true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
    <%= link_to 'New Recurring unavailability', new_planning_recurring_unavailability_path(@planning), class: 'btn btn-default', remote: true if unavailability.new_record? %>
    <%= link_to 'Delete', planning_unavailability_path(@planning, unavailability), method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'}, remote: true unless unavailability.new_record? %>
  </div>
<% end %>
