<%= form_for [@planning, unavailability], remote: true do |form| %>
  <% if unavailability.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(unavailability.errors.count, "error") %> prohibited this unavailability from being saved:</h2>

    <ul>
      <% unavailability.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, "理由", class: "colibri-form-label" %>
    <%= form.text_field :title, id: :unavailability_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, "コメント", class: "colibri-form-label" %>
    <%= form.text_area :description, id: :unavailability_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :start_time, "スタート", class: "colibri-form-label" %>
    <%= form.datetime_select :start, id: :unavailability_start_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :end_time, "修了", class: "colibri-form-label" %>
    <%= form.datetime_select :end, id: :unavailability_end_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :patient_id, "利用者名", class: "colibri-form-label" %>
    <%= form.collection_select(:patient_id, @patients, :id, :name, {prompt: '利用者選択'}) %>
  </div>



  <div class="actions">
    <%= form.submit "セーブする", class: "btn btn-info btn-block form-control" %>
    <%= link_to '削除', planning_unavailability_path(@planning, unavailability), method: :delete, class: 'btn btn-danger', data: {confirm: 'サービスが不可能な日が削除されます'}, remote: true unless unavailability.new_record? %>
  </div>
<% end %>
