<%= form_with model: post, remote: true, id: 'post_form' do |form| %>

  <% published_at = post.new_record? ? Time.now.in_time_zone('Tokyo').strftime("%y-%m-%d %H:%M") : post.published_at.strftime("%y-%m-%d %H:%M") %>


  <div id="reminder-form"  class="blue-background-form" style="<%= 'display:none' unless post.reminders.exists? %>">
    <%= form.fields_for :reminders do |reminder_form| %>
    
      <% reminder_anchor =  reminder_form.object.anchor.present? ? reminder_form.object.anchor.strftime("%Y-%-m-%-d") : '' %>
      
      <div class="form-group">
        <%= reminder_form.label :anchor, "リマインダー日時", class: "colibri-form-label" %>
        <%= reminder_form.text_field :anchor, value: reminder_anchor, class: 'form-control', id: "form-reminder-anchor" %>
      </div>

      <div class="form-group">
        <%= reminder_form.label :frequency, "その後の繰り返し", class: "colibri-form-label" %>
        <%= reminder_form.select :frequency, options_for_select([['その日のみ', 0], ['毎週',1], ['隔週',2], ['第一○曜日', 3], ['第二○曜日', 4], ['最後の週', 5], ['毎月', 6], ['隔月', 7], ['3ヵ月ごと', 8]], reminder_form.object.frequency) %>
      </div>

      <div class="form-group">
        <% if post.reminders.exists? %>
          <%= reminder_form.label :_destroy, "リマインダー削除", id: "delete-existing-reminder", class: "btn btn-sm btn-secondary" do %>
            <%= reminder_form.check_box :_destroy, style: 'display:none' %>
            リマインダー削除
          <% end %>
        <% else %>
          <div class='btn btn-sm btn-secondary' id="delete-reminder">リマインダー削除</div>
        <% end %>
      </div>

    <% end %>
  </div>

  <div class='modal-body'>
    <div class="btn btn-colibri-light btn-sm" id="show-reminder-form" style="margin-bottom:15px<%= ';display:none' if post.reminders.exists? %>"><span class="glyphicon glyphicon-bell" style="color:#5f6368;font-size:13px"></span> リマインダー追加</div>

    <div class="form-group">
      <%= form.label :published_at, "記載日時", class: "colibri-form-label" %><span class='required-field'>*</span>
      <%= form.text_field :published_at, value: published_at, required: true, class: "form-control", id: "post_published_at" %>
    </div>

    <div class="form-group">
      <%= form.label :patient_ids, "#{client_resource_name(@corporation.business_vertical)}タグ", class: "colibri-form-label" %>
      <%= form.collection_select :patient_ids, @patients, :id, :name, {prompt: '検索する', include_hidden: false}, {multiple: true, id: 'post_patient_id'} %>
    </div>

    <div class="form-group">
      <%= form.label :body, "メッセージ", class: "colibri-form-label" %><span class='required-field'>*</span>
      <%= form.text_area :body, required: true, cols: "30", rows: "8", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :share_to_all, "共有オプション", class: "colibri-form-label" %>
      <%= form.check_box :share_to_all, checked: true, id: "toggle_share_to_all" %>
    </div>

  </div>

  <div class="modal-footer">
    <div class="actions">
      <% if post.new_record? %>
        <div class="btn btn-colibri-light" data-dismiss="modal">閉じる</div>
      <% end %>
      <%= link_to '削除', post, method: :delete, remote: true, class: 'btn btn-danger' unless post.new_record? %>
      <%= form.submit 'セーブする', class: 'btn btn-info' %>
    </div>
  </div>

<% end %>