<%= form_with model: post, remote: true do |form| %>

  <% published_at = post.new_record? ? Time.now.in_time_zone('Tokyo').strftime("%m%月%d日 %H:%M") : post.published_at.strftime("%m%月%d日 %H:%M") %>
 
  <div class="form-group">
    <%= form.label :published_at, "日時", class: "colibri-form-label" %><span class='required-field'>*</span>
    <%= form.text_field :published_at, value: published_at, required: true, class: "form-control", id: "post_published_at" %>
  </div>

  <div class="form-group">
    <%= form.label :body, "メッセージ", class: "colibri-form-label" %><span class='required-field'>*</span>
    <%= form.text_area :body, required: true, cols: "30", rows: "10", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :patient_id, "利用者タグ", class: "colibri-form-label" %>
    <%= form.collection_select :patient_id, @patients, :id, :name, {prompt: '検索する'}, {id: 'post_patient_id'} %>
  </div>

  <div class="actions">
    <%= form.submit '共有する', class: 'btn btn-info' %>
    <%= link_to '削除する', post, method: :delete, remote: true, class: 'btn btn-danger' unless post.new_record? %>
  </div>

<% end %>