<div class='colibri-subcontainer-header'>
  <div style='display:flex;justify-content:space-between;margin-bottom:3px' id='dashboard-posts-header-container'>
    <div id='dashboard-posts-header'>
      <span class='colibri-subcontainer-title'>掲示板</span>
      <% if unread_count > 0 %>
        <span id='unread-count' style='font-weight:bold;margin-left:4px'><%= "未読#{unread_count}件" %></span>
      <% end %>
    </div>
    <div id="posts-widget-action-container">
      <%= link_to '<i class="glyphicon glyphicon-flag" style="color:white;font-size:0.9em"></i> 既読にする'.html_safe, mark_all_posts_as_read_path(current_user), method: :patch, remote: true, id: 'mark-posts-as-read-button', class: 'btn btn-sm btn-info' if unread_count > 0 %>
      <%= link_to '<i class="glyphicon glyphicon-search" style="color:white;font-size:0.9em"></i>  検索'.html_safe, posts_path, class: 'btn btn-sm btn-colibri-light-gray text-white' %>
    </div>
  </div>
</div>
<div class='colibri-subcontainer-body-with-footer scrollbar-custom colibri-scrollbar-light' id='posts-container' style='flex-grow:1'>
  <% read_posts.to_a.reverse.each do |read_post| %>
    <div class="post-container" id="post-<%= read_post.id %>">
        <div class="post-header">
            <div class="post-author-wrapper"><%= read_post.author.name %><%= post_patients_names(read_post.patients.map(&:name)) if read_post.patients.present? %></div>
            <div class="post-timestamps-wrapper"><%= post_was_published_at(read_post) %></div>
        </div>
        <div class="post-body post-clickable <%= 'unread-post' if @unread_ids.present? && @unread_ids.include?(read_post.id) %> <%= 'reminderable-post' if read_post.reminders.present? %>" data-url="<%= edit_post_path(read_post) %>">
            <%= simple_format(read_post.body) %>
        </div>
    </div>
  <% end %>
  <% if unread_posts.present? %>
    <% unread_posts.to_a.reverse.each do |unread_post| %>
      <div class="post-container" id="post-<%= unread_post.id %>">
          <div class="post-header">
              <div class="post-author-wrapper"><%= unread_post.author.name %><%= post_patients_names(unread_post.patients.map(&:name)) if unread_post.patients.present? %></div>
              <div class="post-timestamps-wrapper"><%= post_was_published_at(unread_post) %></div>
          </div>
          <div class="post-body post-clickable <%= 'unread-post' if @unread_ids.present? && @unread_ids.include?(unread_post.id) %> <%= 'reminderable-post' if unread_post.reminders.present? %>" data-url="<%= edit_post_path(unread_post) %>">
              <%= simple_format(unread_post.body) %>
          </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class='colibri-subcontainer-footer'>
  <%= link_to '新規メッセージ', new_post_path, remote: true, class: 'btn btn-info text-white form-control btn-block' %>
</div>