<tbody>
  <% @posts.to_a.reverse.each do |post| %>
    <tr id="post-<%= post.id %>" class='post-clickable-row' data-url="<%= edit_post_path(post) %>">
      <td><%= post.published_at.strftime("%Y年") %><br/><%= post.published_at.strftime("%-m月%-d日") %></td>
      <td><%= post.author.try(:name) %></td>
      <td class='td-patient-tag'><%= post.patients.map(&:name).join('、') %></td>
      <td class='td-post-body'><%= simple_format(post.body) %></td>
      <td class='td-post-readers'><%= @posts_readers[post.id].join('、') %></td>
    </tr>
  <% end %>
<tbody>

