<div class="modal-body" id="preliminary_check">
    <div class="modal-subsection-title">
      事前チェック
    </div>

    <div class="form-row">
        <div class="form-group col-md-5">
            <%= form.label :patient_looked_good, "顔色", style: 'margin-right:7px' %>

            <%= form.radio_button :patient_looked_good, true, {class: 'radio-inline', id: :completion_report_patient_looked_good_true} %>
            <%= form.label :patient_looked_good_true, "良", class: 'colibri-form-label-dark' %>

            <%= form.radio_button :patient_looked_good, false, {class: 'radio-inline', id: :completion_report_patient_looked_good_false} %>
            <%= form.label :patient_looked_good_false, "不良", class: 'colibri-form-label-dark'%>
        </div>
        <div class="form-group col-md-7">
            <%= form.label :patient_transpired, "発汗", style: 'margin-right:7px'  %>

            <%= form.radio_button :patient_transpired, true, {class: 'radio-inline', id: :completion_report_patient_transpired_1} %>
            <%= form.label :patient_transpired_1, "有", class: 'colibri-form-label-dark' %>

            <%= form.radio_button :patient_transpired, false, {class: 'radio-inline', id: :completion_report_patient_transpired_0} %>
            <%= form.label :patient_transpired_0, "無", class: 'colibri-form-label-dark' %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <%= form.label :body_temperature, "体温", class: 'colibri-form-label-dark' %>
            <%= form.number_field :body_temperature, {step: 0.1, class: 'colibri-input', style: 'width:60px'} %><span class="colibri-form-label-dark"> °C</span>
        </div>
        <div class="form-group col-md-7">
            <%= form.label :blood_pressure_systolic, "血圧", class: 'colibri-form-label-dark'  %>
            <%= form.number_field :blood_pressure_systolic, {step: 1, class: 'colibri-input', style: 'width:60px'} %><span class="colibri-form-label-dark"> /</span>
            <%= form.number_field :blood_pressure_diastolic, {step: 1, class: 'colibri-input', style: 'width:60px'} %>
        </div>
    </div>

    <% if reportable.nurse.try(:profession) == 1 %>
      <div class="form-row">
        <div class="form-group col-md-4">
          <%= form.label :heart_rate_bpm, '脈拍', class: 'colibri-form-label-dark' %>
          <%= form.number_field :heart_rate_bpm, {step: 1, style: 'width:45px'} %>回/分
        </div>
        <div class="form-group col-md-4">
          <%= form.label :heart_rythm_anomalies, '不整脈', class: 'colibri-form-label-dark' %>
          <%= form.select :heart_rythm_anomalies, options_for_select([['無',0], ['有',1]], completion_report.heart_rythm_anomalies) %>
        </div>
        <div class="form-group col-md-4">
          <%= form.label :breathe_rate, '呼吸', class: 'colibri-form-label-dark' %>
          <%= form.number_field :breathe_rate, {step: 1, style: 'width:45px'} %>回/分
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <%= form.label :blood_sugar, '血糖値', class: 'colibri-form-label-dark' %>
          <%= form.number_field :blood_sugar, {step: 1, style: 'width:45px'} %>mg/dL
        </div>
        <div class="form-group col-md-4">
          <%= form.label :blood_oxygen_rate, 'SpO²', class: 'colibri-form-label-dark' %>
          <%= form.number_field :blood_oxygen_rate, {step: 0.1, style: 'width:45px'} %>%
        </div>
        <div class="form-group col-md-4">
          <%= form.label :body_weight, '体重', class: 'colibri-form-label-dark' %>
          <%= form.number_field :body_weight, {step: 1, style: 'width:45px'} %>kg
        </div>
      </div>
    <% end %>

    <div class="form-row">
        <div class="form-group col-md-3">
          <%= form.check_box :house_was_clean, id: :completion_report_house_was_clean %>
          <%= form.label :house_was_clean, "環境整備", class: 'colibri-form-label-dark'  %>
        </div>
        <div class="form-group col-md-3">
          <%= form.check_box :patient_could_discuss, id: :completion_report_patient_could_discuss %>
          <%= form.label :patient_could_discuss, "相談援助", class: 'colibri-form-label-dark'  %>
        </div>
        <div class="form-group col-md-3">
          <%= form.check_box :patient_could_gather_and_share_information, id: :completion_report_patient_could_gather_and_share_information %>
          <%= form.label :patient_could_gather_and_share_information, "情報収集", class: 'colibri-form-label-dark' %>
        </div>
        <div class="form-group col-md-3">
          <%= form.check_box :checking_report, id: :completion_report_checking_report %>
          <%= form.label :checking_report, "記録", class: 'colibri-form-label-dark'  %>
        </div>
    </div>
</div>