<%= form_with model: completion_report, url: [@reportable, completion_report] do |form| %>

    <div class="blue-background-form">
        <div class="modal-subsection-title">サービス情報</div>

        <div class="form-row">
            <div class="col">
              利用者名：<%= @reportable.patient.try(:name) %>様
            </div>
            <div class="col">
              内容：<%= @reportable.title %>
            </div>
        </div>
        <div class="form-row">
            <div class="col ">
              従業員：<%= @reportable.nurse.try(:name) %>
            </div>
            <div class="col">
              稼働時間：<%= from_seconds_to_hours_minutes(@reportable.ends_at - @reportable.starts_at) %>
            </div>
        </div>
    </div>

    <div class="modal-body" id="preliminary_check">
        <div class="modal-subsection-title">事前チェック</div>
        <div class="form-row">
          <div class="form-group col-md-5">
            <%= form.label :patient_looked_good, "顔色", style: 'margin-right:7px' %>
            <%= form.label :patient_looked_good_true, "良", class: 'colibri-form-label-dark' do %>
                <%= form.radio_button :patient_looked_good, true, {class: 'radio-inline'} %>
                良
            <% end %>
            <%= form.label :patient_looked_good_false, "不良", class: 'colibri-form-label-dark' do %>
                <%= form.radio_button :patient_looked_good, false, {class: 'radio-inline'} %>
                不良
            <% end %>
          </div>
          <div class="form-group col-md-7">
            <%= form.label :patient_transpired, "発汗", style: 'margin-right:7px'  %>
            <%= form.label :patient_transpired_1, "有", class: 'colibri-form-label-dark' do %>
                <%= form.radio_button :patient_transpired, 1, {class: 'radio-inline'} %>
                有
            <% end %>
            <%= form.label :patient_transpired_0, "無", class: 'colibri-form-label-dark' do %>
                <%= form.radio_button :patient_transpired, 0, {class: 'radio-inline'} %>
                無
            <% end %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-5">
            <%= form.label :body_temperature, "体温", class: 'colibri-form-label-dark' %>
            <%= form.number_field :body_temperature, {step: 0.1, style: 'width:60px;font-size:0.9em'} %> °C
          </div>
          <div class="form-group col-md-7">
            <%= form.label :blood_pressure_systolic, "血圧", class: 'colibri-form-label-dark'  %>
            <%= form.number_field :blood_pressure_systolic, {step: 1, style: 'width:60px'} %>/
            <%= form.number_field :blood_pressure_diastolic, {step: 1, style: 'width:60px'} %>
          </div>
        </div>

        <% if @reportable.nurse.try(:profession) == 1 %>
          <div class="form-row">
            <div class="form-group col-md-4">
              <%= form.label :heart_rate_bpm, '脈拍', class: 'colibri-form-label-dark' %>
              <%= form.number_field :heart_rate_bpm, {step: 1, style: 'width:45px'} %>回/分
            </div>
            <div class="form-group col-md-4">
              <%= form.label :heart_rythm_anomalies, '不整脈', class: 'colibri-form-label-dark' %>
              <%= form.select :heart_rythm_anomalies, options_for_select([['無',0], ['有',1]], completion_report.heart_rythm_anomalies) %>
            </div>
            <div class="form-group col-md-4">
              <%= form.label :breathe_rate, '呼吸', class: 'colibri-form-label-dark' %>
              <%= form.number_field :breathe_rate, {step: 1, style: 'width:45px'} %>回/分
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <%= form.label :blood_sugar, '血糖値', class: 'colibri-form-label-dark' %>
              <%= form.number_field :blood_sugar, {step: 1, style: 'width:45px'} %>mg/dL
            </div>
            <div class="form-group col-md-4">
              <%= form.label :blood_oxygen_rate, 'SpO²', class: 'colibri-form-label-dark' %>
              <%= form.number_field :blood_oxygen_rate, {step: 0.1, style: 'width:45px'} %>%
            </div>
            <div class="form-group col-md-4">
              <%= form.label :body_weight, '体重', class: 'colibri-form-label-dark' %>
              <%= form.number_field :body_weight, {step: 1, style: 'width:45px'} %>kg
            </div>
          </div>
        <% end %>

        <div class="form-row">
          <div class="form-group col-md-3">
            <%= form.label :house_was_clean, "環境整備", class: 'colibri-form-label-dark' do  %>
                <%= form.check_box :house_was_clean %>
                環境整備
            <% end %>
          </div>
          <div class="form-group col-md-3">
            <%= form.label :patient_could_discuss, "相談援助", class: 'colibri-form-label-dark' do  %>
                <%= form.check_box :patient_could_discuss %>
                相談援助
            <% end %>
          </div>
          <div class="form-group col-md-3">
            <%= form.label :patient_could_gather_and_share_information, "情報収集", class: 'colibri-form-label-dark' do  %>
                <%= form.check_box :patient_could_gather_and_share_information %>
                情報収集
            <% end %>
          </div>
          <div class="form-group col-md-3">
            <%= form.label :checking_report, "記録", class: 'colibri-form-label-dark' do  %>
                <%= form.check_box :checking_report %>
                記録
            <% end %>
          </div>
        </div>

    </div>

    <div class="blue-background-form" id="personal_care">
        <div class="modal-subsection-title toggleable-subsection-title">身体介護<span class="glyphicon glyphicon-chevron-down completion-report-glyphicon" style="font-size:0.7em;cursor:pointer"></span></div>
        
        <div class="toggleable-subsection" style='<%= "display:none" unless @completion_report.with_personal_care? %>'>
          <div class="modal-subsection-title-sm">排泄</div>
          <div class="form-row">
            <div class="col">
              <%= form.label :assisted_bathroom, "トイレ介助", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :assisted_bathroom %>
                  トイレ介助
              <% end %>
            </div>
            <div class="col">
              <%= form.label :assisted_portable_bathroom, "Pトイレ介助", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :assisted_portable_bathroom %>
                  Pトイレ介助
              <% end %>
            </div>
            <div class="col">
              <%= form.label :changed_diapers, "おむつ交換", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :changed_diapers %>
                  おむつ交換
              <% end %>
            </div>
            <div class="col">
              <%= form.label :changed_bed_pad, "パッド交換", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :changed_bed_pad %>
                  パッド交換
              <% end %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-8">
              <%= form.label :changed_stained_clothes, "汚れた衣服などの交換処理", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :changed_stained_clothes %>
                  汚れた衣服やリネンなどの交換処理
              <% end %>
            </div>
            <div class="form-group col-md-4">
              <%= form.label :wiped_patient, "陰部の清潔介助", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :wiped_patient %>
                  陰部の清潔介助
              <% end %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <%= form.label :patient_urinated, "排尿", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :patient_urinated %>
                  排尿
              <% end %>
              <%= form.number_field :urination_count, {step: 1, style: 'width:50px'} %>回
              ( <%= form.number_field :amount_of_urine, {step: 1, style: 'width:50px'} %> cc)
            </div>
            <div class="form-group col-md-6">
              <%= form.label :patient_defecated, "排便", class: 'colibri-form-label-dark' do  %>
                <%= form.check_box :patient_defecated %>
                排便
              <% end %>
              <%= form.number_field :defecation_count, {step: 1, style: 'width:50px'} %>回
              (性状 <%= form.text_field :visual_aspect_of_feces, style: 'width:50px' %> )
            </div>
          </div>

          <div class="colibri-form-subsection-separator"></div>
          <div class="modal-subsection-title-sm">食事</div>

          <div class="form-row">
            <div class="form-group col-md-3">
              <%= form.label :patient_maintains_good_posture_while_eating, "姿勢の確保", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :patient_maintains_good_posture_while_eating %>
                  姿勢の確保
              <% end %>
            </div>
            <div class="form-group col-md-5">
              <%= form.label :explained_menu_to_patient, "メニュー.材料の説明", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :explained_menu_to_patient %>
                  メニュー.材料の説明
              <% end %>
            </div>
            <div class="form-group col-md-4">
              <%= form.label :assisted_patient_to_eat, "食事介助", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :assisted_patient_to_eat %>
                  食事介助
              <% end %>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-7">
              <%= form.label :patient_ate_full_plate, "食事量", style: 'margin-right:7px' %>
              <%= form.label :patient_ate_full_plate_1, "完食", class: 'colibri-form-label-dark' do %>
                  <%= form.radio_button :patient_ate_full_plate, 1, {class: 'radio-inline'} %>
                  完食
              <% end %>
              <%= form.label :patient_ate_full_plate_0, "残量", class: 'colibri-form-label-dark' do %>
                  <%= form.radio_button :patient_ate_full_plate, 0, {class: 'radio-inline'} %>
                  残量
              <% end %>
              ( <%= form.number_field :ratio_of_leftovers, style: 'width:50px' %> )
            </div>
            <div class="form-group col-md-5">
              <%= form.label :patient_hydrated, "水分補給", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :patient_hydrated %>
                  水分補給
              <% end %>
              ( <%= form.number_field :amount_of_liquid_drank, {step: 1, style: 'width:50px'} %> cc)
            </div>

          </div>
          <div class="form-row">
            <div class="from-group col-md-3">
              <%= form.label :meal_specificities, "特段の調理", class: 'colibri-form-label-dark' %>
            </div>
            <div class="from-group col-md-9">
              <%= form.text_field :meal_specificities, style: 'width:100%' %>
            </div>
          </div>

          <div class="colibri-form-subsection-separator"></div>
          <div class="modal-subsection-title-sm">清拭.入浴</div>
          <div class="form-row">
            <div class="col">
              <%= form.label :full_or_partial_body_wash, "清拭" %>
              <%= form.label :full_or_partial_body_wash_1, "全身", class: 'colibri-form-label-dark' do %>
                  <%= form.radio_button :full_or_partial_body_wash, 1, {class: 'radio-inline'} %>
                  全身
              <% end %>
              <%= form.label :full_or_partial_body_wash_0, "部分", class: 'colibri-form-label-dark' do %>
                  <%= form.radio_button :full_or_partial_body_wash, 0, {class: 'radio-inline'} %>
                  部分
              <% end %>
            </div>
            <div class="col">
              <%= form.label :hands_and_feet_wash, "部分浴" %>
              <%= form.label :hands_and_feet_wash_1, "手", class: 'colibri-form-label-dark' do %>
                  <%= form.radio_button :hands_and_feet_wash, 1, {class: 'radio-inline'} %>
                  手
              <% end %>
              <%= form.label :hands_and_feet_wash_0, "足", class: 'colibri-form-label-dark' do %>
                  <%= form.radio_button :hands_and_feet_wash, 0, {class: 'radio-inline'} %>
                  足
              <% end %>
            </div>
            <div class="col">
              <%= form.label :hair_wash, "洗髪", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :hair_wash %>
                  洗髪
              <% end %>
            </div>
          </div>

          <div class="colibri-form-subsection-separator"></div>
          <div class="modal-subsection-title-sm">身体整容</div>
          <div class="form-row">
            <div class="from-group col-md-6">
              <%= form.label :bath_or_shower, "全身浴" %>
              <%= form.label :bath_or_shower_1, "入浴", class: 'colibri-form-label-dark' do %>
                  <%= form.radio_button :bath_or_shower, 1, {class: 'radio-inline'} %>
                  入浴
              <% end %>
              <%= form.label :bath_or_shower_0, "シャワー", class: 'colibri-form-label-dark' do %>
                  <%= form.radio_button :bath_or_shower, 0, {class: 'radio-inline'} %>
                  シャワー
              <% end %>
            </div>
            <div class="from-group col-md-3">
              <%= form.label :face_wash, "洗面", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :face_wash %>
                  洗面
              <% end %>
            </div>
            <div class="from-group col-md-3">
              <%= form.label :mouth_wash, "口腔ケア", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :mouth_wash %>
                  口腔ケア
              <% end %>
            </div>
          </div>
          <div class="form-row">
            <div class="from-group col-md-2">
              <%= form.label :washing_details, "整容", class: 'colibri-form-label-dark' %>
            </div>
            <div class="from-group col-md-6">
              <%= form.select :washing_details, options_for_select([['爪', 0], ['耳', 1], ['髪', 3], ['化粧', 4]], completion_report.washing_details), {prompt: '選択する'}, {multiple: true, id: 'completion_details_washing_details'} %>
            </div>
            <div class="from-group col-md-4">
              <%= form.label :changed_clothes, "更衣介助", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :changed_clothes %>
                  更衣介助
              <% end %>
            </div>
          </div>

          <div class="colibri-form-subsection-separator"></div>
          <div class="modal-subsection-title-sm">移動</div>
          <div class="form-row">
            <div class="from-group col-md-3">
              <%= form.label :assisted_patient_to_change_body_posture, "体位変更", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :assisted_patient_to_change_body_posture %>
                  体位変更
              <% end %>
            </div>
            <div class="from-group col-md-3">
              <%= form.label :assisted_patient_to_transfer, "移乗介助", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :assisted_patient_to_transfer %>
                  移乗介助
              <% end %>
            </div>
            <div class="from-group col-md-3">
              <%= form.label :assisted_patient_to_move, "移動介助", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :assisted_patient_to_move %>
                  移動介助
              <% end %>
            </div>
            <div class="from-group col-md-3">
              <%= form.label :commuted_to_the_hospital, "通院介助", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :commuted_to_the_hospital %>
                  通院介助
              <% end %>
            </div>
          </div>
          <div class="form-row">
            <div class="from-group col-md-3">
              <%= form.label :assisted_patient_to_shop, "買い物介助", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :assisted_patient_to_shop %>
                  買い物介助
              <% end %>
            </div>
            <div class="from-group col-md-9">
              <%= form.label :assisted_patient_to_go_somewhere, "外出同行", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :assisted_patient_to_go_somewhere %>
                  外出同行
              <% end %>
              <%= form.label :patient_destination_place, "行先", class: 'colibri-form-label-dark'  %>
              <%= form.text_field :patient_destination_place %>
            </div>
          </div>

          <div class="colibri-form-subsection-separator"></div>
          <div class="modal-subsection-title-sm">起床就寝</div>
          <div class="form-row">
            <div class="from-group col-md-3">
              <%= form.label :assisted_patient_to_go_out_of_bed, "起床介助", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :assisted_patient_to_go_out_of_bed %>
                  起床介助
              <% end %>
            </div>
            <div class="from-group col-md-3">
              <%= form.label :assisted_patient_to_go_to_bed, "就寝介助", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :assisted_patient_to_go_to_bed %>
                  就寝介助
              <% end %>
            </div>
          </div>
        </div>
    </div>

    <div class="modal-body" id="medical_care">
        <div class="modal-subsection-title toggleable-subsection-title">医療<span class="glyphicon glyphicon-chevron-down completion-report-glyphicon"></span></div>

        <div class="toggleable-subsection" style='<%= "display:none" unless @completion_report.with_medical_care? %>'>
          <div class="form-row">
            <div class="from-group col-md-4">
              <%= form.label :assisted_to_take_medication, "服薬介助.確認", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :assisted_to_take_medication %>
                  服薬介助.確認
              <% end %>
            </div>
            <div class="from-group col-md-3">
              <%= form.label :assisted_to_apply_a_cream, "薬の塗", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :assisted_to_apply_a_cream %>
                  薬の塗布
              <% end %>
            </div>
            <div class="from-group col-md-2">
              <%= form.label :assisted_to_take_eye_drops, "点眼", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :assisted_to_take_eye_drops %>
                  点眼
              <% end %>
            </div>
            <div class="from-group col-md-3">
              <%= form.label :assisted_to_extrude_mucus, "淡の吸引", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :assisted_to_extrude_mucus %>
                  淡の吸引
              <% end %>
            </div>
          </div>

          <div class="form-row">
            <div class="from-group col-md-2">
              <%= form.label :assisted_to_take_suppository, "浣腸", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :assisted_to_take_suppository %>
                  浣腸
              <% end %>
            </div>
            <div class="from-group col-md-10">
              <%= form.label :remarks_around_medication, "医療行為の準備.後片付け", class: 'colibri-form-label-dark'  %>
              <%= form.text_field :remarks_around_medication %>
            </div>
          </div>
        </div>
    </div>

    <div class="blue-background-form" id="handicap_care">
        <div class="modal-subsection-title toggleable-subsection-title">自立支援<span class="glyphicon glyphicon-chevron-down completion-report-glyphicon" style="font-size:0.7em;cursor:pointer"></span></div>

        <div class="toggleable-subsection" style='<%= "display:none" unless @completion_report.with_handicap_care? %>'>
          <div class="form-group">
              <%= form.label :activities_done_with_the_patient, "共に行う", class: 'colibri-form-label-dark' %>
              <%= form.select :activities_done_with_the_patient, options_for_select([['掃除', 0], ['洗濯', 1],['衣類整理', 2],['調理', 3],['買い物', 4]], completion_report.activities_done_with_the_patient), {prompt: '選択する'}, {multiple: true, id: 'completion_report_activities_done_with_the_patient'} %>
          </div>

          <div class="form-row">
            <div class="form-group  col-md-5">
              <%= form.label :trained_patient_to_communicate, "コミュニケーション", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :trained_patient_to_communicate %>
                  コミュニケーション
              <% end %>
            </div>
            <div class="form-group  col-md-4">
              <%= form.label :trained_patient_to_memorize, "記憶への働きかけ", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :trained_patient_to_memorize %>
                  記憶への働きかけ
              <% end %>
            </div>
            <div class="form-group  col-md-3">
              <%= form.label :watch_after_patient_safety, "安全の見守り", class: 'colibri-form-label-dark' do  %>
                  <%= form.check_box :watch_after_patient_safety %>
                  見守り
              <% end %>
            </div>
          </div>

          <div class="form-group">
              <%= form.label :other_assistance_for_patient_independency, "その他", class: "colibri-form-label-dark" %>
              <%= form.text_area :other_assistance_for_patient_independency, class: 'form-control' %>
          </div>
        </div>
    </div>

    <div class="modal-body" id="house_care">
        <div class="modal-subsection-title toggleable-subsection-title">生活援助<span class="glyphicon glyphicon-chevron-down completion-report-glyphicon" style="font-size:0.7em;cursor:pointer"></span></div>
        
        <div class="toggleable-subsection" style='<%= "display:none" unless @completion_report.with_house_care? %>'>
          <div class="modal-subsection-title-sm toggleable-subsection-title">掃除</div>
          <div class="toggleable-subsection">
            <div class="form-row">
              <div class="form-group col-md-2">
                <%= form.label :clean_up, "清掃", class: 'colibri-form-label-dark' %>
              </div>
              <div class="form-group col-md-7">
                <%= form.select :clean_up, options_for_select([['居室', 0], ['寝室', 1],['洗面所', 2],['トイレ', 3],['卓上', 4],['台所', 5],['浴室', 6],['Pトイレ', 7],['その他', 8]], completion_report.clean_up), {prompt: '選択する'}, {multiple: true, id: 'completion_report_cleanup'} %>
              </div>
              <div class="form-group col-md-3">
                <%= form.label :took_out_trash, "ゴミ出し", class: 'colibri-form-label-dark' do  %>
                    <%= form.check_box :took_out_trash %>
                    ゴミ出し
                <% end %>
              </div>
            </div>
            
            <div class="colibri-form-subsection-separator"></div>
            <div class="modal-subsection-title-sm">洗濯</div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <%= form.label :washed_clothes, "洗濯", class: 'colibri-form-label-dark' do  %>
                    <%= form.check_box :washed_clothes %>
                    洗濯
                <% end %>
              </div>
              <div class="form-group col-md-2">
                <%= form.label :dried_clothes, "乾燥", class: 'colibri-form-label-dark' do  %>
                    <%= form.check_box :dried_clothes %>
                    乾燥
                <% end %>
              </div>
              <div class="form-group col-md-4">
                <%= form.label :stored_clothes, "取り込み.収納", class: 'colibri-form-label-dark' do  %>
                    <%= form.check_box :stored_clothes %>
                    取り込み.収納
                <% end %>
              </div>
              <div class="form-group col-md-3">
                <%= form.label :ironed_clothes, "アイロン", class: 'colibri-form-label-dark' do  %>
                    <%= form.check_box :ironed_clothes %>
                    アイロン
                <% end %>
              </div>
            </div>
            
            <div class="colibri-form-subsection-separator"></div>
            <div class="modal-subsection-title-sm">ベッドメイク</div>
            <div class="form-row">
              <div  class="form-group col-md-3">
                <%= form.label :changed_bed_sheets, "シーツ交換", class: 'colibri-form-label-dark' do  %>
                    <%= form.check_box :changed_bed_sheets %>
                    シーツ交換
                <% end %>
              </div>

              <div  class="form-group col-md3">
                <%= form.label :changed_bed_cover, "布団カバー交換", class: 'colibri-form-label-dark' do  %>
                    <%= form.check_box :changed_bed_cover %>
                    布団カバー交換
                <% end %>
              </div>
            </div>

            <div class="colibri-form-subsection-separator"></div>
            <div class="modal-subsection-title-sm">衣類.寝具</div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <%= form.label :rearranged_clothes, "衣類の整理", class: 'colibri-form-label-dark' do  %>
                    <%= form.check_box :rearranged_clothes %>
                    衣類の整理
                <% end %>
              </div>
              <div class="form-group col-md-3">
                <%= form.label :repaired_clothes, "被服の補修", class: 'colibri-form-label-dark' do  %>
                    <%= form.check_box :repaired_clothes %>
                    被服の補修
                <% end %>
              </div>
              <div class="form-group col-md-3">
                <%= form.label :dried_the_futon, "布団干し", class: 'colibri-form-label-dark' do  %>
                    <%= form.check_box :dried_the_futon %>
                    布団干し
                <% end %>
              </div>

            </div>
          </div>

          <div class="colibri-form-subsection-separator"></div>
          <div class="modal-subsection-title-sm  toggleable-subsection-title">調理</div>
          <div class="toggleable-subsection">
            <div class="form-row">
              <div class="form-group col-md-3">
                <%= form.label :set_the_table, "下拵え", class: 'colibri-form-label-dark' do  %>
                    <%= form.check_box :set_the_table %>
                    下拵え
                <% end %>
              </div>
              <div class="form-group col-md-3">
                <%= form.label :cooked_for_the_patient, "調理", class: 'colibri-form-label-dark' do  %>
                    <%= form.check_box :cooked_for_the_patient %>
                    調理
                <% end %>
              </div>
              <div class="form-group col-md-3">
                <%= form.label :cleaned_the_table, "配.下膳", class: 'colibri-form-label-dark' do  %>
                    <%= form.check_box :cleaned_the_table %>
                    配.下膳
                <% end %>
              </div>
            </div>

            <div class="form-group">
                <%= form.label :remarks_around_cooking, "献立", class: 'colibri-form-label-dark' %>
                <%= form.text_field :remarks_around_cooking, class: 'form-control' %>
            </div>
          </div>

          <div class="colibri-form-subsection-separator"></div>
          <div class="modal-subsection-title-sm toggleable-subsection-title">買い物など</div>
          <div clss="toggleable-subsection">
            <div class="form-row">
              <div class="form-group col-md-5">
                <%= form.label :grocery_shopping, "日常品などの買い物", class: 'colibri-form-label-dark' do  %>
                    <%= form.check_box :grocery_shopping %>
                    日常品などの買い物
                <% end %>
              </div>
              <div class="form-group col-md-4">
                <%= form.label :medecine_shopping, "薬の受取り", class: 'colibri-form-label-dark' do  %>
                    <%= form.check_box :medecine_shopping %>
                    薬の受取り
                <% end %>
              </div>

            </div>

            <div class="form-group">
                <%= form.label :amount_received_for_shopping, "預り金", class: 'colibri-form-label-dark' %>
                <%= form.number_field :amount_received_for_shopping, style: "width:70px" %>

                <%= form.label :amount_spent_for_shopping, "買い物", class: 'colibri-form-label-dark' %>
                <%= form.number_field :amount_spent_for_shopping, style: "width:70px" %>

                <%= form.label :change_left_after_shopping, "おつり", class: 'colibri-form-label-dark' %>
                <%= form.number_field :change_left_after_shopping, style: "width:70px" %>

            </div>
            <div class="form-row">
              <div class="form-group col-md-2">
                <%= form.label :shopping_items, "内訳", class: 'colibri-form-label-dark' %>
              </div>
              <div class="form-group col-md-10">
                <%= form.text_field :shopping_items, class: 'form-control' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="blue-background-form">

        <div class="modal-subsection-title">備考.確認</div>
        <div class="form-group">
            <%= form.label :general_comment, "ご利用者の言葉及び観察したこと：", class: 'colibri-form-label-dark' %>
            <%= form.text_area :general_comment, class: 'form-control' %>
        </div>

        <div class="form-group">
            <div class='colibri-form-label-dark'>退室確認</div>

            <div class="form-row">
            <%= form.label :checked_gas_when_leaving, "火元", class: 'colibri-form-label-dark col-md-2' do  %>
                <%= form.check_box :checked_gas_when_leaving %>
                火元
            <% end %>

            <%= form.label :checked_electricity_when_leaving, "電気", class: 'colibri-form-label-dark col-md-2' do  %>
                <%= form.check_box :checked_electricity_when_leaving %>
                電気
            <% end %>

            <%= form.label :checked_water_when_leaving, "水道", class: 'colibri-form-label-dark col-md-2' do  %>
                <%= form.check_box :checked_water_when_leaving %>
                水道
            <% end %>

            <%= form.label :checked_door_when_leaving, "戸締り", class: 'colibri-form-label-dark col-md-2' do  %>
                <%= form.check_box :checked_door_when_leaving %>
                戸締り
            <% end %>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <div class="btn btn-colibri-light" data-dismiss="modal">閉じる</div>
        <%= form.submit "セーブする", class: 'btn btn-info' %>
    </div>
<% end %>