<div id="report-detail-container" style="display:none">
    <% if reportable.try(:class).try(:name) == 'Appointment' %>
        <div class="modal-body" id="preliminary_check">
          <div class="modal-subsection-title">
            事前チェック
          </div>

          <div class="form-row">
            <div class="form-group col-md-5">
              <%= form.label :patient_looked_good, "顔色", style: 'margin-right:7px' %>

              <%= form.radio_button :patient_looked_good, true, {class: 'radio-inline', id: :completion_report_patient_looked_good_true} %>
              <%= form.label :patient_looked_good_true, "良", class: 'colibri-form-label-dark' %>

              <%= form.radio_button :patient_looked_good, false, {class: 'radio-inline', id: :completion_report_patient_looked_good_false} %>
              <%= form.label :patient_looked_good_false, "不良", class: 'colibri-form-label-dark'%>
            </div>
            <div class="form-group col-md-7">
              <%= form.label :patient_transpired, "発汗", style: 'margin-right:7px'  %>

              <%= form.radio_button :patient_transpired, true, {class: 'radio-inline', id: :completion_report_patient_transpired_1} %>
              <%= form.label :patient_transpired_1, "有", class: 'colibri-form-label-dark' %>

              <%= form.radio_button :patient_transpired, false, {class: 'radio-inline', id: :completion_report_patient_transpired_0} %>
              <%= form.label :patient_transpired_0, "無", class: 'colibri-form-label-dark' %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-5">
              <%= form.label :body_temperature, "体温", class: 'colibri-form-label-dark' %>
              <%= form.number_field :body_temperature, {step: 0.1, class: 'colibri-input', style: 'width:60px'} %><span class="colibri-form-label-dark"> °C</span>
            </div>
            <div class="form-group col-md-7">
              <%= form.label :blood_pressure_systolic, "血圧", class: 'colibri-form-label-dark'  %>
              <%= form.number_field :blood_pressure_systolic, {step: 1, class: 'colibri-input', style: 'width:60px'} %><span class="colibri-form-label-dark"> /</span>
              <%= form.number_field :blood_pressure_diastolic, {step: 1, class: 'colibri-input', style: 'width:60px'} %>
            </div>
          </div>

          <% if reportable.nurse.try(:profession) == 1 %>
            <div class="form-row">
              <div class="form-group col-md-4">
                <%= form.label :heart_rate_bpm, '脈拍', class: 'colibri-form-label-dark' %>
                <%= form.number_field :heart_rate_bpm, {step: 1, style: 'width:45px'} %>回/分
              </div>
              <div class="form-group col-md-4">
                <%= form.label :heart_rythm_anomalies, '不整脈', class: 'colibri-form-label-dark' %>
                <%= form.select :heart_rythm_anomalies, options_for_select([['無',0], ['有',1]], completion_report.heart_rythm_anomalies) %>
              </div>
              <div class="form-group col-md-4">
                <%= form.label :breathe_rate, '呼吸', class: 'colibri-form-label-dark' %>
                <%= form.number_field :breathe_rate, {step: 1, style: 'width:45px'} %>回/分
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-4">
                <%= form.label :blood_sugar, '血糖値', class: 'colibri-form-label-dark' %>
                <%= form.number_field :blood_sugar, {step: 1, style: 'width:45px'} %>mg/dL
              </div>
              <div class="form-group col-md-4">
                <%= form.label :blood_oxygen_rate, 'SpO²', class: 'colibri-form-label-dark' %>
                <%= form.number_field :blood_oxygen_rate, {step: 0.1, style: 'width:45px'} %>%
              </div>
              <div class="form-group col-md-4">
                <%= form.label :body_weight, '体重', class: 'colibri-form-label-dark' %>
                <%= form.number_field :body_weight, {step: 1, style: 'width:45px'} %>kg
              </div>
            </div>
          <% end %>

          <div class="form-row">
            <div class="form-group col-md-3">
              <%= form.check_box :house_was_clean, id: :completion_report_house_was_clean %>
              <%= form.label :house_was_clean, "環境整備", class: 'colibri-form-label-dark'  %>
            </div>
            <div class="form-group col-md-3">
              <%= form.check_box :patient_could_discuss, id: :completion_report_patient_could_discuss %>
              <%= form.label :patient_could_discuss, "相談援助", class: 'colibri-form-label-dark'  %>
            </div>
            <div class="form-group col-md-3">
              <%= form.check_box :patient_could_gather_and_share_information, id: :completion_report_patient_could_gather_and_share_information %>
              <%= form.label :patient_could_gather_and_share_information, "情報収集", class: 'colibri-form-label-dark' %>
            </div>
            <div class="form-group col-md-3">
              <%= form.check_box :checking_report, id: :completion_report_checking_report %>
              <%= form.label :checking_report, "記録", class: 'colibri-form-label-dark'  %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="blue-background-form" id="personal_care">
          <div class="modal-subsection-title toggleable-subsection-title">身体介護<span class="glyphicon glyphicon-chevron-down completion-report-glyphicon"></span></div>
          
          <div class="toggleable-subsection" style='display:none'>
            <div class="modal-subsection-title-sm">
              排泄
            </div>

            <div class="form-row">
              <% unless completion_report.assisted_bathroom? %>
                <div class="form-group col-md-3">
                  <%= form.check_box :assisted_bathroom, id: :completion_report_assisted_bathroom  %>
                  <%= form.label :assisted_bathroom, "トイレ介助", class: 'colibri-form-label-dark'  %>
                </div>
              <% end %>
              <% unless completion_report.assisted_portable_bathroom? %>
                <div class="form-group col-md-3">
                  <%= form.check_box :assisted_portable_bathroom, id: :completion_report_assisted_portable_bathroom %>
                  <%= form.label :assisted_portable_bathroom, "Pトイレ介助", class: 'colibri-form-label-dark'  %>
                </div>
              <% end %>
              <% unless completion_report.changed_diapers? %>
                <div class="form-group col-md-3">
                  <%= form.check_box :changed_diapers, id: :completion_report_changed_diapers  %>
                  <%= form.label :changed_diapers, "おむつ交換", class: 'colibri-form-label-dark' %>
                </div>
              <% end %>
              <% unless completion_report.changed_bed_pad? %>
                <div class="form-group col-md-3">
                  <%= form.check_box :changed_bed_pad, id: :completion_report_changed_bed_pad %>
                  <%= form.label :changed_bed_pad, "パッド交換", class: 'colibri-form-label-dark'  %>
                </div>
              <% end %>
            </div>

            <div class="form-row">
              <% unless completion_report.changed_stained_clothes? %>
                <div class="form-group col-md-8">
                  <%= form.check_box :changed_stained_clothes, id: :completion_report_changed_stained_clothes %>
                  <%= form.label :changed_stained_clothes, "汚れた衣服などの交換処理", class: 'colibri-form-label-dark' %>
                </div>
              <% end %>
              <% unless completion_report.wiped_patient? %>
                <div class="form-group col-md-4">
                  <%= form.check_box :wiped_patient, id: :completion_report_wiped_patient %>
                  <%= form.label :wiped_patient, "陰部の清潔介助", class: 'colibri-form-label-dark'  %>
                </div>
              <% end %>
            </div>

              <div class="form-row">
                <% unless completion_report.patient_urinated? %>
                  <div class="form-group col-md-6">
                    <%= form.check_box :patient_urinated, id: :completion_report_patient_urinated %>
                    <%= form.label :patient_urinated, "排尿", class: 'colibri-form-label-dark' %>

                    <%= form.number_field :urination_count, {step: 1, class: 'colibri-input', style: 'width:50px'} %><span class="colibri-form-label-dark"> 回</span>
                    <%= form.number_field :amount_of_urine, {step: 1, class: 'colibri-input', style: 'width:50px'} %><span class="colibri-form-label-dark"> cc</span>
                  </div>
                <% end %>
                <% unless completion_report.patient_defecated? %>
                  <div class="form-group col-md-6">
                    <%= form.check_box :patient_defecated, id: :completion_report_patient_defecated %>
                    <%= form.label :patient_defecated, "排便", class: 'colibri-form-label-dark' %>
                    
                    <%= form.number_field :defecation_count, {step: 1, class: 'colibri-input', style: 'width:50px'} %><span class="colibri-form-label-dark"> 回</span>
                    <span class="colibri-form-label-dark"> 性状 </span><%= form.text_field :visual_aspect_of_feces, class: 'colibri-input', style: 'width:50px' %>
                  </div>
                <% end %>
              </div>

            <div class="colibri-form-subsection-separator"></div>

            <div class="modal-subsection-title-sm">
              食事
            </div>
            <div class="form-row">
              <% unless completion_report.patient_maintains_good_posture_while_eating? %>
                <div class="form-group col-md-3">
                  <%= form.check_box :patient_maintains_good_posture_while_eating, id: :completion_report_patient_maintains_good_posture_while_eating %>
                  <%= form.label :patient_maintains_good_posture_while_eating, "姿勢の確保", class: 'colibri-form-label-dark' %>
                </div>
              <% end %>
              <% unless completion_report.explained_menu_to_patient? %>
                <div class="form-group col-md-5">
                  <%= form.check_box :explained_menu_to_patient, id: :completion_report_explained_menu_to_patient %>
                  <%= form.label :explained_menu_to_patient, "メニュー.材料の説明", class: 'colibri-form-label-dark'  %>
                </div>
              <% end %>
              <% unless completion_report.assisted_patient_to_eat? %>
                <div class="form-group col-md-4">
                  <%= form.check_box :assisted_patient_to_eat, id: :completion_report_assisted_patient_to_eat %>
                  <%= form.label :assisted_patient_to_eat, "食事介助", class: 'colibri-form-label-dark' %>
                </div>
              <% end %>
            </div>
            <div class="form-row">
              <% unless completion_report.assisted_patient_to_eat? %>
                <div class="form-group col-md-7">
                  <%= form.label :patient_ate_full_plate, "食事量", style: 'margin-right:7px' %>

                  <%= form.radio_button :patient_ate_full_plate, true, {class: 'radio-inline radio-uncheckable', id: :completion_report_patient_ate_full_plate_true} %>
                  <%= form.label :patient_ate_full_plate_true, "完食", class: 'colibri-form-label-dark' %>

                  <%= form.radio_button :patient_ate_full_plate, false, {class: 'radio-inline radio-uncheckable', id: :completion_report_patient_ate_full_plate_false} %>
                  <%= form.label :patient_ate_full_plate_false, "残量", class: 'colibri-form-label-dark' %>

                  <%= form.radio_button :patient_ate_full_plate, "", {style: 'display:none', id: :no_full_plate} %>
                  ( <%= form.text_field :ratio_of_leftovers, class: 'colibri-input', style: 'width:50px' %> )割
                </div>
              <% end %>
              <% unless completion_report.patient_hydrated? %>
                <div class="form-group col-md-5">
                  <%= form.check_box :patient_hydrated, id: :completion_report_patient_hydrated %>
                  <%= form.label :patient_hydrated, "水分補給", class: 'colibri-form-label-dark'  %>

                  ( <%= form.number_field :amount_of_liquid_drank, {step: 1, class: 'colibri-input', style: 'width:50px'} %> cc)
                </div>
              <% end %>
            </div>

            <div class="form-row">
              <div class="from-group col-md-3">
                <%= form.label :meal_specificities, "特段の調理", class: 'colibri-form-label-dark' %>
              </div>
              <div class="from-group col-md-9">
                <%= form.text_field :meal_specificities, class: 'colibri-input input-text-left additional-padding', style: 'width:100%' %>
              </div>
            </div>

            <div class="colibri-form-subsection-separator"></div>


            <div class="modal-subsection-title-sm">
              清拭.入浴
            </div>

            <div class="form-row">
              <% if completion_report.full_or_partial_body_wash == nil || completion_report.full_or_partial_body_wash == 2 %>
                <div class="from-group col-md-5">
                  <%= form.label :full_or_partial_body_wash, "清拭" %>
                  <%= form.radio_button :full_or_partial_body_wash, 1, {class: 'radio-inline', id: :completion_report_full_or_partial_body_wash_1} %>
                  <%= form.label :full_or_partial_body_wash_1, "全身", class: 'colibri-form-label-dark' %>

                  <%= form.radio_button :full_or_partial_body_wash, 0, {class: 'radio-inline', id: :completion_report_full_or_partial_body_wash_0} %>
                  <%= form.label :full_or_partial_body_wash_0, "部分", class: 'colibri-form-label-dark' %>

                  <%= form.radio_button :full_or_partial_body_wash, 2, {class: 'radio-inline', style: 'display:none', id: :no_full_nor_partial_body_wash} %>
                </div>
              <% end %>
              <% if completion_report.full_or_partial_body_wash == nil || completion_report.full_or_partial_body_wash == 3 %>
                <div class="from-group col-md-5">
                  <%= form.label :hands_and_feet_wash, "部分浴" %>

                  <%= form.radio_button :hands_and_feet_wash, 1, {class: 'radio-inline', id: :completion_report_hands_and_feet_wash_1} %>
                  <%= form.label :hands_and_feet_wash_1, "手", class: 'colibri-form-label-dark' %>

                  <%= form.radio_button :hands_and_feet_wash, 0, {class: 'radio-inline', id: :completion_report_hands_and_feet_wash_0} %>
                  <%= form.label :hands_and_feet_wash_0, "足", class: 'colibri-form-label-dark' %>

                  <%= form.radio_button :hands_and_feet_wash, 2, {class: 'radio-inline', id: :completion_report_hands_and_feet_wash_2} %>
                  <%= form.label :hands_and_feet_wash_2, "手足", class: 'colibri-form-label-dark' %>

                  <%= form.radio_button :hands_and_feet_wash, 3, {style: 'display:none', id: :no_hands_nor_feet_wash} %>
                </div>
              <% end %>
              <% unless completion_report.hair_wash? %>
                <div class="from-group col-md-2">
                  <%= form.check_box :hair_wash, id: :completion_report_hair_wash %>
                  <%= form.label :hair_wash, "洗髪", class: 'colibri-form-label-dark' %>
                </div>
              <% end %>
            </div>

            <% if completion_report.bath_or_shower == nil %>
              <div class="form-group">
                <%= form.label :bath_or_shower, "全身浴" %>
                <%= form.radio_button :bath_or_shower, 1, {class: 'radio-inline', id: :completion_report_bath_or_shower_1} %>
                <%= form.label :bath_or_shower_1, "入浴", class: 'colibri-form-label-dark' %>

                <%= form.radio_button :bath_or_shower, 0, {class: 'radio-inline', id: :completion_report_bath_or_shower_0} %>
                <%= form.label :bath_or_shower_0, "シャワー", class: 'colibri-form-label-dark' %>

                <%= form.radio_button :bath_or_shower, 2, {class: 'radio-inline',id: :no_bath_nor_shower, style: 'display:none'} %>
              </div>
            <% end %>

            <div class="colibri-form-subsection-separator"></div>
            <div class="modal-subsection-title-sm">身体整容</div>

            <div class="form-row">
              <% if completion_report.washing_details == [''] || completion_report.washing_details == []  %>
                <div class="from-group col-md-2">
                  <%= form.label :washing_details, "整容", class: 'colibri-form-label-dark' %>
                </div>
                <div class="from-group col-md-6">
                  <%= form.select :washing_details, options_for_select([['爪', 0], ['耳', 1], ['髪', 3], ['化粧', 4]], completion_report.washing_details), {prompt: '選択する'}, {multiple: true, id: 'completion_details_washing_details'} %>
                </div>
              <% end %>
                <div class="from-group col-md-4">
                  <% unless completion_report.changed_clothes? %>
                    <%= form.check_box :changed_clothes, id: :completion_report_changed_clothes %>
                    <%= form.label :changed_clothes, "更衣介助", class: 'colibri-form-label-dark' %>
                  <% end %>
                </div>
            </div>
            <div class="form-row">
              <div class="from-group col-md-3">
                <% unless completion_report.face_wash? %>
                  <%= form.check_box :face_wash, id: :completion_report_face_wash %>
                  <%= form.label :face_wash, "洗面", class: 'colibri-form-label-dark' %>
                <% end %>
              </div>
              <div class="from-group col-md-3">
                <% unless completion_report.mouth_wash? %>
                  <%= form.check_box :mouth_wash, id: :completion_report_mouth_wash %>
                  <%= form.label :mouth_wash, "口腔ケア", class: 'colibri-form-label-dark'  %>
                <% end %>
              </div>
            </div>

            <div class="colibri-form-subsection-separator"></div>
            <div class="modal-subsection-title-sm">移動</div>
            <div class="form-row">
              <% unless completion_report.assisted_patient_to_change_body_posture? %>
                <div class="from-group col-md-3">
                  <%= form.check_box :assisted_patient_to_change_body_posture, id: :completion_report_assisted_patient_to_change_body_posture %>
                  <%= form.label :assisted_patient_to_change_body_posture, "体位変更", class: 'colibri-form-label-dark' %>
                </div>
              <% end %>
              <% unless completion_report.assisted_patient_to_transfer? %>
                <div class="from-group col-md-3">
                  <%= form.check_box :assisted_patient_to_transfer, id: :completion_report_assisted_patient_to_transfer %>
                  <%= form.label :assisted_patient_to_transfer, "移乗介助", class: 'colibri-form-label-dark' %>
                </div>
              <% end %>
              <% unless completion_report.assisted_patient_to_move? %>
                <div class="from-group col-md-3">
                  <%= form.check_box :assisted_patient_to_move, id: :completion_report_assisted_patient_to_move %>
                  <%= form.label :assisted_patient_to_move, "移動介助", class: 'colibri-form-label-dark' %>
                </div>
              <% end %>
              <% unless completion_report.commuted_to_the_hospital? %>
                <div class="from-group col-md-3">
                  <%= form.check_box :commuted_to_the_hospital, id: :completion_report_commuted_to_the_hospital %>
                  <%= form.label :commuted_to_the_hospital, "通院介助", class: 'colibri-form-label-dark' %>
                </div>
              <% end %>
            </div>
            <div class="form-row">
              <% unless completion_report.assisted_patient_to_shop? %>
                <div class="from-group col-md-3">
                  <%= form.check_box :assisted_patient_to_shop, id: :completion_report_assisted_patient_to_shop %>
                  <%= form.label :assisted_patient_to_shop, "買い物介助", class: 'colibri-form-label-dark' %>
                </div>
              <% end %>

              <% unless completion_report.assisted_patient_to_go_somewhere? %>
                <div class="from-group col-md-9">
                  <%= form.check_box :assisted_patient_to_go_somewhere, id: :completion_report_assisted_patient_to_go_somewhere %>
                  <%= form.label :assisted_patient_to_go_somewhere, "外出同行", class: 'colibri-form-label-dark' %>

                  <%= form.label :patient_destination_place, "行先", class: 'colibri-form-label-dark'  %>
                  <%= form.text_field :patient_destination_place, class: 'colibri-input additional-padding input-text-left' %>
                </div>
              <% end %>
            </div>

            <div class="colibri-form-subsection-separator"></div>
            <div class="modal-subsection-title-sm">起床就寝</div>
            <div class="form-row">
              <% unless completion_report.assisted_patient_to_go_out_of_bed? %>
                <div class="from-group col-md-3">
                  <%= form.check_box :assisted_patient_to_go_out_of_bed, id: :completion_report_assisted_patient_to_go_out_of_bed %>
                  <%= form.label :assisted_patient_to_go_out_of_bed, "起床介助", class: 'colibri-form-label-dark' %>
                </div>
              <% end %>
              <% unless completion_report.assisted_patient_to_go_to_bed? %>
                <div class="from-group col-md-3">
                  <%= form.check_box :assisted_patient_to_go_to_bed, id: :completion_report_assisted_patient_to_go_to_bed %>
                  <%= form.label :assisted_patient_to_go_to_bed, "就寝介助", class: 'colibri-form-label-dark'  %>
                </div>
              <% end %>
            </div>
          </div>
      </div>

      <div class="modal-body" id="medical_care">
          <div class="modal-subsection-title toggleable-subsection-title">医療<span class="glyphicon glyphicon-chevron-down completion-report-glyphicon"></span></div>

          <div class="toggleable-subsection" style='display:none'>
            <div class="form-row">
                <% unless completion_report.assisted_to_take_medication? %>
                  <div class="from-group col-md-4">
                    <%= form.check_box :assisted_to_take_medication, id: :completion_report_assisted_to_take_medication %>
                    <%= form.label :assisted_to_take_medication, "服薬介助.確認", class: 'colibri-form-label-dark'  %>
                  </div>
                <% end %>
                <% unless completion_report.assisted_to_apply_a_cream? %>
                  <div class="from-group col-md-3">
                    <%= form.check_box :assisted_to_apply_a_cream, id: :completion_report_assisted_to_apply_a_cream %>
                    <%= form.label :assisted_to_apply_a_cream, "薬の塗布", class: 'colibri-form-label-dark' %>
                  </div>
                <% end %>
                <% unless completion_report.assisted_to_take_eye_drops? %>
                  <div class="from-group col-md-2">
                    <%= form.check_box :assisted_to_take_eye_drops, id: :completion_report_assisted_to_take_eye_drops %>
                    <%= form.label :assisted_to_take_eye_drops, "点眼", class: 'colibri-form-label-dark' %>
                  </div>
                <% end %>
                <% unless completion_report.assisted_to_extrude_mucus? %>
                  <div class="from-group col-md-3">
                    <%= form.check_box :assisted_to_extrude_mucus, id: :completion_report_assisted_to_extrude_mucus %>
                    <%= form.label :assisted_to_extrude_mucus, "痰の吸引", class: 'colibri-form-label-dark'  %>
                  </div>
                <% end %>
            </div>

            <div class="form-row">
              <% unless completion_report.assisted_to_take_suppository? %>
                <div class="from-group col-md-2">
                  <%= form.check_box :assisted_to_take_suppository, id: :completion_report_assisted_to_take_suppository %>
                  <%= form.label :assisted_to_take_suppository, "浣腸", class: 'colibri-form-label-dark' %>
                </div>
              <% end %>
              <div class="from-group col-md-10">
                <%= form.label :remarks_around_medication, "医療行為の準備.後片付け", class: 'colibri-form-label-dark'  %>
                <%= form.text_field :remarks_around_medication, class: 'colibri-input additional-padding input-text-left' %>
              </div>
            </div>
          </div>
      </div>

      <div class="blue-background-form" id="handicap_care">
            <div class="modal-subsection-title toggleable-subsection-title">自立支援<span class="glyphicon glyphicon-chevron-down completion-report-glyphicon"></span></div>

            <div class="toggleable-subsection" style='display:none'>
              <% if completion_report.activities_done_with_the_patient == [''] || completion_report.activities_done_with_the_patient == [] %>
                <div class="form-group">
                    <%= form.label :activities_done_with_the_patient, "共に行う", class: 'colibri-form-label-dark' %>
                    <%= form.select :activities_done_with_the_patient, options_for_select([['掃除', 0], ['洗濯', 1],['衣類整理', 2],['調理', 3],['買い物', 4]], completion_report.activities_done_with_the_patient), {prompt: '選択する'}, {multiple: true, id: 'completion_report_activities_done_with_the_patient'} %>
                </div>
              <% end %>
              <div class="form-row">
                  <% unless completion_report.trained_patient_to_communicate? %>
                    <div class="form-group  col-md-5">
                      <%= form.check_box :trained_patient_to_communicate, id: :completion_report_trained_patient_to_communicate %>
                      <%= form.label :trained_patient_to_communicate, "コミュニケーション", class: 'colibri-form-label-dark' %>
                    </div>
                  <% end %>
                  <% unless completion_report.trained_patient_to_memorize? %>
                    <div class="form-group  col-md-4">
                      <%= form.check_box :trained_patient_to_memorize, id: :completion_report_trained_patient_to_memorize %>
                      <%= form.label :trained_patient_to_memorize, "記憶への働きかけ", class: 'colibri-form-label-dark' %>
                    </div>
                  <% end %>
              </div>

              <div class="form-row">
                  <% unless completion_report.watch_after_patient_safety? %>
                    <div class="form-group col-md-6">
                      <%= form.check_box :watch_after_patient_safety, id: :completion_report_watch_after_patient_safety %>
                      <%= form.label :watch_after_patient_safety, "転倒予防の声かけ・見守り", class: 'colibri-form-label-dark' %>
                    </div>
                  <% end %>
                  <% if completion_report.watched_after_patient_safety_doing == [''] || completion_report.watched_after_patient_safety_doing == [] %>
                    <div class="form-group col-md-6">
                      <%= form.select :watched_after_patient_safety_doing, options_for_select([['入浴', 0], ['更衣', 1],['移動', 2]], completion_report.watched_after_patient_safety_doing), {prompt: '選択する'}, {multiple: true, id: 'completion_report_watched_after_patient_safety_doing'} %>
                    </div>
                  <% end %>
              </div>

              <div class="form-group">
                  <%= form.label :other_assistance_for_patient_independency, "その他", class: "colibri-form-label-dark" %>
                  <%= form.text_area :other_assistance_for_patient_independency, class: 'form-control' %>
              </div>
            </div>
      </div>

      <div class="modal-body" id="house_care">
          <div class="modal-subsection-title toggleable-subsection-title">生活援助<span class="glyphicon glyphicon-chevron-down completion-report-glyphicon"></span></div>
          
          <div class="toggleable-subsection" style='display:none'>
              <div class="modal-subsection-title-sm">掃除</div>

              <div class="form-row">
                <% if completion_report.clean_up == [''] || completion_report.clean_up == [] %>
                  <div class="form-group col-md-2">
                    <%= form.label :clean_up, "清掃", class: 'colibri-form-label-dark' %>
                  </div>
                  <div class="form-group col-md-7">
                    <%= form.select :clean_up, options_for_select([['居室', 0], ['寝室', 1],['洗面所', 2],['トイレ', 3],['卓上', 4],['台所', 5],['浴室', 6],['Pトイレ', 7],['その他', 8]], completion_report.clean_up), {prompt: '選択する'}, {multiple: true, id: 'completion_report_cleanup'} %>
                  </div>
                <% else %>
                  <div class="form-group col-md-9"></div>
                <% end%>
                <% unless completion_report.took_out_trash? %>
                  <div class="form-group col-md-3">
                    <%= form.check_box :took_out_trash, id: :completion_report_took_out_trash %>
                    <%= form.label :took_out_trash, "ゴミ出し", class: 'colibri-form-label-dark' %>
                  </div>
                <% end %>
              </div>

              <div class="colibri-form-subsection-separator"></div>


              <div class="modal-subsection-title-sm">洗濯</div>
              <div class="form-row">
                <% unless completion_report.washed_clothes? %>
                  <div class="form-group col-md-3">
                    <%= form.check_box :washed_clothes, id: :completion_report_washed_clothes %>
                    <%= form.label :washed_clothes, "洗濯", class: 'colibri-form-label-dark' %>
                  </div>
                <% end %>
                <% unless completion_report.dried_clothes? %>
                  <div class="form-group col-md-2">
                    <%= form.check_box :dried_clothes, id: :completion_report_dried_clothes %>
                    <%= form.label :dried_clothes, "乾燥", class: 'colibri-form-label-dark' %>
                  </div>
                <% end %>
                <% unless completion_report.stored_clothes? %>
                  <div class="form-group col-md-4">
                    <%= form.check_box :stored_clothes, id: :completion_report_stored_clothes %>
                    <%= form.label :stored_clothes, "取り込み.収納", class: 'colibri-form-label-dark' %>
                  </div>
                <% end %>
                <% unless completion_report.ironed_clothes? %>
                  <div class="form-group col-md-3">
                    <%= form.check_box :ironed_clothes, id: :completion_report_ironed_clothes %>
                    <%= form.label :ironed_clothes, "アイロン", class: 'colibri-form-label-dark' %>
                  </div>
                <% end %>
              </div>
              <div class="colibri-form-subsection-separator"></div>


              <div class="modal-subsection-title-sm">ベッドメイク</div>
              <div class="form-row">
                <% unless completion_report.changed_bed_sheets? %>
                  <div class="form-group col-md-3">
                    <%= form.check_box :changed_bed_sheets, id: :completion_report_changed_bed_sheets %>
                    <%= form.label :changed_bed_sheets, "シーツ交換", class: 'colibri-form-label-dark' %>
                  </div>
                <% end %>
                <% unless completion_report.changed_bed_cover? %>
                  <div class="form-group col-md3">
                    <%= form.check_box :changed_bed_cover, id: :completion_report_changed_bed_cover %>
                    <%= form.label :changed_bed_cover, "布団カバー交換", class: 'colibri-form-label-dark' %>
                  </div>
                <% end %>
              </div>
              <div class="colibri-form-subsection-separator"></div>

              <div class="modal-subsection-title-sm">衣類.寝具</div>
              <div class="form-row">
                <% unless completion_report.rearranged_clothes? %>
                  <div class="form-group col-md-3">
                    <%= form.check_box :rearranged_clothes, id: :completion_report_rearranged_clothes %>
                    <%= form.label :rearranged_clothes, "衣類の整理", class: 'colibri-form-label-dark' %>
                  </div>
                <% end %>
                <% unless completion_report.repaired_clothes? %>
                  <div class="form-group col-md-3">
                    <%= form.check_box :repaired_clothes, id: :completion_report_repaired_clothes %>
                    <%= form.label :repaired_clothes, "被服の補修", class: 'colibri-form-label-dark' %>
                  </div>
                <% end %>
                <% unless completion_report.dried_the_futon? %>
                  <div class="form-group col-md-3">
                    <%= form.check_box :dried_the_futon, id: :completion_report_dried_the_futon %>
                    <%= form.label :dried_the_futon, "布団干し", class: 'colibri-form-label-dark' %>
                  </div>
                <% end %>
              </div>
              <div class="colibri-form-subsection-separator"></div>

              <div class="modal-subsection-title-sm">調理</div>
              <div class="form-row">
                <% unless completion_report.set_the_table? %>
                  <div class="form-group col-md-3">
                    <%= form.check_box :set_the_table, id: :completion_report_set_the_table %>
                    <%= form.label :set_the_table, "下拵え", class: 'colibri-form-label-dark' %>
                  </div>
                <% end %>
                <% unless completion_report.cooked_for_the_patient? %>
                  <div class="form-group col-md-3">
                    <%= form.check_box :cooked_for_the_patient, id: :completion_report_cooked_for_the_patient %>
                    <%= form.label :cooked_for_the_patient, "調理", class: 'colibri-form-label-dark' %>
                  </div>
                <% end %>
                <% unless completion_report.cleaned_the_table? %>
                  <div class="form-group col-md-3">
                    <%= form.check_box :cleaned_the_table, id: :completion_report_cleaned_the_table %>
                    <%= form.label :cleaned_the_table, "配.下膳", class: 'colibri-form-label-dark'  %>
                  </div>
                <% end %>
              </div>

              <% unless completion_report.cooked_for_the_patient? %>
                <div class="form-row">
                  <%= form.label :remarks_around_cooking, "献立", class: 'colibri-form-label-dark form-group col-md-1' %>
                  <%= form.text_field :remarks_around_cooking, class: 'form-control form-group col-md-11' %>
                </div>
              <% end %>

              <div class="colibri-form-subsection-separator"></div>

              <div class="modal-subsection-title-sm">買い物など</div>
              <div class="form-row">
                <% unless completion_report.grocery_shopping? %>
                  <div class="form-group col-md-5">
                    <%= form.check_box :grocery_shopping, id: :completion_report_grocery_shopping %>
                    <%= form.label :grocery_shopping, "日常品などの買い物", class: 'colibri-form-label-dark'  %>
                  </div>
                <% end %>
                <% unless completion_report.medecine_shopping? %>
                  <div class="form-group col-md-4">
                    <%= form.check_box :medecine_shopping, id: :completion_report_medecine_shopping %>
                    <%= form.label :medecine_shopping, "薬の受取り", class: 'colibri-form-label-dark' %>
                  </div>
                <% end %>
              </div>

                <% if !completion_report.medecine_shopping? && !completion_report.grocery_shopping? %>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <%= form.label :amount_received_for_shopping, "預り金", class: 'colibri-form-label-dark' %>
                      <%= form.number_field :amount_received_for_shopping, id: 'amount-received', class: 'colibri-input', style: "width:80px" %>
                    </div>
                    <div class="form-group col-md-6">
                      <%= form.label :amount_spent_for_shopping, "買い物", class: 'colibri-form-label-dark' %>
                      <%= form.number_field :amount_spent_for_shopping, id: 'amount-spent', class: 'colibri-input', style: "width:80px" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= form.label :change_left_after_shopping, "おつり", class: 'colibri-form-label-dark' %>
                    <%= form.number_field :change_left_after_shopping, id: 'groceries-change', class: 'colibri-input', style: "width:80px" %>
                  </div>
                <% end %>

                <div class="form-row">
                  <div class="form-group col-md-2">
                    <%= form.label :shopping_items, "内訳", class: 'colibri-form-label-dark' %>
                  </div>
                  <div class="form-group col-md-10">
                    <%= form.text_field :shopping_items, class: 'form-control' %>
                  </div>
                </div>
          </div>
        </div>
      </div>

      <!-- end of the checklist area -->

      <div class="blue-background-form">

        <div class="modal-subsection-title"><%= general_comment_title(reportable.try(:class).try(:name)) %></div>
        <div class="form-group">
            <%= form.text_area :general_comment, class: 'form-control' %>
        </div>

          <div class="form-group">
            <div class='colibri-form-label-dark'>退室確認</div>
            <div class="form-row">
              <div class="form-group col-md-2">
                <%= form.check_box :checked_gas_when_leaving, id: :completion_report_checked_gas_when_leaving %>
                <%= form.label :checked_gas_when_leaving, "火元", class: 'colibri-form-label-dark' %>
              </div>

              <div class="form-group col-md-2">
                <%= form.check_box :checked_electricity_when_leaving, id: :completion_report_checked_electricity_when_leaving %>
                <%= form.label :checked_electricity_when_leaving, "電気", class: 'colibri-form-label-dark'  %>
              </div>

              <div class="form-group col-md-2">
                <%= form.check_box :checked_water_when_leaving, id: :completion_report_checked_water_when_leaving %>
                <%= form.label :checked_water_when_leaving, "水道", class: 'colibri-form-label-dark'  %>
              </div>

              <div class="form-group col-md-2">
                <%= form.check_box :checked_door_when_leaving, id: :completion_report_checked_door_when_leaving %>
                <%= form.label :checked_door_when_leaving, "戸締り", class: 'colibri-form-label-dark ' %>
              </div>
            </div>
          </div>

          <div class="form-group" id="geolocalization-status">
            <div id="geolocalization-success" style="display:none" class="colibri-form-label-dark">位置情報確定 <span class="glyphicon glyphicon-ok" style="font-size:12px"></span></div>
            <div id="geolocalization-failure" style="display:none" class="colibri-form-label-dark">位置情報読み込み失敗 <div style="inline" class="btn btn-sm btn-colibri-light" style="margin-left:4px" onclick="completionReportGeolocationRequest()">リフレッシュ<span class="glyphicon glyphicon-refresh" style="font-size:12px;margin-left:4px"></span></div></div>
            <div id="geolocalization-pending" class="colibri-form-label-dark" style="<%= 'display:none' unless completion_report.new_record? %>">位置情報読み込み中... <span class="glyphicon glyphicon-refresh" style="font-size:12px"></span></div>
          </div>

    </div>

