<%= javascript_tag do %>
	window.holidays = "<%= j HolidayJp.between((Date.today - 1.year), (Date.today + 1.year)).to_json.html_safe %>"
	window.currentMonth = <%= Date.today.month %>
	window.currentYear = <%= Date.today.year %>
<% end %>

<%= render partial: 'plannings/planning_left_menu', locals: {view: 'reports', resource_payable_path: planning_nurse_payable_path(@planning, @main_nurse, params: {m: Date.today.in_time_zone('Tokyo').month,y: Date.today.in_time_zone('Tokyo').year})} %>


<div id="planning-page-wrapper">
	<div id="detail-container" class="<%= 'nurse-restricted-detail-container' if current_user.nurse_restricted? %>">
		<div class="activity_header">
			<div class="activity_title">
				実施記録
			</div>
		</div>
		
		<div id="completion-reports-container" style="margin-bottom: 70px; margin-top: 10px">
			<div style="width:100%">
				<div style="width:100%">
					<div class='no-print' style='margin-left:5px'>
						<%= select_tag '年', options_for_select([['2018年', 2018],['2019年', 2019], ['2020年', 2020], ['2021年', 2021]], params[:y]), id: 'query_year' %>
						<%= select_tag '月', options_for_select([['1月', 1],['2月', 2], ['3月', 3], ['4月', 4], ['5月',5], ['6月',6], ['7月', 7], ['8月', 8], ['9月', 9], ['10月', 10], ['11月', 11], ['12月', 12]], params[:m]), id: 'query_month' %>
						<button id='payable-query-trigger' class='btn-colibri-light-gray btn btn-sm'><span class="glyphicon glyphicon-refresh" style="color:white;font-size:0.85em"></span></button>
					</div>
					<div class="resource-details-subsection-title">
						書き残し
					</div>
					<table class="table">
						<thead>
							<tr>
								<th style="width:48%">サービス日時</th>
								<th style="width:38%">利用者名</th>
								<th style="width:14%"></th>
							</tr>
						</thead>
						<tbody>
							<% @appointments_without_reports.each do |appointment| %>
								<tr data-url="<%= new_appointment_completion_report_path(appointment) %>" class="colibri-clickable-row">
									<td style="width:48%"><%= "#{l(appointment.starts_at, format: '%-m/%-d (%a) %H:%M ~ ')}#{l(appointment.ends_at, format: '%H:%M')}" %></td>
									<td style="width:38%"><%= appointment_resource_name(appointment, params[:resource_type]) %></td>
									<td style="width:14%"><span class="glyphicon glyphicon-edit write-completion-report" style="color:#FFAA00"></span></td>
								</tr>
							<% end %>
						</tbody>
					</table>

					<div class="resource-details-subsection-title">
						<%= "#{params[:m]}月の履歴" %>
					</div>
					<table class="table">
						<thead>
							<tr>
								<th style="width:48%">サービス日時</th>
								<th style="width:38%">利用者名</th>
								<th style="width:14%"></th>
							</tr>
						</thead>
						<tbody>
							<% @recent_completion_reports.each do |completion_report| %>
								<tr data-url="<%= edit_appointment_completion_report_path(completion_report.reportable, completion_report) %>" class="colibri-clickable-row">
									<td style="width:48%"><%= "#{l(completion_report.reportable.starts_at, format: '%-m/%-d (%a) %H:%M ~ ')}#{l(completion_report.reportable.ends_at, format: '%H:%M')}" %></td>
									<td style="width:38%"><%= appointment_resource_name(completion_report.reportable, params[:resource_type]) %></td>
									<td style="width:14%"><span class="glyphicon glyphicon-file write-completion-report" style="color:rgb(115, 120, 124)"></span></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
</div>
