<div class="form-group">
    <%= label_tag :title, "サービスタイプ", class: "colibri-form-label" %>
    <%= select_tag :title, options_from_collection_for_select(@corporation.services.without_nurse_id.order_by_title, 'title', 'title'), id: :appointment_title, required: true, title: 'サービスタイプを選択してください', required_pattern: '.*\S+.*', class: "form-control" %>
</div>
<div class="form-group">
    <%= label_tag :nurse_id, "従業員名", class: "colibri-form-label" %>
    <%= select_tag :nurse_id, grouped_options_for_select(@nurses.group_full_timer_for_select) %>
</div>
<div class="form-group">
    <%= label_tag :patient_id, "利用者名", class: "colibri-form-label" %>
    <%= select_tag :patient_id, options_from_collection_for_select(@patients, :id, :name, {prompt: '利用者選択'}) %>
</div>
<div class="form-group">
    <%= label_tag :range_start, "対象期間スタート", class: "colibri-form-label" %>
    <%= text_field_tag :range_start %>
</div>
<div class="form-group">
    <%= label_tag :range_end, "対象期間終了", class: "colibri-form-label" %>
    <%= text_field_tag :range_end %>
</div>