<div id="cancellation_options" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title reload-page-when-dismissed-in-payable">キャンセルの手当.請求</h1>
				<button type="button" class="close">&times;</button>
			</div>

            <%= form_with model: @appointment do |form| %>

                <div class="modal-body">
                    <div class="form-group">
                        <%= form.label :total_invoiced, "請求額" %>
                        <%= form.number_field :total_invoiced, {step: 1, class: 'form-control'} %>
                    </div>

                    <div class="form-group">
                        <%= form.label :total_wage, "手当" %>
                        <%= form.number_field :total_wage, {step: 1, class: 'form-control'} %>
                    </div>

                    <%= form.hidden_field :skip_credits_invoice_and_wage_calculations, value: true %>
                </div>

                <div class="modal-footer">
                    <div class="btn btn-colibri-light reload-page-when-dismissed-in-payable">閉じる</div>
                    <%= form.submit "セーブする", class: 'btn btn-info' %>
                </div>
            
            <% end %>
		</div>
	</div>

</div>