<div id="edit_appointment" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1  class="colibri-small-title"><%= @completion_report.present? ? '実績編集' : 'サービス編集' %></h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div id='edit-appointment-body'>
				<% if @completion_report.present? %>
					<div id="toggle-appointment-and-completion-report">
						<div class="appointment-menu-toggle-item item-selected"><span class="glyphicon glyphicon-calendar" style="font-size:19px"></span> サービス</div>
						<div class="appointment-menu-toggle-item"><%= image_tag('dark-grey-report.svg', width: '26px', style: "margin-bottom:2px") %> 実施記録</div>
					</div>
					<div id="edit-appointment">
						<%= render 'simple_form', appointment: @appointment %>
					</div>
					<div id="edit-completion-report" style='display:none'>
						<%= render 'completion_reports/form_for_double_check', completion_report: @completion_report, reportable: @appointment %>
					</div>
				<% else %>
					<%= render 'form', appointment: @appointment %>
				<% end %>
			</div>

		</div>
	</div>

</div>
