<%= form_with model: appointment, url: [@planning, appointment] do |form| %>
  <% if appointment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

    <ul>
      <% appointment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <% unless appointment.new_record? %>

    <div id="form-options-container" class="blue-background-form">
      <div class="modal-subsection-title">簡易編集</div>
      <%= link_to "<i class='glyphicon glyphicon-file' style='color:white;font-size:12px'></i> #{completion_report_text(appointment)}".html_safe, completion_report_url_helper(appointment), class: 'btn btn-secondary btn-sm btn-margin-bottom', remote: true %>
      <%= link_to "<i class='glyphicon glyphicon-th-list' style='color:white;font-size:12px'></i> #{toggle_edit_requested_text(appointment)}".html_safe, planning_appointment_toggle_edit_requested_path(@planning, appointment, params: {patient_resource: params[:patient_resource]}), method: :patch, class: 'btn btn-secondary btn-sm btn-margin-bottom', remote: true unless appointment.new_record? %>
      <%= link_to "<i class='glyphicon glyphicon-remove' style='color:white;font-size:12px'></i> #{toggle_cancel_text(appointment)}".html_safe, planning_appointment_toggle_cancelled_path(@planning, appointment, params: {patient_resource: params[:patient_resource]}), method: :patch, class: 'btn btn-secondary btn-sm btn-margin-bottom', data: {confirm: confirm_cancel_message(appointment)}, remote: true unless appointment.new_record? %>
      <%= link_to '<i class="glyphicon glyphicon-trash" style="color:white;font-size:12px"></i> 削除'.html_safe, planning_appointment_archive_path(@planning, appointment), method: :patch, class: 'btn btn-secondary btn-sm btn-margin-bottom', data: {confirm: 'サービスが削除され、スケジュールから消えます。'}, remote: true unless appointment.new_record? %>
    </div>
  
  <% end %>


  <div class="modal-body">
    <% unless appointment.new_record? %>
      <div class="modal-subsection-title">詳細編集</div>
    <% end %>
    
    <div class="form-group">
      <%= form.label :service_id, "サービスタイトル", class: "colibri-form-label-dark" %><span class='required-field'>*</span>
      <%= form.select :service_id, grouped_options_for_select(@services_with_recommendations, appointment.service_id), {}, {id: :appointment_service_id, required: true} %>
    </div>

    <div class="form-group">
      <%= form.label :nurse_id, "従業員名", class: "colibri-form-label-dark" %><span class='required-field'>*</span>
      <%= form.select :nurse_id, grouped_options_for_select(@grouped_nurses_for_select, appointment.nurse_id), {}, {required: true, id: :appointment_nurse_id} %>
    </div>

    <div class="form-group">
      <%= form.label :patient_id, "#{client_resource_name(@corporation.business_vertical)}名", class: "colibri-form-label-dark" %><span class='required-field'>*</span>
      <%= form.collection_select(:patient_id, @patients, :id, :name, {}, {required: true, id: :appointment_patient_id}) %>
    </div>

    <div class="form-group colibri-datetime-group">
      <div>
        <%= form.label :starts_at, "開始日時", class: "colibri-form-label-dark", style: 'min-width:80px' %>
      </div>
      <div class="colibri-datetime-input-container">
        <div class="colibri-date-input">
          <%= form.date_select :starts_at %><span class="colibri-datetime-separator">—</span> 
        </div>
        <div>
          <%= form.time_select :starts_at, ignore_date: true, minute_step: 5 %>
        </div>
      </div>
    </div>

    <div class="form-group colibri-datetime-group">
      <div>
        <%= form.label :ends_at, "終了日時", class: "colibri-form-label-dark", style: 'min-width:80px' %>
      </div>
      <div class="colibri-datetime-input-container">
        <div class="colibri-date-input">
          <%= form.date_select :ends_at %><span class="colibri-datetime-separator">—</span> 
        </div>
        <div>
          <%= form.time_select :ends_at, ignore_date: true, minute_step: 5 %>
        </div>
      </div>
    </div>


    <div class="form-group">
      <%= form.label :color, "カラー", class: "colibri-form-label-dark", style: 'min-width:75px' %>
      <%= form.select :color,  options_for_select([['デフォルト', '#7AD5DE'], ['青', '#3D9BF3'], ['緑', '#3BC359'], ['ピンク', '#EE59A6'], ['紫', '#A587F6'], ['オレンジ', '#F98050'], ['黄色', '#FBC32D'], ['赤', '#EE584C']], appointment.color), id: :appointment_color %>
  　</div> 

    <div class="form-group">
      <%= form.label :edit_requested, "調整中リスト", class: "colibri-form-label-dark", style: 'min-width:100px' %>
      <%= form.check_box :edit_requested, class: "edit-requested-toggle", data: {requested: appointment.edit_requested} %>
    </div>

    <div class="form-group">
      <%= form.label :cancelled, "キャンセル", class: "colibri-form-label-dark", style: 'min-width:100px' %>
      <%= form.check_box :cancelled, class: "cancelled-toggle", data: {cancelled: appointment.cancelled} %>
    </div>

    <div class="form-group">
      <%= form.label :description, "コメント", class: "colibri-form-label-dark" %>
      <%= form.text_area :description, id: :appointment_description, class: "form-control" %>
    </div>

    <%= hidden_field_tag :patient_resource, true if params[:patient_resource].present? %>

    <div class="actions">
      <%= form.submit "セーブ", class: "btn btn-info btn-block", id: "save-appointment" %>
    </div>
  </div>

 
<% end %>
