<%= form_for [@planning, appointment], remote: true do |form| %>
  <% if appointment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

    <ul>
      <% appointment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div id="form-options-container">
    <% unless appointment.new_record? %>

      <div class="form-group">
          <%= form.check_box :master, checked:  current_user.admin? && @master, disabled: true, data: {toggle: 'toggle'}, class: 'master-toggle' %>
      </div>

      <% if @recurring_appointment.present? && @recurring_appointment.frequency != 2 %>
        <div class="btn btn-info" id="edit-all-occurrences" data-edit-url="<%= edit_planning_recurring_appointment_path(@planning, @recurring_appointment) %>">
          繰り返しのエディットはこちら
        </div>
      <% end %>

    <% end %>

  </div>

  <div class="modal-body">
    <div class="form-group">
      <%= form.label :title, "サービスタイプ", class: "colibri-form-label" %><span class='required-field'>*</span>
      <%= form.text_field :title, id: :appointment_title, required: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :description, "コメント", class: "colibri-form-label" %>
      <%= form.text_area :description, id: :appointment_description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :color, "カラー", class: "colibri-form-label" %>
      <%= form.select(:color,  options_for_select([['デフォルト', '#7AD5DE'], ['青', '#3D9BF3'], ['緑', '#3BC359'], ['ピンク', '#EE59A6'], ['紫', '#A587F6'], ['オレンジ', '#F98050'], ['黄色', '#FBC32D'], ['赤', '#EE584C']], appointment.color), id: :appointment_color) %>
  　</div> 

    <div class="form-group">
      <%= form.label :start_time, "スタート", class: "colibri-form-label" %>
      <%= form.datetime_select :start, id: :appointment_start_time, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :end_time, "終了", class: "colibri-form-label" %>
      <%= form.datetime_select :end, id: :appointment_end_time, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :nurse_id, "ヘルパー名", class: "colibri-form-label" %><span class='required-field'>*</span>
      <%= form.select :nurse_id, grouped_options_for_select(@nurses.group_full_timer_for_select, appointment.nurse_id), required: true %>
    </div>

    <div class="form-group">
      <%= form.label :patient_id, "利用者名", class: "colibri-form-label" %><span class='required-field'>*</span>
      <%= form.collection_select(:patient_id, @patients, :id, :name, {prompt: '利用者選択'}, {:required => true}) %>
    </div>

    <div class="actions">
      <%= form.submit "セーブする", class: "btn btn-info" %>
      <% unless appointment.master == true %>  
        <div class="btn btn-secondary text-white" id="form-edit-list-decoy">
          編集リストへ追加
        </div>
        <%= form.submit '編集リストへ追加', class: 'btn btn-secondary', id: 'form-edit-list' %>
      <% end %>
      <%= link_to '削除', planning_appointment_path(@planning, appointment), method: :delete, class: 'btn btn-danger', data: {confirm: 'サービスが削除されます'}, remote: true unless appointment.new_record? %>
    </div>
  </div>

 
<% end %>
