<div id="new_batch_archive" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">一斉に削除する</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body">

                <%= render 'batch_action_form' %>

				<div class="form-group">
					<%= label_tag :cancelled_and_edit_requested_filter, "通常", class: "colibri-form-label" %>
					<%= check_box_tag :normal_filter, 'normal', checked = true %>
					<%= label_tag :cancelled_and_edit_requested_filter, "調整中", class: "colibri-form-label colibri-radio" %>
					<%= check_box_tag :edit_requested_filter, 'edit_requested', checked = true %>
					<%= label_tag :cancelled_and_edit_requested_filter, "キャンセル", class: "colibri-form-label colibri-radio" %>
					<%= check_box_tag :cancelled_filter, 'cancelled', checked = true %>
				</div>

                <div>
                    <div id="new-batch-archive-submit" class="btn btn-info btn-block text-white">選択したサービス一覧を表示</div>
                </div>
			</div>
		</div>
	</div>

</div>