<%= javascript_tag do  %>
	window.planningActivitiesUrl = "<%= j planning_activities_path(@planning) %>"
<% end %>

<%= render partial: 'plannings/planning_left_menu', locals: {view: 'activity', resource_path: current_user.schedule_default_url_option || planning_nurse_path(@planning, @main_nurse), resource_master_path: planning_nurse_master_path(@planning, @main_nurse), resource_payable_path: planning_nurse_payable_path(@planning, @main_nurse, params: {m: Date.today.in_time_zone('Tokyo').month, y: Date.today.in_time_zone('Tokyo').year})} %>

<div id="index-container">
	<div id="activity-filter">
		<%= select_tag('nurse-filter', options_from_collection_for_select(@nurses, 'id', 'name', selected: @nurse_id), prompt: "全従業員") %>
		<%= select_tag('patient-filter', options_from_collection_for_select(@patients, 'id', 'name', selected: @patient_id), prompt: "全利用者") %>
		<%= select_tag('user-filter', options_from_collection_for_select(@users, 'id', 'name', selected: @user_id), prompt: "全ユーザー") %>
	</div>

	<% @activities.each do |activity| %>
		<%= render partial: 'activities/activity', locals: {activity: activity} %>
	<% end %>
</div>

