<%= javascript_tag do  %>
	window.planningActivitiesUrl = "<%= j planning_activities_path(@planning) %>"
<% end %>

<%= render 'layouts/planning_menu' %>
<%= render 'plannings/planning_activities_submenu' %>



<div id="index-container">
	<div id="activity-filter">
		<%= select_tag('nurse-filter', options_from_collection_for_select(@nurses, 'id', 'name', selected: @nurse_id), prompt: "全ヘルパー") %>
		<%= select_tag('patient-filter', options_from_collection_for_select(@patients, 'id', 'name', selected: @patient_id), prompt: "全利用者") %>
		<%= select_tag('user-filter', options_from_collection_for_select(@users, 'id', 'name', selected: @user_id), prompt: "全ユーザー") %>
	</div>

	<% @activities.each do |activity| %>
		<%= render partial: 'activities/activity', locals: {activity: activity} %>
	<% end %>
</div>

