<%= javascript_tag do  %>
	window.planningActivitiesUrl = "<%= j planning_activities_path(@planning) %>"
<% end %>

<% if request.variant.phone? %>
	<%= render partial: 'plannings/phone_bottom_menu', locals: {view: 'settings', resource_payable_path: planning_nurse_payable_path(@planning, @main_nurse, params: {m: Date.today.in_time_zone('Tokyo').month, y: Date.today.in_time_zone('Tokyo').year})} %>
<% else %>
	<%= render partial: 'plannings/planning_left_menu', locals: {view: 'settings', resource_payable_path: planning_nurse_payable_path(@planning, @main_nurse, params: {m: Date.today.in_time_zone('Tokyo').month, y: Date.today.in_time_zone('Tokyo').year})} %>
<% end %>

<%= render 'plannings/settings_submenu', view: 'activities' %>

<div id="menu-backdrop">
</div>

<div id="settings-container">
	<div id="planning-header">
		<div id="detail-planning-title">
			<div id="settings-menu">
				<div id="payable-menu">
					<%= image_tag 'hamburger_icon_white.svg', size: '35', class: 'hamburger_menu'  %>
				</div>
				<p class="planning-activity-module-title setting-title">
					編集履歴
				</p>
			</div>
		</div>
	</div>
	<div class="settings-body">
		<div id="activity-filter">
			<%= select_tag('nurse-filter', options_from_collection_for_select(@nurses, 'id', 'name', selected: @nurse_id), prompt: "全従業員") %>
			<%= select_tag('patient-filter', options_from_collection_for_select(@patients, 'id', 'name', selected: @patient_id), prompt: "全利用者") %>
			<%= select_tag('user-filter', options_from_collection_for_select(@users, 'id', 'name', selected: @user_id), prompt: "全ユーザー") %>
			<%= select_tag('key-filter', options_for_select([['削除', 'archive'],['編集','update'],['作成','create']]), prompt: "全アクション") %>
		</div>

		<% @activities.each do |activity| %>
			<%= render partial: 'activities/activity', locals: {activity: activity} %>
		<% end %>
	</div>
</div>

