<nav id="colibri-scheduler-nav" class="no-print">
    <div id="brand-container">
        <%= image_tag 'colibri_logo.svg', size: '40', style: 'margin-left:6px;margin-top:4px' %>
        <p id="brand">Colibri</p>
    </div>

    <ul>
        <% if user_signed_in? %>
          <li id="account-settings">
              <p class="colibri-nav-link colibri-nav-username"><%= current_user.name %><span id='account-dropdown-icon' class='glyphicon glyphicon-chevron-down' style="color:white;font-size:0.7em"></span></p>
          </li>
          <li>
            <%= link_to 'ホーム', dashboard_index_path,title: 'ホームページ.ダッシュボード', class: 'colibri-nav-link' unless current_user.nurse_restricted? || current_user.schedule_readonly? %>  
          </li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: 'colibri-nav-link' %></li>
          <li><%= link_to 'ホームページ', root_path, class: 'colibri-nav-link' %></li>
        <% end %>
    </ul>

</nav>
