<nav id="colibri-scheduler-nav" class="no-print">
    <div>
      <a href="#" class="colibri-nav-link">Colibri Schedule</a>
    </div>


    	<ul>
    	    <% if user_signed_in? %>
    	    <li class="li-float-right">
    	      <%= link_to 'アカウント', edit_user_registration_path(current_user), class: 'colibri-nav-link' %>  
    	    </li>
    	    <li class="li-float-right">
    	      <%= link_to 'ホームページ', "https://www.home.colibri.jp", target: "_blank", class: 'colibri-nav-link',  id: "link-to-home"  %>
    	    </li>
    	    <li class="li-float-right"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'colibri-nav-link' %></li>
    	    <div id="current-user"></div>
    	    <% else %>
    	      <li class="li-float-right">
    	        <%= link_to 'ホームページ', "https://www.home.colibri.jp", target: "_blank", id: "link-to-home", class: 'colibri-nav-link'  %>
    	      </li>
    	      <li class="li-float-right"><%= link_to 'ログイン', new_user_session_path, class: 'colibri-nav-link' %></li>
    	      <li class="li-float-right"><%= link_to '新規登録', new_user_registration_path, class: 'colibri-nav-link' %></li>
    	    <% end %>
    	</ul>



</nav>