<nav id="colibri-scheduler-nav" class="no-print">
    <div id="brand-container">
        <%= image_tag('https://s3.us-east-2.amazonaws.com/puraimage/logo_jpeg.jpg', size: '40') %>
        <p id="brand">Colibri Scheduler</p>
    </div>


    	<ul>
    	    <% if user_signed_in? %>
            <li class="li-float-right" id="account-settings">
                <p class="colibri-nav-link">アカウント</p>
            </li>
            <li class="li-float-right">
              <%= link_to '利用者', patients_path, title: '利用者一覧', class: 'colibri-nav-link' %>  
            </li>
            <li class="li-float-right">
              <%= link_to '従業員', nurses_path,title: 'ヘルパー一覧', class: 'colibri-nav-link' %>  
            </li>
            <li class="li-float-right">
              <%= link_to 'ホーム', root_path,title: 'ホームページ.ダッシュボード', class: 'colibri-nav-link' %>  
            </li>


    	    <% else %>
    	      <li class="li-float-right">
    	        <%= link_to 'ホームページ', "https://www.home.colibri.jp", target: "_blank", id: "link-to-home", class: 'colibri-nav-link'  %>
    	      </li>
    	      <li class="li-float-right"><%= link_to 'ログイン', new_user_session_path, class: 'colibri-nav-link' %></li>
    	      <li class="li-float-right"><%= link_to '新規登録', new_user_registration_path, class: 'colibri-nav-link' %></li>
    	    <% end %>
    	</ul>

</nav>
