<!DOCTYPE html>
<html>
  <head>
    <title>Colibri</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <% if Rails.env == 'production' %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136584111-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      </script>
    <% end %>

    <style><%= yield :stylesheets %></style>
  </head>

  <body>
    <div id="header-navigation" class="no-print">
      <%= render "layouts/navigation" %>
    </div>

    <div id="flash" class="no-print">
      <% flash.each do |key, value| %>
        <% if value.length > 0 %><div class="alert alert-<%= key %>"><%= value %></div><% end %>
      <% end %>
    </div>

    <div class="main-page">
      <div id="account-settings-dropdown" style="display: none">
          <ul id="account-settings-ul">
              <li class="account-settings-li" data-url="<%= edit_user_registration_path(current_user) %>">アカウント設定</li>
              <% if current_user.present? && current_user.has_admin_access? %>
                <li class="account-settings-li" data-url="<%= users_path %>">事業所設定</li>
              <% end %>
              <li id="logout-li"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'account-settings-a' %></li>
          </ul>
          
      </div>

      <%= yield :content %>
      <%= yield %>

    </div>



    <div id="remote_container">
    </div>
  </body>
</html>
