<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      Colibri
    </title>

    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, IE=edge">
    <meta name="description" content="<%= yield(:description) %>">

    <%= favicon_link_tag asset_path('colibri_logo_full_pink.ico') %>

    <% if user_signed_in? %>
      <meta name="theme-color" content="#2B384E">
      <!-- iOS Safari -->
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <% if ['pages', 'contact_forms'].include?(controller_name) %>
      <%= javascript_include_tag 'pages', 'data-turbolinks-track': 'reload' %>
    <% end %>
    
    <% if Rails.env == 'production' %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136584111-2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      </script>
    <% end %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style><%= yield :stylesheets %></style>

  </head>

  <body>
    <div id="header-navigation" class="no-print">
      <%= render "layouts/navigation" %>
    </div>

    <div id="flash" class="no-print">
      <% flash.each do |key, value| %>
        <% if value.length > 0 %>
          <div style="width:100%">
              <span class="alert alert-<%= key %>"><%= value %></span>
          </div>
        <% end %>
      <% end %>
    </div>


    <div class="main-page">
      <div id="smartphone-status-background" style="position:absolute;top:-30px;height:30px;background-color:#1B263B;z-index:9">
      </div>
      <div id="account-settings-dropdown" style="display: none">
          <ul id="account-settings-ul">
              <li id="logout-li"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'account-settings-a' %></li>
          </ul>
      </div>

      <%= yield :content %>
      <%= yield %>
    </div>



    <div id="remote_container">
    </div>
  </body>
</html>
