<!DOCTYPE html>
<html>
  <head>
    <title>Scheduler</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header-navigation" class="no-print">
      <%= render "layouts/navigation" %>
    </div>

    <div id="flash" class="no-print">
      <% flash.each do |key, value| %>
        <% if value.length > 0 %><div class="alert alert-<%= key_helper(key) %>"><%= value %></div><% end %>
      <% end %>
    </div>

    <div class="main-page">
      <%= yield %>
    </div>



    <div id="remote_container">
    </div>
  </body>
</html>
