<%= content_for :stylesheets do %>
  #colibri-scheduler-nav {display: none}
<% end %>

<%= content_for :content do %>
<nav id="colibri-pages-nav">
    <div id="brand-container">
        <div id="brand-name">Colibri</div>
    </div>
    <div id="pages-nav-right">
    	<ul>
    	    <% if user_signed_in? %>
            <li class="li-float-right">
              <%= link_to 'アプリへ', root_path, title: 'ホームページ.ダッシュボード' %>  
            </li>
    	    <% else %>
    	      <li class="li-float-right btn btn-mid-light" id="nav-login-button"><%= link_to 'ログイン', new_user_session_path %></li>
    	      <li class="li-float-right btn btn-mid-light" id="nav-login-button"><%= link_to 'ホームページへ', pages_path(:home) %></li>
    	    <% end %>
    	</ul>
    <div>

</nav>
  
<% end %>

<%= render template: 'layouts/application'%>