<%= content_for :stylesheets do %>
  #colibri-scheduler-nav {display: none}
<% end %>

<%= content_for :content do %>
<nav id="colibri-pages-nav">
    <div id="brand-container">
      <%= link_to image_tag('colibri_logo_full_pink.svg', size: '45', id: 'colibri-logo'), unauthenticated_root_path %>
      <%= link_to 'Colibri', unauthenticated_root_path, id: 'brand-name' %>
    </div>
    <div id="pages-nav-right">
    	<ul>
    	    <% if user_signed_in? %>
            <li class="li-float-right btn btn-mid-light" style="margin-right: 8px">
              <%= link_to 'アプリへ', authenticated_root_path, title: 'ホームページ.ダッシュボード' %>  
            </li>
    	    <% else %>
    	      <li class="li-float-right btn btn-mid-light" id="nav-login-button"><%= link_to 'ホームページへ', unauthenticated_root_path %></li>
    	      <li class="li-float-right" style="padding-top:10px" id="blog-link-container"><a href="https://colibri.hatenablog.jp/" target="_blank" id="colibri-blog-link">公式ブログ</a></li>
            <% end %>
    	</ul>
    <div>

</nav>
  
<% end %>

<%= render template: 'layouts/application'%>