<%= content_for :stylesheets do %>
  #colibri-scheduler-nav {display: none};
  #flash {display: none}
<% end %>

<%= content_for :content do %>
<nav id="colibri-pages-nav">
  <div id="pages-nav-left">
    <div id="brand-container">
      <%= link_to image_tag('colibri_logo_full_pink.svg', size: '45', id: 'colibri-logo'), root_path %>
      <%= link_to 'Colibri', root_path, id: 'brand-name' %>
    </div>
    <div id="colibri-nav-container">
      <div class="colibri-dropdown colibri-nav-dropdown">
        <div onclick="colibriDropdown()" class="dropbtn colibri-nav-li colibri-nav-hover" style="margin-left:2px;display:flex">
          <div style="margin-right:8px;margin-left:8px">Colibriとは</div>
          <div  style="margin-right:8px;display:flex;align-items:center">
            <div class="colibri-arrow-down">
          </div>
          </div>
        </div>
        <div id="colibriDropdown" class="colibri-dropdown-content">
          <a href="/pages/home" style="border-top-left-radius:3px;border-top-right-radius:3px">トップページ</a>
          <a href="/pages/features">機能詳細</a>
          <a href="/pages/about_us">自己紹介</a>
          <a href="/pages/security" style="border-bottom-left-radius: 3px;border-bottom-right-radius:3px">セキュリティー</a>
        </div>
      </div>
      <% if false %>
        <div class="dropdown colibri-nav-dropdown colibri-nav-hover">
          <div class="dropdown-toggle colibri-nav-li" data-toggle="dropdown">
            もっと便利に<i class="glyphicon caret" style="font-size:10px;margin-left:2px"></i>
          </div>
          <ul class="dropdown-menu">
            <li><a href="/pages/data">経営データの分析</a></li>
            <li><a href="/pages/posts">掲示板.情報共有</a></li>
            <li><a href="/pages/todolist">シフトToDoリスト</a></li>
            <li><a href="/pages/availabilities">従業員の空き情報.希望</a></li>
          </ul>
        </div>
      <% end %>
      <div class="colibri-nav-li nav-centered-vertically" style="width:100px"><a class="colibri-nav-hover" href="/pages/telework" style="width:120px"><div id="colibri-covid-dot"></div>コロナ対策</a></div>
      <div class="colibri-nav-li nav-centered-vertically" style="width:100px"><a class="colibri-nav-hover" href="https://colibri.hatenablog.jp/" target="_blank" style="width:100px">コリブロ</a></div>
      <div class="colibri-nav-li nav-centered-vertically" style="width:70px"><a class="colibri-nav-hover" href="/pages/join_us" name="採用" style="width:70px">採用</a></div>
    </div>
  </div>
  <div id="pages-nav-right">
  	<ul id="colibri-nav-right-list">
  	    <% if user_signed_in? %>
          <li class="li-float-right btn btn-outline-info" style="margin-right:8px">
            <%= link_to 'アプリへ', current_user_home_path, title: 'ホームページ.ダッシュボード' %>  
          </li>
  	    <% else %>
  	      <li class="btn btn-outline-info" id="nav-login-button"><%= link_to 'ログイン', new_user_session_path %></li>
  	      <li class="btn btn-info" id="nav-contact-button"><%= link_to 'お問い合わせ', new_contact_form_path, id:'nav-contact-form-link' %></li>
  	    <% end %>
  	</ul>
    <div id="colibri-mobile-nav">
      <div onclick="colibriMobileShowDropdown()" id="hamburger-nav-mobile">
        <%= image_tag 'hamburger_icon.svg', width: '40px' %>
      </div>
      <div onclick="colibriMobileHideDropdown()" id="close-nav-mobile" style="display:none">
        &times;
      </div>
    </div>
  <div>
</nav>

<div id="colibri-mobile-menu">
  <div class="menu-item">
    <div class="menu-item-title toggle-submenu" onclick="colibriMobileDropdown()"  style="display:flex;justify-content:space-between">
      <div>Colibriとは</div>
      <div><i class="glyphicon glyphicon-chevron-down" style="font-weight:normal;font-size:0.7em"></i></div>
    </div>
    <div class="menu-sub-item-container" id="colibri-mobile-submenu" style="display:none">
      <div class="menu-sub-item"><a href="/pages/home">トップページ</a></div>
      <div class="menu-sub-item"><a href="/pages/features">機能詳細</a></div>
      <div class="menu-sub-item"><a href="/pages/about_us">自己紹介</a></div>
      <div class="menu-sub-item"><a href="/pages/security">セキュリティー</a></div>
    </div>
  </div>
  <% if false %>
    <div class="menu-item">
      <div class="menu-item-title toggle-submenu" style="display:flex;justify-content:space-between">
        <div>もっと便利に</div>
        <div><i class="glyphicon glyphicon-chevron-down" style="font-weight:normal;font-size:0.7em"></i></div>
      </div>
      <div class="menu-sub-item-container" style="display:none">
        <div class="menu-sub-item"><a href="/pages/data">経営データの分析</a></div>
        <div class="menu-sub-item"><a href="/pages/posts">掲示板.情報共有</a></div>
        <div class="menu-sub-item"><a href="/pages/todolist">シフトToDoリスト</a></div>
        <div class="menu-sub-item"><a href="/pages/availabilities">従業員の空き情報.希望</a></div>
      </div>
    </div>
  <% end %>
  <div class="menu-item">
    <a class="menu-item-title" href="/pages/telework">コロナ対策<div id="colibri-covid-dot"></div></a>
  </div>
  <div class="menu-item">
    <a class="menu-item-title" href="https://colibri.hatenablog.jp/" target="_blank">コリブロ</a>
  </div>
  <div class="menu-item">
    <a class="menu-item-title" href="/pages/join_us" name="採用">採用</a>
  </div>
  <div class="menu-item">
    <%= link_to 'お問い合わせ', new_contact_form_path, id:'nav-contact-form-link', class: "menu-item-title" %>
  </div>
  <div class="menu-item">
  	<%= link_to 'ログイン', new_user_session_path, class: "menu-item-title" %>
  </div>
</div>
  
<% end %>

<%= render template: 'layouts/application'%>