<%= form_for [@nurse, provided_service], local: true do |form| %>
  <% if provided_service.errors.any? %>
  <div id="error_explanation">
    <h2>エラーが発生しました：</h2>

    <ul>
      <% provided_service.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <% if provided_service.new_record? %>

    <div id="form-options-container">
      <div class="form-group">
          <%= form.check_box :hour_based_wage, checked: current_user.corporation.hour_based_payroll , id: 'hour-based-wage-toggle' %>
      </div>
    </div>
  <% end %>

  <div class="modal-body">

      <div class="form-group">
        <%= form.label :title, "手当タイトル", class: "colibri-form-label" %><span class='required-field'>*</span>
        <%= form.text_field :title, id: :provided_service_title, required: true, class: "form-control" %>
      </div>

      <% unit_cost_title = provided_service.new_record? || provided_service.hour_based_wage == true ? "時給" : "単価" %>

      <div class="form-group">
        <%= form.label :unit_cost, unit_cost_title, class: "colibri-form-label" %><span class='required-field'>*</span>
        <%= form.number_field :unit_cost, id: :provided_service_unit_cost, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :service_date, "日付", class: "colibri-form-label" %><span class='required-field'>*</span>
        <%= form.date_select :service_date, id: :provided_service_service_date, class: "form-control" %>
      </div>

      <% if  provided_service.hour_based_wage == true && !provided_service.new_record?  %>
        <div class="form-group"  id="pay-by-hour-field"><span class='required-field'>*</span>
          <%= form.label :service_duration, "提供時間", class: "colibri-form-label" %>
          <%= form.select(:service_duration, options_for_select([['15分', 900],['30分', 1800],['45分', 2700], ['1時間', 3600],['1時間15分', 4500], ['1時間半', 5400],['1時間45分', 6300], ['2時間', 7200], ['2時間15分', 8100], ['2時間半', 9000], ['2時間45分', 9900], ['3時間', 10800], ['3時間15分', 11700], ['3時間半', 12600],['3時間45分', 13500], ['4時間', 14400]], provided_service.service_duration), prompt: '選択する')  %>
        </div>
      <% end %>

      <% if  provided_service.hour_based_wage == false && !provided_service.new_record? %>

        <div class="form-group" id="pay-by-count-field">
          <%= form.label :service_counts, "回数", class: "colibri-form-label" %><span class='required-field'>*</span>
          <%= form.number_field :service_counts, id: :provided_service_service_counts, class: "form-control" %>
        </div>

      <% end %>

      <% if provided_service.new_record? %>

        <div class="form-group">
          <%= form.label :target_service_ids, "対象サービスタイプ", class: 'colibri-form-label' %>
          <%= form.collection_select(:target_service_ids, @services, :id, :title, {},multiple: true, id: 'chosen-target-services')  %>
        </div>
      
      <% end %>

      <%= form.hidden_field :planning_id, value: @planning.id %>


      <div class="actions">

        <%= form.submit 'セーブする', class: 'btn btn-info' %>
        <% unless provided_service.new_record? %>
          <%= link_to '削除', provided_service, method: :delete, data: {confirm: 'この実績が削除されます'}, class: 'btn btn-danger' %>
        <% end %>
      </div>
  </div>


<% end %>
