<div class='colibri-dashboard-container-row'>
    <div class='colibri-dashboard-subcontainer'>
        <div class='colibri-subcontainer-header'>
          <span class='colibri-subcontainer-title'>利用状況(本日)</span>
        </div>
          <div class='colibri-subcontainer-body  scrollbar-custom colibri-scrollbar-light'>
            <table class='table'>
              <thead>
                <tr>
                  <th class="table-important-fields">サービス</th>
                  <th class="table-important-fields">女</th>
                  <th class="table-important-fields">男</th>
                  <th class="table-important-fields">計</th>
                </tr>
              </thead>
              <tbody>
                <%  daily_appointments.group_by(&:title).each do |service_name, appointments| %>
                  <tr>
                    <td><%= service_name %></td>
                    <td><%= appointments.select{|appointment| female_patients_ids.include?(appointment.patient_id)}.count %></td>
                    <td><%= appointments.select{|appointment| male_patients_ids.include?(appointment.patient_id)}.count %></td>
                    <td><%= appointments.count %></td>
                  </tr>
                <% end %>
                <tr>
                  <td class='table-important-fields'>合計</td>
                  <td class='table-important-fields'><%= daily_appointments.select{|a| female_patients_ids.include?(a.patient_id)}.count %></td>
                  <td class='table-important-fields'><%= daily_appointments.select{|a| male_patients_ids.include?(a.patient_id)}.count %></td>
                  <td class='table-important-fields'><%= daily_appointments.count %></td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>

    <div class='colibri-dashboard-subcontainer'>
      <div class='colibri-subcontainer-header'>
        <span class='colibri-subcontainer-title'>利用状況（今週）</span>
      </div>
      <div class="colibri-subcontainer-body scrollbar-custom colibri-scrollbar-light">
        <table class="table">
          <thead>
            <tr>
              <th class="table-important-fields">サービス</th>
              <th class="table-important-fields">女</th>
              <th class="table-important-fields">男</th>
              <th class="table-important-fields">計</th>
            </tr>
          </thead>
          <tbody>
            <%  weekly_appointments.group_by(&:title).each do |service_name, appointments| %>
              <tr>
                <td><%= service_name %></td>
                <td><%= appointments.select{|appointment| @female_patients_ids.include?(appointment.patient_id)}.count %></td>
                <td><%= appointments.select{|appointment| @male_patients_ids.include?(appointment.patient_id)}.count %></td>
                <td><%= appointments.count %></td>
              </tr>
            <% end %>
              <tr>
                <td class='table-important-fields'>合計</td>
                <td class='table-important-fields'><%= weekly_appointments.select{|a| female_patients_ids.include?(a.patient_id)}.count %></td>
                <td class='table-important-fields'><%= weekly_appointments.select{|a| male_patients_ids.include?(a.patient_id)}.count %></td>
                <td class='table-important-fields'><%= weekly_appointments.count %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class='colibri-dashboard-subcontainer'>
      <div class='colibri-subcontainer-header'>
        <span class='colibri-subcontainer-title'>利用状況(今月)</span>
      </div>
      <div class='colibri-subcontainer-body scrollbar-custom colibri-scrollbar-light'>
        <table class='table'>
          <thead>
            <tr>
              <th class="table-important-fields">サービス</th>
              <th class="table-important-fields">女</th>
              <th class="table-important-fields">男</th>
              <th class="table-important-fields">計</th>
            </tr>
          </thead>
          <tbody>
            <%  monthly_appointments.group_by(&:title).each do |service_name, appointments| %>
              <tr>
                <td><%= service_name %></td>
                <td><%= appointments.select{|appointment| @female_patients_ids.include?(appointment.patient_id)}.count %></td>
                <td><%= appointments.select{|appointment| @male_patients_ids.include?(appointment.patient_id)}.count %></td>
                <td><%= appointments.count %></td>
              </tr>
            <% end %>
              <tr>
                <td class='table-important-fields'>合計</td>
                <td class='table-important-fields'><%= monthly_appointments.select{|a| female_patients_ids.include?(a.patient_id)}.count %></td>
                <td class='table-important-fields'><%= monthly_appointments.select{|a| male_patients_ids.include?(a.patient_id)}.count %></td>
                <td class='table-important-fields'><%= monthly_appointments.count %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class='colibri-dashboard-container-row-large'>
    <div class='colibri-dashboard-subcontainer'>
      <div class='colibri-subcontainer-header'>
        <span class='colibri-subcontainer-title'>本日のサービス</span>
      </div>
        <div class='colibri-subcontainer-body scrollbar-custom colibri-scrollbar-light'>
          <table class='table'>
            <thead>
              <tr>
                <th class="table-important-fields">利用者名</th>
                <th class="table-important-fields">性別</th>
                <th class="table-important-fields">訪問時間</th>
                <th class="table-important-fields">従業員</th>
                <th class="table-important-fields">サービスタイプ</th>
                <th class="table-important-fields">確認する</th>
              </tr>
            </thead>
            <tbody>
              <% daily_salary_line_items.each do |nurse_id, salary_line_item_array| %>
                <% salary_line_item_array.each do |salary_line_item| %>
                  <tr>
                    <td><%= salary_line_item.patient.try(:name) %></td>
                    <td><%= patient_gender(salary_line_item.patient) %></td>
                    <td><%= "#{salary_line_item.appointment_start.strftime('%H:%M')} ~ #{salary_line_item.appointment_end.strftime('%H:%M')}" if salary_line_item.appointment_end.present? && salary_line_item.appointment_start.present? %></td>
                    <td><%= salary_line_item.nurse.try(:name) %></td>
                    <td><%= salary_line_item.title %></td>
                    <td class='verify-provided-service' id='provided-service-<%= salary_line_item.id %>'>
                      <% if salary_line_item.verified? %>
                          <div><span class='glyphicon glyphicon-check'  style="color: #42B97C"></span></div>
                          <%= link_to "#{salary_line_item.verifier.try(:name)} #{salary_line_item.try(:verified_at).strftime('%-m月%-d日')}", toggle_verified_salary_line_item_path(salary_line_item), remote: true, method: :patch, class: 'verified-at-and-by', data: {confirm: '実績の確認が解除されます'} %>
                      <% else %>
                        <%= link_to '確認', toggle_verified_salary_line_item_path(salary_line_item), method: :patch, remote: :true, class: 'btn btn-success btn-sm' if !salary_line_item.verified? %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
</div>