<div id="planning-menu-container" class="no-print">
	<div id="planning-menu-list">
		<ul class="nav nav-tabs">
			<li class="planning-menu-items planning-menu-selected" data-url="<%= planning_path(@planning) %>" title="全体">全</li>
			<li class="planning-menu-items" data-url="<%= planning_patient_path(@planning, @last_patient) %>" title="個別">個</li>
			<% if current_user.has_admin_access? %>
				<li class="planning-menu-items" data-url="<%= planning_nurse_payable_path(@planning, @last_nurse) %>" title="給与管理">給</li>
			<% end %>
			<li class="planning-menu-items" data-url="<%= planning_activities_path(@planning) %>" title="編集履歴">歴</li>
			<li class="planning-menu-items" data-url="<%=  planning_patient_master_path(@planning, @last_patient) %>" title="マスター">マ</li>
			<% if current_user.has_admin_access? %>
				<li class="planning-menu-items"  data-url="<%=  planning_settings_path(@planning) %>" title="設定"><span class='glyphicon glyphicon-cog' style='color:#94979A'></span></li>
			<% end %>
		</ul>
	</div>
	
</div>

