<div id="planning-menu-container" class="no-print">
	<div id="planning-menu-list">
		<ul id="left-menu-ul" class="nav-tabs">
			<li class="planning-menu-items colibri-clickable-link <%= 'planning-menu-selected' if view == 'home' %>" data-url="<%= authenticated_root_path %>" title="ホーム.ダッシュボード"><span class="glyphicon glyphicon-home"  style="<%= view == 'home' ? 'color:white' : 'color:#97A0A8' %>;font-size:24px"></span></li>
			<li class="planning-menu-items colibri-clickable-link  <%= 'planning-menu-selected' if view == 'resource' %>" data-url="<%= planning_path(@planning) %>" title="実績シフト"><span class="glyphicon glyphicon-calendar"  style="<%= view == 'resource' ? 'color:white' : 'color:#97A0A8' %>;margin-left:3px;font-size:24px"></span></li>
			<% unless current_user.has_restricted_access? %>
				<li class="planning-menu-items colibri-clickable-link  <%= 'planning-menu-selected' if view == 'payable' %>" data-url="<%= resource_payable_path %>" id="go-to-payable" title="給与.請求">給</li>
			<% end %>
			<li class="planning-menu-items colibri-clickable-link <%= 'planning-menu-selected' if view == 'master' %>" data-url="<%=  planning_master_path(@planning) %>" title="マスター">マ</li>
			<% unless current_user.role == "nurse_restricted" %>
				<li class="planning-menu-items colibri-clickable-link <%= 'planning-menu-selected' if view == 'settings' %>"  data-url="<%= patients_path %>" title="設定"><span class='glyphicon glyphicon-cog' style="<%= view == 'settings' ? 'color:white' : 'color:#97A0A8' %>;font-size:25px"></span></li>
			<% end %>
		</ul>
	</div>
	
</div>

