<div id="planning-menu-container" class="no-print">
	<div id="planning-menu-title">
		<%= @planning.title %>
	</div>

	<div id="planning-menu-list" class="no-print">
		<ul class="nav nav-tabs">
			<li class="planning-menu-items" data-url="<%= planning_path(@planning)%>">全体</li>
			<li class="planning-menu-items" data-url="<%= planning_patients_path(@planning) %>">利用者別</li>
			<li class="planning-menu-items planning-menu-selected" data-url="<%= planning_nurses_path(@planning) %>">ヘルパー別</li>
			<li class="planning-menu-items" data-url="<%= planning_master_path(@planning) %>">マスター</li>
			<li class="planning-menu-items" data-url="<%= planning_activities_path(@planning) %>">編集履歴</li>
		</ul>
	</div>
	
</div>
 