<div id="planning-menu-container" class="no-print">
	<div id="planning-menu-list" class="no-print">
		<ul class="nav nav-tabs" class="no-print">
			<li class="planning-menu-items" data-url="<%= planning_path(@planning) %>" title="全体">全</li>
			<% if @nurse.present? %>
				<li class="planning-menu-items" data-url="<%= planning_nurse_path(@planning, @nurse) %>" title="個別">個</li>
			<% elsif @patient.present? %>
				<li class="planning-menu-items" data-url="<%= planning_patient_path(@planning, @patient) %>" title="個別">個</li>
			<% end %>
			<% if current_user.admin? %>
				<li class="planning-menu-items" data-url="<%= planning_nurse_payable_path(@planning, @last_nurse) %>" title="給与管理">給</li>
			<% end %>
			<li class="planning-menu-items" data-url="<%= planning_activities_path(@planning) %>" title="編集履歴">歴</li>
			<li class="planning-menu-items planning-menu-selected" data-url="<%=  planning_patient_master_path(@planning, @last_patient) %>" title="マスター">マ</li>
		</ul>
	</div>
	
</div>


