<div id="resource-list-container" class="no-print">
	<div id="toggle-patients-nurses-wrapper">
		<div id="toggle-switch-patients" class="no-print btn btn-info colibri-toggle-switch" style="<%= 'display:none' if resource_type == 'nurse' %>">
			<div style="display:inline-block" class="colibri-toggle-text-left">利用者</div>
			<div class="btn btn-light colibri-toggle-handle colibri-handle-left"></div>
		</div>
		<div id="toggle-switch-nurses" class="no-print btn btn-info colibri-toggle-switch" style="<%= 'display:none' if resource_type == 'patient' %>">
			<div class="btn btn-light colibri-toggle-handle colibri-handle-right"></div>
			<div style="display:inline-block" class="colibri-toggle-text-right">従業員</div>
		</div>
	</div>
	<div id="resource-container" class="scrollbar-custom colibri-scrollbar-dark">
		<div id="patients-resource" class="no-print <%= 'hide-resource' if resource_type == 'nurse' %>">
			<div class="nurses-resource-subsection-title resource-title-selectable colibri-clickable-link" data-url="<%= master_resource ? planning_all_patients_master_path(@planning) : planning_all_patients_path(@planning) %>">利用者全員</div>
			
			<% @patients_grouped_by_kana.each do |kana, patients| %>
				<div class="nurses-resource-subsection-title"><%= kana %></div>
				<% patients.each do |patient| %>
					<p class="resource-list-element colibri-clickable-link <%= 'resource-selected' if individual_resource == 'true' && resource_type == 'patient' && patient.id == @patient.id %>" data-url="<%= master_resource ? planning_patient_master_path(@planning, patient) : planning_patient_path(@planning, patient) %>"><%= patient.try(:name) %></p>
				<% end %>
			<% end %>
		</div>
		<div id="nurses-resource" class="no-print <%= 'hide-resource' if resource_type == 'patient' %>">

			<div class="nurses-resource-subsection-title resource-title-selectable colibri-clickable-link" data-url="<%= master_resource ? planning_all_nurses_master_path(@planning) : planning_all_nurses_path(@planning) %>">従業員全員</div>

			<% today = Date.today %>
			<% @grouped_nurses.each do |group, nurses| %>
				<div class="nurses-resource-subsection-title <%= 'resource-title-selectable colibri-clickable-link' if @teams_id_by_name.present? %>" data-url='<%= "/plannings/#{@planning.id}/teams/#{@teams_id_by_name[group]}" if @teams_id_by_name.present? %><%= "/master" if master_resource %>'><%= group %></div>
				<% nurses.each do |nurse| %>
					<p class="resource-list-element colibri-clickable-link <%= 'resource-selected' if individual_resource == 'true' && resource_type == 'nurse' && nurse.id == @nurse.id %>" data-url="<%= master_resource ? planning_nurse_master_path(@planning, nurse) : planning_nurse_path(@planning, nurse) %>"><%= nurse.try(:name) %></p>
				<% end %>
			<% end %>
		</div>
	</div>
</div>