<div id="resource-list-container" class="no-print">
	<div id="close-resource-list">
		<span class="close" id="close-resource">&times;</span>
	</div>
	<div id="toggle-patients-nurses-wrapper">
		<div id="toggle-switch-patients" class="no-print btn btn-colibri-light-gray colibri-toggle-switch" style="<%= 'display:none' if resource_type == 'nurse' %>">
			<div style="display:inline-block" class="colibri-toggle-text-left"><%= client_resource_name(@corporation.business_vertical) %></div>
			<div class="btn btn-light colibri-toggle-handle colibri-handle-left"></div>
		</div>
		<div id="toggle-switch-nurses" class="no-print btn btn-colibri-light-gray colibri-toggle-switch" style="<%= 'display:none' if resource_type == 'patient' %>">
			<div class="btn btn-light colibri-toggle-handle colibri-handle-right"></div>
			<div style="display:inline-block" class="colibri-toggle-text-right">従業員</div>
		</div>
	</div>
	<div id="resource-container" class="scrollbar-custom colibri-scrollbar-dark">
		<div id="patients-resource" class="no-print <%= 'hide-resource' if resource_type == 'nurse' %>">
			<div class="nurses-resource-subsection-title resource-title-selectable colibri-clickable-link" data-url="<%= link_to_all_patients_from_view(view, @planning, {month: @selected_month, year: @selected_year}) %>">全<%= client_resource_name(@corporation.business_vertical) %></div>
			
			<% @patients_grouped_by_kana.each do |kana, patients| %>
				<div class="nurses-resource-subsection-title nurse-subsection-toggleable resource-title-selectable">
					<%= kana %>
					<span style="float:right;<%= 'display:none' if @patient.present? && patients.ids.include?(@patient.id) %>" class="toggle-down"><%= image_tag 'menu_thin_chevron_down.svg', width: '17px' %></span>
					<span style="float:right;<%= 'display:none' unless @patient.present? && patients.ids.include?(@patient.id) %>" class="toggle-down"><%= image_tag 'menu_thin_chevron_up.svg', width: '17px' %></span>
				</div>
				<div class="nurse-subsection-toggleable" style="<%= 'display:none' unless @patient.present? && patients.ids.include?(@patient.id) %>">
					<% patients.each do |patient| %>
						<p id='<%= "patient_#{patient.id}" %>' class="resource-list-element colibri-clickable-link <%= 'resource-selected' if individual_resource == 'true' && resource_type == 'patient' && patient.id == @patient.try(:id) %>" data-url="<%= link_to_planning_patient_from_view(view, @planning, patient, {month: @selected_month, year: @selected_year}) %>"><%= patient.try(:name) %></p>
					<% end %>
				</div>
			<% end %>
		</div>
		<div id="nurses-resource" class="no-print <%= 'hide-resource' if resource_type == 'patient' %>">

			<div class="nurses-resource-subsection-title resource-title-selectable colibri-clickable-link" data-url="<%= link_to_all_nurses_from_view(view, @planning, {month: @selected_month, year: @selected_year}) %>">従業員全員</div>

			<% today = Date.today %>
			<% @grouped_nurses.each do |group, nurses| %>
				<div class="nurses-resource-subsection-title <%= 'resource-title-selectable colibri-clickable-link' if @teams_id_by_name.present? %>" data-url='<%= "/plannings/#{@planning.id}/teams/#{@teams_id_by_name[group]}" if @teams_id_by_name.present? %><%= case view when 'master' then '/master' when 'payable' then '/payable' else '' end %><%= "?m=#{@selected_month}&y=#{@selected_year}" if @selected_month.present? && @selected_year.present? %>'><%= group %></div>
				<% nurses.each do |nurse| %>
					<p id='<%= "nurse_#{nurse.id}" %>' class="resource-list-element colibri-clickable-link <%= 'resource-selected' if individual_resource == 'true' && resource_type == 'nurse' && nurse.id == @nurse.try(:id) %>" data-url="<%= link_to_planning_nurse_from_view(view, @planning, nurse, {month: @selected_month, year: @selected_year}) %>"><%= nurse.try(:name) %></p>
				<% end %>
			<% end %>
		</div>
	</div>
</div>