
<%= javascript_tag do %>
	window.popoverFocusAllowed = <%= true %> 
	window.currentResourceType = 'nurse'
	window.currentResourceId = 'all'
<% end %>

<%= render partial: 'plannings/planning_left_menu', locals: {view: 'payable', resource_payable_path: planning_all_nurses_payable_path(@planning, params: {m: @selected_month, y: @selected_year})} %>

<%= render partial: 'plannings/resources_submenu', locals: {individual_resource: 'false', resource_type: 'nurse', view: 'payable'} %>


<div id="payable-container">
	<% if current_user.corporation_admin? %>
		<div class='colibri-xs-title no-print' style='margin-left:5px'>統計.データ</div>
		<div class='no-print' style='margin-left:5px'>
			<%= select_tag '年', options_for_select([['2018年', 2018],['2019年', 2019], ['2020年', 2020], ['2021年', 2021]], params[:y]), id: 'query_year' %>
			<%= select_tag '月', options_for_select([['1月', 1],['2月', 2], ['3月', 3], ['4月', 4], ['5月',5], ['6月',6], ['7月', 7], ['8月', 8], ['9月', 9], ['10月', 10], ['11月', 11], ['12月', 12]], params[:m]), id: 'query_month' %>
			<button id='payable-query-trigger' class='btn-colibri-light btn btn-sm'><span class="glyphicon glyphicon-refresh" style="color:#5f6368;font-size:0.85em"></span></button>
		</div>
		<% if @corporation.teams.any? %>
			<div class='colibri-dashboard-container-row no-print'>
				<div class='colibri-dashboard-subcontainer'>
					<div class='colibri-subcontainer-header'>
						<span class='colibri-subcontainer-title'>チーム実績</span>
					</div>
					<div class="colibri-subcontainer-body" style="padding-top:8px" id="revenue-per-team-report" data-url="<%= corporation_revenue_per_team_report_path(@corporation, params: {m: params[:m], y: params[:y]}) %>">
					</div>
				</div>
			</div>
		<% end %>
		<div class='colibri-dashboard-container-row no-print'>
			<div class='colibri-dashboard-subcontainer-no-width' style="width:40%!important">
				<div class='colibri-subcontainer-header'>
					<span class='colibri-subcontainer-title'>データをダウンロードする</span>
				</div>
				<div class='colibri-subcontainer-body'>
					<table class='table'>
						<tbody>
							<tr>
								<td style="width:66%">従業員別実績</td>
								<td style="width:34%"><%= link_to '<i class="glyphicon glyphicon-download" style="color:white;font-size:16px"></i> エクセル'.html_safe, planning_monthly_general_report_path(@planning, format: :xlsx, params: {m: params[:m], y: params[:y]}), class: 'btn btn-success btn-sm text-white' %></td>
							</tr>
							<% if @corporation.elderly_care_and_nursing? %>
								<tr>
									<td style="width:66%">チーム別実績</td>
									<td style="width:34%"><div class="btn btn-sm btn-success text-white" id="teams-report"><i class="glyphicon glyphicon-download" style="color:white;font-size:16px"></i> エクセル</div></td>
								</tr>
								<tr>
									<td style="width:66%">新規利用者</td>
									<td style="width:34%"><%= link_to '<i class="glyphicon glyphicon-download" style="color:white;font-size:16px"></i> エクセル'.html_safe, planning_recent_patients_report_path(@planning, format: :xlsx), class: 'btn btn-success btn-sm text-white' %></td>
								</tr>
							<% end %>
						</tbody>
					</table>				
				</div>
			</div>
			<div class='colibri-dashboard-subcontainer-no-width' id='category-container' style="width:60%!important">
				<div class='colibri-subcontainer-header' style='display:flex;justify-content:space-between'>
					<div>
						<span class='colibri-subcontainer-title'>サービスタイプ割合</span><span style="font-size:0.9em;color:#aaa">(<%= "#{params[:m]}月稼動時間合計より" %>)</span>
					</div>
					<div class='btn btn-sm btn-colibri-light' id='service-type-filter'>
						<span class='glyphicon glyphicon-filter' style='color:#5f6368;font-size:14px'></span>フィルター
					</div>
				</div>
				<div class='colibri-subcontainer-body' id='category-subcontainer'>
				</div>
			</div>
		</div>
	<% end %>

	<% if @corporation.elderly_care_and_nursing? %>
	
		<div id='extended-daily-summary-title-container'>
			<div class='colibri-xs-title'>業務日報</div>
			<div class='small-side-margins'><%= text_field_tag 'query_date', "#{Date.today.strftime("%Y-%m-%d")}", {data: {url: dashboard_extended_daily_summary_path}} %></div>
			<div class='btn btn-sm btn-success text-white small-side-margins no-print' id='print-button'>印刷</div>
		</div>

		<div id='extended-daily-summary-container'>
			<%= render partial: 'extended_daily_summary', locals: {daily_appointments: @daily_appointments, weekly_appointments: @weekly_appointments, monthly_appointments: @monthly_appointments, female_patients_ids: @female_patients_ids, male_patients_ids: @male_patients_ids} %>
		</div>
	<% end %>
</div>

<div id="team-report-range" class="modal fade" style="display:none">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">チームレポート期間を選択する</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
			 <div class="form-group">
				<%= label_tag :report_range, "対象期間", class: "colibri-form-label-dark" %><span class='required-field'>*</span> 
				<%= text_field_tag :report_range, value=nil, {class: 'form-control'} %>
			 </div>

			 <div class="form-group">
			  <button class="btn btn-block btn-info text-white" id="teams-report-download" data-url="<%= planning_teams_report_path(@planning, format: :xlsx) %>">データをダウンロードする</button>
			 </div>
			</div>
		</div>
	</div>
</div>