<%= render partial: 'plannings/planning_left_menu', locals: {view: 'payable', resource_path: planning_all_nurses_path(@planning), resource_master_path: planning_all_nurses_master_path(@planning), resource_payable_path: planning_all_nurses_payable_path(@planning, params: {m: @selected_month, y: @selected_year})} %>

<%= render partial: 'plannings/resources_submenu', locals: {individual_resource: 'false', resource_type: 'nurse', view: 'payable'} %>


<div id="payable-container">
	<% if current_user.corporation_admin? %>
	
		<div class='colibri-xs-title no-print' style='margin-left:5px'>統計.データ</div>
		<div class='no-print'>
			<%= select_tag '年', options_for_select([['2018年', 2018],['2019年', 2019], ['2020年', 2020], ['2021年', 2021]], params[:y]), id: 'query_year' %>
			<%= select_tag '月', options_for_select([['1月', 1],['2月', 2], ['3月', 3], ['4月', 4], ['5月',5], ['6月',6], ['7月', 7], ['8月', 8], ['9月', 9], ['10月', 10], ['11月', 11], ['12月', 12]], params[:m]), id: 'query_month' %>
			<button id='payable-query-trigger' class='btn-colibri-light-gray btn btn-sm'><span class="glyphicon glyphicon-refresh" style="color:white;font-size:0.85em"></span></button>
		</div>
		<div class='colibri-dashboard-container-row no-print'>
			<div class='colibri-dashboard-subcontainer'>
				<div class='colibri-subcontainer-header'>
					<span class='colibri-subcontainer-title'>データをダウンロードする</span>
				</div>
				<div class='colibri-subcontainer-body'>
					<table class='table'>
						<thead>
							<tr>
								<th>レポート名</th>
								<th>アクション</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>従業員別実績</td>
								<td><%= link_to '<i class="glyphicon glyphicon-download" style="color:white;font-size:16px"></i> エクセル'.html_safe, planning_monthly_general_report_path(@planning, format: :xlsx, params: {m: params[:m], y: params[:y]}), class: 'btn btn-success btn-sm text-white' %></td>
							</tr>
							<tr>
								<td>チーム別実績</td>
								<td><div class="btn btn-sm btn-success text-white" id="teams-report"><i class="glyphicon glyphicon-download" style="color:white;font-size:16px"></i> エクセル</div></td>
							</tr>
							<tr>
								<td>新規利用者</td>
								<td><%= link_to '<i class="glyphicon glyphicon-download" style="color:white;font-size:16px"></i> エクセル'.html_safe, planning_recent_patients_report_path(@planning, format: :xlsx), class: 'btn btn-success btn-sm text-white' %></td>
							</tr>
						</tbody>
					</table>				
				</div>
			</div>
			<div class='colibri-dashboard-subcontainer' id='category-container'>
				<div class='colibri-subcontainer-header'>
					<span class='colibri-subcontainer-title'>サービスタイプ割合  <span style="font-size:0.9em;color:#aaa">(<%= "#{params[:m]}月稼動時間合計より" %>)<span></span>
				</div>
				<div class='colibri-subcontainer-body' id='category-subcontainer'>

					<div id="service-category-chart-container" style='margin-top:15px;margin-bottom:15px'>
						<%= pie_chart @provided_services_grouped_by_category.map{|k,v| [category_name_by_key(k), v[:weighted_service_duration_percentage]]}, width: '90%', height: '70%', legend: 'right', suffix: '%', donut: true, colors: ['#7AD5DE', '#FFDA62', '#FD9BA6', '#9EE493', '#F58F29', '#5299D3', '#BEA9EF', '#8B5D33', '#DDEDAA', '#5E5C6C'] %>
					</div>
					<p style='text-align:center' id='see-more-service-category-data'>↓もっと見る↓</p>
					<table class='table'>
						<thead>
							<tr>
								<th>タイプ</th>
								<th>給与計</th>
								<th>稼動時間計</th>
								<th>時間割合</th>
								<th>件数</th>
							</tr>
						</thead>
						<tbody>
							<% @provided_services_grouped_by_category.each do |category_key, category_hash| %>
								<tr>
									<td><%= category_name_by_key(category_key) %></td>
									<td><%= category_hash[:sum_weighted_total_wage].to_i %>￥</td>
									<td><%= from_seconds_to_hours_minutes(category_hash[:sum_weighted_service_duration]) %></td>
									<td><%= category_hash[:weighted_service_duration_percentage] %>%</td>
									<td><%= category_hash[:sum_count] %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	
		<div class='colibri-xs-title no-print' style='margin-left:5px;margin-top:20px'>カスタム手当</div>

    <%= link_to '+新規手当', new_salary_rule_path, remote: true, class: 'btn btn-info no-print', style: 'margin-left:5px;margin-top:8px' %>

		<div class='colibri-dashboard-container-row no-print'>
		  <div class='colibri-dashboard-subcontainer' id='colibri-salary-rules-index'>
			</div>
		</div>

	<% end %>
	

	<div id='extended-daily-summary-title-container'>
    <div class='colibri-xs-title'>業務日報</div>
    <div class='small-side-margins'><%= text_field_tag 'query_date', "#{Date.today.strftime("%Y-%m-%d")}", {data: {url: dashboard_extended_daily_summary_path}} %></div>
    <div class='btn btn-sm btn-success text-white small-side-margins no-print' id='print-button'>印刷</div>
  </div>

  <div id='extended-daily-summary-container'>
    <%= render partial: 'extended_daily_summary', locals: {daily_appointments: @daily_appointments, weekly_appointments: @weekly_appointments, monthly_appointments: @monthly_appointments, daily_provided_services: @daily_provided_services, female_patients_ids: @female_patients_ids, male_patients_ids: @male_patients_ids} %>
  </div>
</div>

<div id="team-report-range" class="modal fade" style="display:none">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">チームレポート期間を選択する</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
			 <div class="form-group">
				<%= label_tag :report_range, "対象期間", class: "colibri-form-label-dark" %><span class='required-field'>*</span> 
				<%= text_field_tag :report_range, value=nil, {class: 'form-control'} %>
			 </div>

			 <div class="form-group">
			  <button class="btn btn-block btn-info text-white" id="teams-report-download" data-url="<%= planning_teams_report_path(@planning, format: :xlsx) %>">データをダウンロードする</button>
			 </div>
			</div>
		</div>
	</div>
</div>