<%= javascript_tag do %>
	window.appointmentsURL = "<%= j planning_appointments_url(@planning, params: {patient_resource: true}) %>";
	window.resourceUrl = "<%= j corporation_patients_url(@corporation, format: :json) %>";
	window.selectActionUrl = "<%= j new_calendar_event_path %>";
	window.privateEventsUrl = "<%= j planning_private_events_url(@planning) %>";
	window.defaultView = "<%= j @corporation.default_view %>";
	window.minTime = "<%= j current_user.corporation.business_start_hour %>";
	window.maxTime = "<%= j current_user.corporation.business_end_hour %>";
	window.planningId = "<%= j @planning.id.to_s %>";
	window.firstDay = "<%= j @corporation.default_first_day.to_s %>";
	window.holidays = "<%= j HolidayJp.between((Date.today - 1.year), (Date.today + 1.year)).to_json.html_safe %>"
	window.masterSchedule = 'false';
	window.generalPlanning = 'true';
    window.resourceLabel = '利用者';
    window.resourceType = 'patient';
<% end %>


<%= render partial: 'planning_left_menu', locals: {nurse: @main_nurse, resource_path: planning_nurse_path(@planning, @main_nurse), resource_master_path: planning_nurse_master_path(@planning, @main_nurse), view: 'resource'} %>

<%= render partial: 'plannings/resources_submenu', locals: {individual_resource: 'false', resource_type: 'patient', master_resource: false} %>

<div id="detail-container">
  <div id="detail-planning-container">
		<div id="planning-container">
			<div class="calendar"></div>
		</div>
  </div>
</div>

<div id="drag-drop-confirm" style="display: none" title="サービス編集確認">
	<p>下記の編集がセーブされます：</p>
	<div id="drag-drop-content"></div>
</div>

<%= render 'plannings/nurse_conflict_days' %>

<%= render 'plannings/batch_action_button' %>




