
<%= javascript_tag do %>
	window.popoverFocusAllowed = <%= true %> 
	window.currentResourceType = 'nurse'
	window.currentResourceId = 'all'
<% end %>

<% if request.variant.phone? %>
	<%= render partial: 'plannings/phone_bottom_menu', locals: {view: 'payable', resource_payable_path: planning_all_nurses_payable_path(@planning, params: {m: @selected_month, y: @selected_year})} %>
<% else %>
	<%= render partial: 'plannings/planning_left_menu', locals: {view: 'payable', resource_payable_path: planning_all_nurses_payable_path(@planning, params: {m: @selected_month, y: @selected_year})} %>
<% end %>

<%= render partial: 'plannings/resources_submenu', locals: {individual_resource: 'false', resource_type: 'nurse', view: 'payable'} %>

<div id="menu-backdrop">
</div>
<div id="payable-container">
	<% if current_user.corporation_admin? %>

		<div id="payable-title-wrapper">
			<div id="payable-menu">
				<%= image_tag 'hamburger_icon_white.svg', size: '35', class: 'hamburger_menu'  %>
			</div>
			<div class='colibri-xs-title colibri-payable-title no-print' style='margin-left:5px'>統計.データ</div>
		</div>

		<div class="payable-body">
			<div class='no-print' style='margin-left:5px;margin-top: 5px;'>
				<%= select_tag '年', options_for_select([['2018年', 2018],['2019年', 2019], ['2020年', 2020], ['2021年', 2021]], params[:y]), id: 'query_year' %>
				<%= select_tag '月', options_for_select([['1月', 1],['2月', 2], ['3月', 3], ['4月', 4], ['5月',5], ['6月',6], ['7月', 7], ['8月', 8], ['9月', 9], ['10月', 10], ['11月', 11], ['12月', 12]], params[:m]), id: 'query_month' %>
				<button id='payable-query-trigger' class='btn-colibri-light-gray btn btn-sm'><span class="glyphicon glyphicon-refresh" style="color:white;font-size:0.85em"></span></button>
			</div>

			<% if @corporation.teams.any? %>
				<div class='colibri-dashboard-container-row no-print'>
					<div class='colibri-dashboard-subcontainer'>
						<div class='colibri-subcontainer-header'>
							<span class='colibri-subcontainer-title'>チーム実績</span>
						</div>
						<div class="colibri-subcontainer-body" style="padding-top:8px" id="revenue-per-team-report" data-url="<%= corporation_revenue_per_team_report_path(@corporation, params: {m: params[:m], y: params[:y]}) %>">
						</div>
					</div>
				</div>
			<% end %>
			<div class='colibri-dashboard-container-row no-print'>
				<div class='colibri-dashboard-subcontainer-no-width forty-percent-width' id="export-data">
					<div class='colibri-subcontainer-header'>
						<span class='colibri-subcontainer-title'>データをダウンロードする</span>
					</div>
					<div class='colibri-subcontainer-body'>
						<table class='table'>
							<tbody>
								<tr>
									<td style="width:66%">従業員別実績</td>
									<td style="width:34%"><%= link_to '<i class="glyphicon glyphicon-download" style="color:white;font-size:16px"></i> エクセル'.html_safe, planning_monthly_general_report_path(@planning, format: :xlsx, params: {m: params[:m], y: params[:y]}), class: 'btn btn-success btn-sm text-white' %></td>
								</tr>
								<tr>
									<td style="width:66%">従業員別給与</td>
									<td style="width:34%"><button id="email-nurses-wages" class="btn btn-sm btn-success text-white"><i class="glyphicon glyphicon-download" style="color:white;font-size:16px"></i> Pdf</button></td>
								</tr>
								<tr>
									<td style="width:66%">キャンセルサービス</td>
									<td style="width:34%"><div class="btn btn-sm btn-success text-white" id="cancelled-report-button"><i class="glyphicon glyphicon-download" style="color:white;font-size:16px"></i> エクセル</div></td>
								</tr>
								<tr>
									<td style="width:66%"><%= params[:m] %>月全サービス</td>
									<td style="width:34%"><%= link_to '<i class="glyphicon glyphicon-download" style="color:white;font-size:16px"></i> エクセル'.html_safe, planning_monthly_appointments_report_path(@planning, params: {m: params[:m], y: params[:y]}), data: {confirm: "全サービスのエクセルをメール（#{@corporation.email}）に送信致します。"}, class: 'btn btn-success btn-sm text-white' %></td>
								</tr>
								<% if @corporation.elderly_care_and_nursing? %>
									<tr>
										<td style="width:66%">チーム別実績</td>
										<td style="width:34%"><div class="btn btn-sm btn-success text-white" id="teams-report"><i class="glyphicon glyphicon-download" style="color:white;font-size:16px"></i> エクセル</div></td>
									</tr>
									<tr>
										<td style="width:66%">新規利用者</td>
										<td style="width:34%"><%= link_to '<i class="glyphicon glyphicon-download" style="color:white;font-size:16px"></i> エクセル'.html_safe, planning_recent_patients_report_path(@planning, format: :xlsx), class: 'btn btn-success btn-sm text-white' %></td>
									</tr>
									<tr>
										<td style="width:66%">業務日報</td>
										<td style="width:34%"><button id="extended-daily-report" class="btn btn-sm btn-success text-white"><i class="glyphicon glyphicon-download" style="color:white;font-size:16px"></i> Pdf</button></td>
									</tr>
								<% end %>
							</tbody>
						</table>				
					</div>
				</div>
				<div class='colibri-dashboard-subcontainer-no-width sixty-percent-width' id='category-container' >
					<div class='colibri-subcontainer-header' style='display:flex;justify-content:space-between'>
						<div>
							<span class='colibri-subcontainer-title'>サービスタイプ割合</span><span id="appointments-by-category-detail" style="font-size:0.9em;color:#aaa">(<%= "#{params[:m]}月稼動時間合計より" %>)</span>
						</div>
						<div class='btn btn-sm btn-colibri-light' id='service-type-filter'>
							<span class='glyphicon glyphicon-filter' style='color:#5f6368;font-size:14px'></span>フィルター
						</div>
					</div>
					<div class='colibri-subcontainer-body' id='category-subcontainer'>
					</div>
				</div>
			</div>
		</div>
	<% end %>

</div>

<div id="team-report-range" class="modal fade" style="display:none">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">チームレポート期間を選択する</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
			 <div class="form-group">
				<%= label_tag :report_range, "対象期間", class: "colibri-form-label-dark" %><span class='required-field'>*</span> 
				<%= text_field_tag :report_range, value=nil, {class: 'form-control'} %>
			 </div>

			 <div class="form-group">
			  　<button class="btn btn-block btn-info text-white" id="teams-report-download" data-url="<%= planning_teams_report_path(@planning, format: :xlsx) %>">データをダウンロードする</button>
			 </div>
			</div>
		</div>
	</div>
</div>

<div id="extended-daily-summary-modal" class="modal fade" style="display:none">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">業務日報オプション</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<%= form_tag(dashboard_extended_daily_summary_path, {method: 'get', target: '_blank'}) do  %>
				<div class="modal-body">
					<div class="form-group">
						<%= label_tag :q, '日付', class: 'colibri-form-label-dark' %>
						<%= text_field_tag :q, value=Date.today.strftime("%Y-%m-%d"), {id: 'extended_report_date', class: 'form-control'} %>
					</div>

					<div class="form-group">
						<%= label_tag :team_id, 'チーム', class: 'colibri-form-label-dark' %>
						<%= select_tag :team_id, options_from_collection_for_select(@corporation.teams, :id, :team_name), {id: :summary_team_select, include_blank: '社員全員'} %>
					</div>
				
				</div>

				<div class="modal-footer">
                    <div class="btn btn-colibri-light" data-dismiss="modal">閉じる</div>
                    <%= submit_tag 'Pdf作成', class: 'btn btn-info', data: {disable_with: false} %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div id="email-nurses-wages-modal" class="modal fade" style="display:none">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">従業員給与</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<%= form_tag(corporation_email_monthly_nurse_wages_path, {method: 'get', remote: 'true'}) do  %>
				<div class="modal-body">

					<div class="form-group">
						<%= label_tag :y, '年', class: 'colibri-form-label-dark' %>
						<%= select_tag :y, options_for_select([['2018年', 2018],['2019年', 2019], ['2020年', 2020], ['2021年', 2021]], params[:y]), {id: :summary_team_select, include_blank: '社員全員'} %>
					</div>
					
					<div class="form-group">
						<%= label_tag :m, '月', class: 'colibri-form-label-dark' %>
						<%= select_tag :m, options_for_select([['1月', 1],['2月', 2], ['3月', 3], ['4月', 4], ['5月',5], ['6月',6], ['7月', 7], ['8月', 8], ['9月', 9], ['10月', 10], ['11月', 11], ['12月', 12]], params[:m]), {class: 'colibri-input'} %>
					</div>

					<div class="form-group">
						<div class='colibri-form-label-darl'>送信先メールアドレス：　<%= @corporation.email %></div>
					</div>
				
				</div>

				<div class="modal-footer">
                    <div class="btn btn-colibri-light" data-dismiss="modal">閉じる</div>
					<%= submit_tag 'メールでPdfを送信', class: 'btn btn-info', data: {disable_with: false} %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div id="cancelled_reports_modal" class="modal fade" style="display:none">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">キャンセルレポート</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
        		<div class="form-group">
					<%= label_tag :query_range, '期間', class: 'colibri-form-bale-dark' %>
					<%= text_field_tag :query_range, value=nil, class: 'form-control', id: :cancelled_reports_query_range %>
				</div>
			</div>
			<div class="modal-footer">
				<div class="btn btn-colibri-light" data-dismiss="modal">閉じる</div>
				<div id="submit-cancelled-report" class="btn btn-success text-white" data-url="<%= planning_cancelled_report_path(@planning, format: :xlsx) %>">エクセル出力</div>
			</div>
		</div>
	</div>
</div>
