<%= render partial: 'plannings/planning_left_menu', locals: {view: 'payable', resource_path: planning_all_patients_path(@planning), resource_master_path: planning_all_patients_master_path(@planning), resource_payable_path: planning_all_patients_payable_path(@planning, params: {m: @selected_month, y: @selected_year})} %>
<%= render partial: 'plannings/resources_submenu', locals: {individual_resource: 'false', resource_type: 'patient', view: 'payable'} %>


<div id="payable-container">
    	
	<div class='colibri-xs-title no-print' style='margin-left:5px'>請求.実績</div>
	<div class='no-print'>
		<%= select_tag '年', options_for_select([['2018年', 2018],['2019年', 2019], ['2020年', 2020], ['2021年', 2021]], params[:y]), id: 'query_year' %>
		<%= select_tag '月', options_for_select([['1月', 1],['2月', 2], ['3月', 3], ['4月', 4], ['5月',5], ['6月',6], ['7月', 7], ['8月', 8], ['9月', 9], ['10月', 10], ['11月', 11], ['12月', 12]], params[:m]), id: 'query_month' %>
		<button id='payable-query-trigger' class='btn-colibri-light-gray btn btn-sm'><span class="glyphicon glyphicon-refresh" style="color:white;font-size:0.85em"></span></button>
	</div>
    <div class='colibri-dashboard-container-row no-print'>
    	<div class='colibri-dashboard-subcontainer'>
			<div class='colibri-subcontainer-header'>
				<span class='colibri-subcontainer-title'>提供表</span>
			</div>
			<div class='colibri-subcontainer-body'>
              <table class="table">
				<% @care_manager_corporations.each do |care_manager_corporation| %>
                    <tr>
                        <td><%= care_manager_corporation.name %></td>
                        <td><%= link_to 'Pdf', care_manager_corporation_teikyohyo_path(care_manager_corporation, params: {m: @selected_month, y: @selected_year}, format: :pdf), class: 'btn btn-sm btn-success' %></td>
                    </tr>
                <% end %>
              </table>
			</div>
		</div>
    	<div class='colibri-dashboard-subcontainer'>
			<div class='colibri-subcontainer-header'>
				<span class='colibri-subcontainer-title'>明細書</span>
			</div>
			<div class='colibri-subcontainer-body'>
			</div>
		</div>
    </div>
</div>