<%= javascript_tag do %>
	window.appointmentsURL = "<%= j planning_appointments_url(@planning, params: {patient_resource: true}) %>";
	window.resourceUrl = "<%= j corporation_patients_url(@corporation, format: :json) %>";
	window.selectActionUrl = "<%= j new_calendar_event_path params: {patient_resource: true} %>";
	window.privateEventsUrl = "<%= j planning_private_events_url(@planning,  params: {patient_resource: true}) %>";
	window.defaultView = "<%= j @corporation.default_view %>";
	window.minTime = "<%= j current_user.corporation.business_start_hour %>";
	window.maxTime = "<%= j current_user.corporation.business_end_hour %>";
	window.planningId = "<%= j @planning.id.to_s %>";
	window.firstDay = "<%= j @corporation.default_first_day.to_s %>";
	window.holidays = "<%= j HolidayJp.between((Date.today - 1.year), (Date.today + 1.year)).to_json.html_safe %>"
	window.masterSchedule = 'false';
	window.generalPlanning = 'true';
    window.resourceLabel = '利用者';
    window.resourceType = 'patient';
<% end %>


<%= render partial: 'planning_left_menu', locals: {resource_path: planning_all_patients_path(@planning), resource_master_path: planning_all_patients_master_path(@planning), resource_payable_path: planning_all_patients_payable_path(@planning, params: {m: Date.today.in_time_zone('Tokyo').month, y: Date.today.in_time_zone('Tokyo').year}), view: 'resource'} %>

<%= render partial: 'plannings/resources_submenu', locals: {individual_resource: 'false', resource_type: 'patient', view: 'resource'} %>

<div id="detail-container">
  <div id="detail-planning-container">
    <div style="display:flex;justify-content:space-between;margin-bottom: 15px">
      <div id="planning-nurse-information">
	  		<span id="resource-name-wrapper">全利用者</span>
	  	</div>
    </div>
		<div id="planning-container">
			<div class="calendar"></div>
		</div>
  </div>
</div>

<%= render 'plannings/drag_drop_modal' %>

<%= render 'plannings/nurse_overlap_modal' %>

<%= render 'plannings/batch_action_button' %>




