<%= javascript_tag do %>
	window.completionReportsSummaryUrl = "<%= j planning_completion_reports_summary_path(@planning) %>"
	window.popoverFocusAllowed = <%= true %>
<% end %>

<%= render partial: 'plannings/planning_left_menu', locals: {view: 'admin_reports', resource_payable_path: planning_nurse_payable_path(@planning, @main_nurse, params: {m: Date.today.in_time_zone('Tokyo').month,y: Date.today.in_time_zone('Tokyo').year})} %>

<div id="menu-backdrop">
</div>

<div id="resource-list-container" class="no-print">
	<div id="close-resource-list">
		<span class="close" id="close-resource">&times;</span>
	</div>

	<div id="resource-container" class="scrollbar-custom colibri-scrollbar-dark">
		<div id="patients-resource" class="no-print">
			<div class="nurses-resource-subsection-title resource-title-selectable colibri-clickable-link" data-url="">全利用者</div>
			<% if @team.present? %>
				<div class="nurses-resource-subsection-title resource-title-selectable colibri-clickable-link" data-url="<%= team_completion_reports_summary_path(@team) %>"><%= @team.team_name %></div>
			<% end %>

			<% PlanningsHelper::HIRAGANAS.each do |kana| %>
				<div class="nurses-resource-subsection-title nurse-subsection-toggleable resource-title-selectable">
					<%= kana %>
					<span style="float:right;<%= 'display:none' if @patient.present? && @patients_grouped_by_kana[kana].present? && @patients_grouped_by_kana[kana].map(&:id).include?(@patient.id) %>" class="toggle-down"><%= image_tag 'menu_thin_chevron_down.svg', width: '17px' %></span>
					<span style="float:right;<%= 'display:none' unless @patient.present? && @patients_grouped_by_kana[kana].present? && @patients_grouped_by_kana[kana].map(&:id).include?(@patient.id) %>" class="toggle-down"><%= image_tag 'menu_thin_chevron_up.svg', width: '17px' %></span>
				</div>
				<div class="nurse-subsection-toggleable" style="<%= 'display:none' unless @patient.present? && @patients_grouped_by_kana[kana].present? && @patients_grouped_by_kana[kana].map(&:id).include?(@patient.id) %>">
					<% (@patients_grouped_by_kana[kana] || []).each do |patient| %>
						<p id='<%= "patient_#{patient.id}" %>' class="resource-list-element colibri-clickable-link <%= 'resource-selected' if patient.id == @patient.try(:id) %>" data-url="<%= patient_completion_reports_summary_path(patient) %>"><%= patient.try(:name) %></p>
					<% end %>
				</div>
			<% end %>
		</div>
    </div>
</div>

<div id="payable-container">
	<div id="payable-title-wrapper">
		<div id="payable-menu">
			<%= image_tag 'hamburger_icon_white.svg', size: '35', class: 'hamburger_menu'  %>
		</div>
		<div class='colibri-xs-title colibri-payable-title no-print' style='margin-left:5px'>全利用者の実施記録</div>
	</div>

    <div class="payable-body">
        <div id="completion-reports-header" style="margin-top:20px;margin-bottom:10px;padding:5px;display:flex;justify-content:space-between" class='no-print'>
            <div style="display:flex">
                <div class="colibri-horizontal-menu-item item-selected" id="select-completed-reports">記録済み (<%= @completion_reports.try(:size) %>)</div>
                <div class="colibri-horizontal-menu-item" id="select-uncompleted-reports">書き残し (<%= @appointments_without_reports.try(:size) %>)</div>
            </div>
			<div style="display:flex" id="completion-reports-query-date-container">
				<div id='japanese-query-date'><%= l(@date, format: '%-m月%-d日 (%a)') %></div>
				<%= text_field_tag :query_date, value=l(@date, format: '%Y-%-m-%-d'), {id: :completion_reports_query_date, style: 'border:none;font-size:0.1em;width:20px;color:white'} %>
				<div class="btn btn-colibri-light" id="date-picker-button"><span style="font-weight:bold;line-height:30px">日付</span>  <span class="glyphicon glyphicon-calendar glyphicon-no-hover-style" style="font-size:14px"></span></div>
			</div>
			<% if false %>
            <div style="display:flex">
                <div style="width:20px" class="btn-colibri-light">日</div>
                <div style="width:20px" class="btn-colibri-light">週</div>
                <div style="width:20px" class="btn-colibri-light">月</div>
            </div>
			<% end %>
        </div>

        <div id="completion-reports-body">
			<div id="completed-reports">
				<table class="table">
					<thead>
						<th style="width:20%">サービス情報</th>
						<th style="width:13%">注意事項</th>
						<th style="width:17%">ケア内容</th>
						<th style="width:38%">特記事項</th>
						<th style="width:12%">アクション</th>
					</thead>
					<tbody>
						<% @completion_reports.each do |completion_report| %>
							<tr>
								<td>
									<div class="reportable-information">
										<div class="reportable-time-information">
											<%= l(completion_report.reportable.starts_at, format: '%-m/%-d (%a) ') %><%= "#{completion_report.reportable.starts_at.strftime('%H:%M')} ~ #{completion_report.reportable.ends_at.strftime('%H:%M')}" %>
										</div>
										<div class="reportable-nurse-patient-information">
											<%= completion_report.reportable.try(:nurse).try(:name) %> > <%= "#{completion_report.reportable.try(:patient).try(:name)}様" %>
										</div>
										<div class="reportable-title">
											<%= completion_report.reportable.try(:title) %>
										</div>
									</div>
								</td>
								<td>
									<%= report_has_changed_from_forecast(completion_report.changed_from_forecast?).html_safe %>
								</td>
								<td class="report-items">
									<div  style="margin:6px;padding:6px;background-color:white">
										<div>
											<%= completion_report_summary(completion_report, detailed: true).html_safe %>
										</div>
										<% if completion_report.changed_from_forecast? %>
											<div class='btn btn-sm btn-colibri-light colibri-tooltip' data-content="<%= completion_report_summary(completion_report.forecasted_report, detailed: false).html_safe %>" style='margin-top:6px'>
												予定と比較
											</div>
										<% end %>
									</div>
								</td>
								<td>
									<div class="completion-report-message-body">
										<%= simple_format(completion_report.general_comment) %>
									</div>
								</td>
								<td><%= link_to '編集', edit_appointment_path(completion_report.reportable), remote: true, class: 'btn btn-sm btn-colibri-light-gray' %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<div id="uncompleted-reports" style="display:none">
				<table class="table">
					<thead>
						<th style="width:20%">日付</th>
						<th style="width:20%">時間</th>
						<th style="width:20%">利用者名</th>
						<th style="width:20%">従業員名</th>
						<th style="width:20%"></th>
					</thead>
					<tbody>
						<% @appointments_without_reports.each do |appointment| %>
							<tr>
								<td><%= l(appointment.starts_at, format: '%-m月%-d日 (%a)') %></td>
								<td><%= "#{appointment.starts_at.strftime('%H:%M')} ~ #{appointment.ends_at.strftime('%H:%M')}" %></td>
								<td><%= "#{appointment.try(:patient).try(:name)}様" %></td>
								<td><%= appointment.try(:nurse).try(:name) %></td>
								<td></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
        </div>
    </div>
</div>