<h1>Plannings</h1>

<table>
  <thead>
    <tr>
      <th>month</th>
      <th>year</th>
    </tr>
  </thead>

  <tbody>
    <% @plannings.each do |planning| %>
      <tr>
        <td><%= planning.business_month %></td>
        <td><%= planning.business_year %></td>
        <td><%= link_to 'Show', planning %></td>
        <td><%= link_to 'Edit', edit_planning_path(planning) %></td>
        <td><%= link_to 'Destroy', planning, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Planning', new_planning_path, class: 'btn btn-info' %>