<%= render 'layouts/planning_menu' %>

<div id="index-container">
    <%= link_to '新規スケジュールを作成する', new_planning_path, class: 'btn btn-info text-white' %><br/>

    <div id="index-table-container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>スケジュール</th>
            <th style="width: '15%'" colspan="2">アクション</th>
          </tr>
        </thead>

        <tbody>
          <% @plannings.each do |planning| %>
            <tr class="clickable-row" data-link="<%= planning_path(planning) %>">
              <td><%= title(planning) %></td>
              <td><%= link_to '詳細', planning %></td>
              <td><%= link_to '削除', planning, method: :delete, data: { confirm: 'サービス、提供されたサービス（給与管理）などを含めてスケジュールが削除されます。' } if current_user.admin? %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>


</div>



