<%= render 'plannings/planning_payable_submenu' %>

<div id="resource-list-container" class="no-print">
  <div id="resource-container" class="scrollbar-custom">
	<div id="nurses-resource" class="no-print">
			<div class="nurses-resource-subsection-title resource-title-selectable"  data-url="<%= planning_payable_path(@planning) %>">全員</div>
			<div class="nurses-resource-subsection-title">正社員</div>
			<% @full_timers.each do |nurse| %>	
				<p class="resource-list-element" data-url="<%= planning_nurse_payable_path(@planning, nurse) %>"><%= nurse.try(:name) %></p>
			<% end %>
			<div class="nurses-resource-subsection-title">非正社員</div>
			<% @part_timers.each do |nurse| %>
				<p class="resource-list-element" data-url="<%= planning_nurse_payable_path(@planning, nurse) %>"><%= nurse.try(:name) %></p>
			<% end %>
	</div>
  </div>
</div>