<%= render 'plannings/planning_settings_submenu' %>

<div id="settings-menu-container" class="no-print">

	<div id="settings-menu-list">
        <ul id="settings-list">
            <li id="settings-options" class="settings-list-element settings-list-element-selected">スケジュールオプション</li>
            <li id="settings-services" class="settings-list-element">サービスタイプ一覧</li>
        </ul>
	</div>

    <div id="delete-planning-action">
        <%= link_to "スケジュールを削除", planning_archive_path(@planning), method: :patch, class: 'btn btn-danger text-white', data: {confirm: 'このスケジュールが削除されます'} %>
    </div>

</div>

<div id="settings-container">
    <div id="planning-options" >
        <h1 class="colibri-small-title">スケジュール設定</h1>
        <%= form_for @corporation do |form| %>
            <div class="form-group">
                <%= form.label :business_start_hour, "日開始時間", class: "colibri-form-label" %>
                <%= form.select :business_start_hour, options_for_select([['06:00', '06:00:00'], ['07:00', '07:00:00'], ['08:00', '08:00:00'], ['09:00', '09:00:00']], @corporation.business_start_hour), class: "form-control" %>
            </div>

            <div class="form-group">
                <%= form.label :business_end_hour, "日終了時間", class: "colibri-form-label" %>
                <%= form.select :business_end_hour, options_for_select([['20:00', '20:00:00'], ['21:00', '21:00:00'], ['22:00', '22:00:00'], ['23:00', '23:00:00'], ['24:00','24:00:00']], @corporation.business_end_hour), class: "form-control" %>
            </div>
            
            <div class="form-group">
                <%= form.label :default_master_view, "マスターレイアウト", class: "colibri-form-label" %>
                <%= form.select :default_master_view, options_for_select([['日','agendaDay'], ['週', 'agendaWeek'], ['月','month']], @corporation.default_master_view), class: "form-control" %>
            </div>

            <div class="form-group">
                <%= form.label :default_individual_view, "個別レイアウト", class: "colibri-form-label" %>
                <%= form.select :default_individual_view, options_for_select([['日', 'agendaDay'], ['週','agendaWeek'], ['月','month']], @corporation.default_individual_view), class: "form-control" %>
            </div>

            <div class="form-group">
                <%= form.label :default_view, "全体レイアウト", class: "colibri-form-label" %>
                <%= form.select :default_view, options_for_select([['日', 'agendaDay'], ['週','agendaWeek'], ['月','month']], @corporation.default_view), class: "form-control" %>
            </div>

            <div class="form-group">
                <%= form.label :default_first_day, "カレンダー開始曜日", class: "colibri-form-label" %>
                <%= form.select :default_first_day, options_for_select([['月曜', 1], ['日曜', 0]], @corporation.default_first_day), class: "form-control" %>
            </div>

            <div class="form-group">
                <%= form.label :email, "リマインダーメール送信元.返信先", class: "colibri-form-label" %><span class='required-field'>*</span>
                <%= form.text_field :email, required: true, class: "form-control" %>
            </div>

            <div class="form-group">
                <%= form.label :custom_email_intro_text, "リマインダーメール定型文1", class: "colibri-form-label" %>
                <%= form.text_area :custom_email_intro_text, class: "form-control" %>
            </div>

            <div class="form-group">
                <%= form.label :custom_email_outro_text, "リマインダーメール定型文2", class: "colibri-form-label" %>
                <%= form.text_area :custom_email_outro_text, class: "form-control" %>
            </div>

            <div class="actions">
                <%= form.submit "セーブする", class: "btn btn-info btn-block form-control" %>
            </div>

        <% end %>
    </div>

    <div id="service-index" >
        <table class="table">
            <thead>
                <tr>
                    <th>タイプ</th>
                    <th>アクション</th>
                </tr>
            </thead>

            <tbody>
                <% @services.each do |service| %>
                    <tr id="service_<%= service.id %>">
                        <th><%= service.title %></th>
                        <th><%= link_to '削除', service_path(service), method: :delete, data: {confirm: 'このサービスタイプが削除されます。スケジュールからサービスは削除されません。'}, class: 'btn btn-danger btn-sm' %></th>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

</div>

