<%= javascript_tag do %>
	window.appointmentsURL = "<%= j planning_appointments_url(@planning) %>";
	window.recurringAppointmentsURL = "<%= j planning_recurring_appointments_url(@planning) %>";
	window.corporationNursesURL = "<%= j corporation_nurses_url(@corporation, format: :json) %>";
	window.createAppointmentURL = "<%= j new_planning_appointment_url(@planning) %>"
<% end %>

<%= render 'layouts/planning_menu' %>

<div id="planning-menu-container">
	<%= render 'planning_view_submenu' %>
</div>

<div id="planning-container">

	<div class="calendar"></div>

	<div id="planning-activity-module">
		<p class="planning-activity-module-title">最新アクティビティ</p>
		<% @activities.each do |activity| %>
			<%= render partial: 'activities/activity', locals: {activity: activity} %>
		<% end %>
	</div>
</div>





<%= link_to 'Edit', edit_planning_path(@planning) %> |
<%= link_to 'Back', plannings_path %>
