<%= javascript_tag do %>
	window.defaultResourceView = '<%= j @corporation.default_view || 'resourceTimeGridDay' %>'
	window.defaultView = '<%= j @corporation.default_individual_view || 'timeGridWeek' %>'
	window.clientResourceName = '<%= j client_resource_name(@corporation.business_vertical) %>'
	window.eventsUrl1 = '<%= j planning_appointments_path(@planning, format: :json) %>'
	window.eventsUrl2 = '<%= j planning_private_events_path(@planning, format: :json) %>'
	window.resourceUrl = '<%= j calendar_resources_url(current_user, @corporation, true) %>'
	window.resourceLabel = '従業員'
	window.defaultResourceType = '<%= j current_user.default_resource_type || "nurse" %>'
	window.defaultResourceId = '<%= j current_user.default_resource_id || "all" %>'
	window.selectActionUrl = "<%= j new_calendar_event_path %>";
	window.minTime = '<%= j @corporation.business_start_hour %>'
	window.maxTime = '<%= j @corporation.business_end_hour %>'
	window.firstDay = '<%= j @corporation.default_first_day.to_s %>'
	window.holidays = "<%= j HolidayJp.between((Date.today - 1.year), (Date.today + 1.year)).to_json.html_safe %>"
	window.userAllowedToEdit = <%= !current_user.schedule_readonly? %>
	window.currentMonth = <%= Date.today.month %>
	window.currentYear = <%= Date.today.year %>
	window.masterCalendar = 'false'
	window.firstDay = <%= @corporation.default_first_day %>
	window.printDates = 'true'
	window.printNurseDates = 'true'
	window.printPatientDates = 'true'
<% end %>

<%= render partial: 'plannings/planning_left_menu', locals: {view: 'resource', resource_payable_path: planning_nurse_payable_path(@planning, @main_nurse, params: {m: Date.today.in_time_zone('Tokyo').month,y: Date.today.in_time_zone('Tokyo').year})} %>


<div id="planning-page-wrapper" data-controller="calendar">
	<div id="resource-list-container" class="no-print">
		<div id="close-resource-list">
			<span class="close" id="close-resource">&times;</span>
		</div>
		<div id="toggle-patients-nurses-wrapper">
			<div id="toggle-switch-patients" class="no-print btn btn-colibri-light-gray colibri-toggle-switch" style="display:none">
				<div style="display:inline-block" class="colibri-toggle-text-left"><%= client_resource_name(@corporation.business_vertical) %></div>
				<div class="btn btn-light colibri-toggle-handle colibri-handle-left"></div>
			</div>
			<div id="toggle-switch-nurses" class="no-print btn btn-colibri-light-gray colibri-toggle-switch">
				<div class="btn btn-light colibri-toggle-handle colibri-handle-right"></div>
				<div style="display:inline-block" class="colibri-toggle-text-right">従業員</div>
			</div>
		</div>
		<div id="resource-container" class="scrollbar-custom colibri-scrollbar-dark">
			<div id="patients-resource" class="no-print hide-resource">
				<div class="nurses-resource-subsection-title resource-title-selectable"
					id="patient_all"
					data-resource-type="patient"
					data-resource-id="all"
					data-fc-resource-url="<%= corporation_patients_url(@corporation, include_undefined: true, resource_type: 'appointments', planning_id: @planning.id, format: :json) %>"
					data-action="click->calendar#navigate">
						全<%= client_resource_name(@corporation.business_vertical) %>
				</div>
				
				<% @patients_grouped_by_kana.each do |kana, patients| %>
					<div class="nurses-resource-subsection-title">
						<%= kana %>
					</div>
					<% patients.each do |patient| %>
						<p 
							id="patient_<%= patient.id %>" 
							data-resource-type="patient" 
							data-resource-id="<%= patient.id %>" 
							class="resource-list-element" 
							data-action="click->calendar#navigate">
							<%= patient.try(:name) %>
						</p>
					<% end %>
				<% end %>
			</div>
			<div id="nurses-resource" class="no-print">
				<div class="nurses-resource-subsection-title resource-title-selectable" 
					id="nurse_all"
					data-resource-type="nurse"
					data-resource-id="all"
					data-fc-resource-url="<%= corporation_nurses_url(@corporation, include_undefined: true, format: :json) %>"
					data-action="click->calendar#navigate">
						従業員全員
				</div>
				<% today = Date.today %>
				<% @grouped_nurses.each do |group_name, nurses| %>
					<div id='<%= "team_#{@teams_id_by_name[group_name]}" if @teams_id_by_name.present? %>' 
						data-resource-id="<%= @teams_id_by_name[group_name] if @teams_id_by_name.present?  %>" 
						data-resource-type="team" 
						data-fc-resource-url="<%= corporation_nurses_url(@corporation, format: :json, include_undefined: true, team_id: @teams_id_by_name[group_name]) if @teams_id_by_name.present? %>"
						class="nurses-resource-subsection-title <%= 'resource-title-selectable' if @teams_id_by_name.present? %>" 
						id='<%= "team_#{@teams_id_by_name[group_name]}" if @teams_id_by_name.present? %>'
						data-action="<%= 'click->calendar#navigate' if @teams_id_by_name.present? %>">
							<%= group_name %>
					</div>
					<% nurses.each do |nurse| %>
						<p 
							id="nurse_<%= nurse.id %>" 
							data-resource-type="nurse" 
							data-resource-id="<%= nurse.id %>" 
							class="resource-list-element" 
							data-action="click->calendar#navigate">
							<%= nurse.try(:name) %>
						</p>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div id="detail-container">
		<div id="detail-planning-container">
			<div id="planning-header">
				<div id="detail-planning-title">
					<div id="planning-nurse-information">
						<div id="payable-menu">
							<%= image_tag 'hamburger_icon.svg', size: '35', class: 'hamburger_menu'  %>
						</div>
						<div class="planning-resource-module-title">
							<span data-target="calendar.resourceName" id="resource-name-wrapper"></span>
						</div>
					</div>
					<div id="planning-top-right-action-container" class="no-print">
						<button id="resource-details-button" class="btn btn-mid-light resource-details-button" style="margin-bottom:10px;margin-right:4px"><span class="glyphicon glyphicon-user"></span> 詳細</button>
                        <button id="display-completion-reports" class="btn btn-mid-light reports-index-button" style="margin-bottom:10px"><span class="glyphicon glyphicon-file"></span> 実施記録</button>
					</div>
				</div>
				<div id="nurse_filter_wrapper" style="display:none;margin-left:5px;text-align:left">
					<%= select_tag :nurse_resource_filter, grouped_options_for_select(@nurses.group_full_timer_for_select), {prompt: '従業員フィルタ', id: 'nurse_resource_filter', multiple: true, style: 'width:400px'} %>
				</div>
				<div id="planning-header-submenu">
					<div class="header-submenu-item" id="header-calendar-button">シフト</div>
					<div class="header-submenu-item resource-details-button">詳細</div>
					<div class="header-submenu-item reports-index-button" id="header-report-button">記録</div>
				</div>
			</div>

			<div id="planning-container">
				<div id="calendar"></div>
			</div>

		</div>
	</div>
</div>

<div id="resource-details-panel" 
	data-resource-url=""
	style="display: none"
	class="scrollbar-custom colibri-scrollbar-light">
</div>

<% unless current_user.schedule_readonly? %>
	<div id="drag-drop-modal" class="modal fade" style="display:none">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="colibri-small-title">サービス編集確認</h1>
					<button type="button" data-dismiss="modal" class="close close-drag-drop-modal">&times;</button>
				</div>
				<div class="modal-body">
					<p>下記の編集がセーブされます：</p>
					<div id="drag-drop-content"></div>
				</div>	
				<div class="modal-footer">
					<div class="btn btn-colibri-light btn-pointer close-drag-drop-modal">キャンセル</div>
					<div class="btn btn-info text-white btn-pointer" id="drag-drop-save">セーブする</div>
				</div>
			</div>
		</div>
	</div>
	
	<%= render 'plannings/nurse_overlap_modal' %>

	<div id='colibri-batch-action-button' class='no-print batch-action-button'>
		<div class='colibri-glyphicon-container'>
			<span class='glyphicon glyphicon-pencil batch-action-pencil'></span>
			<div id='batch-action-menu' style='display:none'>
				<span class='glyphicon-action-button glyphicon glyphicon-print'></span><span id='print-button'> 印刷</span><br/>
				<span class='glyphicon glyphicon-envelope glyphicon-action-button'></span><span data-url='' id='new-reminder-email'> リマインダ</span><br/>
				<span class='glyphicon glyphicon-search glyphicon-action-button'></span><%= link_to ' 従業員検索', nurses_smart_search_path, remote: true, class: 'action-button-url' %><br/>
				<span class='glyphicon glyphicon-th-list glyphicon-action-button'></span><%= link_to '  調整中リスト', new_appointments_batch_request_edit_path, remote: true, class: 'action-button-url' %><br/>
				<span class='glyphicon glyphicon-remove glyphicon-action-button'></span><%= link_to '  キャンセル', new_appointments_batch_cancel_path, remote: true, class: 'action-button-url' %><br/>
				<span class='glyphicon glyphicon-trash glyphicon-action-button'></span><%= link_to '  削除', new_appointments_batch_archive_path, remote: true, class: 'action-button-url' %><br/>
			</div>
		</div>
	</div>


<% end %>



