<%= javascript_tag do %>
	window.appointmentsURL = "<%= j planning_appointments_url(@planning) %>";
	window.recurringAppointmentsURL = "<%= j planning_recurring_appointments_url(@planning) %>";
	window.corporationNursesUrl = "<%= j corporation_nurses_url(@corporation, format: :json) %>";
	window.corporationPatientsUrl = "<%= j corporation_patients_url(@corporation, format: :json) %>";
	window.resourceUrl = "<%= j corporation_nurses_url(@corporation, format: :json) %>";
	window.createRecurringAppointmentURL = "<%= j new_planning_recurring_appointment_url(@planning) %>";
	window.createUnavailabilityURL = "<%= j new_planning_unavailability_url(@planning) %>";
	window.unavailabilitiesUrl = "<%= j planning_unavailabilities_url(@planning) %>";
	window.bootstrapToggleUrl = "<%= j new_planning_recurring_appointment_url(@planning) %>";
	window.validRangeStart = "<%= j @start_valid %>";
	window.recurringUnavailabilitiesURL = "<%= j planning_recurring_unavailabilities_url(@planning) %>";
	window.defaultView = "<%= j @corporation.default_view %>";
	window.minTime = "<%= j current_user.corporation.business_start_hour %>";
	window.maxTime = "<%= j current_user.corporation.business_end_hour %>";
	window.planningId = "<%= j @planning.id.to_s %>";
	window.firstDay = "<%= j @corporation.default_first_day.to_s %>";
	window.holidays = "<%= j HolidayJp.between(Date.new(@planning.business_year, @planning.business_month, 1).beginning_of_day, Date.new(@planning.business_year, @planning.business_month, -1).end_of_day).to_json.html_safe %>"
<% end %>


<%= render 'planning_view_submenu' %>

<div id="planning-show-main">
	<div id="main-planning-header">
		<div id="activity-show-button-container">
			<%= select_tag 'nurse-filter-zentai[]', options_from_collection_for_select(@nurses, 'id', 'name', 0), data: {placeholder: "全従業員"}, multiple: true %>
			<%= select_tag 'patient-filter-zentai[]', options_from_collection_for_select(@patients, 'id', 'name', ''), data: {placeholder: "全利用者"}, multiple: true %>
			<span id="day-view-options"><input type="checkbox" id="day-view-options-input" checked  data-toggle="toggle" data-on="従業員軸" data-off="利用者軸" data-offstyle="success" onchange="toggleDayResources()"></span>
			<input type="checkbox" checked  class="bootstrap-toggle">
			<input type="checkbox" checked  id="edit-request-filter">
			<span id="activity-show-button" class="btn btn-success"><span class="glyphicon glyphicon-time" style="color:white"></span> 最新編集履歴</span>
			<span id="activity-hide-button" class="btn btn-secondary"><span class="glyphicon glyphicon-time" style="color:white"></span> 最新編集履歴を閉じる</span>
		</div>
	</div>


	<div id="planning-container">
		

		<div class="calendar"></div>

		<div id="planning-activity-module">
			<p class="planning-activity-module-title">最新編集履歴</p>
			<div id="planning-activities">
				<% @activities.each do |activity| %>
					<%= render partial: 'activities/activity', locals: {activity: activity} %>
				<% end %>
			</div>
			
		</div>
	</div>
</div>

<div id="drag-drop-confirm" title="サービス編集確認">
	<p>下記の編集がセーブされます：</p>
	<div id="drag-drop-content"></div>
</div>

<div id="nurse-conflict-confirm" title="ヘルパー重複オプション">
	<p><span id="nurse-conflict-days"></span></p>
	<p>重複してるサービスを調整中リストへ追加し、サービスを登録する。</p>
</div>







