<%= javascript_tag do %>
	window.appointmentsURL = "<%= j planning_appointments_url(@planning) %>";
	window.recurringAppointmentsURL = "<%= j planning_recurring_appointments_url(@planning) %>";
	window.corporationNursesUrl = "<%= j corporation_nurses_url(@corporation, format: :json) %>";
	window.corporationPatientsUrl = "<%= j corporation_patients_url(@corporation, format: :json) %>";
	window.resourceUrl = "<%= j corporation_nurses_url(@corporation, format: :json) %>";
	window.createRecurringAppointmentURL = "<%= j new_planning_recurring_appointment_url(@planning) %>";
	window.createUnavailabilityURL = "<%= j new_planning_unavailability_url(@planning) %>";
	window.unavailabilitiesUrl = "<%= j planning_unavailabilities_url(@planning) %>";
	window.bootstrapToggleUrl = "<%= j new_planning_recurring_appointment_url(@planning) %>";
	window.recurringUnavailabilitiesURL = "<%= j planning_recurring_unavailabilities_url(@planning) %>";
	window.defaultView = "<%= j @corporation.default_view %>";
	window.minTime = "<%= j current_user.corporation.business_start_hour %>";
	window.maxTime = "<%= j current_user.corporation.business_end_hour %>";
	window.planningId = "<%= j @planning.id.to_s %>";
	window.firstDay = "<%= j @corporation.default_first_day.to_s %>";
	window.holidays = "<%= j HolidayJp.between((Date.today - 1.year), (Date.today + 1.year)).to_json.html_safe %>"
	window.masterSchedule = 'false';
	window.generalPlanning = 'true'
<% end %>


<%= render 'planning_view_submenu' %>

<div id="planning-show-main">
	<div id="main-planning-header">
		<div id="activity-show-button-container">
			<%= select_tag 'nurse-filter-zentai[]', options_from_collection_for_select(@nurses, 'id', 'name', 0), data: {placeholder: "全従業員"}, multiple: true %>
			<%= select_tag 'patient-filter-zentai[]', options_from_collection_for_select(@patients, 'id', 'name', ''), data: {placeholder: "全利用者"}, multiple: true %>
			<span id="day-view-options" style="display: none"><input type="checkbox" id="day-view-options-input" checked  data-toggle="toggle" data-width="120" data-height="37.5" data-on="従業員軸" data-off="利用者軸" data-offstyle="success" onchange="toggleDayResources()"></span>
			<input type="checkbox" checked  class="bootstrap-toggle unavailability-toggle">
		</div>
	</div>


	<div id="planning-container">
		
		<div class="calendar"></div>

	</div>
</div>

<div id="drag-drop-confirm" style="display: none" title="サービス編集確認">
	<p>下記の編集がセーブされます：</p>
	<div id="drag-drop-content"></div>
</div>

<%= render 'plannings/nurse_conflict_days' %>

<%= render 'plannings/batch_action_button' %>



